<%= content_tag_for(:li, medialink, nil, {'title' => t(:tooltip, scope: 'medialinks')}) do %>
  <b style="text-decoration: underline">
    <%= link_to medialink.title, url_with_protocol(medialink.url) %>
  </b><br>
  <% if medialink.url =~ /youtube|youtu.be/i and medialink.youtube_thumbnail_url%>
    <img src=<%= medialink.youtube_thumbnail_url %> alt="Video Thumbnail">
  <% end %>
  <p>
    <%= simple_format(medialink.description, class: '') %>
  </p>
  <span class="color-grey">
    <%= t(:select_language, scope: 'medialinks') + t("#{medialink.language}", scope: 'iso_639_1').capitalize if medialink.language.present? %>
  </span>
  <hr>

  <%= link_to "<i class='fa fa-pencil'></i>".html_safe + t(:edit_link, scope: 'medialinks'),
      edit_profile_medialink_path(@profile, medialink) %>
  <%= link_to "<i class='fa fa-minus-circle'></i>".html_safe + t(:delete_link, scope: 'medialinks'),
      profile_medialink_path(@profile, medialink),
      method: :delete,
      data: { confirm: "Are you sure?"},
      title: t(:delete, scope: "medialinks") %>
<% end %>
