<section class="bg--grey pb">
  <div class="layout-wrapper">
    <div class="o-layout">
      <div class="o-layout__item 2/3">

        <h1><%= t(:edit, scope: "medialinks")%></h1>

      </div>
      <div class="o-layout__item 1/3">

        <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path) %><br>
        <%= link_to(t(:show, scope: 'profiles.edit'), @profile) %>

      </div>
    </div>

    <div class="o-layout">
      <div class="o-layout__item 2/3 box__bg bg--white">
      <%= simple_form_for [@profile, @medialink], html: {class: ''} do |m| %>

        <%= m.input :url, as: :string, input_html: { class: "input--width-100" }, wrapper_html: { class: 'mt' }   %>
        <%= m.input :title, as: :string, input_html: { class: "input--width-100" }, wrapper_html: { class: 'mt' }   %>
        <%= m.input :description, label: t(:description, scope: 'activerecord.attributes.medialink').html_safe, as: :text, input_html: { rows: 10, class: "input--width-100" }, wrapper_html: { class: 'mt' }   %>
        <%= m.input :language, as: :select, collection: IsoLanguage.top_list %>
        <%= m.submit class:"mt btn btn--small" %>

    <% end %>

  </div>
</section>
