<div class="container py-5">

  <h1 class="my-5"><%= t(:index, scope: 'medialinks')%></h1>

  <p class="border-bottom mb-5 pb-5"><%= t(:medialink_description, scope: 'medialinks').html_safe %></p>

  <%= link_to(t(:new, scope: 'medialinks').html_safe, new_profile_medialink_path(@profile), class: "btn btn-primary") %>
  <%= link_to(t(:show, scope: 'profiles.edit').html_safe, @profile, class: 'btn btn-outline-primary' ) %>

  <p class="mt-5"><%= t(:help, scope: 'medialinks').html_safe %></p>

  <p id="medialinks__list--sort-message"></p>

  <ul id="medialinks__list" data-update-url="<%= sort_profile_medialinks_url%>" class="<%= t(:language_short, scope: 'medialinks')%>">
    <%= render partial: 'medialink', collection: @medialinks %>
  </ul>
</div>
