<div class="container py-5">
  <%= link_to(t(:show, scope: 'profiles.edit'), @profile, class:"") %>

  <h1 class="my-5"><%= t(:index, scope: 'medialinks')%></h1>

  <p class="border-bottom mb-5 pb-5"><%= t(:medialink_description, scope: 'medialinks').html_safe %></p>

  <%= link_to(new_profile_medialink_path(@profile)) do %>
    <div class="btn btn-primary">
      <i class="fa fa-plus-circle"></i>
      <%= t(:new, scope: 'medialinks') %>
    </div>
  <% end %>

  <p class="mt-5"><%= t(:help, scope: 'medialinks').html_safe %></p>

  <p id="medialinks__list--sort-message"></p>

  <ul id="medialinks__list" data-update-url="<%= sort_profile_medialinks_url%>" class="<%= t(:language_short, scope: 'medialinks')%>">
    <% @medialinks.each do |medialink| %>
      <%= content_tag_for(:li, medialink, nil, {'title' => t(:tooltip, scope: 'medialinks')}) do %>
        <% if medialink.url =~ /youtube|vimeo/i %>
          <b><%= medialink.title %></b>
          <%= medialink.url_html if medialink.url != 'http://' %>
        <% else %>
          <b><%= link_to medialink.title, medialink.url %></b>
        <% end %>
        <%= simple_format(medialink.description) %>
        <span class="color-grey">
          <%= t(:select_language, scope: 'medialinks') + t("#{medialink.language}", scope: 'iso_639_1').capitalize if medialink.language.present? %>
        </span>
        <hr>

        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe+ t(:edit_link, scope: 'medialinks'), edit_profile_medialink_path(@profile, medialink) %>
        <%= link_to '<i class="fa fa-minus-circle"></i>'.html_safe+ t(:delete_link, scope: 'medialinks'), profile_medialink_path(@profile, medialink), method: :delete, data: { confirm: 'Are you sure?'}, title: t(:delete, scope: "medialinks") %>
      <% end %>
    <% end %>
  </ul>
</div>
