<div class="container profiles">
  <div class="text-white-bg">
    <div class="row">
      <div class="span12">
        <h1><%= t(:index, scope: "medialinks")%></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 text-right">
        <%= link_to(t(:home, scope: "profiles.edit"), profiles_path) %> |
        <%= link_to(t(:show, scope: "profiles.edit"), @profile) %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="span12">
      <span class="italic"><%= t(:medialink_description, scope: "medialinks").html_safe %></span>
    </div>
  </div>
  <br>
  <br>
    <div class="row">
      <div class="span2">
        <%= link_to '<i class="icon-plus icon-white"></i> Hinzufügen'.html_safe,
                  new_profile_medialink_path(@profile), class: "btn btn-info" %>
        <br>
        <br>
      </div>
      <div class="span10">
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-striped table-hovered">
          <tr>
            <th><%= t(:url, scope: "medialinks") %></th>
            <th><%= t(:title, scope: "medialinks") %></th>
            <th><%= t(:description, scope: "medialinks") %></th>
            <th></th>
            <th></th>
          </tr>
          <% @medialinks.each do |medialink| %>
            <tr>
              <td><%= link_to medialink.url, medialink.url %></td>
              <td><%= medialink.title %></td>
              <td><%= medialink.description %></td>
              <td><%= link_to '<i class="icon-pencil"></i>'.html_safe+ t(:edit_link, scope: "medialinks"), edit_profile_medialink_path(@profile.id, medialink.id) %></td>
              <td>
                <%= link_to '<i class="icon-remove"></i>'.html_safe+ t(:delete_link, scope: "medialinks"),
                            profile_medialink_path(@profile.id, medialink.id),
                            confirm: 'Are you sure?',
                            method: :delete %>
              </td>
            </tr>
          <% end %>
        </table>
        <br />
      </div>
      <hr/>
  </div>
</div>
