<div class="container profiles">
  <div class="text-white-bg">
    <div class="row">
      <div class="span12">
        <h1><%= t(:index, scope: "medialinks")%></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 text-right">
        <%= link_to(t(:home, scope: "profiles.edit"), profiles_path) %> |
        <%= link_to(t(:show, scope: "profiles.edit"), @profile) %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="span12">
      <span class="italic"><%= t(:medialink_description, scope: "medialinks").html_safe %></span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="span2">
      <%= link_to '<i class="icon-plus icon-white"></i> Hinzufügen'.html_safe,
                new_profile_medialink_path(@profile), class: "btn btn-info" %>
      <br>
      <br>
    </div>
    <div class="span10">
    </div>
  </div>
  <div class="row last">
    <div class="span8">
      <h5><%= t(:media, scope: "profiles.profile") %></h5>
      <div id="messages"></div>
        <ul id="medialinks_list text-profile" data-update-url="<%= sort_profile_medialinks_url %>">
          <% @profile.medialinks.each do |medialink| %>
            <%= content_tag_for :li, medialink do %>
              <h5>
                <%= medialink.title %>
              </h5>
              <%= medialink.url_html %>
              <%= medialink.description %>
              <div class="edit-buttons">
                <%= link_to '<i class="icon-pencil"></i>'.html_safe+ t(:edit_link, scope: "medialinks"), edit_profile_medialink_path(@profile.id, medialink.id) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe+ t(:delete_link, scope: "medialinks"), profile_medialink_path(@profile.id, medialink.id),
                    confirm: 'Are you sure?',
                    method: :delete %>
              </div>
            <% end %>
          <% end %>
        </ul>
      <br />
    </div>
    <div class="span4">
    </div>
  </div>
  <div class="text-white-bg">
    <div class="row">
      <div class="span12">
      </div>
    </div>
</div>
