<div class="container py-5">

  <h1 class="my-5"><%= t(:new, scope: 'medialinks').html_safe %></h1>

  <%= simple_form_for [@profile, @medialink], html: {class: 'p-3 bg--white'} do |f| %>

    <%= f.input :url, label: t(:url, scope: 'medialinks').html_safe,
      as: :string, input_html: { class: 'form-control mb-3' } %>
    <%= f.input :title, label: t(:title, scope: 'medialinks').html_safe,
      as: :string, input_html: { class: 'form-control mb-3' } %>
    <%= f.input :description, label: t(:description, scope: 'medialinks').html_safe,
      as: :text, input_html: { rows: 10, class: "form-control mb-3" } %>
    <%= f.input :language, label: t(:select_language, scope: 'medialinks'),
      label_html: { class: "mb-3" } do %>
    <%= f.select :language, options_for_select(IsoLanguage.all_languagenames_with_iso,
      @medialink.language), include_blank: "..." %>
    <% end %>

    <%= f.button :submit, t(:save, scope: 'medialinks').html_safe, class: 'btn btn-primary mt-3' %>
    <%= link_to(t(:show, scope: 'profiles.edit').html_safe, @profile, class: 'btn btn-outline-primary mt-3' ) %>

  <% end %>
</div>
