<div class="container profiles">
  <div class="text-white-bg">
    <div class="row">
      <div class="span12">
        <h1><%= t(:new, scope: "medialinks")%></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 text-right">
        <%= link_to(t(:home, scope: "profiles.edit"), profiles_path) %> |
        <%= link_to(t(:show, scope: "profiles.edit"), @profile) %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <%= simple_form_for [@profile, @medialink], html: {class: 'form-horizontal well'} do |f| %>
      <div class="span6 control-group-one">
        <%= f.input :url, as: :string %>
        <%= f.input :title, as: :string %>
        <%= f.input :description %>
      </div>
      <div class="span6">
        <%= f.submit class:"btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
