<section id="about-top">

       <div class="badge"><%= image_tag("badge2-bw.png", :alt => "badge") %> </div>
 
              <script>
                    $(window).scroll(function() {
                    if ($(this).scrollTop() > 0) {
                        $(".badge").stop().animate({
                            opacity: 0 }, 50);
                    } else {
                    $(".badge").stop().animate({
                    opacity: 1 }, 50);}});
                </script>
              
      <div class="container">
        <div class="heading">
          <div class="large serif">
          <span class="text-white-bg"><%= t(:heading, scope: "dashboard.index.search") %></span>
          <br/>
          <span class="text-white-bg tagline-second"><%= t(:tagline, scope: "dashboard.index.search") %></span>
          <br/>
          <%= form_tag(search_path, :method => "get", :class =>"navbar-form pull-left") do %>
            <span class="text-white-bg">
              <div id="search-bar">
                <%= text_field_tag(:q, nil, :class => "span2", :id => "search-field", :placeholder => t(:search_text, scope: "dashboard.index.search")) %>
                <label for="search-field">
                <%= button_tag((t(:search, scope: "dashboard.index.search")), :class => "btn btn-large") %></label>
              </div>
            </span>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</section>

<div class="white-bg">
  <div class="container">
    <h1><%= t(".description") %></h1>
    <h4><%= t(".description_text") %></h4>
    <br>
    <div class="row">
      <% @topics.each_slice(4) do |topics| %>
        <div class="span3">
          <ul>
            <% topics.each do |topic| %>
              <li><%= topic_link topic %></li>
            <% end %> 
          </ul>
        </div>
      <% end %>

    </div>
    <br>
    <br>
  </div>
</div>

<div class="photo-bar about-disciplines">
  <div class="container large">
    <div class="photo-text"><span class="text-black-bg"><%= t(".speaker_shoutout") %>
    </span><br><span class="text-black-bg"><%= t(".speaker_text") %><%= link_to(t(".signup"), new_profile_registration_path) %></span></div>
  </div>
</div>

<div class="white-bg" id="speakers">
  <div class="container">
    <h1><%= t(:new_speaker_heading, scope: "dashboard.index.speakers") %></h1>
    <h4><%= t(:speaker_text, scope: "dashboard.index.speakers") %></h4>
    <div class="row">
      <% @profiles.each do |profile| %>
        <div class="span3">
          <div class="speaker">
            <div><%= link_to(image_tag(profile.picture_url), profile) %> 
            </div>
            <div class="name"><%= link_to profile.fullname, profile %></div>
            <div class="desc"><%= profile.topic_list.first if profile.topic_list.present? %></div>
            <div class="contact-info">
              <% if profile.twitter.present? %>
                <div class="header_small">
                  <%= t ".twitter" %>
                </div>
                <%=link_to "@" + profile.twitter, "http://twitter.com/#{profile.twitter}" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Browse more speakers >>", profiles_path, :id => "find-more" %>
  </div> 
</div>
   

<div class="photo-bar speakers">
  <div class="container large">
    <div class="photo-text"><div class="photo-text"><span class="text-black-bg">Organizers,</span><br> <span class="text-black-bg">find your speakers</span></div>
    </div>
  </div>
</div>


<section id="about-content">
  <div class="white-bg">
    <div class="container">
      <div class="row">
        <div class="span5">
          <h1><%= t(:heading, scope: "dashboard.index.mission_statement") %></h1>
          <%= t(:content, scope: "dashboard.index.mission_statement").html_safe %>
        </div>
        <div class="span6 offset1 home">
          <blockquote><%= t(:quote, scope: "dashboard.index.mission_statement") %></blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="photo-bar work-with serif small">
  <div class="container large">
    <div class="photo-text"><span class="text-black-bg">Do you have something to say?</span><br> <span class="text-black-bg">Get on the Speakerinnen List______</span></div>
  </div>
</div>

<section>
  <div class="white-bg" id="work">
    <div class="container">

      <h1>SpeakerInnen</h1>
      <div class="row">
        <div class="span4">
          <h4>Rails Girls</h4>
          <span class="italic"><%= t(".RailsGirls").html_safe %></span>
          <p>///// </p>
        </div>
        <div class="span4">
          <h4>About</h4>
          <span class="italic"><%= t(".About").html_safe %></span>
          <p>////</p>
        </div>
        <div class="span4">
          <h4><%= t(".contact") %></h4>
          <%= link_to t(".contact_link"), contact_path %>
          <p>///// </p>
        </div>
      </div>
      <%= link_to "Find your speakers >>", profiles_path, :id => "find-more" %>
      <div class="clearfix"></div>
      <br>

    </div>

  </div>  

</section>


