<section id="about-top">

    <div class="full-wrap">
       <div class="badge"><%= image_tag("badge2-bw.png", :alt => "badge") %> </div>
              
              <script>
                    $(window).scroll(function() {
                    if ($(this).scrollTop() > 0) {
                        $(".badge").stop().animate({
                            opacity: 0 }, 50);
                    } else {
                    $(".badge").stop().animate({
                    opacity: 1 }, 50);}});
                </script>
              
      <div class="container">
        <div class="heading">
        <div class="large serif">
          <span class="text-white-bg">Organizer, find your speaker</span>
          <br/>
          <span class="text-white-bg tagline-second">Find female professionals for your tech conference </span>
          <br/>
          <%= form_tag(search_path, :method => "get", :class =>"navbar-form pull-left") do %>
            <span class="text-white-bg">
              <div id="search-bar">
                <%= text_field_tag(:q, nil, :class => "span2", :placeholder => "Search for talk topic") %>
                <%= button_tag("Search", :class => "btn btn-large") %>
              </div>
            </span>
          <% end %>
        </div>
      </div>
    </div>
     
    </div>

  </section>


    <div class="white-bg">
      <div class="container">
        <h1>Our Disciplines</h1>
        <h4> We care about women-men ratio on tech conferences. We encourage women porfesionals to be more visible in tech industry. </h4>
        <br>
        <div class="row">
    
        <div class="span3">
          <ul>
            <a href=#><li>Ruby on Rails</li></a>
            <a href=#><li>Python</li> </a>
             <a href=#><li>Web Design</li></a>
            <a href=#><li>IOS</li> </a>
          </ul>
        </div>
        <div class="span3">
          <ul>
     <a href=#><li>Web Design</li></a>
<a href=#><li>UX/UI Design</li> </a>
    <a href=#><li>Front-End Development</li></a>
    <a href=#><li>Platform Development</li></a>
          </ul>
        </div>
        <div class="span3">
          <ul>
         <a href=#><li>Android</li>
        <a href=#><li>Back-End Development</li></a>
      <a href=#><li>Back-End Development</li></a>
         <a href=#><li>Back-End Development</li></a>
          </ul>
        </div>
        <div class="span3">
          <ul>
          <a href=#> <li>Back-End Development</li></a>
        <a href=#><li>Back-End Development</li></a>
        <a href=#><li>Front-End Development</li></a>
      <a href=#><li>Other</li></a>
          </ul>
        </div>
      </div>
        <br>
        <br>
      </div>
    </div>

   <div class="photo-bar about-disciplines">
      <div class="container large">
        <div class="photo-text"><span class="text-black-bg">Do you have a clue?</span><br> <span class="text-black-bg">Get on the Speakerlinn Liste ______</span></div>
      </div>
    </div>





    <div class="white-bg" id="speakers">

      <div class="container">
        <h1>Our New Speakers</h1>
           <h4> We care about women-men ration on tech conferences. We encourage women porfesionals to be more visible in tech industry. </h4>
           <div class="row">
        <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Erica Brown</div>
            <div class="desc">Ruby</div>
            <div class="contact-info">
               <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
         <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Eva Jones</div>
            <div class="desc">Android</div>
            <div class="contact-info">
            <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Joanna Cute</div>
            <div class="desc">UX/UI Design</div>
            <div class="contact-info">
              <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
         <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Eva Jones</div>
            <div class="desc">Android</div>
            <div class="contact-info">
              <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Joanna Cute</div>
            <div class="desc">UX/UI Design</div>
            <div class="contact-info">
               <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
         <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Eva Jones</div>
            <div class="desc">Android</div>
            <div class="contact-info">
              <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="speaker">
            <img src="img/Pani.jpg">
            <div class="name">Joanna Cute</div>
            <div class="desc">UX/UI Design</div>
            <div class="contact-info">
            <a href=""><p>@dsadas</p></a>
            </div>
          </div>
        </div>
          
            </div>
          </div>

            </div>
          </div>
     

    <div class="photo-bar speakers">
      <div class="container large">
        <div class="photo-text"><div class="photo-text"><span class="text-black-bg">Organizer,</span><br> <span class="text-black-bg">find your speaker</span></div>
      </div>
      </div>
    </div>
     


  <section id="about-content">
    <div class="white-bg">
    <div class="container">
     <div class="row">
      <div class="span5">
        <h1>Our Vision</h1>
        <p>We believe that female speakers should be easier to find for tech-y event organizers.</p>
        <p>We believe that event organizers should have the best speakers at their events, regardless of the speakers’ gender identification.</p>
        <p>We believe in collaboration and not competition, so we encourage our speakers and event organizers to support each other and help speakers speak better. </p>
      </div>
      <div class="span6 offset1 home">
        <blockquote>We believe in collaboration and not competition, so we encourage our speakers and event organizers to support each other and help speakers speak better.</blockquote>
      </div>
     </div>
     </div>
    </div>
    </div>
  </section>
 
 
   

    

    <div class="photo-bar work-with serif small">
      <div class="container large">
        <div class="photo-text"><span class="text-black-bg">Do you have a clue?</span><br> <span class="text-black-bg">Get on the Speakerlinn Liste ______</span></div>
      </div>
     
    </div>
    <div class="white-bg" id="work">

      <div class="container">

        <h1>SpeakerInnen Liste</h1>
        <div class="row">
        <div class="span4">
          <h4>Rails Girls</h4>
          <span class="italic">This is how it started</span>
          <p>///// </p>
        </div>
        <div class="span4">
          <h4>About</h4>
          <span class="italic">This is how it started</span>
          <p>////</p>
        </div>
        <div class="span4">
          <h4>Contact</h4>
          <span class="italic">This is how it started </span>
          <p>///// </p>
        </div>
     </div>
      <%= link_to "Find you speakers >>", profiles_path, :id => "find-more" %>
        <div class="clearfix"></div>
        <br>
   
      </div>

    </div>  

    </div>
  </section>