
<%= simple_form_for [:admin, @feature] do |f| %>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="show-de" class="nav-link <%= I18n.locale == :de ? "active" : "" %>" href="#"> <%= t(:de, scope: 'i18n.language').html_safe %></a>
    </li>
    <li class="nav-item">
      <a id="show-en" class="nav-link <%= I18n.locale == :en ? "active" : "" %>" href="#"> <%= t(:en, scope: 'i18n.language').html_safe %></a>
    </li>
  </ul>

  <div class="row mb-5">
    <div class="col-12 p-3 bg--white">
      <div id="edit-de" class="form-group <%= "d-none" unless I18n.locale == :de %>" >
        <%= f.label :title, t(:title, scope: 'admin.features').html_safe, id: "title_de" %>
        <%= f.text_field :title_de, as: :text, class: "form-control mb-3" %>

        <%= f.label :description, t(:description, scope: 'admin.features'), id: "description_de" %>
        <%= f.text_area :description_de, as: :text, class: "form-control mb-3"%>
      </div>

      <div id="edit-en" class="form-group <%= "d-none" unless I18n.locale == :en %>" >
        <%= f.label :title, t(:title, scope: 'admin.features'), id: "title_en" %>
        <%= f.text_field :title_en, as: :text, class: "form-control mb-3" %>

        <%= f.label :description, t(:description, scope: 'admin.features'), id: "description_en" %>
        <%= f.text_area :description_en, as: :text, class: "form-control mb-3" %>
      </div>

      <div class="form-group">
        <%= f.label t(:position, scope: 'admin.features').html_safe %>
        <%= f.text_field :position, class: "form-control mb-3" %>
      </div>

      <div class="form-group">
        <%= f.label t(:profiles, scope: 'admin.features').html_safe %>
        <%= f.select(:profile_ids, Profile.all.map{|p|[p.fullname, p.id]}, { include_blank: true }, :multiple => true, id: :select_profile, class: 'form-control select_profile') %>
      </div>

      <%= f.button :submit, t(:save, scope: 'general'), class: 'btn btn-primary' %>

    </div>
  </div>

<% end %>

<script>
    $(document).ready(function() {
      $('#select_profile').select2({
        placeholder: "Click here"
      });
    });
</script>
