<%= form_for(@profile, :html => { :multipart => true, :class => "form-horizontal well"}) do |f| %>
  <%= render 'shared/error_messages' %>
  TEST
  <fieldset>
    <legend><%= t ".profile_from" %> <%= @profile.firstname %></legend>
    <div class="control-group">
      <%= f.label :firstname, class:"control-label"%>
      <div class="controls">
        <%= f.text_field :firstname, class:"input-xlarge", id:"input01"%>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :lastname, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :lastname, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :bio, class:"control-label" %>
      <div class="controls">
        <%= f.text_area :bio, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :topic_list, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :topic_list, class:"input-xlarge", id:"tag-field-form" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tag_list, class:"control-label" %>
      <div class="controls tag_list input-xlarge">
        <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
          <% if @profile.topic_list.include?(tag_name) %>
            <span class="badge add-tag-trigger"><%= tag_name %></span>
          <% else %>
            <span class="badge badge-inverse add-tag-trigger"><%= tag_name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :talks, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :talks, class:"input-xlarge", id:"input01" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :languages, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :languages, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :city, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :city, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :twitter, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :twitter, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :picture, class:"control-label" %>
      <div class="controls">
        <%= image_tag(@profile.picture_url, :width => 100) if @profile.picture.present? %>
        <%= f.file_field :picture, class:"input-xlarge", id:"input01" %>
        <br>
        <br>
        <label>
        <%= f.check_box :remove_picture %>
        <%= t ".delete_profile" %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :media_url, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :media_url, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit(t(".update"), class:"btn btn-danger")%>
    </div>
  </fieldset>
</form>
<% end %>

<script type="text/javascript">
  $(".add-tag-trigger").click(function() {
    var nameOfTag    = $(this).html();
    var existingTags = $("#tag-field-form").val();
    //check if tag is in the list of tags
    if (existingTags.indexOf(nameOfTag) < 0) {
      if (existingTags.length == 0) {
        $("#tag-field-form").val(nameOfTag);
      } else {
        $("#tag-field-form").val(existingTags+' '+nameOfTag);
      }
      $(this).removeClass("badge-inverse");
    } else {
      var newTags = existingTags.replace(nameOfTag, "").replace(/  /g, " ");
      $("#tag-field-form").val(newTags);
      $(this).addClass("badge-inverse");
    }
  });
</script>

