<%= form_for(@profile, :html => { :multipart => true, :class => "form-horizontal well"}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Profile von <%= @profile.firstname %></legend>

    <div class="control-group">
    <%= f.label :Vorname, class:"control-label"%>
    <div class="controls">
      <%= f.text_field :firstname, class:"input-xlarge", id:"input01"%>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :Nachname, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :lastname, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Bio, class:"control-label" %>
    <div class="controls">
      <%= f.text_area :bio, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Themen, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :topics, class:"input-xlarge", id:"input01" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :Sprachen, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :languages, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Stadt, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :city, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Twitter, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :twitter, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Foto, class:"control-label" %>
    <div class="controls">
      <%= image_tag(@profile.picture_url, :width => 100) if @profile.picture.present? %>
      <%= f.file_field :picture, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update Profil", class:"btn btn-danger"%>
  </div>

  </fieldset>
</form>
<% end %>
