<div class="span3">
  <div class="speaker">
    <div>
      <%= link_to(image_tag(profile.picture.profiles_list.url || "avatar.jpg" ), profile) %>
    </div>

    <div class="name">
      <%= link_to profile.fullname, profile %>
    </div>
    <div class="desc">
      <%= profile.main_topic_or_first_topic %>
    </div>

    <div class="contact-info">
      <% if profile.twitter.present? %>
        <div class="header_small">
          <%= t ".twitter" %>
        </div>
        <%=link_to "@" + profile.twitter, "http://twitter.com/#{profile.twitter}" %>
      <% end %>
    </div>
  </div>
</div>
