<div class="bg--white profile-card">

  <div class="row mb-3">
    <div class="col-sm-12">
      <h1><%= link_to profile.fullname, profile %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= profile_image_link(profile) %>
      <div class="profile-subtitle"><%= profile.main_topic_or_first_topic if profile.main_topic_or_first_topic %></div>
    </div>

    <div class="col-sm-12 col-md-8">
      <% if profile.twitter.present? %>
        <h5><%= t(:twitter, scope: 'profiles.show') %></h5>
        <p class="pb-2">
          <%=link_to '@' + profile.twitter_name_formatted, profile.twitter_link_formatted,
          target: '_blank' %>
        </p>
      <% end %>

      <% if profile.website.present? %>
        <h5> <%= t(:website, scope: 'profiles.show') %> </h5>
        <p class="pb-2">
          <%= link_to profile.website, profile.website_with_protocol(profile.website),
         target: '_blank' %>
        </p>
      <% end %>

      <h5><%= t(:topics, scope: 'profiles.show') %></h5>
      <p class="pb-2 topics-profile">
        <%= raw topics_for_profile(profile).map { |topic| topic_link(topic) }.join(' ') %>
      </p>

      <% if profile.iso_languages.present? %>
        <h5><%= t(:languages, scope: 'profiles.show') %></h5>
        <p>
          <% profile.iso_languages.each do |iso|%>
            <%= t("#{iso}", scope: 'iso_639_1').capitalize %>
          <% end %>
        </p>
      <% end %>
      <div class="text-right"><%= link_to ">>  " + t(:to_profile, scope: 'profiles.show'), profile %></div>
    </div>

  </div>
</div>
