<% if profile %>
  <div class="col-sm-6 col-md-4 col-lg-3 my-3">
    <div class="card" style="width: 20rem;">
      <%= profile_picture_link(profile) %>
      <div class="card-body">
        <h5 class="card-title">
          <b><%= link_to profile.fullname, profile %></b>
        </h5>
        <p class="card-text">
          <%= profile.main_topic_or_first_topic.truncate(60) if profile.main_topic_or_first_topic %>
        </p>
        <p>
          <% profile.topics.limit(5).each do |tag| %>
            <% if tag.categories.first %>
              <button id="<%= tag.name.gsub(/\s+/, "-") %>" class="cat_bright_<%= tag.categories.first.short_name %> btn btn-sm m-1 rounded available-tag"><%= tag.name %></button>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>