<div class="span3">
  <div class="speaker">
    <div class="image">
      <%= profile_picture_link(profile) %>
    </div>

    <div class="name">
      <%= link_to profile.fullname, profile %>
    </div>
    <div class="desc">
      <%= profile.main_topic_or_first_topic.truncate(30) if profile.main_topic_or_first_topic  %>
    </div>

    <div class="contact-info">
      <% if profile.twitter.present? %>
        <div class="header_small">
          <%= t ".twitter" %>
        </div>
        <%=link_to "@" + profile.twitter_name_formatted, profile.twitter_link_formatted, target: '_blank' %>
      <% end %>
    </div>
  </div>
</div>
