<% if profile %>
  <% tooltip_empty = !profile.iso_languages.present? && profile.city.nil? && profile.willing_to_travel.nil? && profile.nonprofit.nil? %>
  <% title = render partial: "profiles/profile_tooltip", locals: { profile: profile } %>
  <div class="col-sm-6 col-md-6 col-lg-3 my-3 profile-box">
    <%= profile_image_link(Profile.find(profile.id)) %>
    <div class="bg--white caption">
      <div class="profile-name">
        <%= link_to profile.fullname, profile_path(profile.id) %>
      </div>
      <div class="profile-subtitle">
        <p>
          <%= profile.main_topic_or_first_topic.truncate(60) if profile.main_topic_or_first_topic %>
        </p>
        <div
          class="profile-tooltip"
          data-html="true"
          data-toggle="<%= tooltip_empty ? "" : "tooltip" %>"
          title="<%= tooltip_empty ? "" : title %>"
        >
          <%= bootstrap_icon "info-circle", width: 30, height: 30, fill: "black" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    var wideTooltipTemplate = '\
      <div class="tooltip" role="tooltip">\
        <div class="arrow" ></div>\
        <div class="tooltip-inner wide" ></div>\
      </div>\
    '
    $('[data-toggle="tooltip"]').tooltip({ template: wideTooltipTemplate });
  })
</script>
