<div class="o-layout__item 1/1 lap-1/1 palm-1/1 mb profile-box">
  <div class="o-layout box__bg bg--white">

    <div class="o-layout__item 1/1 palm-1/1">
      <h2><%= link_to profile.fullname, profile %></h2>
    </div>

    <div class="o-layout__item 1/4 palm-1/1">
      <%= profile_picture_link(profile) %>
      <p class="mt0"><%= profile.main_topic_or_first_topic if profile.main_topic_or_first_topic %></p>
    </div>

    <div class="o-layout__item 3/4 palm-1/1">
     <% if profile.twitter.present? %>
         <h2 class="delta sans-serif mb-">
           <%= t(:twitter, scope: 'profiles.profile') %>
         </h2>
         <p class="pb">
           <%=link_to '@' + profile.twitter_name_formatted, profile.twitter_link_formatted,
           target: '_blank' %>
         </p>
     <% end %>

     <% if profile.website.present? %>
       <h2 class="delta sans-serif mb-">
         <%= t(:website, scope: 'profiles.profile') %>
       </h2>
       <p class="pb">
         <%= link_to profile.website, profile.website_with_protocol,
         target: '_blank' %>
       </p>
     <% end %>

     <h2 class="delta sans-serif mb-">
       <%= t(:topics, scope: 'profiles.profile') %>
     </h2>
     <p class="pb topics-profile">
       <%= raw profile.topic_list.sort.map { |topic| topic_link(topic) }.join(' ') %>

     </p>

     <% if profile.languages.present? %>
       <h2 class="delta sans-serif mb-">
         <%= t(:languages, scope: 'profiles.profile') %>
       </h2>
       <p class="pb">
          <% profile.iso_languages.each do |iso|%>
            <%= t("#{iso}", scope: 'iso_639_1').capitalize %>
          <% end %>
       </p>
     <% end %>
    </div>

  </div>
</div>
