<div class="row">
  <div class="col-sm-12 col-md-6">
    <h5 class="pb-3 font-weight-bold"> <%= t(:your_picture, scope: 'profiles.form').html_safe %></h5>
    <%= f.label :picture, t(:picture, scope: 'profiles.form').html_safe %>
    <% if @profile.image.attached? && @profile.validate(:image_format_size) %>
      <p><%= image_tag(@profile.image, class: "img-thumbnail") %></p>
      <%= link_to t(:delete_image, scope: 'profiles.form').html_safe, image_path(@profile.image.id), :method => :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <p><%= f.file_field :image %></p>
      <small class="form-text text-muted">
        <%= t(:image_info, scope: 'profiles.form').html_safe %><br>
      </small>
    <% end %>
    <p>
      <%= f.input :copyright, label: t(:copyright, scope: 'profiles.form'),
      label_html: { id: "copyright" }, input_html: { class: "form-control" } %>
    </p>
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 p-3">
    <h5 class="pb-3 font-weight-bold"> <%= t(:personal_infos, scope: 'profiles.form').html_safe %></h5>

    <div class="form-group">
      <%= f.input :firstname, label: t(:firstname, scope: 'profiles.form'),
          label_html: { id: "firstname" }, input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.input :lastname, label: t(:lastname, scope: 'profiles.form'),
        label_html: { id: "lastname" }, input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :country, label: t(:country, scope: 'profiles.form') %>
      <%= f.country_select :country,
          { priority_countries: ["DE", "AT", "CH"], include_blank: t(:please_select, scope: 'profiles.form') },
          class: 'form-control'
      %>
    </div>
    <%= f.hidden_field :state, value: nil %>
    <% t(:states).each do |key, value| %>
      <div id="profile_states_group-<%= key %>" class="form-group profile_states_group" <%= 'style="display: none;"'.html_safe if key.to_s != @profile.country&.downcase %>>
        <label class="control-label" for="profile_states-<%= key %>">
          <%= t(:"state.#{key}") %>:
        </label>
        <select class="form-control" id="profile_states-<%= key %>">
          <option value=""><%= t(:please_select, scope: 'profiles.form') %></option>
          <% value.each do |key, value| %>
            <option value="<%= key %>" <%= 'selected="selected"' if key.to_s == @profile.state %>>
              <%= value %>
            </option>
          <% end %>
        </select>
      </div>
    <% end %>
    <script>
      var updateStateSelects = function(country) {
        $(".profile_states_group").hide();
        $("#profile_states_group-" + country).show();

        $(".profile_states_group select").removeAttr("name");
        $("#profile_states_group-" + country + " select").attr("name", "profile[state]");
      };
      $(document).ready(function() {
        updateStateSelects("<%= @profile.country&.downcase %>");
        $("#profile_country").change(function() {
          updateStateSelects(this.value.toLowerCase());
        });
      });
    </script>
    <div class="form-group">
      <div class="profile_iso_languages mt-3">
        <label class="form-check-label pb-2">
          <%= t(:languages, scope: 'profiles.form') %>
        </label><br>
        <%= render partial: "shared/iso_languages", collection: IsoLanguage.top_list, locals: { profile: profile }  %>
        <input name="profile[iso_languages][]" value="" type="hidden">
      </div>
      <div class="my-2">
        <a id="expander">
          <%= t(:show_more_languages, scope: 'profiles.form') %><i class="fa fa-caret-down pl-1"></i>
        </a>
      </div>
      <% display_value = IsoLanguage.rest_list & profile.iso_languages == [] ? "none" : "block" %>
      <div class="profile_iso_languages" id="rest_languages" style="display: <%= display_value %>;">
        <%= render partial: "shared/iso_languages", collection: IsoLanguage.rest_list  %>
        <input name="profile[iso_languages][]" value="" type="hidden">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 p-3">
    <h5 class="pb-3 font-weight-bold"> <%= t(:talk_infos, scope: 'profiles.form').html_safe %></h5>
    <div class="form-group" id="form-group-willing-to-travel">
      <p><%= t(:willing_to_travel, scope: 'profiles.form').html_safe %>:</p>
      <label name="willing_to_travel_na">
        <%= f.radio_button :willing_to_travel, "", checked: @profile.willing_to_travel.nil? %>
        <%= t(:not_applicable, scope: 'profiles.form').html_safe %>
      </label>
      <label name="willing_to_travel_yes">
        <%= f.radio_button :willing_to_travel, "1", checked: @profile.willing_to_travel == true %>
        <%= t(:answer_yes, scope: 'profiles.form').html_safe %>
      </label>
      <label name="willing_to_travel_no">
        <%= f.radio_button :willing_to_travel, "0", checked: @profile.willing_to_travel == false %>
        <%= t(:answer_no, scope: 'profiles.form').html_safe %>
      </label>
    </div>
    <div class="form-group" id="form-group-nonprofit">
      <p><%= t(:nonprofit, scope: 'profiles.form').html_safe %>:<p>
      <label name="nonprofit_na">
        <%= f.radio_button :nonprofit, "", checked: @profile.nonprofit.nil? %>
        <%= t(:not_applicable, scope: 'profiles.form').html_safe %>
      </label>
      <label name="nonprofit_yes">
        <%= f.radio_button :nonprofit, "1", checked: @profile.nonprofit == true %>
        <%= t(:answer_yes, scope: 'profiles.form').html_safe %>
      </label>
      <label name="nonprofit_no">
        <%= f.radio_button :nonprofit, "0", checked: @profile.nonprofit == false %>
        <%= t(:answer_no, scope: 'profiles.form').html_safe %>
      </label>
    </div>
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 p-3">
    <h5 class="pb-3 font-weight-bold"> <%= t(:services_i_give, scope: 'profiles.form').html_safe %></h5>
    <div class="form-group">
      <% Service.all.each do |service| %>
        <label name="service-<%= service.id %>">
          <input type="checkbox" value="<%= service.id %>" name="profile[service_ids][]" <%="checked=true" if @profile.services.include?(service) %> />
          <%= t(service.name, scope: 'profiles.form') %>
        </label>
        <br>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 p-3">
    <div class="form-group">
      <h5 class="pb-3 font-weight-bold">Topics / Themen </h5>
      <%= f.input :topic_list, label: t(:topic_list, scope: 'profiles.form').html_safe,
          label_html: { id: "topic_list", class: "", title: t(:topic_list_tooltip, scope: 'profiles.form').html_safe },
          input_html: { value: @profile.topic_list.to_s, class: "form-control" } %>
    </div>
  </div>
</div>
<ul class="d-none" id='availableTags'>
  <% ActsAsTaggableOn::Tag.distinct.pluck(:name).each do |tag_name| %>
    <li><%= tag_name %></li>
  <% end %>
</ul>
<hr>
<a id="translated-infos-anchor"></a>
<!-- translated fields -->
<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 p-3">
    <h5 class="pb-3 font-weight-bold"> <%= t(:translated_infos, scope: 'profiles.form').html_safe %></h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="show-de" class="nav-link <%= I18n.locale == :de ? "active" : " " %>" href="#translated-infos-anchor"> <%= t(:de, scope: 'i18n.language').html_safe %></a>
      </li>
      <li class="nav-item">
        <a id="show-en" class="nav-link <%= I18n.locale == :en ? "active" : " " %>" href="#translated-infos-anchor"> <%= t(:en, scope: 'i18n.language').html_safe %></a>
      </li>
    </ul>

    <div id="edit-de" class="<%= "d-none" unless I18n.locale == :de %> bg--light-grey p-3" >
      <div class="form-group">
        <%= f.label :profession, t(:profession, scope: 'profiles.show').html_safe, id: "profession_de" %>
        <%= f.text_field :profession_de, as: :text, class: 'form-control mb-3', maxlength: 60 %>
      </div>
      <div class="form-group">
        <%= f.label :city, t(:city, scope: 'profiles.form').html_safe,
          id: "city_de", class: '', title: t(:city_tooltip, scope: 'profiles.form').html_safe %>
        <%= f.text_field :city_de, as: :text, class: 'form-control mb-3', maxlength: '30' %>
      </div>
      <div class="form-group">
        <%= f.label :twitter, t(:twitter, scope: 'profiles.form').html_safe, id: "twitter_de" %>
        <%= f.text_field :twitter_de, as: :text, placeholder: '@', class: "form-control mb-3", maxlength: 30 %>
      </div>
      <div class="form-group">
        <%= f.label :website, t(:website, scope: 'profiles.form'), id: "website_de" %>
        <%= f.text_field :website_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>
      </div>
      <div class="form-group">
        <%= f.label :additional_websites, t(:additional_websites, scope: 'profiles.form'), id: "website_2_de" %>
        <%= f.text_field :website_2_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>
        <%= f.text_field :website_3_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>
      </div>
      <div class="form-group">
        <%= f.label :main_topic, t(:main_topic, scope: 'profiles.form',
          language: t(:de, scope: 'i18n.language')).html_safe, id: "main_topic_de", class: "mt-2" %>
        <%= f.text_field :main_topic_de, as: :text, class: 'form-control', maxlength: '30' %>
      </div>
      <div class="form-group">
        <%= f.label :personal_note, t(:personal_note, scope: 'profiles.form',
          language: t(:de, scope: 'i18n.language')).html_safe, id: "personal_note_de", class: "mt-3",
          title: t(:personal_note_tooltip, scope: 'profiles.form').html_safe %>
        <%= f.text_area :personal_note_de, as: :text, class: 'form-control', rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.label :bio, t(:bio, scope: 'profiles.form',
          language: t(:de, scope: 'i18n.language')).html_safe, id: "bio_de", class: "mt-3",
          title: t(:bio_tooltip, scope: 'profiles.form').html_safe %>
        <%= f.text_area :bio_de, as: :text, class: 'form-control', rows: 10 %>
      </div>
    </div>

    <div id="edit-en" class="form-group <%= "d-none" unless I18n.locale == :en %> bg--light-grey p-3" >
      <div class="form-group">
        <%= f.label :profession, t(:profession, scope: 'profiles.form').html_safe, id: "profession_en" %>
        <%= f.text_field :profession_en, as: :text, class: 'form-control mb-3', maxlength: 60 %>
      </div>
      <div class="form-group">
        <%= f.label :city, t(:city, scope: 'profiles.form').html_safe,
          id: "city_en", class: 'pt-3', title: t(:city_tooltip, scope: 'profiles.form').html_safe %>
        <%= f.text_field :city_en, as: :text, class: 'form-control mb-3', maxlength: '30' %>
      </div>
      <div class="form-group">
        <%= f.label :twitter, t(:twitter, scope: 'profiles.form'), id: "twitter_en" %>
        <%= f.text_field :twitter_en, as: :text, placeholder: '@', class: "form-control mb-3", maxlength: 30 %>
      </div>
      <div class="form-group">
        <%= f.label :website, t(:website, scope: 'profiles.form'), id: "website_en" %>
        <%= f.text_field :website_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>
      </div>
      <div class="form-group">
        <%= f.label :additional_websites, t(:additional_websites, scope: 'profiles.form'), id: "website_2_en" %>
        <%= f.text_field :website_2_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>
        <%= f.text_field :website_3_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>
      </div>
      <div class="form-group">
        <%= f.label :main_topic, t(:main_topic, scope: 'profiles.form',
          language: t(:en, scope: 'i18n.language')).html_safe, id: "main_topic_en", class: "mt-3" %>
        <%= f.text_field :main_topic_en, as: :text, class: 'form-control mb-3', maxlength: '30' %>
      </div>
      <div class="form-group">
        <%= f.label :personal_note, t(:personal_note, scope: 'profiles.form',
          language: t(:en, scope: 'i18n.language')).html_safe, id: "personal_note_en", class: "mt-3",
          title: t(:personal_note_tooltip, scope: 'profiles.form').html_safe %>
        <%= f.text_area :personal_note_en, as: :text, class: 'form-control', rows: 5 %>
      </div>
      <div class="form-group">
      <%= f.label :bio, t(:bio, scope: 'profiles.form',
        language: t(:en, scope: 'i18n.language')).html_safe, id: "bio_en", class: "mt-3",
        title: t(:bio_tooltip, scope: 'profiles.form').html_safe %>
      <%= f.text_area :bio_en, as: :text, class: 'form-control mb-3', rows: 10 %>
    </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <p>
    <%= f.button :submit, t(:update, scope: 'profiles.form').html_safe, class:'btn btn-primary' %>
    <%= link_to(t(:show, scope: 'profiles.edit').html_safe, profile_path, class: 'btn btn-outline-primary' ) %>
  </p>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

$('#expander').click(function(){
  if ( $('#rest_languages').css('display') == 'none' ) {
    $('#rest_languages').css('display','block');
    $('#expander').html('<%= t(:show_less_languages, scope: 'profiles.form')%><i class="fa fa-caret-down pl-1"></i>');
  } else {
    $('#rest_languages').css('display','none');
    $('#expander').html('<%= t(:show_more_languages, scope: 'profiles.form')%><i class="fa fa-caret-down pl-1"></i>');
  }});

$('#show-de').click(function(){
    $("#edit-de").removeClass('d-none').addClass('d-block');
    $("#edit-en").removeClass('d-block').addClass('d-none');
    $('#show-de').addClass('active');
    $('#show-en').removeClass('active');
  });

$('#show-en').click(function(){
    $("#edit-en").removeClass('d-none').addClass('d-block');
    $("#edit-de").removeClass('d-block').addClass('d-none');
    $('#show-en').addClass('active');
    $('#show-de').removeClass('active');
  });


</script>
