<div class="row mt-5" style="margin-bottom: 100px">
  <div class="col-lg-4 col-md-6 text-center pb-3">
    <%= profile_image_link(@profile) %>
    <% unless current_profile ==  @profile %>
      <% if @profile.inactive? %>
        <button type="button" class="btn btn-primary btn-stretch mt-2 px-5 disabled" %>
          <i class="fa fa-times"></i>&nbsp;
          <%= @profile.fullname + t(:no_contact, scope: 'profiles.show') %>
        </button>
      <% else %>
        <button type="button" class="btn btn-primary btn-stretch mt-2 px-5" data-toggle="modal"
        data-target=<%= cookies[:cookie_consent].blank? ? "#contactHint" : "#contactModal" %>
        <%= disable_contact_button(@profile) %> >
          <i class="fa fa-envelope-o"></i>&nbsp;
          <%= t(:contact, scope: 'profiles.show') + ' ' + @profile.fullname %>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-6 ">
    <% if current_profile == @profile && @profile.inactive? %>
      <p class="alert-warning">
        <%= t(:inactive_profile, scope: 'profiles.show').html_safe %><%= link_to t(:activate_profile, scope: 'profiles.show'), edit_profile_registration_path(anchor: "inactive_anchor") %>
      </p>
    <% end %>
    <h1 class=""><%= @profile.fullname %></h1>
    <h3 class=""><%= @profile.profession %></h3>
    <br>
    <% unless @profile.fullname.present? %>
      <p class="error">
        <%= t(:empty_profile, scope: 'profiles.show').html_safe %>
      </p>
      <p>
        <%= t(:check_faq, scope: 'profiles.show').html_safe %>
      </p>
    <% end %>
    <!-- main topic -->
    <% if @profile.main_topic_or_first_topic %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:main_topic, scope: 'profiles.show') %>
        </span>
        <%= @profile.main_topic_or_first_topic %>
      </p>
    <% end %>
      <!-- twitter -->
    <% if @profile.twitter.present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:twitter, scope: 'profiles.show') %>
        </span>
        <%=link_to '@' + @profile.twitter_name_formatted, @profile.twitter_link_formatted,
        target: '_blank' %>
      </p>
    <% end %>
    <!-- website -->
    <!-- only use globalize fall-back when there is no website at all in the current language scope provided -->
    <!-- when there is at least one website in the current language provided use no fall-back for the missing additional websites -->
    <% if @profile.website_in_language_scope(I18n.locale).present? ||
          @profile.website_in_language_scope(I18n.locale, "2_").present? ||
          @profile.website_in_language_scope(I18n.locale, "3_").present? %>

      <!-- If profile has more than one website: -->
      <% if @profile.website_in_language_scope(I18n.locale).present? &&
           ( @profile.website_in_language_scope(I18n.locale, "2_").present? || @profile.website_in_language_scope(I18n.locale, "3_").present? ) %>
        <p class="">
          <span class="font-weight-bold">
            <%= t(:websites, scope: 'profiles.show') %>
          </span>
          <%= link_to @profile.website_in_language_scope(I18n.locale), url_with_protocol(@profile.website_in_language_scope(I18n.locale)),
            target: '_blank' %>
          <%= link_to ", #{@profile.website_in_language_scope(I18n.locale, "2_")}", url_with_protocol(@profile.website_in_language_scope(I18n.locale, "2_")),
            target: '_blank' if @profile.website_in_language_scope(I18n.locale, "2_").present? %>
          <%= link_to ", #{@profile.website_in_language_scope(I18n.locale, "3_")}", url_with_protocol(@profile.website_in_language_scope(I18n.locale, "3_")),
            target: '_blank' if @profile.website_in_language_scope(I18n.locale, "3_").present? %>
          </p>
      <!-- If profile has just one website: -->
      <% elsif @profile.website_in_language_scope(I18n.locale).present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:website, scope: 'profiles.show') %>
        </span>
        <%= link_to @profile.website_in_language_scope(I18n.locale), url_with_protocol(@profile.website_in_language_scope(I18n.locale)),
          target: '_blank' %>
      </p>
      <% end %>

    <!-- if there is no website in the current language use the globalize fall-back option for all websites -->
    <% else %>

      <!-- Show the view for more than one website: -->
      <% if @profile.website.present? && ( @profile.website_2.present? || @profile.website_3.present? ) %>
        <p class="">
          <span class="font-weight-bold">
            <%= t(:websites, scope: 'profiles.show') %>
          </span>
          <%= link_to @profile.website, url_with_protocol(@profile.website),
          target: '_blank' %>
          <%= link_to ", #{@profile.website_2}", url_with_protocol(@profile.website_2),
          target: '_blank' if @profile.website_2.present? %>
          <%= link_to ", #{@profile.website_3}", url_with_protocol(@profile.website_3),
          target: '_blank' if @profile.website_3.present? %>
        </p>
      <!-- Show the view for just one website: -->
      <% elsif @profile.website.present? %>
        <p class="">
          <span class="font-weight-bold">
            <%= t(:websites, scope: 'profiles.show') %>
          </span>
          <%= link_to @profile.website, url_with_protocol(@profile.website),
          target: '_blank' %>
        </p>
      <% end %>
    <% end %>
    <!-- languages  -->
    <% if @profile.iso_languages.present? %>
      <p>
        <span class="font-weight-bold">
          <%= t(:languages, scope: 'profiles.show') %>
        </span>
        <% languages = [] %>
        <% @profile.iso_languages.each do |iso|%>
          <% languages << t("#{iso}", scope: 'iso_639_1').capitalize %>
        <% end %>
        <%= languages.join(', ') %>
      </p>
    <% end %>
    <!-- city -->
    <% if @profile.city.present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:city, scope: 'profiles.show') %>
        </span>
        <%= @profile.city %>
      </p>
    <% end %>
    <!-- state  -->
    <% if @profile.state.present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:"state.#{@profile.country.downcase}") %>:
        </span>
        <%= t(:"states.#{@profile.country.downcase}.#{@profile.state}") %>
      </p>
    <% end %>
    <!-- country  -->
    <% if @profile.country.present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:country, scope: 'profiles.show') %>
        </span>
        <%= @profile.country_name %>
      </p>
    <% end %>
    <!-- topics -->
    <% if topics_for_profile(@profile).present? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:topics, scope: 'profiles.show') %>
        </span>
        <%= raw topics_for_profile(@profile).map { |topic| topic }.join(', ') %>
      </p>
    <% end %>
    <!-- services  -->
    <% if !@profile.services.empty? %>
      <p class="">
        <span class="font-weight-bold">
          <%= t(:services, scope: 'profiles.show') %>
        </span>
        <%= @profile.services.map{|s| t(s.name, scope: 'profiles.show') }.join(', ') %>
      </p>
    <% end %>
    <!-- willing_to_travel -->
    <% if !@profile.willing_to_travel.nil? %>
      <p class="pt-3">
        <i class="fa <%= @profile.willing_to_travel ? 'fa-check-square' : 'fa-times-rectangle' %>">&nbsp;</i>
        <%= @profile.willing_to_travel ? t(:willing_to_travel, scope: 'profiles.show') : t(:not_willing_to_travel, scope: 'profiles.show') %>
      </p>
    <% end %>
    <!-- willing to talk nonprofit -->
    <% if !@profile.nonprofit.nil? %>
      <p>
        <i class="fa <%= @profile.nonprofit ? 'fa-check-square' : 'fa-times-rectangle' %>">&nbsp;</i>
        <%= @profile.nonprofit ? t(:nonprofit, scope: 'profiles.show') : t(:not_nonprofit, scope: 'profiles.show') %>
      </p>
    <% end %>
  </div>

  <!-- edit action for user -->
  <div class="col-md-2">
    <% if current_profile == @profile %>
      <%= link_to(edit_profile_path(@profile), class: 'button_link noHover') do %>
        <div class='btn btn-primary buttons-modals btn-block'>
          <%= t(:edit, scope: 'profiles.show') %>
         </div>
      <% end %>
      <%= link_to(profile_medialinks_path(@profile), class: 'button_link noHover') do %>
        <div class='btn btn-primary buttons-modals mt-3 btn-block'>
          <%= t(:edit, scope: 'profiles.medialinks') %>
        </div>
      <% end %>
      <%= link_to(edit_profile_registration_path, class: 'button_link noHover') do %>
        <div id='accountSettings', class='btn btn-primary buttons-modals btn-block mt-3'>
          <%= t(:account, scope: 'layouts.application') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- personal note -->
<% if @profile.personal_note %>
  <div class="row my-3">
    <div class="col-md-12">
        <span class="font-weight-bold">
          <%= t(:personal_note, scope: 'profiles.show') %>
        </span>
        <%= simple_format(@profile.personal_note, class: '') %>
    </div>
  </div>
<% end %>

<!-- bio -->
<% if @profile.bio %>
  <div class="row my-3">
    <div class="col-md-12">
        <span class="font-weight-bold">
          <%= t(:bio, scope: 'profiles.show') %>
        </span>
        <%= simple_format(@profile.bio, class: '') %>
    </div>
  </div>
<% end %>

<!-- medialinks -->
<% if @medialinks.load.any? %>
  <div class="row">
    <div class="col-md-12">
      <p class=" font-weight-bold">
        <%= t(:media, scope: 'profiles.show') %>
      </p>
    <%= render partial: 'profiles/medialink', collection: @medialinks %>

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-4 col-md-6 text-center pb-3">
    <% unless current_profile == @profile %>
    <%# don't show the second contact button at all when the profile is not active %>
      <% unless @profile.inactive? %>
        <button type="button" class="btn btn-primary btn-stretch mt-2 px-5" data-toggle="modal"
        data-target=<%= cookies[:cookie_consent].blank? ? "#contactHint" : "#contactModal" %>
        <%= disable_contact_button(@profile) %> >
          <i class="fa fa-envelope-o"></i>&nbsp;
          <%= t(:contact, scope: 'profiles.show') + ' ' + @profile.fullname %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

  <!-- Modal Contact -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <%= "#{t(:email_to, scope: 'profiles.show' )} #{@profile.fullname}:"%>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
        </div>
      </div>
    </div>
  </div><!-- Modal -->
