<a id="topics_anchor"></a>
<div class="text-center border-top pt-3">
  <h1><%= t(:top_topics, scope: 'profiles.tag') %></h1>

  <% unless params[:category_id] %>
    <div class="pt-3">
      <p><%= t(:tag_choose_languages, scope: 'profiles.tag') %></p>
      <span class="button--border <%="button--background-blue" unless params[:all_lang]%>" >
        <%= link_to_if params[:all_lang], "Topics in " + t(I18n.locale, scope: 'iso_639_1'), profiles_path(anchor: "topics_anchor"), class: "" %>
      </span>
      <span class="button--border <%="button--background-blue" if params[:all_lang]%>" >
        <%= link_to_if !params[:all_lang], t(:topics_with_no_language_scope, scope: 'profiles.tag'), profiles_path(all_lang: "true", anchor: "topics_anchor"), class: "" %>
      </span>
    </div>
  <% end %>

</div>

<div class="text-center py-5">
  <%= t(:topics_quick_filter, scope: 'profiles.tag' ) %>
  <%= form_tag(profiles_path, method: "get", class:"topic-filter text-center") do %>
    <%= text_field_tag('search[quick]', nil, class: "search-query", id: "quick-filter", placeholder: "Quick Tag Filter") %>
      <%= button_tag("Reset", class: "btn-blue btn", id: "reset-quick-filter") %>
  <% end %>
</div>

<div class='text-center pb-5 mb-5 topics-cloud' >

  <% if params[:category_id] %>
    <% custom_tag_cloud @tags_most_used_200_in_category.sort { |x,y| x.name <=> y.name }, %w[s m l] do |topic, css_class| %>
      <%= topic_link topic, class: css_class %>
    <% end %>
  <% else %>
    <% tag_cloud @tags_most_used_200.sort { |x, y| x.name <=> y.name }, %w[s m l] do |topic, css_class| %>
      <%= topic_link topic, class: css_class %>
    <% end %>
  <% end %>

</div>

<!-- javascript for the tag_cloud search -->
<script type="text/javascript" charset="utf-8">

  // empty the input-field & show all topics
  $("#reset-quick-filter").on("click", function() {
    $("#quick-filter").val('');
    $(".s, .m, .l").css('display', 'inline');
  });

  // show matching & hide others
  $("#quick-filter").on('input', function(){
    var searchString = $(this).val().toLowerCase();

    if (searchString.length > 1) {
      $(".s, .m, .l").each(function(index) {
        if ( $(this).text().toLowerCase().indexOf(searchString) >= 0 ) {
          $(this).css('display', 'inline');
        } else {
          $(this).css('display', 'none');
        }
      });
    } else {
      // show all
      $(".s, .m, .l").css('display', 'inline');
    };

  });
</script>
