<a id="topics_anchor"></a>
<h1 class="bt pt text--center">
  <%= t(:topics, scope: 'profiles.tag') + ":" %>
</h1>

<%= form_tag(profiles_path, method: "get", class:"topic-filter pv mv font-size-24") do %>
  <%= text_field_tag('search[quick]', nil, class: "search-query", id: "quick-filter", placeholder: "Quick Tag Filter") %>
  <%= button_tag("Reset", class: "btn btn--small input-btn", id: "reset-quick-filter") %>
<% end %>

<script type="text/javascript" charset="utf-8">

  // empty the input-field & show all topics
  $("#reset-quick-filter").on("click", function() {
    $("#quick-filter").val('');
    $(".s, .m, .l").css('display', 'inline');
  });

  // show matching & hide others
  $("#quick-filter").on('input', function(){
    var searchString = $(this).val().toLowerCase();

    if (searchString.length > 1) {
      $(".s, .m, .l").each(function(index) {
        if ( $(this).text().toLowerCase().indexOf(searchString) >= 0 ) {
          $(this).css('display', 'inline');
        } else {
          $(this).css('display', 'none');
        }
      });
    } else {
      // show all
      $(".s, .m, .l").css('display', 'inline');
    };

  });
</script>

<div class='topics-cloud pb'>

  <% if params[:category_id] %>
    <% custom_tag_cloud @tags_most_used_100.sort { |x,y| x.name <=> y.name }, %w[s m l] do |topic, css_class| %>
      <%= topic_link topic, class: css_class %>
    <% end %>
  <% else %>
    <% tag_cloud @tags_most_used_100.sort { |x, y| x.name <=> y.name }, %w[s m l] do |topic, css_class| %>
      <%= topic_link topic, class: css_class %>
    <% end %>
  <% end %>

</div>
