<div class="container profiles">
  <h1>
    <%= @category.name %>
  </h1>
  <br>
  <div class='row'>
    <%= render partial: "tag" %>
  </div>
  <h3>
    Speakerinnen*:
  </h3>
  <div class='row'>
    <%= render partial: "profile", collection: @profiles %>
  </div>
  <div class="row">
    <div class="span12 text-center">
      <%= paginate @profiles %>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>
