<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h2 class="gamma pb">
      <%= t(:category, scope: "profiles") %>
      <%= link_to @category.name, root_path(anchor: "categories_anker"), class: 'content__link--bg' %>
    </h2>

    <%= render partial: "tag" %>

    <h1 class="pv">
      Speakerinnen*
    </h1>

    <% if @profiles.any? %>
      <%= render partial: "profiles/profile", object: @profiles[0], locals: { is_first: true } %>
      <% if @profiles.size > 1 %>
        <%= render partial: "profiles/profile", collection: @profiles[1..-2] %>
        <%= render partial: "profiles/profile", object: @profiles[-1], locals: { is_last: true } %>
      <% end %>
    <% else %>
        <div class="layout__item 1/1 mb">
          <%= t(:no_profile, scope: 'search') %>
        </div>
    <% end %>

    <%= paginate @profiles %>

    <%= render partial: "layouts/footer" %>
  </div>
</section>
