<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h2 class="bb gamma pb">
      <%= t(:category, scope: "profiles") %>
      <%= link_to @category.name, root_path(anchor: "categories_anker"), class: 'content__link--bg' %>
    </h2>

    <%= render partial: "tag" %>

  <h1 class="pv">
    Speakerinnen*
  </h1>

  <%= render partial: "profiles/profile", object: @profiles[0], locals: { is_first: true } %>
  <%= render partial: "profiles/profile", collection: @profiles[1..-2] %>
  <%= render partial: "profiles/profile", object: @profiles[-1], locals: { is_last: true } %>

  <%= paginate @profiles %>

  <%= render partial: "layouts/footer" %>
</section>
