<section class="bg--grey">
  <div class="layout-wrapper">

    <div class="o-layout">
      <div class="o-layout__item 2/3">
        <%= render 'shared/error_messages' %>

        <h1><%= t(:update, scope: "profiles.form")%></h1>
      </div>

     <div class="o-layout__item 1/3 text--right">
        <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path) %><br>
        <%= link_to(t(:show, scope: 'profiles.edit'), profile_path) %>
      </div>
    </div>

    <%= simple_form_for(@profile, html: { multipart: true, class: ""}) do |f| %>
      <%= render partial: "shared/profile_formfields",
                   locals: { form_type: :update_profile, f: f, profile: @profile } %>
    <% end %>

  </div>
</section>
