<div class="container py-5">
  <%= render 'shared/error_messages' %>
 <div class="profile-navi mb-5">
    <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path) %><br>
    <%= link_to(t(:show, scope: 'profiles.edit'), profile_path) %>
  </div>

  <h1 class="mb-5"><%= t(:update, scope: "profiles.form")%></h1>

  <%= simple_form_for(@profile, html: { multipart: true } ) do |f| %>
    <%= render partial: "shared/profile_formfields",
                 locals: { form_type: :update_profile, f: f, profile: @profile } %>
  <% end %>

</div>
