<div class="container profiles">
  <%= form_for(@profile, :html => { :multipart => true, :class => "form-horizontal well"}) do |f| %>
    <%= render 'shared/error_messages' %>
    <fieldset >
      <legend><%= t(:update, scope: "profiles.form")%></legend>
      <%= render partial: "shared/profile_formfields", 
                 locals: { form_type: :update_profile, f: f } %>
    </fieldset>
  <% end %>

  <!-- Not sure if these are necessary?? -->
  <%= link_to(t(".show"), @profile) %> |
  <%= link_to(t(".back"), profiles_path) %>
</div>