<div class="container-fluid px-5 mb-5">

  <!-- search scope -->
  <% if params[:search] %>
    <div class="row bg--yellow p-3">
      <div class="col-12">
        <span class="h4">
          <%= t(:success, scope: 'search').html_safe + t(:result, scope: 'search', count: @profiles.total_count).html_safe %><b><%= params[:search] if params[:search] %></b>
        </span>

        <span class="float-right"><%= link_to("<i class='fa fa-filter pr-2'></i>".html_safe + "Filter by themes", profiles_path, class: '')  %></span>
      </div>
    </div>
    <div class="row bg--light-grey p-3">
      <div class="col-12">
        <%= render partial: 'shared/search_filter',
            locals: {
              profiles: @profiles,
              aggs_languages: @aggs_languages,
              aggs_countries: @aggs_countries,
              aggs_cities: @aggs_cities
            }
          %>
      </div>
    </div>
  <% end %>

  <!-- only show the category filter when not in search scope -->
  <% unless params[:search] %>
    <div class="row">
      <div class="col-12">
        <a class="btn bg--yellow btn-stretch py-3" id="collapseFilterButton" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
          <h4 class="text-left">
            <i class='fa fa-filter' id="icon"></i>
            <%= t(:apply_filter, scope: 'profiles.index') %>
            <%= t(:within, scope: 'profiles.index') + @category.name.to_s if params[:category_id] %>
            <i class='fa fa-chevron-down float-right' id="icon"></i>
          </h4>
        </a>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="collapse bg--light-grey p-3" id="collapseFilter">
          <%= render partial: 'shared/category_filter' %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Headline section -->
  <h4 class="mb-3 mt-5">
    <%= @category.name if params[:category_id] %>
    <% if params[:tag_filter] %>
      <%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @profiles_tagged_count).html_safe + t(:tag_filter, scope: 'profiles.index', count: @tags.count).html_safe %>
      <%= raw @tags.map { |tag_name| topic_link_color(ActsAsTaggableOn::Tag.where(name: tag_name).first) }.join('') %>
    <% end %>
  </h4>


  <!-- Speaker section -->
  <a id="speakers"></a>
  <%= paginate @profiles %>

  <% @profiles.in_groups_of(4).each do |group| %>
    <div class="row">
      <% group.each do |profile| %>
        <%= render partial: 'profiles/profile', object: profile %>
      <% end %>
    </div>
  <% end %>

  <%= paginate @profiles %>
</div>

<script type="text/javascript" charset="utf-8">
  // tag filter
  // $( ".select-tag" ).click(function() {
  //   $(this).addClass( "disabled" );
  //   var oldtags = $( "#taginput" ).val();
  //   var newtag = $( this ).text();
  //   var connector = ", "
  //   if(oldtags.length === 0) { var connector = ""};
  //   $( "#taginput" ).val( oldtags + connector + newtag );
  // });
  // $( "#clear" ).click(function() {
  //   $( "#taginput" ).val('');
  //   $(".select-tag").removeClass( "disabled" );
  // });

  // toogle the close and show button on the apply filter
  $('#collapseFilter').on('show.bs.collapse', function () {
    $( "#icon" ).removeClass( "fa-chevron-down" );
    $( "#icon" ).addClass( "fa-chevron-up" );
  });
  $('#collapseFilter').on('hide.bs.collapse', function () {
    $( "#icon" ).removeClass( "fa-chevron-up" );
    $( "#icon" ).addClass( "fa-chevron-down" );
  });


  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
