<div class="container-fluid">

<!-- search scope -->
<% if params[:search] %>
  <div class="row bg--light-grey p-3">
    <div class="col-12">
      <span class="h4"><%= t(:success, scope: 'search').html_safe +
          t(:result, scope: 'search',
          count: @profiles.total_count).html_safe
        %>
      </span>
      <%= link_to("<i class='fa fa-times float-right'></i>".html_safe, profiles_path, class: '')  %>
    </div>
  </div>
  <div class="row bg--light-grey p-3">
    <div class="col-12">
      <%= render partial: 'shared/search_filter',
          locals: {
            profiles: @profiles,
            aggs_languages: @aggs_languages,
            aggs_countries: @aggs_countries,
            aggs_cities: @aggs_cities
          }
        %>
    </div>
  </div>
<% end %>

<!-- only show the category filter when not in search scope -->
<% unless params[:search] %>
  <div class="row">
    <div class="col-12">
      <a class="btn bg--light-grey btn-stretch py-3" id="collapseFilterButton" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
        <span><%= t(:apply_filter, scope: 'profiles.index') %></span>
        <i class='fa fa-chevron-down float-right' id="icon"></i>
      </a>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-12">
      <div class="collapse bg--light-grey p-3" id="collapseFilter">
        <%= render partial: 'shared/category_filter' %>
      </div>
    </div>
  </div>
<% end %>

<!-- Headline section -->
<h1 class="text-center mt-5">
  <% if params[:category_id] %> <%= @category.name %> <% end %>
  <% if params[:search] %> <%= params[:search] %> <% end %>
  <% if params[:tag_filter] %>
      <%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @profiles_tagged_count).html_safe + t(:tag_filter, scope: 'profiles.index', count: @tags.count).html_safe %>
    <%= raw @tags.map { |tag_name| topic_link_color(ActsAsTaggableOn::Tag.where(name: tag_name).first) }.join(' ') %>
  <% end %>
</h1>


<!-- Speaker section -->
<a id="speakers"></a>
<%= paginate @profiles %>

<div class="row">
  <%= render partial: 'profiles/profile', collection: @profiles, as: :profile %>
</div>

<%= paginate @profiles %>

<%= render partial: 'layouts/footer' %>


<script type="text/javascript" charset="utf-8">
  // tag filter
  $( ".select-tag" ).click(function() {
    $(this).addClass( "disabled" );
    var oldtags = $( "#taginput" ).val();
    var newtag = $( this ).text();
    var connector = ", "
    if(oldtags.length === 0) { var connector = ""};
    $( "#taginput" ).val( oldtags + connector + newtag );
  });
  $( "#clear" ).click(function() {
    $( "#taginput" ).val('');
    $(".select-tag").removeClass( "disabled" );
  });

  // toogle the close and show button on the apply filter
  $('#collapseFilter').on('show.bs.collapse', function () {
    $( "#icon" ).removeClass( "fa-chevron-down" );
    $( "#icon" ).addClass( "fa-times" );
  });
  $('#collapseFilter').on('hide.bs.collapse', function () {
    $( "#icon" ).removeClass( "fa-times" );
    $( "#icon" ).addClass( "fa-chevron-down" );
  });


  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
