<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1>
      <%= t(:title, scope: "profiles.index") %>
    </h1>
    <p>
      <%= t(:text, scope: "profiles.index").html_safe %>
    </p>

    <%= form_tag(search_path, method: "get", class:"font-size-24 bb pv mv") do %>
      <%= text_field_tag(:q, nil, class: "", id: "", placeholder: t(:search_text, scope: 'pages.home.search')) %>
      <%= button_tag((t(:search, scope: 'pages.home.search')), class: "btn btn--small") %>
    <% end %>

    <%= render partial: "profiles/profile", object: @profiles[0], locals: { is_first: true } %>
    <%= render partial: "profiles/profile", collection: @profiles[1..-2] %>
    <%= render partial: "profiles/profile", object: @profiles[-1], locals: { is_last: true } %>

    <%= paginate @profiles %>

    <%= render partial: "tag" %>

    <%= render partial: "layouts/footer" %>
  </div>
</section>
