<div class="container profiles">
  <h1 class="title-profiles">
    <%= t(:title, scope: "profiles.index") %>
  </h1>
  <div class=row>
    <div class=span6>
      <%= t(:text, scope: "profiles.index").html_safe %>
    </div>
    <div class=span6 style="vertical-align:bottom">
      <%= form_tag(search_path, :method => "get", :class =>"") do %>
        <%= text_field_tag(:q, nil, :class => "", :id => "search-field", :placeholder => t(:search_text, scope: "dashboard.index.search")) %>
        <%= button_tag((t(:search, scope: "dashboard.index.search")), :class => "btn btn-large ") %>
      <% end %>
    </div>
  </div>
  <div class=row>
    <div class=span12 id="topics_cloud">
      <h3>Topics:</h3>
      <% tag_cloud Profile.topic_counts, %w[s m l] do |topic, css_class| %>
        <%= topic_link topic, class: css_class %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= render partial: "profile", collection: @profiles %>
</div>
