<section class="bg--grey">
  <div class="layout-wrapper">
    <h1>
      <%= t(:title, scope: 'profiles.index') %>
    </h1>
    <p>
      <%= t(:text, scope: 'profiles.index').html_safe %>
    </p>

    <%= render partial: 'shared/profile_search' %>

    <div class="layout mb+ pt">
      <% if params[:topic] %>
        <p class="text--color-blue font-size-24 text--center layout__item 1/1">
          <%= t(:profiles_topics, scope: 'search', profiles_count: @profiles.total_count, topics_name: params[:topic]).html_safe %>
        </p>
      <% end %>
      <% if params[:category_id] %>
        <p class="text--color-blue font-size-24 text--center layout__item 1/1">
          <%= t(:category, scope: 'profiles', category_name: @category.name, profiles_count: @profiles.total_count, topics_count: @tags.size).html_safe %>
        </p>
      <% end %>

      <% if @profiles.any? %>
        <p class="text--color-blue font-size-24 text--center layout__item 1/1">
          <%= t(:success, scope: 'search' ).html_safe +
              t(:result, scope: 'search', count: @profiles.total_count).html_safe %><br>
          <%= t(:profiles, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
        </p>
      <% elsif @profiles.size <1 && @profiles.response.response.suggest.suggestion.present? %>
        <p >Maybe you mean
        <%= @profiles.response.response.suggest.suggestion.first.options.map {|e| p e.text.capitalize} %>????
        </p>
      <% else %>
        <p class="text--color-blue font-size-24 text--center layout__item 1/1">
          <%= t(:no_profile, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
        </p>
      <% end %>


    <div class="layout mb+ pt">
      <% if @profiles.any? %>
        <% if @profiles.size == 1 %>
          <%= render partial: 'profiles/profile', object: @profiles[0], locals: { just_one: true } %>
        <% else %>
          <%= render partial: 'profiles/profile', object: @profiles[0], locals: { is_first: true } %>
          <%= render partial: 'profiles/profile', collection: @profiles[1..-2] %>
          <%= render partial: 'profiles/profile', object: @profiles[-1], locals: { is_last: true } %>
        <% end %>
      <% end %>
    </div>
    <a id="topics_anchor"></a>

    <%= paginate @profiles %>

    <%= render partial: 'tag' %>

    <%= render partial: 'layouts/footer' %>

  </div>
</section>
