<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: 'shared/search_form' %>
    </div>
    <div class="col-md-8">
      <% if params[:category_id] %> <%# when in categories scope %>
        <%= link_to t(:category, scope: 'profiles',
            category_name: @category.name,
            profiles_count: @profiles_for_pagination.total_count,
            topics_count: @tags_in_category_published.size
          ).html_safe, '#speakers', class: 'h4' %>
      <% elsif params[:topic] %> <%# when in topic scope %>
        <%= link_to t(:profiles_topics, scope: 'search',
            profiles_count: @profiles_for_pagination.total_count,
            topics_name: params[:topic]).html_safe,
            '#speakers', class: 'h4' %>
      <% elsif params[:search] %> <%# if in search: %>
        <%= link_to t(:success, scope: 'search' ).html_safe +
                    t(:result, scope: 'search',
                    count: @profiles_for_pagination.total_count).html_safe,
                    '#speakers', class: 'h4' %>
      <% else %>
        <h4><%= t(:all_speakerinnen, scope: 'profiles.index', profiles_count: @profiles_count).html_safe %></h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <%= t(:search_categories_html, scope: 'search', root_path: root_path) %><br><br>
    </div>
  </div>


  <% if params[:search] %> <%# if in search: %>
    <%= render partial: 'shared/search_filter',
      locals: {
        profiles: @profiles,
        profiles_for_pagination: @profiles_for_pagination,
        aggs_languages: @aggs_languages,
        aggs_countries: @aggs_countries,
        aggs_cities: @aggs_cities
      }
    %>
    <% end %>


  <a id="speakers"></a>
  <%= paginate @profiles_for_pagination %>

  <%= render partial: 'profiles/profile_search', collection: @profiles, as: :profile %>

  <%= paginate @profiles_for_pagination %>

  <a id="tag_cloud_anchor"></a>
  <h5 class="text-center"><%= t(:more_options, scope: 'search').html_safe %></h5>
  <p class="text-center mb-5">
    <a href="#top"><%= t(:adapt_search, scope: 'search')%></a> <br>
    <%= link_to(t(:all_profiles, scope: 'search'), profiles_path).html_safe %><br>
    <%= link_to(t(:all_categories, scope: 'pages.home'), root_path + "#categories_anchor" )%>
  </p>

  <%= render partial: 'tag_cloud' %>

  <%= render partial: 'layouts/footer' %>

</div>

<script type="text/javascript" charset="utf-8">
  // ToDo: refactor code, make it more DRY
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
