<section class="bg--grey">
  <div class="layout-wrapper">
    <h1>
      <%= t(:title, scope: 'profiles.index') %>
    </h1>
    <!--<p>
      <%= t(:text, scope: 'profiles.index').html_safe %>
    </p>-->

    <%= render partial: 'shared/profile_search' %>

    <div class="mb+">
      <%# if in search: %>
      <% if params[:search] %>
        <% if @profiles.any? %>
          <p class="text--color-blue font-size-24 text--center layout__item 1/1">
            <%= t(:success, scope: 'search' ).html_safe +
                t(:result, scope: 'search', count: @profiles.total_count).html_safe %><br>
            <%= t(:profiles, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
          </p>

        <div class="layout-wrapper">
            <div class="layout__item 1/4 lap-1/2 palm-1/1">
              <ul id="facet_countries" class="search-aggregation">
              <%= aggreations_title = t(:countries_agg, scope: 'search' ).html_safe%>
                <% @aggs_countries[0..9].each do |term| %>
                  <li class='pl- <%= 'selected' if params[:filter_countries] == term['key'] %>'>
                    <%= link_to ISO3166::Country.find_country_by_alpha2("#{term['key']}").translation(I18n.locale), search: params[:search], filter_countries: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>
                  </li>
                <% end %>
                <% if @aggs_countries.length > 10 %>
                  <li>
                      <a class="expander_countries">
                        <%= t(:show_more, scope: 'profiles.index') %>
                      </a>
                  </li>
                  <% display_value = @aggs_countries[10..999] == [] ? "block" : "none" %>
                  <% @aggs_countries[10..999].each do |term| %>
                    <li class='pl- rest_facet_countries <%= 'selected' if params[:filter_countries] == term['key'] %>' style='display: <%= display_value %>;'>
                      <%= link_to ISO3166::Country.find_country_by_alpha2("#{term['key']}").translation(I18n.locale), search: params[:search], filter_countries: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div><!--
            -->
            <div class="layout__item 1/4 lap-1/2 palm-1/1">
              <ul id="facet_cities" class="search-aggregation">
              <%=t(:cities_agg, scope: 'search' ).html_safe%>
                <% @aggs_cities[0..9].each do |term| %>
                  <li class='pl- <%= 'selected' if params[:filter_cities] == term['key'] %>'>
                    <%= link_to term['key'], search: params[:search], filter_cities: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>
                  </li>
                <% end %>
                <% if @aggs_cities.length > 10 %>
                  <li>
                      <a class="expander_cities">
                        <%= t(:show_more, scope: 'profiles.index') %>
                      </a>
                  </li>
                  <% display_value = @aggs_cities[10..999] == [] ? "block" : "none" %>
                  <% @aggs_cities[10..999].each do |term| %>
                    <li class='pl- rest_facet_cities <%= 'selected' if params[:filter_cities] == term['key'] %>' style='display: <%= display_value %>;'>
                      <%= link_to term['key'], search: params[:search], filter_cities: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="layout__item 1/4 lap-1/2 palm-1/1">
              <ul id="facet_languages" class="search-aggregation">
              <%=t(:languages_agg, scope: 'search' ).html_safe%>
                <% @aggs_languages[0..9].each do |term| %>
                <li class='pl- <%= 'selected' if params[:filter_lang] == term['key'] %>'>
                  <%= link_to t("#{term['key']}", scope: 'iso_639_1').capitalize , search: params[:search], filter_lang: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>                </li>
                <% end %>
                <% if @aggs_languages.length > 10 %>
                  <li>
                      <a class="expander_languages">
                        <%= t(:show_more, scope: 'profiles.index') %>
                      </a>
                  </li>
                  <% display_value = @aggs_languages[10..999] == [] ? "block" : "none" %>
                  <% @aggs_languages[10..999].each do |term| %>
                    <li class='pl- rest_facet_languages <%= 'selected' if params[:filter_cities] == term['key'] %>' style='display: <%= display_value %>;'>
                      <%= link_to t("#{term['key']}", scope: 'iso_639_1').capitalize , search: params[:search], filter_lang: term['key'] %><small class="c pl-"><%= term['doc_count'] %></small>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>

          <%= render partial: 'profiles/profile_search', collection: @profiles, as: :profile %>

        <% elsif @profiles.size <1 && params[:search].present? && @profiles.response.response.suggest.did_you_mean_fullname.first.options.present? %>
          <p class="text--color-blue font-size-24 text--left layout__item 1/1">
          <%= t(:did_you_mean, scope: 'search', suggestions_fullname: @profiles.response.response.suggest.did_you_mean_fullname.first.options.map {|sug| link_to(sug.text.capitalize, "profiles_search?&search=#{sug.text}")} * ", " ).html_safe %>
          </p>

        <% else %>
          <p class="text--color-blue font-size-24 text--center layout__item 1/1">
            <%= t(:no_profile, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
          </p>
        <% end %>

      <%# if in topic or category or nothing: %>
      <% else %>

        <% if params[:topic] %>
          <p class="text--color-blue font-size-24 text--center layout__item 1/1">
            <%= t(:profiles_topics, scope: 'search', profiles_count: @profiles.total_count, topics_name: params[:topic]).html_safe %>
          </p>

        <% elsif params[:category_id] %>
          <p class="text--color-blue font-size-24 text--center layout__item 1/1">
            <%= t(:category, scope: 'profiles', category_name: @category.name, profiles_count: @profiles.total_count, topics_count: @tags.size).html_safe %>
          </p>
        <% else %>
          <p class="text--color-blue font-size-24 text--center layout__item 1/1">
            <%= t(:all_speakerinnen, scope: 'profiles.index', profiles_count: @profiles.total_count).html_safe %>
          </p>

        <% end %>

      <%= paginate @profiles %>

        <% if @profiles.any? %>
          <% if @profiles.size == 1 %>
            <%= render partial: 'profiles/profile', object: @profiles[0], locals: { just_one: true } %>
          <% else %>
            <%= render partial: 'profiles/profile', object: @profiles[0], locals: { is_first: true } %>
            <%= render partial: 'profiles/profile', collection: @profiles[1..-2] %>
            <%= render partial: 'profiles/profile', object: @profiles[-1], locals: { is_last: true } %>
          <% end %>
        <% end %>

      <% end %>
    </div>

    <a id="topics_anchor"></a>

    <%= paginate @profiles %>

    <%= render partial: 'tag' %>

    <%= render partial: 'layouts/footer' %>

  </div>
</section>

<script type="text/javascript" charset="utf-8">

  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
