<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1>
      <%= t(:title, scope: 'profiles.index') %>
    </h1>
    <p>
      <%= t(:text, scope: 'profiles.index').html_safe %>
    </p>

    <%= render partial: 'shared/profile_search' %>

    <div class="layout mb+">
      <% if params[:topic] %>
        <p class="text--color-blue font-size-24 text--center">
          <%= t(:profiles_topics, scope: 'search', profiles_count: @profiles.total_count, topics_name: params[:topic]).html_safe %>
        </p>
      <% end %>

      <% if @profiles.any? %>
        <% if @profiles.size == 1 %>
          <%= render partial: 'profiles/profile', object: @profiles[0], locals: { just_one: true } %>
        <% else %>
          <%= render partial: 'profiles/profile', object: @profiles[0], locals: { is_first: true } %>
          <%= render partial: 'profiles/profile', collection: @profiles[1..-2] %>
          <%= render partial: 'profiles/profile', object: @profiles[-1], locals: { is_last: true } %>
        <% end %>
      <% else %>
        <p class="text--color-blue font-size-24 text--center">
          <%= t(:no_profile, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
        </p>
      <% end %>
    </div>

    <%= paginate @profiles %>

    <%= render partial: 'tag' %>

    <%= render partial: 'layouts/footer' %>

  </div>
</section>
