<section class="bg--grey">
  <div class="layout-wrapper">
    <% if params[:category_id] %> <%# when in categories scope %>

      <h2 class="text--center">
        <%= t(:category, scope: 'profiles', category_name: @category.name, profiles_count: @profiles.total_count, topics_count: @tags_in_category_published.size).html_safe %>
      </h2>
      <%= render partial: 'profiles/tag' %>

    <% elsif params[:topic] %>

      <h1 class="text--center">
        <%= t(:profiles_topics, scope: 'search', profiles_count: @profiles.total_count, topics_name: params[:topic]).html_safe %>
      </h1>
      <%= render partial: 'shared/search_form' %>
      <p><%= t(:search_categories_html, scope: 'search', root_path: root_path) %></p>

    <% elsif params[:search] %> <%# if in search: %>

      <%= render partial: 'shared/search_filter' %>

    <% else %>

      <h1 class="bb text--center">
        <%= t(:new_speaker_heading, scope: 'pages.home.speakers') %>
      </h1>
      <p class="font-size-24 text--center">
        <%= t(:all_speakerinnen, scope: 'profiles.index', profiles_count: @profiles.total_count).html_safe %>
      </p>
      <%= render partial: 'shared/search_form' %>
      <%= t(:search_categories_html, scope: 'search', root_path: root_path) %>

    <% end %>

    <%= paginate @profiles %>

    <%= render partial: 'profiles/profile_search', collection: @profiles, as: :profile %>

    <%= paginate @profiles %>

    <p class="font-size-24 text--center o-layout__item 1/1">
      <%= t(:more_options, scope: 'search').html_safe %><br>
      <%#TODO: doesn't work anymore%>
      <%= top_link(params[:search]) %><br>
      <%= link_to(t(:all_profiles, scope: 'search'), profiles_path).html_safe %><br>
      <%= link_to(t(:all_categories, scope: 'pages.home'), root_path + "#categories_anchor" )%>
    </p>

    <%= render partial: 'tag_cloud' unless params[:category_id] %>

    <%= render partial: 'layouts/footer' %>

  </div>
</section>

<script type="text/javascript" charset="utf-8">
  // ToDo: refactor code, make it more DRY
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
