<div class="container mb-5">

  <!-- search scope -->
  <% if params[:search] %>
    <div class="row">
      <div class="col-12 py-5">
        <span class="h4">
          <%= t(:"result#{'_' + current_region.to_s if current_region}", scope: 'search', count: @pagy.count).html_safe %><b><%= params[:search] %></b>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render partial: 'shared/search_filter',
            locals: {
              aggs_languages: @aggs_languages,
              aggs_countries: @aggs_countries,
              aggs_states: @aggs_states,
              aggs_cities: @aggs_cities
            }
          %>
      </div>
    </div>
  <% end %>

  <% unless params[:search] %>
    <div class="collapse show" id="collapseFilter">
      <div class="row py-5">
        <div class="col-md-12 text-center">
          <h1><%= t(:title_topic_search, scope: 'profiles.index') %></h1>
        </div>
      </div>
      <%= render partial: 'shared/category_filter' %>
    </div> <!-- tag filter -->
    <!-- <a href="#top"><%= t(:up_to_filter, scope: 'profiles.index') %> <i class='fa fa-filter pr-2'></i> </a> -->
    <hr class="mt-5">
    <div class="row m-4">
      <div class="col-md-12 text-center pt-3">
        <a id="speakers_anchor"></a>
        <% if params[:category_id] %>
          <h1><%= @category.name %></h1>
          <h3><%= t(:"profiles_in_category#{'_' + current_region.to_s if current_region}", scope: 'profiles.index', count: @pagy.count).html_safe %> </h3>
          <% if current_region %>
            <p>
              <%= t(:expand_search, scope: 'search') %>
              <a href="<%= category_url(params[:category_id], host: Rails.env.development? ? 'localhost' : 'speakerinnen.org', anchor:"speakers_anchor") %>" target="_blank">speakerinnen.org</a>
            </p>
          <% end %>
        <% elsif params[:tag_filter] %>
          <h1>
            <%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @pagy.count).html_safe + t(:tag_filter, scope: 'profiles.index', count: @tags.count).html_safe %>
          </h1>
        <% else %>
          <h1><%= t(:all_profiles, scope: 'profiles.index') %></h1>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Speaker section -->
  <div class="d-flex justify-content-center py-3">
    <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
  </div>

  <% @records.in_groups_of(4).each do |group| %>
    <div class="row">
      <% group.each do |profile| %>
        <%= render partial: 'profiles/profile', object: profile %>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center py-3">
    <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
  </div>

  <% if current_region && params[:search] %>
    <p>
      <%= t(:expand_search, scope: 'search') %>
      <a href="<%= profiles_url(search: params[:search], host: Rails.env.development? ? 'localhost' : 'speakerinnen.org') %>" target="_blank">speakerinnen.org</a>
    </p>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">

  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

    $('.filter-themes-next-line').css('display', 'block').css('margin-top', '1em');

</script>
