<div class="container-fluid mb-5">

  <!-- search scope -->
  <% if params[:search] %>
    <div class="row">
      <div class="col-12 py-5">
        <span class="h3 serif">
          <%= t(:success, scope: 'search').html_safe + t(:result, scope: 'search', count: @profiles_for_search.count).html_safe %><b><%= params[:search] if params[:search] %></b>
        </span>

        <span class="float-right text-uppercase"><%= link_to("<i class='fa fa-filter pr-2'></i>".html_safe + "Filter by themes", profiles_path, class: '')  %>
        </span>
      </div>
    </div>
    <% if @profiles_for_search.count > 0 %>
      <div class="row-3">
        <div class="col-12">
          <%= render partial: 'shared/search_filter',
              locals: {
                profiles: @profiles,
                aggs_languages: @aggs_languages,
                aggs_countries: @aggs_countries,
                aggs_cities: @aggs_cities
              }
            %>
        </div>
      </div>
    <% else %>
      <hr>
      <div class="row">
        <div class="col-12 pb-2 text-center" style="margin-top: 150px;" >
          <h3>
          All our speakerinnen* - get inspired ( am text muss noch gearbeitet werden! )
          <h3>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- only show the category filter when not in search scope -->
  <% unless params[:search] %>
    <div class="collapse show" id="collapseFilter">

      <div class="row p-5">
        <div class="col-md-12 p-3">
          <h3> Which Topic would your speakerin be an expert in? </h3>
          <h3> Choose a whole category or topics</h3>
        </div>
      </div>
      <div class="row px-5">
        <div class="col-md-12">
          <%= render partial: 'shared/category_filter' %>
          <a id="speakers_anchor"></a>
        </div>
      </div>

    <hr class="mt-5">
    </div> <!-- tag filter -->
    <a href="#top" class="text-uppercase serif p-5"><< Up to the filter</a>
  <% end %>

  <!-- Found speaker when in search or filter function -->
  <div class="row m-5">
    <div class="col-md-12 text-center pt-3">
      <% if params[:category_id] %>
        <h3> <%= @category.name %></h3>
        <h3><%= 'We have ' + @profiles_count.to_s + ' ' + "speakerinnen ( bitte verbessern!)" if @profiles_count%> </h3>
      <% elsif params[:tag_filter] %>
        <h3>
          <%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @profiles_count).html_safe + t(:tag_filter, scope: 'profiles.index', count: @tags.count).html_safe %>
        </h3>
        <%= raw @tags.map { |tag_name| ActsAsTaggableOn::Tag.where(name: tag_name).first }.join(', ') %>
      <% end %>

    </div>
  </div>

  <!-- Speaker section -->
  <%= paginate @profiles %>

  <% @profiles.in_groups_of(4).each do |group| %>
    <div class="row">
      <% group.each do |profile| %>
        <%= render partial: 'profiles/profile', object: profile %>
      <% end %>
    </div>
  <% end %>

  <%= paginate @profiles %>
</div>

<script type="text/javascript" charset="utf-8">
  // tag filter
  // $( ".select-tag" ).click(function() {
  //   $(this).addClass( "disabled" );
  //   var oldtags = $( "#taginput" ).val();
  //   var newtag = $( this ).text();
  //   var connector = ", "
  //   if(oldtags.length === 0) { var connector = ""};
  //   $( "#taginput" ).val( oldtags + connector + newtag );
  // });
  // $( "#clear" ).click(function() {
  //   $( "#taginput" ).val('');
  //   $(".select-tag").removeClass( "disabled" );
  // });

  // toogle the close and show button on the apply filter
  // $('#collapseFilter').on('show.bs.collapse', function () {
  //   $( "#icon" ).removeClass( "fa-chevron-down" );
  //   $( "#icon" ).addClass( "fa-chevron-up" );
  // });
  // $('#collapseFilter').on('hide.bs.collapse', function () {
  //   $( "#icon" ).removeClass( "fa-chevron-up" );
  //   $( "#icon" ).addClass( "fa-chevron-down" );
  // });


  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
