<div class="container">
  <% if params[:category_id] %> <%# when in categories scope %>
    <div class="row">
      <%= render partial: "shared/categories", object: @categories %>
    </div>

    <% @tags_in_category_200.each do |tag| %>
      <button class="btn btn-secondary btn-sm border rounded m-1 select-tag <%= "disabled" if params[:tag_search] && params[:tag_search].include?(tag.name) %> " ><%= tag.name  %></button>
    <% end %>
    <div class="form-group">
      <%= form_tag(profiles_path, :method => "get") do %>
        <%= text_area_tag :tag_search, params[:tag_search], id: "taginput", class: "form-control", rows: 3 %>
        <%= hidden_field_tag :category_id , params[:category_id] %>
        <%= submit_tag t(:tag_filter, scope: 'pages.home'), class: "btn btn-primary" %>
        <span class="btn btn-primary" id="clear">Clear</span>
      <% end %>
    </div>
    <h4 class="text-center py-5">
      <%= t(:category, scope: 'profiles', category_name: @category.name, profiles_count: @profiles.total_count).html_safe %>
      <%= params[:tag_search] ? t(:tag_filter, scope: 'profiles.index', count: @tags.count, tags: params[:tag_search]).html_safe :
      t(:tags_count, scope: 'profiles', topics_count: @tags_in_category_published.size).html_safe %>
    </h4>

  <% elsif params[:topic] %> <%# when in topic scope %>

    <h5 class="text-center py-5">
      <%= t(:profiles_topics, scope: 'search', profiles_count: @profiles.total_count, topics_name: params[:topic]).html_safe %>
    </h5>

  <% elsif params[:search] %> <%# when normal search: %>

      <%= render partial: 'shared/search_filter',
        locals: {
          profiles: @profiles,
          aggs_languages: @aggs_languages,
          aggs_countries: @aggs_countries,
          aggs_cities: @aggs_cities
        }
      %>

  <% elsif params[:tag_search] %> <%# when searching %>
    <h1 class="display-4 text-center pt-5"><%= t(:speaker_headline, scope: 'pages.home.speakers') %></h1>
    <h4 class="text-center pb-5 pt-3"><%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @profiles_tagged_count) + t(:tag_filter, scope: 'profiles.index', count: @tags.count, tags: params[:tag_search]).html_safe %></h4>

    <% ActsAsTaggableOn::Tag.most_used(100).each do |tag| %>
      <button class="btn btn-secondary btn-sm border rounded m-1 select-tag <%= "disabled" if params[:tag_search].include?(tag.name) %>" ><%= tag.name  %></button>
    <% end %>
    <div class="form-group">
      <%= form_tag(profiles_path, :method => "get") do %>
        <%= text_area_tag :tag_search, params[:tag_search], id: "taginput", class: "form-control", rows: 3 %>
        <%= submit_tag "Filter", class: "btn btn-primary" %>
        <span class="btn btn-primary" id="clear">Clear</span>
      <% end %>
    </div>

    <%= render partial: 'shared/search_form' %>
    <%= t(:search_categories_html, scope: 'search', root_path: root_path) %>

  <% else %>

    <h1 class="display-4 text-center pt-5"><%= t(:speaker_headline, scope: 'pages.home.speakers') %></h1>
    <h4 class="text-center pb-5 pt-3"><%= t(:all_speakerinnen, scope: 'profiles.index', profiles_count: @profiles_count).html_safe %></h4>
    <%= render partial: 'shared/search_form' %>
    <%= t(:search_categories_html, scope: 'search', root_path: root_path) %>

  <% end %>

  <%= paginate @profiles %>

  <%= render partial: 'profiles/profile_search', collection: @profiles, as: :profile %>

  <%= paginate @profiles %>

  <h5 class="text-center"><%= t(:more_options, scope: 'search').html_safe %></h5>
  <p class="text-center mb-5">
    <%#TODO: doesn't work anymore%>
    <%= top_link(params[:search]) %><br>
    <%= link_to(t(:all_profiles, scope: 'search'), profiles_path).html_safe %><br>
    <%= link_to(t(:all_categories, scope: 'pages.home'), root_path + "#categories_anchor" )%>
  </p>

  <%= render partial: 'tag_cloud' unless params[:category_id] %>

  <%= render partial: 'layouts/footer' %>

</div>

<script type="text/javascript" charset="utf-8">
  // tag filter
  $( ".select-tag" ).click(function() {
    $(this).addClass( "disabled" );
    var oldtags = $( "#taginput" ).val();
    var newtag = $( this ).text();
    var connector = ", "
    if(oldtags.length === 0) { var connector = ""};
    $( "#taginput" ).val( oldtags + connector + newtag );
  });
  $( "#clear" ).click(function() {
    $( "#taginput" ).val('');
    $(".select-tag").removeClass( "disabled" );
  });

  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
