<div class="container-fluid px-5 py-5">
  <div class="row">
    <div class="col-md-12">
      <% if params[:category_id] %> <%# when in categories scope %>
        <%= link_to t(:category, scope: 'profiles',
            category_name: @category.name,
            profiles_count: @profiles.total_count,
            topics_count: @tags_in_category_published.size
          ).html_safe, '#speakers', class: 'h4' %>
        <%= link_to "<< back to the category filter", root_path(anchor: "categories_anchor"), class: "btn btn-primary mt-3" %>
      <% elsif params[:topic] %> <%# when in single topic scope %>
        <%= link_to t(:profiles_topics, scope: 'search',
            profiles_count: @profiles.total_count,
            topics_name: params[:topic]).html_safe,
            '#speakers', class: 'h4' %>
      <% elsif params[:search] %> <%# when in search scope %>
        <%= link_to t(:success, scope: 'search' ).html_safe +
                    t(:result, scope: 'search',
                    count: @profiles.total_count).html_safe,
                    '#speakers', class: 'h4' %>
      <% elsif params[:tag_search] %> <%# when in tagfilter scope %>
        <h4 class="pt-3"><%= t(:all_tagged_speakerinnen, scope: 'profiles.index', count: @profiles_tagged_count).html_safe + t(:tag_filter, scope: 'profiles.index', count: @tags.count, tags: params[:tag_search]).html_safe %></h4>
        <%= link_to "<< back to the tag filter", root_path(tag_search: params[:tag_search].gsub(/\s+/, "-"), anchor: "categories_anchor"), class: "btn btn-blue mt-3" %>
      <% else %>
        <h4><%= t(:all_speakerinnen, scope: 'profiles.index', profiles_count: @profiles_count).html_safe %></h4>
      <% end %>
    </div>
  </div>
  <% if params[:search] %> <%# if in search scope show aggregates %>
    <%= render partial: 'shared/search_filter',
      locals: {
        profiles: @profiles,
        aggs_languages: @aggs_languages,
        aggs_countries: @aggs_countries,
        aggs_cities: @aggs_cities
      }
    %>
  <% end %>

  <a id="speakers"></a>
  <%= paginate @profiles %>

  <div class="row">
    <%= render partial: 'profiles/profile_search', collection: @profiles, as: :profile %>
  </div>

  <%= paginate @profiles %>

  <a id="tag_cloud_anchor"></a>
  <h5 class="text-center"><%= t(:more_options, scope: 'search').html_safe %></h5>
  <p class="text-center mb-5">
    <a href="#top"><%= t(:adapt_search, scope: 'search')%></a> <br>
    <%= link_to(t(:all_profiles, scope: 'search'), profiles_path).html_safe %><br>
    <%= link_to(t(:all_categories, scope: 'pages.home'), root_path + "#categories_anchor" )%>
  </p>

  <%= render partial: 'layouts/footer' %>

</div>

<script type="text/javascript" charset="utf-8">
  // tag filter
  $( ".select-tag" ).click(function() {
    $(this).addClass( "disabled" );
    var oldtags = $( "#taginput" ).val();
    var newtag = $( this ).text();
    var connector = ", "
    if(oldtags.length === 0) { var connector = ""};
    $( "#taginput" ).val( oldtags + connector + newtag );
  });
  $( "#clear" ).click(function() {
    $( "#taginput" ).val('');
    $(".select-tag").removeClass( "disabled" );
  });

  // elasticsearch search filter
  $('.expander_countries').click(function(){
    if ( $('.rest_facet_countries').css('display') == 'none' ) {
      $('.rest_facet_countries').css('display','block');
      $('.expander_countries').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_countries').css('display','none');
      $('.expander_countries').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_cities').click(function(){
    if ( $('.rest_facet_cities').css('display') == 'none' ) {
      $('.rest_facet_cities').css('display','block');
      $('.expander_cities').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_cities').css('display','none');
      $('.expander_cities').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

  $('.expander_languages').click(function(){
    if ( $('.rest_facet_languages').css('display') == 'none' ) {
      $('.rest_facet_languages').css('display','block');
      $('.expander_languages').html('<%= t(:show_less, scope: 'profiles.index')%>');
    } else {
      $('.rest_facet_languages').css('display','none');
      $('.expander_languages').html('<%= t(:show_more, scope: 'profiles.index')%>');
    }});

</script>
