<div class="container profiles">
  <h1>
    <%= t(:title, scope: "profiles.index") %>
  </h1>
  <div class="row">
    <div class="span6 italic">
      <%= t(:text, scope: "profiles.index").html_safe %>
    </div>
    <div class='span6' style="vertical-align:bottom">
      <%= form_tag(search_path, :method => "get", :class =>"well") do %>
        <%= text_field_tag(:q, nil, :class => "", :id => "search-field", :placeholder => t(:search_text, scope: "pages.home.search")) %>
        <%= button_tag((t(:search, scope: "pages.home.search")), :class => "btn btn-large ") %>
      <% end %>
    </div>
  </div>
  <hr>
  <br>
  <div class='row'>
    <%= render partial: "profile", collection: @profiles %>
  </div>
  <div class="row">
    <div class="span12 text-center">
      <%= paginate @profiles %>
    </div>
  </div>
  <div class='row'>
    <%= render partial: "tag" %>
  </div>
</div>
<br>
