<div class="container profiles">
  <h1 class="title-profiles"><%= t ".title" %></h1>


<!--   <p>
    <%= t ".text" %>
  </p> -->


<div id="topics_cloud">
  <h3>Topic:</h3>
  <% tag_cloud Profile.topic_counts, %w[s m l] do |topic, css_class| %>
    <%= topic_link topic, class: css_class %>
  <% end %>
</div>

    <hr>


<!--   <% if params[:topic] %>
    <h4>Du hast nach dem Tag "<%= params[:topic] %>" gesucht und <%= params[:topic_counts] %> gefunden:</h4> 
    <!-- TODO Topic counts working
  <% end %> -->

  <%= render :partial => "profile", :collection => @profiles %>
</div>