<div id='container'>
  <div id='badge-log'>
    <div id='badge-inner'>

      <div id='logo'>
        <%= image_tag('logo_header.png', id: 'logo') %>
      </div>

      <div id='login'>
        <%= form_for(Profile.new) do |f| %>
          <div class='control-group'>
            <div class='controls'>
              <%= f.email_field :email, autofocus: true, class:'input-xlarge', placeholder: 'Email' %>
            </div>
          </div>

          <% if f.object.password_required? %>
            <div class='control-group'>
              <div class='controls'>
                <%= f.password_field :password, class:'input-xlarge',
                placeholder: t(:password, scope: 'devise.registrations.new') %>
              </div>
            </div>

            <div class='control-group'>
              <div class='controls'>
                <%= f.password_field :password_confirmation, class:'input-xlarge',
                placeholder: 'Password Confirmation' %>
              </div>
            </div>

            <div class='control-group'>
              <%= f.submit('Sign up', class: 'btn')%>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='span5 offset1'>
    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(:profile) %><br />
    <% end -%>
  </div>
</div>
