<div class="row name">
  <div class="span12">
  <h2> <%= t ".profile_from" %><%= @profile.firstname + " " + @profile.lastname %>
  </h2>
  </div>
</div>
<br>

<div class="row">
  <% if @profile.picture.present? %>

    <div class="span4">
      <%= image_tag(@profile.picture_url, :width => 300) %>  
    </div>

    <div class="span6">
      <div class="header"><%= t ".topics" %></div>
        <%= @profile.topics %>
      <p></p>
      <div class="header"><%= t ".languages" %></div>
        <%= @profile.languages %>
      <p></p>
      <div class="header"><%= t ".talks" %></div>
        <%= @profile.talks %>
      <p></p>
    </div>

  <% else %>
    
    <div class="span6">
      <div class="header"><%= t ".topics" %></div>
        <%= @profile.topics %>
      <p></p>
      <div class="header"><%= t ".languages" %></div>
        <%= @profile.languages %>
      <p></p>
      <div class="header"><%= t ".talks" %></div>
        <%= @profile.talks %>
      <p></p>
    </div>

  <% end %>
</div>
  <br>

  <div class="row">
    
    <div class="span6">
      <div class="header"><%= t ".bio" %></div>
        <%= @profile.bio %>
      </p>
      <div class="header"><%= t ".email" %></div>
        <%= mail_to @profile.email%>
      <p></p>
      <div class="header"><%= t ".twitter" %></div>
        <%= @profile.twitter %>
      <p></p>
      <br>
      <%= link_to(t(".back"), profiles_path, class:"btn btn-inverse btn-small") %>

      <% if can_edit_profile?(current_profile, @profile) %>
       <%= link_to(t(".edit"), edit_profile_path(@profile), class:"btn btn-danger btn-small") %>
      <% end %>

    </div>

  </div>
</div>

