<div class="container profiles">

  <div class="white-bg">
    <h1><%= @profile.fullname %></h1>
  <%= link_to(profiles_path) do %>
    <div class="row pull-right">
      <span class="icon icon-arrow-left"></span> SpeakerinnenListe
    </div>
  <% end %>
  </div>
  <br>
  <div class="row">
    <div class="span3 photo">
      <% if @profile.picture.present? %>
        <%= image_tag(@profile.picture.profile.url , :class => "photo") %>
      <% else %>
        <%= image_tag("avatar.jpg", :alt => "avatar", :class => "photo") %>
      <% end %>
    </div>


    <div class="span5 text-white-bg">
      <% if @profile.twitter.present? %>
        <h5><%= t(:twitter, scope: "profiles.profile") %></h5>
        <span><%=link_to "@" + @profile.twitter, "http://twitter.com/#{@profile.twitter}" %></span>
        <hr>
      <% end %>

      <% if @profile.website.present? %>
        <h5><%= t(:website, scope: "profiles.profile") %></h5>
        <span><%=link_to @profile.website,"http://#{@profile.website}", :target => '_blank' %></span>
        <hr>
      <% end %>

      <h5><%= t ".topics" %></h5>
      <span><%= raw @profile.topic_list.map { |t| link_to t, topic_path(t) }.join('  ') %></span>
      <hr>
      <h5><%= t ".languages" %></h5>
      <span> <%= @profile.languages %></span>
      <hr>
      <h5><%= t ".talks" %></h5>
      <span>
        <%= @profile.talks %>
      </span>

    </div>
    <div class="span3">
      <a data-toggle="modal" href="#contact" class="btn  btn-large buttons-modals">
        <span class="icon icon-envelope"></span>
        <%= t(:contact, scope: "profiles.profile") %>
      </a>

      <% if can_edit_profile?(current_profile, @profile) %>
        <%= link_to(edit_profile_path(@profile)) do %>
          <div class="btn  btn-large buttons-modals">
            <span class="icon icon-edit"></span>
            <%= t(:edit, scope: "profiles.profile") %>
          </div>
        <% end %>
      <% end %>
      <% if can_edit_profile?(current_profile, @profile) %>
        <%= link_to(edit_profile_medialink_path(@profile)) do %>
          <div class="btn  btn-large buttons-modals">
            <span class="icon icon-edit"></span>
            <%= t(:edit, scope: "profiles.medialinks") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="info-profiles-bio">
    <div class="span6 info-profiles-text text-white-bg">
      <h5> <%= t ".bio" %></h5>
      <span><%= @profile.bio %></span>
    </div>

    <div class="span6 pull-right info-profiles-media text-white-bg">

      <h5><%= t ".media" %></h5>

      <ul>
        <% @profile.medialinks.each do |medialink| %>
        <li>
          <%= link_to medialink.title, medialink.url, class: "medialink" %>
        </li>
        <li>
          <%= medialink.description %>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<!-- This is the contact form -->
<div class="modal fade" id="contact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title"><%= "#{t(".contact")} #{@profile.fullname}:"%></h5>
      </div>
      <div class="modal-body">
        <div class="span6">
          <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= t(:close, scope: "general") %></button>
      </div>
    </div>
  </div>
</div>
