<section class="content--bg-grey pb+">
  <div class="layout-wrapper">
    <div class="layout">
      <div class="layout__item 2/3 palm-1/1">
        <h1><%= @profile.fullname %></h1>
      </div><!--

      --><div class="layout__item 1/3 palm-1/1 text--right">
        <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path, class: 'content__link--bg') %>
        <%= link_to(t(:next, scope: 'profiles.edit'), profile_path(@profile.next_profile), 
          class: 'content__link--bg', 
          style: 'display: block') 
        %>
      </div>
    </div>

    <div class="layout">
      <div class="layout__item 2/6 palm-1/1 pr">
          <%= profile_picture_link(@profile) %>
          <p class="mt0"><%= @profile.main_topic_or_first_topic.truncate(30) if @profile.main_topic_or_first_topic %></p>

      </div><!--

      --><div class="layout__item 3/6 palm-1/1 bg--white">
          <% if @profile.twitter.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:twitter, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%=link_to '@' + @profile.twitter_name_formatted, @profile.twitter_link_formatted,
              target: '_blank', class: 'content__link--bg' %>
            </p>
          <% end %>

          <% if @profile.website.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:website, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= link_to @profile.website, @profile.website_with_protocol,
              target: '_blank', class: 'content__link--bg' %>
            </p>
          <% end %>

          <h2 class="delta sans-serif mb-">
            <%= t(:topics, scope: 'profiles.profile') %>
          </h2>
          <p class="bb pb">
            <%= raw @profile.topic_list.sort.map { |topic| topic_link(topic,class: 'content__link--bg') }.join(' ') %>
          </p>

          <% if @profile.languages.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:languages, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.languages %></span>
            </p>
          <% end %>

          <% if @profile.city.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:city, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.city %></span>
            </p>
          <% end %>

          <% if @profile.country.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:country, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.country_name %>
            </p>
          <% end %>
        </div><!--

      --><div class="layout__item 1/6 palm-1/1">

          <label class="btn btn--small btn--full" for="modal-1">
            <i class="fa fa-envelope-o"></i>&nbsp;
            <%= t(:contact, scope: 'profiles.profile') %>
          </label>

          <% if current_profile == @profile %>
            <%= link_to(edit_profile_path(@profile)) do %>
              <div class='btn buttons-modals btn--small btn--full mt-'>
                <%= t(:edit, scope: 'profiles.profile') %>
              </div>
            <% end %>

            <%= link_to(profile_medialinks_path(@profile)) do %>
              <div class='btn buttons-modals btn--small btn--full mt-'>
                <%= t(:edit, scope: 'profiles.medialinks') %>
              </div>
            <% end %>
          <% end %>

      </div>
    </div>

    <% if @profile.bio %>
      <div class="layout pv">
        <div class="layout__item 5/6 palm-1/1 bg--white">
          <h2 class="delta sans-serif pb">
            <%= t(:bio, scope: 'profiles.profile') %>
          </h2>
          <%= simple_format(@profile.bio) %>
        </div>
      </div>
    <% end %>

    <% if @profile.medialinks.any? %>
      <div class="layout pv">
        <div class="layout__item 5/6 palm-1/1 bg--white">
          <h2 class="delta sans-serif pb">
            <%= t(:media, scope: 'profiles.profile') %>
          </h2>

          <ul class="pl0">
            <% @medialinks.each do |medialink| %>
            <li class="list--style-none pb mb+ bb">
              <b><%= medialink.title %></b>
              <%= medialink.url_html if medialink.url != 'http://' %>
              <%= simple_format(medialink.description) %>
            </li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>

  </div>
</section>

<!-- Modal -->

<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-1"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-1"></label>
      <h2 class="bb"><%= "#{t('.contact')} #{@profile.fullname}:"%></h2>
      <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
  </div>
</div>
