      <div class="container profiles">
         <div class="white-bg">
            <h1><%= @profile.fullname %></h1>
         </div>
         <div class="row">
            <div class="span3 photo">
               <% if @profile.picture.present? %>
                  <%= image_tag(@profile.picture_url , :class => "photo") %>
               <% else %>
                  <%= image_tag("avatar.jpg", :alt => "avatar", :class => "photo") %> 
               <% end %>
            </div>
            <div class="span5">
               <h4>
                  <%= t ".topics" %>
                     <span>
                        <%= raw @profile.topic_list.map { |t| link_to t, topic_path(t) }.join('  ') %>
                     </span>
               </h4>
               <h5>
                  <%= t ".languages" %><span> <%= @profile.languages %></span>
               </h5>
               <h5>
                  <%= t ".talks" %><span><%= @profile.talks %></span>
               </h5>
               <h5>
                  <%= t ".media" %><span><%= @profile.media_url_html %></span>
               </h5>
               <% if @profile.twitter.present? %>
                  <h5>
                     <%= t ".twitter" %>
                     <span><%=link_to "@" + @profile.twitter, "http://twitter.com/#{@profile.twitter}" %></span>
                  </h5>
               <% end %> 

               <div class="info-profiles-bio">
                  <p>
                     <%= t ".bio" %> <%= @profile.bio %>
                  </p>
               </div>
            </div>
    
         <div class="span3">
            <a data-toggle="modal" href="#contact" class="btn  btn-large buttons-modals">
               Contact
            </a>
            <%= link_to(t(".back"), profiles_path, class:"btn  btn-large buttons-modals") %>
            <% if can_edit_profile?(current_profile, @profile) %>
               <%= link_to(t(".edit"), edit_profile_path(@profile), class:"btn  btn-large buttons-modals") %>
            <% end %>
         </div>
     </div>
 </div>

         <div class="modal fade" id="contact">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h5 class="modal-title"><%= "#{t(".contact")} #{@profile.fullname}:"%></h5>
                  </div>
                  <div class="modal-body">
                     <div class="span6">
                        <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %> 
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         <!-- /.modal -->
