<section class="content--bg-grey">
  <div class="layout-wrapper">
    <div class="layout">
      <div class="layout__item 2/3">
        <h1><%= @profile.fullname %></h1>
      </div><!--

      --><div class="layout__item 1/3 text--right">
        <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path, class: 'content__link--bg') %>
      </div>
    </div>

    <div class="layout">
      <div class="layout__item 2/6">

          <%= profile_picture_link(@profile) %>
          <p class="mt0"><%= @profile.main_topic_or_first_topic %></p>

      </div><!--

      --><div class="layout__item 3/6 bg--white">
          <% if @profile.twitter.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:twitter, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%=link_to '@' + @profile.twitter_name_formatted, @profile.twitter_link_formatted,
              target: '_blank', class: 'content__link--bg' %>
            </p>
          <% end %>

          <% if @profile.website.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:website, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= link_to @profile.website, @profile.website_with_protocol,
              target: '_blank', class: 'content__link--bg' %>
            </p>
          <% end %>

          <h2 class="delta sans-serif mb-">
            <%= t(:topics, scope: 'profiles.profile') %>
          </h2>
          <p class="bb pb">
            <%= raw @profile.topic_list.map { |topic| topic_link(topic,class: 'content__link--bg') }.join(' ') %>
          </p>

          <h2 class="delta sans-serif mb-">
            <%= t(:languages, scope: 'profiles.profile') %>
          </h2>
          <p class="bb pb">
            <%= @profile.languages %>
          </p>

          <% if @profile.city.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:city, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.city %></span>
            </p>
          <% end %>
        </div><!--

      --><div class="layout__item 1/6">

          <a data-toggle='modal' href='#contact' class='btn btn--small btn--full'>
            <i class="fa fa-envelope-o"></i>&nbsp;
            <%= t(:contact, scope: 'profiles.profile') %>
          </a>

          <% if current_profile == @profile %>
            <%= link_to(edit_profile_path(@profile)) do %>
              <div class='btn buttons-modals btn--small btn--full mt-'>
                <i class="fa fa-pencil"></i>
                <%= t(:edit, scope: 'profiles.profile') %>
              </div>
            <% end %>

            <%= link_to(profile_medialinks_path(@profile)) do %>
              <div class='btn buttons-modals btn--small btn--full mt-'>
                <i class="fa fa-pencil"></i>
                <%= t(:edit, scope: 'profiles.medialinks') %>
              </div>
            <% end %>
          <% end %>

      </div>
    </div>

    <% if @profile.bio %>
      <div class="layout pt">
        <div class="layout__item 5/6 bg--white">
          <h2 class="delta sans-serif mb-">
            <%= t(:bio, scope: 'profiles.profile') %>
          </h2>
          <%= simple_format(@profile.bio) %>
        </div>
      </div>
    <% end %>

    <% if @profile.medialinks.any? %>
      <div class="layout pt">
        <div class="layout__item 5/6 bg--white mb+">
          <h2 class="delta sans-serif mb-">
            <%= t(:media, scope: 'profiles.profile') %>
          </h2>

          <ul class="pl0">
            <% @medialinks.each do |medialink| %>
            <li class="list--style-none pb mb+ bb">
              <b><%= medialink.title %></b>
              <%= medialink.url_html %>
              <%= medialink.description %>
            </li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>

    <div class="layout layout--right">
      <div class="layout__item 1/3">
        <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path, class: 'content__link--bg') %>
      </div>
    </div>

  </div>
</section>

<!-- This is the contact form -->
<div class='modal fade' id='contact'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h5 class='modal-title'><%= "#{t('.contact')} #{@profile.fullname}:"%></h5>
      </div>
      <div class='modal-body'>
        <div class='span6'>
          <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'><%= t(:close, scope: 'general') %></button>
      </div>
    </div>
  </div>
</div>
