<div class="row">
  <div class="span12">
    <h2> <%= t ".profile_from" %> <%= @profile.fullname %>
    </h2>
  </div>
</div>
<br>

<div class="row">
  <% if @profile.picture.present? %>

    <div class="span4">
      <%= image_tag(@profile.picture_url, :width => 300) %>  
    </div>

    <div class="span6">
      <div class="header"><%= t ".topics" %></div>
      <%= raw @profile.topic_list.map { |t| link_to t, topic_path(t) }.join(' ') %>
      <div class="header"><%= t ".languages" %></div>
        <%= @profile.languages %>
      <p></p>
      <div class="header"><%= t ".talks" %></div>
        <%= @profile.talks %>
      <p></p>
      <div class="header"><%= t ".media" %></div>
        <%= @profile.media_url_html %>
      <p></p>
    </div>

  <% else %>
    
    <div class="span6">
      <div class="header"><%= t ".topics" %></div>
      <%= raw @profile.topic_list.map { |t| link_to t, topic_path(t) }.join(' ') %>
      <p></p>
      <div class="header"><%= t ".languages" %></div>
        <%= @profile.languages %>
      <p></p>
      <div class="header"><%= t ".talks" %></div>
        <%= @profile.talks %>
      <p></p>
      <div class="header"><%= t ".media" %></div>
        <%= @profile.media_url_html %>
      <p></p>
    </div>

  <% end %>
</div>
  <br>

<div class="row">
    
  <div class="span6">
    <div class="header"><%= t ".bio" %></div>
      <%= @profile.bio %>
    <p></p>
      <% if @profile.twitter.present? %>
        <div class="header"><%= t ".twitter" %></div>
          <%=link_to "@" + @profile.twitter, "http://twitter.com/#{@profile.twitter}" %>
      <% end %>
    <br>
    <hr>
    <br>
    <div class="header"><%= "#{t(".contact")} #{@profile.fullname}:"%></div>
    <br>
    <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %> 
    <br>
    <%= link_to(t(".back"), profiles_path, class:"btn btn-inverse btn-small") %>

    <% if can_edit_profile?(current_profile, @profile) %>
     <%= link_to(t(".edit"), edit_profile_path(@profile), class:"btn btn-danger btn-small") %>
    <% end %>
  </div>
</div>

