<section class="bg--grey pb-5">
  <div class="container profile-show py-5">
    <div class="text-left pb-5">
      <%= link_to(t(:home, scope: 'profiles.edit'), profiles_path) %>
    </div>

    <h1 class="display-4 mb-5"><%= @profile.fullname %></h1>

    <div class="row mb-5">
      <div class="col-md-3">
          <%= profile_picture_link(@profile) %>
          <p class="mt-2"><%= @profile.main_topic_or_first_topic.truncate(30) if @profile.main_topic_or_first_topic %></p>
      </div>

      <div class="col-md-6 p-3 bg--white">
        <% unless @profile.fullname.present? %>
          <p class="error">
            <%= t(:empty_profile, scope: 'profiles.show').html_safe %>
          </p>
          <p>
            <%= t(:check_faq, scope: 'profiles.show').html_safe %>
          </p>
        <% end %>
        <% if @profile.twitter.present? %>
          <h5><%= t(:twitter, scope: 'profiles.show') %></h5>
          <p class="pb-2">
            <%=link_to '@' + @profile.twitter_name_formatted, @profile.twitter_link_formatted,
            target: '_blank' %>
          </p>
        <% end %>

        <!-- only use globalize fall-back when there is no website at all in the current language scope provided -->

        <!-- when there is at least one website in the current language provided use no fall-back for the missing additional websites -->
        <% if @profile.website_in_language_scope(I18n.locale).present? ||
              @profile.website_in_language_scope(I18n.locale, "2_").present? ||
              @profile.website_in_language_scope(I18n.locale, "3_").present? %>

          <!-- Show the view for more than one website: -->
          <% if @profile.website_in_language_scope(I18n.locale).present? &&
               ( @profile.website_in_language_scope(I18n.locale, "2_").present? || @profile.website_in_language_scope(I18n.locale, "3_").present? ) %>

            <h5> <%= t(:websites, scope: 'profiles.show') %> </h5>
            <p>
              <%= link_to @profile.website_in_language_scope(I18n.locale), @profile.website_with_protocol(@profile.website_in_language_scope(I18n.locale)),
              target: '_blank' %>
            </p>
            <p>
              <%= link_to @profile.website_in_language_scope(I18n.locale, "2_"), @profile.website_with_protocol(@profile.website_in_language_scope(I18n.locale, "2_")),
              target: '_blank' if @profile.website_in_language_scope(I18n.locale, "2_").present? %>
            </p>
            <p>
              <%= link_to @profile.website_in_language_scope(I18n.locale, "3_"), @profile.website_with_protocol(@profile.website_in_language_scope(I18n.locale, "3_")),
              target: '_blank' if @profile.website_in_language_scope(I18n.locale, "3_").present? %>
            </p>
          <!-- Show the view for just one website: -->
          <% elsif @profile.website_in_language_scope(I18n.locale).present? %>
            <h5> <%= t(:website, scope: 'profiles.show') %> </h5>
            <p>
              <%= link_to @profile.website_in_language_scope(I18n.locale), @profile.website_with_protocol(@profile.website_in_language_scope(I18n.locale)),
              target: '_blank' %>
            </p>
          <% end %>

          <p class="pb-1"></p>

        <!-- if there is no website in the current language use the globalize fall-back option for all websites -->
        <% else %>

          <!-- Show the view for more than one website: -->
          <% if @profile.website.present? && ( @profile.website_2.present? || @profile.website_3.present? ) %>
            <h5> <%= t(:websites, scope: 'profiles.show') %> </h5>
            <p>
              <%= link_to @profile.website, @profile.website_with_protocol(@profile.website),
              target: '_blank' %>
            </p>
            <p>
              <%= link_to @profile.website_2, @profile.website_with_protocol(@profile.website_2),
              target: '_blank' if @profile.website_2.present? %>
            </p>
            <p>
              <%= link_to @profile.website_3, @profile.website_with_protocol(@profile.website_3),
              target: '_blank' if @profile.website_3.present? %>
            </p>
          <!-- Show the view for just one website: -->
          <% elsif @profile.website.present? %>
            <h5> <%= t(:website, scope: 'profiles.show') %> </h5>
            <p>
              <%= link_to @profile.website, @profile.website_with_protocol(@profile.website),
              target: '_blank' %>
            </p>
          <% end %>
            <p class="pb-1"></p>
        <% end %>

        <% if @topics.present? %>
          <h5><%= t(:topics, scope: 'profiles.show') %></h5>
          <p class="pb-2 topics-profile">
            <%= raw @topics.sort.map { |topic| topic_link(topic) }.join(' ') %>
          </p>
        <% end %>

        <% if @profile.iso_languages.present? %>
          <h5><%= t(:languages, scope: 'profiles.show') %></h5>
          <p class="pb-2">
            <% @profile.iso_languages.each do |iso|%>
              <%= t("#{iso}", scope: 'iso_639_1').capitalize %>
            <% end %>
          </p>
        <% end %>

        <% if @profile.city.present? %>
          <h5><%= t(:city, scope: 'profiles.show') %></h5>
          <p class="pb-2">
            <%= @profile.city %></span>
          </p>
        <% end %>

        <% if @profile.country.present? %>
          <h5><%= t(:country, scope: 'profiles.show') %></h5>
          <p>
            <%= @profile.country_name %>
          </p>
        <% end %>
      </div>

      <div class="col-md-3">

        <% if current_profile != @profile %>
          <button type="button" class="btn btn-blue btn-block" data-toggle="modal" data-target="#contactModal">
            <i class="fa fa-envelope-o"></i>&nbsp;
            <%= t(:contact, scope: 'profiles.show') %>
          </button>
        <% end %>

        <% if current_profile == @profile %>
          <%= link_to(edit_profile_path(@profile)) do %>
            <div class='btn btn-blue buttons-modals btn-block'>
              <%= t(:edit, scope: 'profiles.show') %>
             </div>

          <%= link_to(profile_medialinks_path(@profile)) do %>
            <div class='btn btn-blue buttons-modals mt-3 btn-block'>
              <%= t(:edit, scope: 'profiles.medialinks') %>
            </div>
          <% end %>

          <%= link_to(edit_profile_registration_path) do %>
            <div id='accountSettings', class='btn btn-blue buttons-modals btn-block mt-3'>
              <%= t(:account, scope: 'layouts.application') %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>

    <% if @profile.bio %>
      <div class="row mb-3">
        <div class="col p-3 bg--white">
          <h5><%= t(:bio, scope: 'profiles.show') %></h5>
          <%= simple_format(@profile.bio) %>
        </div>
      </div>
    <% end %>

    <% if @profile.medialinks.any? %>
      <div class="row mb-3">
        <div class="col p-3 bg--white">
          <h5><%= t(:media, scope: 'profiles.show') %></h5>

          <% @medialinks.each do |medialink| %>
            <br>
            <% if medialink.url =~ /youtube|vimeo/i %>
              <b><%= medialink.title %></b>
              <%= medialink.url_html if medialink.url != 'http://' %>
            <% else %>
              <%= link_to medialink.title, medialink.url, class:"font-weight-bold" %>
            <% end %>
            <br>
            <br>
            <%= simple_format(medialink.description) %>
            <span>
              <%= t(:select_language, scope: 'medialinks') + t("#{medialink.language}", scope: 'iso_639_1').capitalize if medialink.language.present? %>
            </span>
            <br>
            <hr>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>


<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <%= "#{t(:email_to, scope: 'profiles.show' )} #{@profile.fullname}:"%>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact/form', locals: {url: contact_profile_path(@profile)} %>
      </div>
    </div>
  </div>
</div><!-- Modal -->

</section>
