<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1>
      <%= t(:title, scope: 'profiles.index') %>
    </h1>
    <p>
      <%= t(:text, scope: 'profiles.index').html_safe %>
    </p>

    <%= render partial: 'shared/profile_search' %>

    <div class="layout mb+ pt">
      <% if @profiles.any? %>
        <%= render partial: 'profiles/profile', object: @profiles[0], locals: { is_first: true } %>
        <% if @profiles.size > 1 %>
          <%= render partial: 'profiles/profile', collection: @profiles[1..-2] %>
          <%= render partial: 'profiles/profile', object: @profiles[-1], locals: { is_last: true } %>
        <% end %>
      <% else %>
        <div class="layout__item 1/1 mb">
          <%= t(:no_profile, link: link_to(t(:all_profiles, scope: 'search'), profiles_path), scope: 'search').html_safe %>
        </div>
      <% end %>
    </div>

    <%= paginate @profiles %>

    <%= render partial: 'profiles/tag' %>

    <%= render partial: 'layouts/footer' %>

  </div>
</section>
