<div class="container py-5">
  <%= render 'shared/error_messages' %>

  <h1 class="my-5">
    <%= t(:account_from, scope: "devise.registrations.edit") %> <%= @profile.fullname %>:
  </h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { method: :put }) do |f| %>

    <div class="p-3 mb-5 bg--white">

      <p class="mb-3">
        <%= t(:change_email, scope: "devise.registrations.edit").html_safe %>
      </p>

      <%= f.input :email, placeholder: t(:email_placeholder, scope: "devise.registrations.edit"),
          label: t(:email, scope: "devise.registrations.edit").html_safe,
          label_html: { id: "devise_email" }, autofocus: true,
          input_html: { class: 'form-control mb-3', size: 50 } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="text-danger"><%= t(:confirmation, scope: "devise.registrations.edit" ).html_safe %><%= resource.unconfirmed_email %></p>
      <% end %>

      <% if f.object.encrypted_password.present? %>

        <%= f.input :current_password, placeholder: t(:password_placeholder,
          scope: "devise.registrations.edit"),
          label: t(:password, scope: "devise.registrations.edit").html_safe,
          input_html: { size: 50, class:'form-control' } %>

      <% end %>

      <%= button_to t(:update, scope: "devise.registrations.edit"),
      registration_path(resource_name), data: { confirm: t(:sure, scope: "devise.registrations.edit") },
      method: :put, class:"btn btn-primary mt-3" %>

    </div>
  <% end %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { method: :put }) do |f| %>

    <% if f.object.encrypted_password.present? %>

      <div class="p-3 mb-5 bg--white">

        <h4><%= t(:password_change, scope: "devise.registrations.edit") %></h4>

        <%= f.input :current_password, placeholder: t(:password_current_placeholder,
          scope: "devise.registrations.edit"),
          label: t(:password_current, scope: "devise.registrations.edit").html_safe,
          input_html: { size: 50, class:'form-control mb-3' } %>

        <%= f.input :password, label: t(:password, scope:"devise.passwords"),
          autocomplete: "off", placeholder: t(:new_password, scope: "devise.passwords"),
          label: t(:new_password, scope: "devise.passwords"), input_html: { size: 50, class:'form-control mb-3' } %>

        <%= f.input :password_confirmation, label: t(:password_confirmation, scope:"devise.passwords"),
          placeholder: t(:password_confirmation, scope: "devise.passwords"),
          input_html: { class: 'form-control mb-3', size: 50}  %>

        <%= button_to t(:update, scope: "devise.registrations.edit"),
        registration_path(resource_name), data: { confirm: t(:sure, scope: "devise.registrations.edit") },
        method: :put, class:"btn btn-primary" %>

      </div>
    <% end %>
  <% end %>

  <div class="p-3 mb-5 bg--white">
    <% if @profile.inactive? %>
      <h4><%= t(:set_active, scope: "devise.registrations.edit") %></h4>
    <% else %>
      <h4><%= t(:set_inactive, scope: "devise.registrations.edit") %></h4>
    <% end %>
    <%= simple_form_for(@profile, html: { multipart: true } ) do |f| %>
      <div class="mt-5">
        <%= f.radio_button :inactive, false, class: "", id: "" %>
        <%= f.label :inactive, t(:active_label ,scope: "devise.registrations.edit").html_safe %>
      </div>
      <div>
        <%= f.radio_button :inactive, true, class: "", id: "" %>
        <%= f.label :incative, t(:inactive_label, scope: "devise.registrations.edit").html_safe %>
      </div>
      <br>
      <%= f.button :submit, t(:update, scope: 'profiles.form').html_safe, class:'btn btn-primary' %>
    <% end %>
  </div>
  <a id="inactive_anchor"></a>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { method: :put }) do |f| %>

    <div class="p-3 my-5 alert-warning">

      <p><b><%= t(:delete_account, scope: "devise.registrations.edit") %></b></p>
      <p><%= t(:unhappy, scope: "devise.registrations.edit") %></p>

      <%= button_to t(:delete, scope: "devise.registrations.edit"),
      registration_path(resource_name), data: { confirm: t(:sure, scope: "devise.registrations.edit") },
      method: :delete, class:"btn btn-danger" %>

    </div>
  <% end %>
  <%= link_to(t(:show, scope: 'profiles.edit').html_safe, @profile, class: 'btn btn-outline-primary mt-3' ) %>

</div>
