 <form class="form-horizontal well">
  <fieldset>
    <legend>Account von <%= @profile.firstname %></legend>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="control-group">
      <%= f.label :email, class:"control-label" %>
      <div class="controls">
        <%= f.email_field :email, :autofocus => true, class:"input-xlarge", id:"input01"%>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="controll-group">
      <%= f.label :current_password, class:"control-label" %> 
      <div class="controls">
        <%= f.password_field :current_password, class:"input-xlarge", id:"input01" %>
        <p class="help-block">(we need your current password to confirm your changes)</p>
        <br>
      </div>
    </div>

    <div class="controll-group">
      <%= f.label :password, class:"control-label"%>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off", class:"input-xlarge", id:"input01" %>
      <p class="help-block">(leave blank if you don't want to change it)</p>
      <br>
      </div>
    </div>

    <div class="controll-group">
      <%= f.label :password_confirmation, class:"control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, class:"input-xlarge", id:"input01" %>
      </div>
    </div>
  <div class="form-actions">
    <%= f.submit "Update Account", class:"btn btn-danger"%>
  </div>

<% end %>

<h3>Lösche meinen Account</h3>
  <div class="form-actions">
    <p>Unhappy? <%= button_to "Löschen", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class:"btn btn-primary" %>.</p>
  </div>
</fieldset>
</form>