<section class="content--bg-grey pb+">
  <div class="layout-wrapper">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "sans-serif" }) do |f| %>
      <%= devise_error_messages! %>

      <h1 class="mb+">
        <%= t(:account_from, scope: "devise.registrations.edit") %> <%= @profile.firstname %>:
      </h1>

      <%= f.input :email, label: t(:email, scope: "devise.registrations.edit"), autofocus: true, input_html: { class: 'mb'} %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <b><%= t(:confirmation, scope: "devise.registrations.edit" ) %><%= resource.unconfirmed_email %></b>
      <% end %>

      <% if f.object.encrypted_password.present? %>

        <p class="text--color-red">
          <%= t(:password_needed, scope: "devise.registrations.edit") %>
        </p>
        <%= f.input :current_password, placeholder: t(:password_current, scope: "devise.registrations.edit"), label: t(:password_current, scope: "devise.registrations.edit") %>
        <p class="text--color-red">
          <%= t(:password_blank, scope: "devise.registrations.edit") %>
        </p>
        <%= f.input :password, autocomplete: "off", class:"", placeholder: t(:new_password, scope: "devise.passwords"),label: t(:new_password, scope: "devise.passwords") %>
        <br>
        <%= f.input :password_confirmation, label: t(:password_confirmation, scope:"devise.passwords"), placeholder: t(:password_confirmation, scope: "devise.passwords"), input_html: { class: 'mb'}  %>

      <% end %>

      <%= f.submit t(:update, scope: "devise.registrations.edit"), class:"btn btn--small" %>

      <h2 class="mt pt bt"><%= t(:delete_account, scope: "devise.registrations.edit") %></h2>
      <%= t(:unhappy, scope: "devise.registrations.edit") %>
    <% end %>

    <%= button_to t(:delete, scope: "devise.registrations.edit"), registration_path(resource_name), data: { confirm: t(:sure, scope: "devise.registrations.edit") }, method: :delete, class:"btn btn--danger btn--small mt mb+" %>

  </div>
</section>
