<div class="container profiles">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: "form-horizontal well" }) do |f| %>

    <div class="row">
      <div class="span8">
        <%= devise_error_messages! %>
        <h1>
          <%= t ".account_from" %> <%= @profile.firstname %>
        </h1>
        <br>
        <div class="control-group">
          <%= f.label :email, class:"control-label" %>
          <div class="controls">
            <%= f.email_field :email, autofocus: true, class:"input-xlarge" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t ".confirmation" %><%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <% if f.object.encrypted_password.present? %>
        
          <div class="controll-group">
            <%= f.label :old_password, class:"control-label" %>
            <div class="controls">
              <%= f.password_field :current_password, class:"input-xlarge" %>
              <p class="help-block"><%= t ".password_needed" %></p>
              <br>
            </div>
          </div>

          <div class="controll-group">
            <%= f.label :new_password, class:"control-label" %>
            <div class="controls">
              <%= f.password_field :password, autocomplete: "off", class:"input-xlarge" %>
              <p class="help-block"><%= t ".password_blank" %></p>
              <br/>
            </div>
          </div>
      </div>
      <div class="span4">
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div class="controll-group">
          <%= f.label :password_confirmation, class:"control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation, class:"input-xlarge" %>
          </div>
        </div>
      </div>
      <div class="span5">
        <%= f.submit(t(".update"), class:"btn btn-warning btn-large") %>
      </div>
        <% end %>
</div>
<br>
<hr>
<div class="row">
<div class="span8">
  <h2><%= t ".delete_account" %></h2>
    <%= t ".unhappy" %>
</div>
<div class="span3">
<br>
<br>
<br>
<% end %>
  <%= button_to(t(".delete"), registration_path(resource_name), data: { confirm: t(".sure") }, method: :delete, class:"btn btn-danger btn-large") %>
</div>
</div>
</div>
</div>
