

<div class="container">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal well"}) do |f| %>
  <%= render 'shared/error_messages' %>
 

  <fieldset>
  <legend> Sign up </legend>
   <div class="row">
    <div class="span6 control-group-one">
    
    <div class="control-group ">
    <%= f.label :firstname,  class:"control-label"%>
    <div class="controls">
      <%= f.text_field :firstname, :autofocus => true, class:"input-xlarge", id:"input01"%>
    </div>
  </div>
  
  <div class="control-group ">
    <%= f.label :lastname, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :lastname, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group ">
    <%= f.label :bio, class:"control-label" %>
    <div class="controls">
      <%= f.text_area :bio, class:"input-xlarge", id:"input01" %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :topic_list, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :topic_list, class:"input-xlarge", id:"tag-field-new" %>
    </div>
  </div> 

   <div class="control-group">
      <%= f.label :tag_list, class:"control-label" %>
      <div class="controls tag_list">
        <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
          <% if @profile.topic_list.include?(tag_name) %>
              <span class="badge add-tag-trigger"><%= tag_name %></span>
            <% else %>
              <span class="badge badge-inverse add-tag-trigger"><%= tag_name %></span>
          <% end %>
        <% end %>
      </div>
    </div>


  <div class="control-group">
    <%= f.label :talks, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :talks, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :languages, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :languages, class:"input-xlarge" %>
    </div>
  </div>

 

  <div class="control-group">
    <%= f.label :city, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :city, class:"input-xlarge" %>
    </div>
  </div>

   </div>
  <div class="span6">
 
  <div class="control-group">
    <%= f.label :twitter, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :twitter, class:"input-xlarge" %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :picture, class:"control-label" %>
    <div class="controls">
      <%= f.file_field :picture, class:"input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t(".sign_up"), class:"btn btn-primary")%>
  </div>
  
  <% end %>
  <div class="forget-password">
   <%= render "devise/shared/links" %>
 </div>
</div>
</div>

<script type="text/javascript">
  $(".add-tag-trigger").click(function() {
    var nameOfTag    = $(this).html();
    var existingTags = $("#tag-field-new").val();
    //check if tag is in the list of tags
    if (existingTags.indexOf(nameOfTag) < 0) {
      if (existingTags.length == 0) {
        $("#tag-field-new").val(nameOfTag);
      } else {
        $("#tag-field-new").val(existingTags+' '+nameOfTag);
      }
      $(this).removeClass("badge-inverse");
    } else {
      var newTags = existingTags.replace(nameOfTag, "").replace(/  /g, " ");
      $("#tag-field-new").val(newTags);
      $(this).addClass("badge-inverse");
    }
  });
</script>

  </fieldset>
</form>


