<div id="container">
  <div id="badge-log">
    <div id="badge-inner">

      <div id="logo">
        <%= image_tag("logo8.png", id:"logo8") %>
      </div>

      <div id="login">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-vertical"}) do |f| %>
            <%= f.input :email, placeholder: t(:email, scope: "devise.registrations"), :autofocus => true, label: false %>

          <% if f.object.password_required? %>
            <%= f.input :password, placeholder: t(:password, scope: "devise.registrations"), label: false %>
            <%= f.input :password_confirmation, placeholder: t(:confirmation, scope: "devise.registrations"), label: false %>

            <%= f.submit t(:signup, scope: "devise.registrations"), class:'btn' %>
            <br>
              <% if devise_mapping.omniauthable? %>
                <% Profile.omniauth_providers.each do |provider| %>
                  <%= link_to t(:signup_via, scope: "devise.registrations"), omniauth_authorize_path(:profile, provider), class: 'btn' %>
                <% end %>
              <% end %>
              <br>
              <br>
              <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to t(:no_confirmation, scope: "devise.registrations"), new_confirmation_path(:profile) %><br />
              <% end %>

          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
