<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal well"}) do |f| %>
  
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</p>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Sign up</legend>

    <div class="control-group">
    <%= f.label :firstname, class:"control-label"%>
    <div class="controls">
      <%= f.text_field :firstname, class:"input-xlarge", id:"input01"%>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :lastname, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :lastname, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :bio, class:"control-label" %>
    <div class="controls">
      <%= f.text_area :bio, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :topic_list, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :topic_list, class:"input-xlarge", id:"tag-field-new" %>
    </div>
  </div> 

   <div class="control-group">
      <%= f.label :tag_list, class:"control-label" %>
      <div class="controls tag_list">
        <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
          <span class="badge badge-inverse add-tag-trigger"><%= tag_name %></span>
        <% end %>
      </div>
    </div>


  <div class="control-group">
    <%= f.label :talks, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :talks, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :languages, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :languages, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :city, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :twitter, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :twitter, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :picture, class:"control-label" %>
    <div class="controls">
      <%= f.file_field :picture, class:"input-xlarge" %>
    </div>
  </div>
  <hr>
  <div class="control-group">
    <%= f.label :email, class:"control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true, class:"input-xlarge"%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class:"control-label" %>
    <div class="controls">
      <%= f.password_field :password, class:"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, class:"control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class:"input-xlarge" %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit(t(".sign_up"), class:"btn btn-primary")%>
  </div>



<% end %>
<%= render "devise/shared/links" %>
  </fieldset>
</form>

<script type="text/javascript">
  $(".add-tag-trigger").click(function() {
    var nameOfTag = $(this).html();
    var existingTags = $("#tag-field-new").val();
    //check if tag is in the list of tags
    if (existingTags.indexOf(nameOfTag) < 0) {
      $("#tag-field-new").val(existingTags+', '+nameOfTag);
    }
  });
</script>