<div class='container profiles'>
  <div class='row'>
    <div class='span12'>
      <p class='notice'>
        <%= t(:success, scope: 'search', searchparams: params[:q], count: @results.total_count).html_safe %>
        <%= t(:result, scope: 'search', count: @results.total_count)%>
      </p>
    </div>
  </div>
  <div class='row'>
    <%= render :partial => '/profiles/profile', :collection => @results.map(&:profile) %>
  </div>
  <div class='row'>
    <div class='span12 text--center'>
      <%= paginate @results %>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
