<div class="span12">
  <%= paginate @results %>
  <% if @results.size == 0 %>
    <p style="font-size:18px">
      You searched for <b>"<%= params[:q] %>"</b> but we didnt find anything.
    </p>
  <% else %>
  <p style="font-size:18px">
    You searched for <b>"<%= params[:q] %>"</b> and we found <%= pluralize(@results.size, "result") %>. 
  </p>
    <%= render :partial => "/profiles/profile", :collection => @results %>
  <% end %>
</div>