<div class="text-center">
  <div class="the-badge">
    <div class="image-only-container">
      <div class="badge-rope-left badge-rope-height">
      </div>
      <div class="badge-rope-right badge-rope-height">
      </div>
    </div>
    <div class="image-only-container">
      <div class="badge-connector badge-connector-height">
        <div class="circle-container-big">
          <div class="circle-big circle-light-metallic">
            <div class="circle-medium inner-circle circle-light">
            </div>
          </div>
        </div>
        <div class="circle-container-medium">
          <div class="circle-medium circle-dark-metallic">
            <div class="circle-small inner-circle circle-dark">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="badge-canvas text-center">
      <div class="image-only-container">
        <div class="badge-perforation">
        </div>
      </div>
      <div class="text-center">
        <%= image_tag("logo_header#{'_black_' + current_region.to_s if current_region}.png") %>
      </div>

      <div class="p-3 pb-5 login-form">
        <%= simple_form_for(resource, as: resource_name, url: @target_url, html: { class: ""}) do |f| %>

          <%= invisible_captcha %>
          <% if @signup && f.object.password_required? == false %>
            <%= t(:explanation_email, scope: "devise.registrations") %>
            <%= f.input :email, placeholder: t(:email, scope: "devise.registrations"),
            autofocus: true, label: false, input_html: { class: 'form-control mb-3' } %>
          <% else %>
            <%= f.input :email, placeholder: t(:email, scope: "devise.registrations"),
            autofocus: true, label: false, input_html: { class: 'form-control mb-3' } %>
            <%= f.input :password, placeholder: t(:password, scope: "devise.registrations"),
            label: false, input_html: { class: 'form-control mb-3' } %>
            <% if @signup %>
              <%= f.input :password_confirmation, placeholder: t(:confirmation, scope: "devise.registrations"),
              label: false, input_html: { class: 'form-control mb-3' } %>
            <% end %>
          <% end %>

          <% if !@signup && devise_mapping.rememberable? %>
            <div class="px-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, t(:remember, scope: "devise.registrations") %>
              </div>
          <% end %>

          <% button = @signup ? 'signup' : 'signin' %>

          <!-- Make sure cookie consent is given -->
          <% if cookies[:cookie_consent].blank? %>
            <%= link_to(t(button, scope: "devise.registrations"), "#link", "data-role" => "button", "data-toggle" => "modal", "data-target" => "#authModal", class: 'btn btn-primary mb-3') %>
          <% else %>
            <%= f.submit t(button, scope: "devise.registrations"), class:'btn btn-primary mb-3' %>
          <% end %>

          <% if !@signup && devise_mapping.recoverable? && controller_name != 'passwords' %>
            <% if cookies[:cookie_consent].blank? %>
              <%= link_to(t(:forgot_password, scope: "devise.registrations"), "#link", "data-role" => "button", "data-toggle" => "modal", "data-target" => "#authModal", class: "mb-3" ) %>
            <% else %>
              <%= link_to t(:forgot_password, scope: "devise.registrations"), new_password_path(resource_name), class:"mb-3" %>
            <% end %>
          <% end %>

          <div>
            <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to t(:no_confirmation, scope: "devise.registrations"), new_confirmation_path(:profile) %>
            <% end %>
            <% if !@signup && devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<% if cookies[:cookie_consent].blank? %>
  <script>
    $('#authModal').modal('show')
  </script>
<% end %>
