<h1>Blocked Email</h1>

<p><strong>From:</strong> <%= @blocked_email.email %></p>
<p><strong>Subject:</strong> <%= @blocked_email.subject %></p>
<p><strong>Body:</strong></p>
<pre><%= @blocked_email.body %></pre>
<p><strong>Blocked Reason:</strong> <%= @blocked_email.reason %></p>
<p><strong>Created at:</strong> <%= @blocked_email.created_at.strftime("%Y-%m-%d %H:%M") %></p>

<%= link_to 'Back to list', admin_blocked_emails_path %>
