<div class="container py-5 bg--white">
  <h1 class="pb-5">Administration</h1>
  <h5><%= link_to(t(:categories, scope: "admin.dashboard"), admin_categories_path)%></h5>
  <h5><%= link_to(t(:tags, scope: "admin.dashboard"), admin_tags_path) %></h5>
  <h5><%= link_to(t(:profiles, scope: "admin.dashboard"), admin_profiles_path) %></h5>
  <h5><%= link_to(t(:features, scope: "admin.dashboard"), admin_features_path) %></h5>
  <h5><%= link_to(t(:offensive_terms, scope: "admin.dashboard"), admin_offensive_terms_path) %></h5>
  <h5 class="d-flex align-items-center gap-3">
    <%= link_to(t(:blocked_emails, scope: "admin.dashboard"), admin_blocked_emails_path) %>
    <span class="fw-normal fs-6 text-muted">
      ( Nicht geprüft:
    <span class="badge bg-danger"><%= @unreviewed_count %></span> )
    </span>
  </h5>
</div>
