<div class="p-3 mb-2 bg-warning text-dark">
  <h4>Admin Aktionen</h4>
  <%= @profile.published? ? t(:profile_status, scope: 'admin.profiles') + t(:public, scope: 'admin.profiles') + ' ' : "Profile is not public" %>:<br>
  <% if @profile.published %>
    <%= link_to t(:make_invisible, scope: 'admin.profiles'), unpublish_admin_profile_path(@profile.id),
    method: :post, class:'btn btn-danger mt-2', title: 'Hier kannst Du das Profile wieder unsichtbar machen.' %>
  <% else %>
    <%= link_to t(:make_public, scope: 'admin.profiles'), publish_admin_profile_path(@profile.id),
    method: :post, class:'btn btn-danger mt-2', title: 'Eine Bestätigungsmail wird verschickt.' %>
  <% end %>
  <br>
  <br>
  Interner Kommentar (nur für die Admins sichtbar) :
  <%= form_for @profile,{ url: admin_update_admin_profile_path(@profile.id), method: 'post',html: { class: 'from-group' } } do |f| %>
    <%= hidden_field_tag 'page', page %>
    <%= f.text_field 'admin_comment', class:"form-control" %>
    <%= f.submit t(:add_comment, scope: 'admin.profiles'), class: 'btn btn-primary mt-2' %>
  <% end %>
  <br>
  <%= t(:feature_list, scope: 'admin.profiles').html_safe %>:
  <%= simple_form_for @profile, { url: admin_update_admin_profile_path(@profile.id), method: 'post',
      html: { class: 'mt-2' }}  do |f| %>
      <%= f.select(:feature_ids, Feature.all.map{|feature|[feature.title, feature.id]}, { include_blank: true }, :multiple => true, id: :select_feature, class: 'select_feature') %>
      <%= f.submit t(:assign_feature, scope: 'admin.profiles'), class: 'btn btn-primary' %>
  <% end  %>
  <br>
  <hr>
  <h4>Admin Infos</h4>
  <p>
    E-Mail Adresse:<br>
    <b><%= @profile.email %></b>
  </p>
  <p>
    Speakerin kann kontaktiert werden:<br>
    <b><%= @profile.inactive ? "Nein" : "Ja" %></b>
  </p>
</div>
<script>
    $(document).ready(function() {
      $('#select_feature').select2({
        placeholder: "Click here"
      });
    });
</script>
