<div class="container profiles">
  <div class="row">
    <div class="span12">
      <h1 class="title-profiles">Administration::<%= t(:profiles, scope: "admin.dashboard.profiles")%>::<%= t(:edit, scope: "general")%></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12 text-right">
      <%= link_to(t(:show, scope: "admin.dashboard.profiles.edit"), admin_profile_path(@profile), class:"btn btn-small") %>
      <%= link_to(t(:show_all, scope: "admin.dashboard.profiles.edit"), admin_profiles_path, class:"btn btn-small") %>
      <% if @profile.published %>
        <%= link_to(t(:public, scope: "admin.dashboard.profiles"), unpublish_admin_profile_path(@profile.id), method: :post, class:"btn btn-small btn-warning") %>
      <% else %>
        <%= link_to(t(:invisible, scope: "admin.dashboard.profiles"), publish_admin_profile_path(@profile.id), method: :post, class:"btn btn-small btn-danger") %>
      <% end %>
    </div>
  </div>

  <%= render 'form' %>
</div>
