<div class="wrapper">
     
    </noscript>
    <div class="page">
         <img src="//pulse.adparlor.com/conversion.php?uid=526" style="position:absolute;width:0px;height:0px"/>  

    <div class="header-container">
                
    
    
    <div class="top-header">
                <div class="right">
            <div class="btn drop-down-holder addpadding">
                mag.lipinska                <div class="icon"></div>
                <div class="drop-down">
                    <div class="eckschen"></div>
                    <div class="inner rb full">
                        <ul>
                            <li><a href="https://monoqi.com/en/store/customer/account/edit/">Account</a></li>
                            <li><a href="https://monoqi.com/en/store/newsletter/manage/">Newsletter</a></li>
                            <li><a href="https://monoqi.com/en/store/sales/order/history/">Orders</a></li>
                         <!--   ?if(Mage::helper("monoqi_rma")->hasUserRMA()): ?>
                                <li><a href=" ?= $this->getUrl('rma/return/history')?>"> ?= $this->__('Returns') ? </a></li>
                            ?endif;? -->
                            <li><a href="https://monoqi.com/en/store/monoqishop/dashboard/">Invitations</a></li>
                            <li><a href="https://monoqi.com/en/store/storecredit/info/">Credits</a></li>                        
                            <li><a href="https://monoqi.com/en/store/customer/account/logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn"><a href="https://monoqi.com/en/store/monoqishop/dashboard/"> Invite Friends</a></div>
        </div>
                <div class="clear"></div>
    </div>
    <div class="header">
        <div class="logo-wrapper with-user">
            <a href="https://monoqi.com/en/store/" class="logo">&nbsp;</a>
        </div>




<h1>Admin::Profiles#index</h1>
<table>
		<tr>
			<td>
				<b>Profile</b>
			</td>
		</tr>
	<% @profiles.each do |profile|  %>
		<tr>
			<td style="width:200px">
				<%= name_or_email(profile) %>
			</td>
			<td style="width:60px">
				<%= link_to ('Show'), admin_profile_path(profile) %>
			</td>
			<td style="width:60px">
				<%= link_to ('Edit'), edit_admin_profile_path(profile) %>
			</td>
			<td style="width:60px">
				<%= link_to ('Destroy'), admin_profile_path(profile), :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>
<br>
<%= link_to ('New Profile'), profiles_new_path %> (Doesnt work, because you are already signed in.)
