<div class="full-width-container administration">
  <div class="full-width-row">
    <div class="breadcrumb-navigation">Administration::<%= t(:profiles, scope: "admin.dashboard.profiles")%></div>
    <%= Profile.all.size %> Speakerinnen.
    <%= Profile.all.select {|profile| profile.published?}.size %> <%= t(:public, scope: "admin.dashboard.profiles") %>.
  <div class="text-center">
      <%= paginate @profiles %>
  </div>
  <table class="table table-striped sort-arrows">
    <thead>
      <tr>
        <th>
          <%= sortable "lastname", "Speakerinnen" %>
        </th>
        <th>
          <%= sortable "created_at", t(:created_at, scope: "admin.dashboard.profiles") %>
        </th>
        <th>
          Media Links
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
          <%= sortable "published", t(:visibility, scope: "admin.dashboard.profiles") %>
        </th>
        <th><%= t(:roles, scope: "admin.dashboard.profiles") %>
        </th>
        <th><%= t(:comment, scope: "admin.dashboard.profiles") %>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @profiles.each do |profile|  %>
      <tr>
        <td>
          <%= link_to name_or_email(profile), admin_profile_path(profile) %>
        </td>
        <td>
          <%= profile.created_at.strftime('%d.%m.%Y um %H:%M Uhr') %>
        </td>
        <td>
          <%= link_to(profile.medialinks.size, admin_profile_medialinks_path(profile)) %>
        </td>
        <td>
          <%= link_to t(:edit, scope: "general"), edit_admin_profile_path(profile) %>
        </td>
        <td>
          <%= link_to t(:delete, scope: "general"), admin_profile_path(profile), confirm: "Do you really want to delete: #{name_or_email(profile)}?", method: :delete %>
        </td>
        <td>
          <% if profile.published %>
            <%= form_for profile,{ url: unpublish_admin_profile_path(profile.id), method: "post" } do |f| %>
            <%= f.submit t(:public, scope: "admin.dashboard.profiles"), class: "btn btn-small btn-warning" %>
            <% end %>
          <% else %>
            <%= form_for profile,{ url: publish_admin_profile_path(profile.id), method: "post" } do |f| %>
              <%= f.submit t(:invisible, scope: "admin.dashboard.profiles"), class: "btn btn-small btn-danger" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= "Admin" if profile.admin %>
        </td>
        <td>
          <%= form_for profile,{ url: admin_comment_admin_profile_path(profile.id), method: "post", class: "form form-vertical" } do |f| %>
            <div class="control-group">
              <%= f.text_field "admin_comment", class: "form-control" %>
            </div>
            <div class="control-group">
              <%= f.submit t(:add_comment, scope: "admin.dashboard.profiles"), class: "btn btn-small btn-info" %>
            </div>
          <% end  %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
  <div class="text-center">
      <%= paginate @profiles %>
  </div>
</div>

</div>
