<div class="container profiles">
  <h1 class="title-profiles">Admin::Profiles#index</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Speakerinnen
        </th>
      </tr>
    </thead>
    <tbody>
    <% @profiles.each do |profile|  %>
      <tr>
        <td style="width:200px">
          <%= name_or_email(profile) %>
        </td>
        <td style="width:60px">
          <%= link_to t('.show'), admin_profile_path(profile) %>
        </td>
        <td style="width:60px">
          <%= link_to t('.edit'), edit_admin_profile_path(profile) %>
        </td>
        <td style="width:150px">
          <%= link_to t('.destroy'), admin_profile_path(profile), confirm: 'Are you sure?', method: :delete %>
        </td>
        <td style="width:150px">
          <% if profile.published %>
            <%= form_for profile,{ url: unpublish_admin_profile_path(profile.id), method: "post" } do |f| %>
            <%= f.submit "Unpublish", class: "btn btn-small btn-warning" %>
            <% end %>
          <% else %>
            <%= form_for profile,{ url: publish_admin_profile_path(profile.id), method: "post" } do |f| %>
              <%= f.submit "Publish", class: "btn btn-small btn-danger" %>
            <% end %>
          <% end %>
        </td>
        <td style="width:60px; color:red">
          <%= "Admin" if profile.admin %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
