<div class="container profiles">
  <h1 class="title-profiles">Admin::Profiles#index</h1>
  <table class="table table-striped pretty" style="table-layout:fixed">
    <thead>
      <tr>
        <th style="width:180px; overflow:hidden">
          <%= @profiles.size %>
          <%= sortable "lastname", "Speakerinnen" %>
        </th>
        <th>
          <%= sortable "created_at", "Erstellt am:"%>
        </th>
        <th>
          MedLi
        </th>
        <th>
        </th>
        <th>
        </th>
        <th style="width:100px;">
         <%= @profiles.select {|profile| profile.published?}.size %>
        <%= sortable "published", "Published" %>
        </th>
        <th>
        </th>
        <th>Kommentar:
        </th>
      </tr>
    </thead>
    <tbody>
    <% @profiles.each do |profile|  %>
      <tr>
        <td>
          <%= link_to name_or_email(profile), admin_profile_path(profile) %>
        </td>
        <td>
          <%= profile.created_at.strftime('%d.%m.%Y um %H:%M Uhr') %>
        </td>
        <td>
          <%= link_to(profile.medialinks.size, admin_profile_medialinks_path(profile)) %>
        </td>
        <td>
          <%= link_to t('.edit'), edit_admin_profile_path(profile) %>
        </td>
        <td>
          <%= link_to t('.destroy'), admin_profile_path(profile), confirm: 'Are you sure?', method: :delete %>
        </td>
        <td>
          <% if profile.published %>
            <%= form_for profile,{ url: unpublish_admin_profile_path(profile.id), method: "post" } do |f| %>
            <%= f.submit "Unpublish", class: "btn btn-small btn-warning" %>
            <% end %>
          <% else %>
            <%= form_for profile,{ url: publish_admin_profile_path(profile.id), method: "post" } do |f| %>
              <%= f.submit "Publish", class: "btn btn-small btn-danger" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= "Admin" if profile.admin %>
        </td>
        <td>
          <%= form_for profile,{ url: admin_comment_admin_profile_path(profile.id), method: "post" } do |f| %>
            <%= f.text_field "admin_comment" %>
            <%= f.submit "Kommentar hinzufügen" %>
          <% end  %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
