<section class="content--bg-white">
  <div class="layout-wrapper">

    <h1>Administration::<%= t(:profiles, scope: 'admin.dashboard.profiles')%></h1>

    <%= Profile.all.size %> Speakerinnen.
    <%= Profile.all.select {|profile| profile.published?}.size %> <%= t(:public, scope: 'admin.dashboard.profiles') %>.

    <%= form_tag(admin_profiles_path, method: 'get', class: 'font-size-24') do %>
      <%= text_field_tag :search, params[:search], placeholder: t(:search_for_name, scope: 'admin.dashboard.profiles') %>
      <%= submit_tag t(:search, scope: 'general'), class: 'btn btn--small' %>
    <% end %>

    <%= paginate @profiles %>

    <table class="table table--rows profiles">
      <thead class="bg--lightgrey">
        <tr>
          <td><%= sortable 'lastname', 'Speakerinnen' %></td>
          <td><%= sortable 'created_at', t(:created_at, scope: 'admin.dashboard.profiles') %></td>
          <td><%= sortable 'updated_at', t(:updated_at, scope: 'admin.dashboard.profiles') %></td>
          <td>Media Links</td>
          <td></td>
          <td></td>
          <td><%= sortable 'published', t(:visibility, scope: 'admin.dashboard.profiles') %></td>
          <td><%= t(:roles, scope: 'admin.dashboard.profiles') %></td>
          <td><%= t(:comment, scope: 'admin.dashboard.profiles') %></td>
        </tr>
      </thead>
      <tbody>
        <% @profiles.each do |profile|  %>
          <tr>
            <td><%= link_to profile.name_or_email, admin_profile_path(profile), html_options = { title: t(:show, scope: 'admin.dashboard.profiles.edit') } %></td>
            <td><%= profile.created_at.strftime('%d.%m.%Y um %H:%M Uhr') %></td>
            <td><%= profile.updated_at.strftime('%d.%m.%Y um %H:%M Uhr') %></td>
            <td><%= link_to profile.medialinks.size, admin_profile_medialinks_path(profile), html_options = { title: t(:show, scope: 'medialinks') } %></td>
            <td><%= link_to '<i class="fa fa-pencil">&nbsp;</i>'.html_safe, edit_admin_profile_path(profile), html_options = { title: t(:edit, scope: 'general') } %></td>
            <td><%= link_to '<i class="fa fa-trash-o">&nbsp;</i>'.html_safe, admin_profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_profile', title: t(:delete, scope: 'general') %></td>
            <td><% if profile.published %>
                <%= link_to t(:public, scope: 'admin.dashboard.profiles'), unpublish_admin_profile_path(profile.id), method: :post, class:'btn btn--small' %>
              <% else %>
                <%= link_to t(:invisible, scope: 'admin.dashboard.profiles'), publish_admin_profile_path(profile.id), method: :post, class:'btn btn--small btn--danger', title: 'Eine Bestätigungsmail wird verschickt.' %>
              <% end %>
            </td>
            <td><%= 'Admin' if profile.admin %></td>
            <td>
              <%= form_for profile,{ url: admin_comment_admin_profile_path(profile.id), method: 'post' } do |f| %>
                <%= f.text_field 'admin_comment' %>
                <%= f.submit t(:add_comment, scope: 'admin.dashboard.profiles'), class: 'btn btn--small' %>
              <% end  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @profiles %>

  </div>
</section>
