<div class="container">
  <%= render 'shared/error_messages' %>

  <div class="my-3 py-3">
    <%= link_to t(:show_all, scope: 'admin.profiles.edit'), admin_profiles_path, class:'btn btn-outline-primary btn-sm' %>
    <%= link_to t(:edit_profile, scope: "admin"), edit_admin_profile_path(@profile), class:"btn btn-blue btn-sm" %>
    <%= link_to t(:edit, scope: 'medialinks'), admin_profile_medialinks_path(@profile), class:'btn btn-blue btn-sm', title: t(:edit, scope: 'medialinks') %>
  </div>
  <%= render partial: 'admin_edit', locals: {page: "show"} %>
  <%= render partial: "profiles/show", object: @profile %>
</div>
