<div class="container">
  <%= render 'shared/error_messages' %>

  <h1>Admin::<%= t(:profiles, scope: 'admin.dashboard.profiles')%>::show</h1>

  <div class="my-3 py-3 border-vertical">
    <%= link_to t(:show_all, scope: 'admin.dashboard.profiles.edit'), admin_profiles_path, class:'btn btn-blue btn-sm' %>
    <%= link_to t(:edit_profile, scope: "admin.dashboard"), edit_admin_profile_path(@profile), class:"btn btn-blue btn-sm" %>
  </div>
  <%= render partial: 'admin_edit', locals: {page: "show"} %>
  <%= render partial: "shared/show", object: @profile %>

</div>
