<section class="bg--grey pb+">
  <div class="layout-wrapper">
    <div class="o-layout">
      <div class="o-layout__item 1/3">
        <h1>Admin::<%= t(:profiles, scope: 'admin.dashboard.profiles')%>::show</h1>
      </div>

      <div class="o-layout__item 2/3 text--right">
        <%= link_to(t(:edit_profile, scope: "admin.dashboard"), edit_admin_profile_path(@profile), class:"btn btn--danger btn--small") %>
        <%= link_to(t(:edit, scope: "medialinks"), admin_profile_medialinks_path(@profile), class:"btn btn--danger btn--small") %>
        <br>
        <%= link_to(t(:show_all, scope: "admin.dashboard.profiles.edit"), admin_profiles_path, class:"btn btn-blue btn--small mv") %>
      </div>
    </div>

    <div class="o-layout">
      <div class="o-layout__item 2/6">

          <%= profile_picture_link(@profile) %>
          <p class="mt0"><%= @profile.main_topic_or_first_topic.truncate(30) if @profile.main_topic_or_first_topic %></p>

      </div>

      <div class="o-layout__item 3/6 box__bg bg--white">

            <h2 class="delta sans-serif mb- bb pb">
              <% if @profile.published %>
                <%= t(:profile_status, scope: "admin.dashboard.profiles") + t(:public, scope: "admin.dashboard.profiles") %>
                <%= link_to t(:make_invisible, scope: 'admin.dashboard.profiles'), unpublish_admin_profile_path(@profile.id), method: :post, class:'btn btn--small btn--danger ml', title: 'Hier kannst Du das Profile wieder unsichtbar machen.' %>
              <% else %>
                <%= t(:profile_status, scope: "admin.dashboard.profiles") + t(:invisible, scope: "admin.dashboard.profiles") %>
                <%= link_to t(:make_public, scope: 'admin.dashboard.profiles'), publish_admin_profile_path(@profile.id), method: :post, class:'btn btn--small btn--danger ml', title: 'Eine Bestätigungsmail wird verschickt.' %>
              <% end %>
            </h2>
          <% if @profile.firstname.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:firstname, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.firstname %>
            </p>
          <% end %>

          <% if @profile.lastname.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:lastname, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.lastname %>
            </p>
          <% end %>

          <% if @profile.twitter.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:twitter, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%=link_to '@' + @profile.twitter_name_formatted, @profile.twitter_link_formatted,
              target: '_blank' %>
            </p>
          <% end %>

          <% if @profile.website.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:website, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= link_to @profile.website, @profile.website_with_protocol,
              target: '_blank' %>
            </p>
          <% end %>

          <h2 class="delta sans-serif mb-">
            <%= t(:topics, scope: 'profiles.profile') %>
          </h2>
          <p class="bb pb topics-profile">
            <%= raw @profile.topic_list.sort.map { |topic| topic_link(topic) }.join(' ') %>
          </p>

          <% if @profile.iso_languages.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:languages, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
            <% @profile.iso_languages.each do |iso|%>
              <%= t("#{iso}", scope: 'iso_639_1').capitalize %>
            <% end %>
            </p>
          <% end %>

          <% if @profile.city.present? %>
            <h2 class="delta sans-serif mb-">
              <%= t(:city, scope: 'profiles.profile') %>
            </h2>
            <p class="bb pb">
              <%= @profile.city %></span>
            </p>
          <% end %>
        </div>

      <div class="o-layout__item 1/6">
      </div>
    </div>

    <% I18n.available_locales.each do |available_locale| %>
      <% Globalize.with_locale(available_locale) do %>
        <% if @profile.main_topic || @profile.bio %>
        <h2>
          <%= t(available_locale, scope: 'i18n.language') %>
        </h2>
        <% end %>

        <% if @profile.main_topic %>
          <div class="o-layout pt">
            <div class="o-layout__item 5/6 box__bg bg--white">
              <h2 class="delta sans-serif pb">
                <%= t(:main_topic_title, scope: 'activerecord.attributes.profile') + ":" %>
              </h2>
              <%= @profile.main_topic %>
            </div>
          </div>
        <% end %>

        <% if @profile.bio %>
          <div class="o-layout pt">
            <div class="o-layout__item 5/6 box__bg bg--white">
              <h2 class="delta sans-serif pb">
                <%= t(:bio, scope: 'profiles.profile') %>
              </h2>
              <%= simple_format(@profile.bio) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @profile.medialinks.any? %>
      <div class="o-layout pt+">
        <div class="o-layout__item 5/6 box__bg bg--white mb+">
          <h2 class="delta sans-serif pb">
            <%= t(:media, scope: 'profiles.profile') %>
          </h2>

            <% @medialinks.each do |medialink| %>
              <% if medialink.url =~ /youtube|vimeo/i %>
                <b><%= medialink.title %></b>
                <%= medialink.url_html if medialink.url != 'http://' %>
              <% else %>
                <%= link_to medialink.title, medialink.url %>
              <% end %>
              <%= simple_format(medialink.description) %>
              <br>
              <span>
                <%= t(:select_language, scope: 'medialinks') + t("#{medialink.language}", scope: 'iso_639_1').capitalize if medialink.language.present? %>
              </span>
              <hr>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</section>
