<div class="text-center">
  <div class="the-badge">
    <div class="image-only-container">
      <div class="badge-rope-left badge-rope-height">
      </div>
      <div class="badge-rope-right badge-rope-height">
      </div>
    </div>
    <div class="image-only-container">
      <div class="badge-connector badge-connector-height">
        <div class="circle-container-big">
          <div class="circle-big circle-light-metallic">
            <div class="circle-medium inner-circle circle-light">
            </div>
          </div>
        </div>
        <div class="circle-container-medium">
          <div class="circle-medium circle-dark-metallic">
            <div class="circle-small inner-circle circle-dark">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="badge-canvas text-center">
      <div class="image-only-container">
        <div class="badge-perforation">
        </div>
      </div>
      <div class="text-center">
        <%= image_tag('logo_header.png') %>
      </div>

      <div class="p-3 login-form">
        <h4><%= t(:edit_password, scope: "devise.passwords") %></h4>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: '' }) do |f| %>

          <%= f.hidden_field :reset_password_token %>

          <%= f.input :password, placeholder: t(:new_password, scope: "devise.passwords"), autofocus: true, label: false, input_html: { class: 'form-control mb-3' } %>
          <%= f.input :password, placeholder: t(:password_confirmation, scope: "devise.passwords"), label: false, input_html: { class: 'form-control mb-3' } %>
          <%= f.submit t(:new_password, scope: "devise.passwords"), class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
