<div class="container">
  <div style="margin-top:50px">
    <h2>Change your password</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <%= f.input :password, placeholder: "New password", :autofocus => true %>


        <%= f.input :password_confirmation, placeholder: "Confirm new password" %>
        <%= f.submit "Change my password" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
</div>
