<div class="container">
  <div style="margin-top:50px">
    <h2>Change your password</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <%= f.input :password, placeholder: "New password", :autofocus => true, label: false %>


        <%= f.input :password_confirmation, placeholder: "Confirm new password", label: false %>
        <%= f.submit "New password", class:'btn' %>
      <% end %>
    </div>
</div>
