<div class="container">
  <div id="badge-log">
    <div id="badge-inner">

      <div id="logo">
        <%= image_tag("logo8.png", id:"logo8") %>
      </div>

      <div id="login">
        <h4><%= t(:forgot_password, scope: "devise.registrations") %></h4>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form', method: :post }) do |f| %>
          <%= f.input :email, autofocus: true, label: false, placeholder: "Email"  %> 
          <%= f.submit "Send me reset password instructions", class:'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
