<% @categories.each do |category| %>
  <%
    bar_1 = 40 + category_profiles_ratio(category.id)
    bar_2 = 105 - bar_1
  %>
  <a href="<%= category_path(category.id) %>"class="progress">
    <span class="child">
      <div class="h4 category_name text-left pl-5 sans-serif"><%= category.name %></div>
    </span>
    <div class="progress-bar category_item_<%=category.short_name%>" role="progressbar" style="width: <%=bar_1%>%" aria-valuenow="<%=bar_1%>" aria-valuemin="0" aria-valuemax="100">
    </div>
    <div class="category_item_<%=category.short_name%>_numbers pr-5" role="progressbar" style="width: <%=bar_2%>%" aria-valuenow="<%=bar_2%>" aria-valuemin="0" aria-valuemax="100">
      <div class="h4 category_count text-right pr-3 pt-3"><%= category_profiles_count(category.id) %></div>
    </div>
  </a>
<% end %>
