<div class="progress_bar_part">
  <% @categories.each do |category| %>
    <%= link_to category_path(category, anchor: "speakers_anchor"), class: "progress" do %>
      <span class="child">
        <div class="h4 category_name">
          <%= category.name %>
          <span class="h4 category_count ps-5">
            <%= categories_profiles_counts[category.id] %> <%= t(:speakerinnen, scope: 'pages.home') %>
          </span>
          <span class="h4 category_count_short ps-2">
            <%= categories_profiles_counts[category.id] %>
          </span>
        </div>
      </span>
      <div
        class="progress-bar category_item_<%=category.slug%>"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
      </div>
    <% end %>
  <% end %>
</div>
<div class="progress_bar_part">
  <% @categories.each do |category| %>
    <% bar_1, bar_2 = category_bar_widths(category.id) %>
    <a href="<%= category_path(category.id, anchor: "speakers_anchor") %>"class="progress">
      <div class="progress-bar category_item_<%=category.slug%>" role="progressbar" style="width: <%=bar_1%>%" aria-valuenow="<%=bar_1%>" aria-valuemin="0" aria-valuemax="100">
      </div>
      <div class="category_item_<%=category.slug%>_numbers pe-5" role="progressbar" style="width: <%=bar_2%>%" aria-valuenow="<%=bar_2%>" aria-valuemin="0" aria-valuemax="100">
      </div>
    </a>
  <% end %>
</div>
