<% if current_region.nil? %>
  <div class="progress_bar_part">
    <% @categories.each do |category| %>
      <a href="<%= category_path(category.id, anchor: "speakers_anchor") %>"class="progress">
        <span class="child">
          <div class="h4 category_name">
            <%= category.name %>
            <span class="h4 category_count pl-5">
              <%= category_profiles_count(category.id).to_s + " " + t(:speakerinnen, scope: 'pages.home') %>
            </span>
            <span class="h4 category_count_short pl-2">
              <%= "(#{category_profiles_count(category.id).to_s})" %>
            </span>
          </div>
        </span>
        <div
          class="progress-bar category_item_<%=category.short_name%>"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        >
        </div>
      </a>
    <% end %>
  </div>
  <div class="progress_bar_part">
    <% @categories.each do |category| %>
      <%
        bar_1 = 40 + category_profiles_ratio(category.id)
        bar_2 = 200 - bar_1
      %>
      <a href="<%= category_path(category.id, anchor: "speakers_anchor") %>"class="progress">
        <div class="progress-bar category_item_<%=category.short_name%>" role="progressbar" style="width: <%=bar_1%>%" aria-valuenow="<%=bar_1%>" aria-valuemin="0" aria-valuemax="100">
        </div>
        <div class="category_item_<%=category.short_name%>_numbers pr-5" role="progressbar" style="width: <%=bar_2%>%" aria-valuenow="<%=bar_2%>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <div class="progress_bar_part">
    <% @categories.each do |category| %>
      <a href="<%= category_path(category.id, anchor: "speakers_anchor") %>"class="progress">
        <span class="child">
          <div class="h4 category_name text-left pl-5 sans-serif">
            <%= category.name %>
          </div>
        </span>
        <div class="category_item_<%=category.short_name%>" style="width:100%"></div>
      </a>
    <% end %>
  </div>
<% end %>
