<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <% @categories.each do |category| %>
        <a class="nav-link category-link <%= "active show" if category.id.to_s == ( params[:category_id]  || @category.id.to_s ) %>" id="v-pills-<%= category.short_name %>-tab" data-toggle="pill" href="#v-pills-<%= category.short_name %>" role="tab" aria-controls="v-pills-<%= category.short_name %>" aria-selected="false">
          <i class="fa fa-circle pr-2 small" id="icon-<%= category.short_name%>"></i><%= category.name %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="col-9">
    <h4 class="py-2"><%= t(:filter, scope: 'category') %></h4>
    <div class="tab-content mb-3" id="available-tags-box">
      <% @categories.each do |category| %>
        <div class="tab-pane fade <%= "active show" if category.id.to_s == ( params[:category_id]  || @category.id.to_s )%>" id="v-pills-<%= category.short_name %>" role="tabpanel" aria-labelledby="v-pills-<%= category.short_name %>-tab" >
          <%= render partial: "shared/tagbox", locals: { :tags => instance_variable_get("@tags_#{category.short_name}"), :category => category } %>
        </div>
      <% end %>
    </div>
    <div id="selected-tags-box" class="border border-dark my-3">
    </div>
    <div class="form-group text-right">
      <%= form_tag(profiles_path, method: "get") do %>
        <%= text_field_tag :tag_filter, params[:tag_filter], id: "hidden_tag_input", class: "form-control d-none" %>
        <span class="btn text-primary btn-link" id="clear">X Clear All</span>
        <%= submit_tag "Find A Speaker", class: "btn btn-primary", id: "search_in_topic" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $( "#available-tags-box .available-tag" ).click(function() {
    $(this).clone().appendTo( "#selected-tags-box" ).append("<i class='pl-2 fa fa-times-circle'></i>").removeClass("available-tag").addClass("selected-tag");
    $(this).addClass( "disabled no-click" );
    var category = $(this).attr('class').split(' ')[0];
    category = category.split('_');
    category = category[1];
    $("#icon-" + category).addClass("icon-active-" + category);
  });
  $( ".category-link" ).click(function() {
    var category = $(this).attr('id').split('-');
    category = category[2];
    $(".category-title").addClass( "d-none" );
    $("#category-" + category).removeClass( "d-none" );
    $("#available-tags-box").css('background-color', $teal);
  });
  $(document).on('click','.selected-tag',function() {
    var category = $(this).attr('class').split(' ')[0];
    $(this).remove();
    var tag_name = $(this).attr('id');
    $("#available-tags-box #" + tag_name).removeClass( "disabled no-click" );

    if (!$(".selected-tag").hasClass(category)) {
      category = category.split('_');
      category = category[1];
      $("#icon-" + category).removeClass("icon-active-" + category);
        }
  });
  $( "#search_in_topic" ).click(function() {
    var all_tags = $('#selected-tags-box .selected-tag').map(function(){
      return $(this).text();
    }).get().join();
    $('#hidden_tag_input').val(all_tags);
  });
  $( "#clear" ).click(function() {
    $( "#selected-tags-box .selected-tag" ).remove();
    $(".available-tag").removeClass( "disabled no-click" );
  });

  $(document).ready(function() {
    <% if params[:tag_filter] %>
      <% params[:tag_filter].gsub(' ','-').split(",").each do |tag_name| %>
        $("#<%= tag_name %>").clone().appendTo($( "#selected-tags-box" )).append($("<i class='pl-2 fa fa-times-circle'></i>")).removeClass("available-tag").addClass("selected-tag");
      <% end %>
    <% end %>
  });
</script>