<div class="row">
  <div class="col-md-4">
    <p id="category_explantation" class="py-2 fw-bold"><%= t(:choose_category, scope: 'category') %></p>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <% @categories.each do |category| %>
        <a class="h5 category-link pb-2 <%= "active show" if category.id.to_s == @category.id.to_s %>"
           id="v-pills-<%= category.slug %>-tab"
           data-bs-toggle="pill"
           href="#v-pills-<%= category.slug %>"
           role="tab"
           aria-controls="v-pills-<%= category.slug %>"
           aria-selected="false">
          <i class="fa fa-circle pe-2 small" id="icon-<%= category.slug %>"></i><%= category.name %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <p id="tags_explantation" class="py-2 fw-bold <%= "d-none" unless params[:category_id] %>"><%= t(:filter, scope: 'category') %></p>

    <% @categories.each do |category| %>
      <span id="<%= category.slug %>"
            class="btn btn-primary choose_all_tags mb-2 category-search category-search-<%= category.slug %> <%= "d-none" unless category.id.to_s == (params[:category_id] || @category.id.to_s) %>">
        <%= t(:choose_all_button, scope: 'category', category_name: category.name).html_safe %>
      </span>
    <% end %>

    <div class="tab-content mb-3" id="available-tags-box">
      <% @categories.each do |category| %>
        <div style="min-height: 300px"
             class="tab-pane fade <%= "active show" if category.id.to_s == (params[:category_id] || @category.id.to_s) %>"
             id="v-pills-<%= category.slug %>"
             role="tabpanel"
             aria-labelledby="v-pills-<%= category.slug %>-tab">
          <%= render partial: "shared/tagbox",
                     locals: { tags: @tags_by_category[category.slug.to_sym] || [], category: category } %>
        </div>
      <% end %>
    </div>

    <div id="selected-tags-box" class="my-3"></div>

    <div class="mb-3 text-end">
      <%= form_tag("/profiles#speakers_anchor", method: "get") do %>
        <%= text_field_tag :tag_filter, params[:tag_filter], id: "hidden_tag_input", class: "form-control d-none" %>
        <%= hidden_field_tag("locale", params[:locale]) if params[:locale] %>
        <%= submit_tag t(:"choose_button#{'_' + current_region.to_s if current_region}", scope: 'category'), class: "btn btn-primary", id: "search_in_topic" %>
      <% end %>
    </div>
  </div>
</div>
