<div class="row">
  <div class="span6 control-group-one">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%#= f.input :bio, input_html: { rows: 10, style: "width:250px"}  %>
    <%= f.input :topic_list %>
    <%#= f.input :main_topic %>

    <%= f.fields_for :translations, @profile.translations.sort_by(&:locale) do |translation| %>
      <div class='control-group string optional'>
        <%= translation.hidden_field :locale %>
        <%= translation.label :main_topic, "Main Topic (#{translation.object.locale})", class: 'string optional control-label' %>
        <div class='controls'>
          <%= translation.text_field :main_topic, class: 'string optional' %>
        </div>
      </div>
      <div class='control-group string optional'>
        <%= translation.hidden_field :locale %>
        <%= translation.label :bio, "Bio (#{translation.object.locale})", class: 'string optional control-label' %>
        <div class='controls'>
          <%= translation.text_field :bio, class: 'string optional' %>
        </div>
      </div>
    <% end %>

    <%# Used by "tag-it" for autocompletion %>
    <ul class="hidden" id="availableTags">
      <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
        <li><%= tag_name %></li>
      <% end %>
    </ul>

  </div>
  <div class="span6">
    <%= f.input :languages %>
    <%= f.input :city %>
    <%= f.input :twitter %>
    <%= f.input :website, placeholder: "http://" %>

    <div class="control-group">
      <%= f.label :picture, class:"control-label" %>
      <div class="controls">
        <%= image_tag(@profile.picture_url, :width => 100) if @profile.picture.present? %>
        <%= f.file_field :picture %>
        <div class="hint">
          <%= t(:copyright_photo, scope: "profiles.form") %>
        </div>
      </div>
    </div>

    <div class="profile-delete-pic">
      <div>
        <%= f.check_box :remove_picture %>
        <%= t(:delete_picture, scope: "profiles.form") %>
      </div>
    </div>

    <%= f.input :email %>
    <%= f.button :submit, t(:update, scope: "profiles.form"), class:"btn btn-info" %>
  </div>
</div>
