<div class="row mb-5">
  <div class="col-sm-12 col-md-6">

    <%= f.label :picture, t(:picture, scope: 'profiles.form').html_safe %>
    <p>
      <!-- ToDo: width of picture should be made responsive -->
      <%= image_tag(@profile.picture_url, width: 200) if @profile.picture.present? %>
    </p>
    <p><%= f.file_field :picture %></p>
    <small class="form-text text-muted">
      <%= t(:picture_info, scope: 'profiles.form').html_safe %><br>
    </small>
    <br>

    <%= f.check_box :remove_picture %>
    <%= t(:delete_picture, scope: 'profiles.form') %>

  </div>

  <div class="col-sm-12 col-md-6 p-3 bg--white">
    <!-- ToDo: width of input fields should be made responsive -->
    <%= f.input :firstname, label: t(:firstname, scope: 'profiles.form'),
        label_html: { id: "firstname" }, input_html: { class: "mb-3 form-control" } %>
    <%= f.input :lastname, label: t(:lastname, scope: 'profiles.form'),
        label_html: { id: "lastname" }, input_html: { class: "mb-3 form-control" } %>
    <%= f.label :country, label: t(:country, scope: 'profiles.form'), input_html: { class: "mb-3" } %>
    <%= f.country_select :country, label: t(:country, scope: 'profiles.form').html_safe,
        label_html: { id: "country"} ,
        priority_countries: ["DE", "FR", "GB"], include_blank: t(:country_select, scope: 'profiles.show'),
        wrapper_html: { class: "mb-3" } %>
    <div class="profile_iso_languages mt-3">
      <label class="form-check-label pb-2">
        <%= t(:languages, scope: 'profiles.form') %>
      </label><br>
      <%= render partial: "shared/iso_languages", collection: IsoLanguage.top_list, locals: { profile: profile }  %>
      <input name="profile[iso_languages][]" value="" type="hidden">
    </div>
    <div class="my-2">
      <a id="expander">
        <%= t(:show_more_languages, scope: 'profiles.form') %><i class="fa fa-caret-down pl-1"></i>
      </a>
    </div>
    <% display_value = IsoLanguage.rest_list & profile.iso_languages == [] ? "none" : "block" %>
    <div class="profile_iso_languages" id="rest_languages" style="display: <%= display_value %>;">
      <%= render partial: "shared/iso_languages", collection: IsoLanguage.rest_list  %>
      <input name="profile[iso_languages][]" value="" type="hidden">
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 bg--white p-3">
    <%= f.label t(:topic_list, scope: 'profiles.form').html_safe %>
    <%= f.select(:topic_list, ActsAsTaggableOn::Tag.all.pluck(:name), { include_blank: true }, :multiple => true, id: :select_tags, class: 'form-control select_tags') %>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="show-de" class="nav-link <%= I18n.locale == :de ? "active" : "" %>" href="#"> <%= t(:de, scope: 'i18n.language').html_safe %></a>
  </li>
  <li class="nav-item">
    <a id="show-en" class="nav-link <%= I18n.locale == :en ? "active" : "" %>" href="#"> <%= t(:en, scope: 'i18n.language').html_safe %></a>
  </li>
</ul>

<div class="row mb-5">
  <div class="col-12 p-3 bg--white">
    <div id="edit-de" class="form-group <%= "d-none" unless I18n.locale == :de %>" >
      <%= f.label :city, t(:city, scope: 'profiles.form').html_safe,
        id: "city_de", title: t(:city_tooltip, scope: 'profiles.form').html_safe %>
      <%= f.text_field :city_de, as: :text, class: 'form-control mb-3', maxlength: '30' %>

      <%= f.label :twitter, t(:twitter, scope: 'profiles.form').html_safe, id: "twitter_de" %>
      <%= f.text_field :twitter_de, as: :text, placeholder: '@', class: "form-control mb-3", maxlength: 30 %>

      <%= f.label :website, t(:website, scope: 'profiles.form'), id: "website_de" %>
      <%= f.text_field :website_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>

      <%= f.label :additional_websites, t(:additional_websites, scope: 'profiles.form'), id: "website_2_de" %>
      <%= f.text_field :website_2_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>
      <%= f.text_field :website_3_de, as: :text, placeholder: 'http://', class: "form-control mb-3"%>

      <%= f.label :main_topic, t(:main_topic, scope: 'profiles.form',
        language: t(:de, scope: 'i18n.language')).html_safe, id: "main_topic_de" %>
      <%= f.text_field :main_topic_de, as: :text, class: 'form-control mb-3', maxlength: '30' %>

      <%= f.label :bio, t(:bio, scope: 'profiles.form',
        language: t(:de, scope: 'i18n.language')).html_safe, id: "bio_de",
        title: t(:bio_tooltip, scope: 'profiles.form').html_safe %>
      <%= f.text_area :bio_de, as: :text, class: 'form-control mb-3', rows: 10 %>
    </div>

    <div id="edit-en" class="form-group <%= "d-none" unless I18n.locale == :en %>" >
      <%= f.label :city, t(:city, scope: 'profiles.form').html_safe,
        id: "city_en", title: t(:city_tooltip, scope: 'profiles.form').html_safe %>
      <%= f.text_field :city_en, as: :text, class: 'form-control mb-3', maxlength: '30' %>

      <%= f.label :twitter, t(:twitter, scope: 'profiles.form'), id: "twitter_en" %>
      <%= f.text_field :twitter_en, as: :text, placeholder: '@', class: "form-control mb-3", maxlength: 30 %>

      <%= f.label :website, t(:website, scope: 'profiles.form'), id: "website_en" %>
      <%= f.text_field :website_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>

      <%= f.label :additional_websites, t(:additional_websites, scope: 'profiles.form'), id: "website_2_en" %>
      <%= f.text_field :website_2_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>
      <%= f.text_field :website_3_en, as: :text, placeholder: 'http://', class: "form-control mb-3" %>

      <%= f.label :main_topic, t(:main_topic, scope: 'profiles.form',
        language: t(:en, scope: 'i18n.language')).html_safe, id: "main_topic_en" %>
      <%= f.text_field :main_topic_en, as: :text, class: 'form-control mb-3', maxlength: '30' %>

      <%= f.label :bio, t(:bio, scope: 'profiles.form',
        language: t(:en, scope: 'i18n.language')).html_safe, id: "bio_en",
        title: t(:bio_tooltip, scope: 'profiles.form').html_safe %>
      <%= f.text_area :bio_en, as: :text, class: 'form-control mb-3', rows: 10 %>
    </div>

    <%= f.button :submit, t(:update, scope: 'profiles.form'), class:'btn btn-blue' %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">

$('#expander').click(function(){
  if ( $('#rest_languages').css('display') == 'none' ) {
    $('#rest_languages').css('display','block');
    $('#expander').html('<%= t(:show_less_languages, scope: 'profiles.form')%><i class="fa fa-caret-down pl-1"></i>');
  } else {
    $('#rest_languages').css('display','none');
    $('#expander').html('<%= t(:show_more_languages, scope: 'profiles.form')%><i class="fa fa-caret-down pl-1"></i>');
  }});

$('#show-de').click(function(){
    $("#edit-de").removeClass('d-none').addClass('d-block');
    $("#edit-en").removeClass('d-block').addClass('d-none');
    $('#show-de').addClass('active');
    $('#show-en').removeClass('active');
  });

$('#show-en').click(function(){
    $("#edit-en").removeClass('d-none').addClass('d-block');
    $("#edit-de").removeClass('d-block').addClass('d-none');
    $('#show-en').addClass('active');
    $('#show-de').removeClass('active');
  });

</script>

<script>
    $(document).ready(function() {
      $('#select_tags').select2({
        tags: true
      });
    });
</script>
