<div class="row">
  <div class="span6 control-group-one">

    <div class="control-group ">
      <%= f.label :firstname, class:"control-label"%>
      <div class="controls">
        <%= f.text_field :firstname, :autofocus => true, class:"input-xlarge", id:"input01"%>
      </div>
    </div>

    <div class="control-group ">
      <%= f.label :lastname, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :lastname, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group ">
      <%= f.label :bio, class:"control-label" %>
      <div class="controls">
        <%= f.text_area :bio, class:"input-xlarge", id:"input01" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :topic_list, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :topic_list, class:"input-xlarge", id:"tag-field-new" %>
      </div>
    </div> 

    <div class="control-group">
      <%= f.label :tag_list, class:"control-label" %>
      <div class="controls tag_list">
        <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
          <% if @profile.topic_list.include?(tag_name) %>
            <span class="badge add-tag-trigger"><%= tag_name %></span>
          <% else %>
            <span class="badge badge-inverse add-tag-trigger"><%= tag_name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="span6">

    <div class="control-group">
      <%= f.label :talks, class:"control-label" %>
      <div class="controls">
        <%= f.text_area :talks, class:"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :media_url, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :media_url, class:"input-xlarge", id:"input01", :placeholder => t(:link, scope: "profiles.profile") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :languages, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :languages, class:"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :city, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :city, class:"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :twitter, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :twitter, class:"input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :picture, class:"control-label" %>
      <div class="controls">
        <%= f.file_field :picture %>
      </div>
    </div>

    <div class="profile-delete-pic">
      <div>
        <%= f.check_box :remove_picture %>
        <%= t(:delete_picture, scope: "profiles.form") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, class:"control-label" %>
      <div class="controls">
        <%= f.email_field :email, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.submit t(:update, scope: "profiles.form"), class:"btn btn-primary" %>
    </div>
  </div>
</div>
