<div class="row">
  <div class="span6 control-group-one">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :bio, input_html: { rows: 10, style: "width:250px"}  %>
    <%= f.input :topic_list %>

    <div class="control-group">
      <%= f.label :tag_list, class:"control-label" %>
      <div class="controls tag_list">
        <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
          <% if @profile.topic_list.include?(tag_name) %>
            <span class="badge add-tag-trigger"><%= tag_name %></span>
          <% else %>
            <span class="badge badge-inverse add-tag-trigger"><%= tag_name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span6">
    <%= f.input :talks %>
    <%= f.input :media_url, as: :text, input_html: { rows: 1, style: "width:250px" }, placeholder: t(:link, scope: "profiles.profile") %>
    <%= f.input :languages %>
    <%= f.input :city %>
    <%= f.input :twitter %>
    <%= f.input :website %>
    <%= f.fields_for :medialinks do | details | %>
      <div class="field">
        link <%= details.text_field :link %>
      </div>
      <div class="field">
        <%= details.text_field :title %>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :picture, class:"control-label" %>
      <div class="controls">
        <%= image_tag(@profile.picture_url, :width => 100) if @profile.picture.present? %>
        <%= f.file_field :picture %>
        <div class="hint">
          <%= t(:copyright_photo, scope: "profiles.form") %>
        </div>
      </div>
    </div>

    <div class="profile-delete-pic">
      <div>
        <%= f.check_box :remove_picture %>
        <%= t(:delete_picture, scope: "profiles.form") %>
      </div>
    </div>

    <%= f.input :email %>
    <%= f.button :submit, t(:update, scope: "profiles.form"), class:"btn btn-info" %>
  </div>
</div>
