<div class="o-layout mt">
  <div class="o-layout__item 2/6">

    <%= f.label :picture %>
    <p>
      <!-- ToDo: width of picture should be made responsive -->
      <%= image_tag(@profile.picture_url, width: 200) if @profile.picture.present? %>
    </p>
    <p>
      <%= f.file_field :picture %>
    </p>

    <p class='font-size--small'>
      <%= t(:copyright_photo, scope: 'profiles.form') %>
      <%= t(:size_photo, scope: 'profiles.form') %>
    </p>

    <%= f.check_box :remove_picture %>
    <%= t(:delete_picture, scope: 'profiles.form') %>

  </div>

  <div class="o-layout__item 4/6 box__bg bg--white">
    <!-- ToDo: width of input fields should be made responsive -->

    <%= f.input :firstname, label_html: { id: "firstname" }, input_html: { class: "mb input--width-100" } %>
    <%= f.input :lastname, label_html: { id: "lastname" }, input_html: { class: "mb input--width-100" } %>
    <%= f.input :city, label: t(:city, scope: 'activerecord.attributes.profile').html_safe, label_html: { id: "city", class: "tooltip", title: t(:city_tooltip, scope: 'activerecord.attributes.profile').html_safe }, input_html: { class: "mb input--width-100" } %>
    <%= f.label :country, input_html: { class: "mb input--width-100" } %>
    <%= f.country_select :country, label: t(:country, scope: 'activerecord.attributes.profile').html_safe, label_html: { id: "country" },
        priority_countries: ["DE", "FR", "GB"], include_blank: t(:country_select, scope: 'profiles.profile'),
        wrapper_html: { class: "mb" } %>
    <div class="input check_boxes optional profile_iso_languages mt">
      <label class="check_boxes optional control-label"><%= t(:languages, scope: 'activerecord.attributes.profile') %></label><br>
      <%= render partial: "shared/iso_languages", collection: IsoLanguage.top_list, locals: { profile: profile }  %>
      <input name="profile[iso_languages][]" value="" type="hidden">
    </div>
    <div>
      <a id="expander">
        <%= t(:show_more_languages, scope: 'profiles.edit') %>
      </a>
    </div>
    <% display_value = IsoLanguage.rest_list & profile.iso_languages == [] ? "none" : "block" %>
    <div class="input check_boxes optional profile_iso_languages mt" id="rest_languages" style="display: <%= display_value %>;">
      <%= render partial: "shared/iso_languages", collection: IsoLanguage.rest_list  %>
      <input name="profile[iso_languages][]" value="" type="hidden">
    </div>
  </div>

  <div class="o-layout__item 1/1 box__bg bg--white mt">
    <%= f.input :twitter, placeholder: '@', label_html: { id: "twitter" }, input_html: { class: "mb input--width-100" } %>
    <%= f.input :website, placeholder: 'http://', label_html: { id: "website" }, input_html: { class: "mb input--width-100" }, wrapper_html: { class: "mv" } %>
    <%= f.input :topic_list, label: t(:topic_list, scope: 'activerecord.attributes.profile').html_safe, label_html: { id: "topic_list", class: "tooltip", title: t(:topic_list_tooltip, scope: 'activerecord.attributes.profile').html_safe }, input_html: { class: "input--width-100" }, wrapper_html: { class: "mv" } %>

    <ul class='hidden' id='availableTags'>
      <% ActsAsTaggableOn::Tag.uniq.pluck(:name).each do |tag_name| %>
        <li><%= tag_name %></li>
      <% end %>
    </ul>

    <div id="medialinks">
      <h2><%= t(:index, scope: 'medialinks')%></h2>
      <p class="pb bb"><%= t(:medialink_description, scope: 'medialinks').html_safe %></p>

      <%= link_to(new_profile_medialink_path(@profile)) do %>
        <div class="btn btn--small mv">
          <i class="fa fa-plus-circle"></i>
          <%= t(:new, scope: 'medialinks') %>
        </div>
      <% end %>

      <p class="help"><%= t(:help, scope: 'medialinks').html_safe %></p>

      <p id="medialinks__list--sort-message"></p>

        <ul id="medialinks__list" data-update-url="<%= sort_profile_medialinks_url(current_profile)%>" class="<%= t(:language, scope: 'medialinks')%>">
          <% current_profile.medialinks.order(:position).each do |medialink| %>
            <%= content_tag_for(:li, medialink, nil, {'title' => t(:tooltip, scope: 'medialinks')}) do %>
              <b>
                <%= medialink.title %>
              </b>
              <%= medialink.url_html if medialink.url != 'http://' %>
              <%= simple_format(medialink.description) %>

              <hr>

              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe+ t(:edit_link, scope: 'medialinks'), edit_profile_medialink_path(@profile, medialink) %>
              <%= link_to '<i class="fa fa-minus-circle"></i>'.html_safe+ t(:delete_link, scope: 'medialinks'), profile_medialink_path(@profile, medialink),
                method: :delete, data: { confirm: 'Are you sure?'}, title: t(:delete, scope: "medialinks") %>
            <% end %>
          <% end %>
        </ul>
    </div>

    <ul class="tabrow">
      <li id="show-de" class="ph pv-- <%= "selected" if I18n.locale == :de %>"> <%= t(:de, scope: 'i18n.language').html_safe %></li>
      <li id="show-en" class="ph pv-- <%= "selected" if I18n.locale == :en %>"> <%= t(:en, scope: 'i18n.language').html_safe %></li>
    </ul>

    <div id="edit-de" class="ox__bg bg--white pt+ <%= "hidden" unless I18n.locale == :de %>" >
      <%= f.label :main_topic, t(:main_topic, scope: 'activerecord.attributes.profile',
        language: t(:de, scope: 'i18n.language')).html_safe, id: "main_topic_de", class: "tooltip", title: t(:main_topic_tooltip, scope: 'activerecord.attributes.profile').html_safe %>
      <%= f.text_field :main_topic_de, as: :text, class: 'mb input--width-100', maxlength: '30' %>
      <%= f.label :bio, t(:bio, scope: 'activerecord.attributes.profile',
        language: t(:de, scope: 'i18n.language')).html_safe, id: "bio_de", class: "tooltip", title: t(:bio_tooltip, scope: 'activerecord.attributes.profile').html_safe %>
      <%= f.text_area :bio_de, as: :text, class: 'mb input--width-100', rows: 10 %>
    </div>

    <div id="edit-en" class="box__bg bg--white pt+ <%= "hidden" unless I18n.locale == :en %>" >
      <%= f.label :main_topic, t(:main_topic, scope: 'activerecord.attributes.profile',
        language: t(:en, scope: 'i18n.language')).html_safe, id: "main_topic_en", class: "tooltip", title: t(:main_topic_tooltip, scope: 'activerecord.attributes.profile').html_safe %>
      <%= f.text_field :main_topic_en, as: :text, class: 'mb input--width-100', maxlength: '30' %>
      <%= f.label :bio, t(:bio, scope: 'activerecord.attributes.profile',
        language: t(:en, scope: 'i18n.language')).html_safe, hint: "<br>Du kannst einfache HTML Tags nutzen, um den Text zu formatieren. Zum Beispiel: < i >< /i >< b >< /b > < br >", id: "bio_en", class: "tooltip", title: t(:bio_tooltip, scope: 'activerecord.attributes.profile').html_safe %>
      <%= f.text_area :bio_en, as: :text, class: 'mb input--width-100', rows: 10 %>
    </div>

     <%= f.button :submit, t(:update, scope: 'profiles.form'), class:'btn btn--small mt mb++' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

$('#expander').click(function(){
  if ( $('#rest_languages').css('display') == 'none' ) {
    $('#rest_languages').css('display','block');
    $('#expander').html('<%= t(:show_less_languages, scope: 'profiles.edit')%>');
  } else {
    $('#rest_languages').css('display','none');
    $('#expander').html('<%= t(:show_more_languages, scope: 'profiles.edit')%>');
  }});

$('#show-de').click(function(){
    $('#edit-de').css('display','block')
    $('#edit-en').css('display','none');
    $('#show-de').addClass('selected');
    $('#show-en').removeClass('selected');
  });

$('#show-en').click(function(){
    $('#edit-en').css('display','block')
    $('#edit-de').css('display','none');
    $('#show-en').addClass('selected');
    $('#show-de').removeClass('selected');
  });

</script>
