<% if @profiles.count > 0 %>
  <div class="row row-cols-4">
    <% filters_hash(aggs_countries, aggs_cities, aggs_languages).each do |filter| %>
      <div class="col-12 col-sm-6 col-md-3">
        <ul id="facet_<%= filter[:key] %>" class="search-aggregation list-unstyled">
          <%= t(filter[:title], scope: 'search' ).html_safe %><br><br>
          <li class="<%= 'selected' if !filter[:param_val] %>">
            <%= link_to(
                  t(filter[:all_text], scope: 'search'),
                  filter[:filter_params_all],
                  class: "#{'bg-dark text-light' if !filter[:param_val] }")
            %>
          </li>
          <% filter[:aggregations][0..9].each do |term| %>
            <li class="pl-1 <%= 'selected' if filter[:param_val] == term['key'] %>">
              <%= link_to(
                    filter[:link_text_func].call(term['key']),
                    filter[:filter_params_func].call(term['key']),
                    class: "#{'bg-dark text-light' if filter[:param_val] == term['key'] }")
              %>
              <span class="pl-1"><%= term['doc_count'] %></span>
            </li>
          <% end %>
          <% if filter[:aggregations].length > 10 %>
            <li>
              <a class="pl-1 expander_<%= filter[:key] %>"><%= t(:show_more, scope: 'profiles.index') %></a>
            </li>
            <div class="rest_facet_<%= filter[:key] %>" style="display: none">
              <% filter[:aggregations][10..999].each do |term| %>
                <li class="pl-1 <%= 'selected' if filter[:param_val] == term['key'] %>">
                  <%= link_to(
                        filter[:link_text_func].call(term['key']),
                        { search: params[:search], filter_countries: term['key'], filter_cities: params[:filter_cities], filter_lang: params[:filter_lang] },
                        class: "#{'bg-dark text-light' if filter[:param_val] == term['key'] }")
                  %>
                  <small class="pl-1"><%= term['doc_count'] %></small>
                </li>

              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-12 col-sm-6 col-md-3">
      <ul class="list-unstyled">
        <%= t(:random_categories, scope: 'search' ).html_safe %><br><br>
        <% @three_sample_categories.each do |cat| %>
          <li class="pl-1">
            <%= category_link(cat) %>
          </li>
        <% end %>
      </ul>
      <span>
        <%= link_to("<i class='fa fa-filter pr-2'></i>".html_safe + t(:filter_by, scope: 'search' ), profiles_path, class: 'd-block px-3 py-2 border border-primary')  %>
      </span>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-unstyled">
        <%= t(:random_categories, scope: 'search' ).html_safe %><br>
        <% @three_sample_categories.each do |cat| %>
          <li>
            <%= category_link(cat) %>
          </li>
        <% end %>
      </ul>
      <span>
        <%= link_to("<i class='fa fa-filter pr-2'></i>".html_safe + t(:filter_by, scope: 'search' ), profiles_path, class: 'd-block px-3 py-2 border border-primary')  %>
      </span>
    </div>
  </div>
<% end %>
