<% if profiles.load.any? %>

  <% if profiles.size > 1 || result_from_filter? %>
    <%= t(:filter, scope: 'search') %>
    <div class="row">
      <% filters_hash(aggs_countries, aggs_cities, aggs_languages).each do |filter| %>
        <div class="col-sm-12 col-md-4">
          <ul id="facet_<%= filter[:key] %>" class="search-aggregation list-unstyled">
            <b><%= t(filter[:title], scope: 'search' ).html_safe %></b>
            <li class="pl-1 <%= 'selected' if !filter[:param_val] %>">
              <%= link_to(
                    t(filter[:all_text], scope: 'search'),
                    filter[:filter_params_all],
                    class: "#{'bg-dark text-light' if !filter[:param_val] }")
              %>
            </li>
            <% filter[:aggregations][0..9].each do |term| %>
              <li class="pl-1 <%= 'selected' if filter[:param_val] == term['key'] %>">
                <%= link_to(
                      filter[:link_text_func].call(term['key']),
                      filter[:filter_params_func].call(term['key']),
                      class: "#{'bg-dark text-light' if filter[:param_val] == term['key'] }")
                %>
                <small class="pl-1"><%= term['doc_count'] %></small>
              </li>
            <% end %>
            <% if filter[:aggregations].length > 10 %>
              <li>
                <a class="pl-1 expander_<%= filter[:key] %>"><%= t(:show_more, scope: 'profiles.index') %></a>
              </li>
              <div class="rest_facet_<%= filter[:key] %>" style="display: none">
                <% filter[:aggregations][10..999].each do |term| %>
                  <li class="pl-1 <%= 'selected' if filter[:param_val] == term['key'] %>">
                    <%= link_to(
                          filter[:link_text_func].call(term['key']),
                          { search: params[:search], filter_countries: term['key'], filter_cities: params[:filter_cities], filter_lang: params[:filter_lang] },
                          class: "#{'bg-dark text-light' if filter[:param_val] == term['key'] }")
                    %>
                    <small class="pl-1"><%= term['doc_count'] %></small>
                  </li>
                <% end %>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

<% elsif profiles.size < 1 %>

  <% if params[:search].present? && profiles.response.response.suggest.did_you_mean_fullname.first.options.present? %>
    <p class="py-5">
      <%= t(:did_you_mean, scope: 'search', suggestions_fullname: profiles.response.response.suggest.did_you_mean_fullname.first.options.map {|sug| link_to(sug.text.capitalize, "profiles?&search=#{sug.text}")} * ", " ).html_safe %>
    </p>
  <% elsif params[:search].empty? %>
    <p class="py-5">
      <%= t(:empty_search, scope: 'search') %>
    </p>
  <% else %>
    <p class="py-5">
      <%= t(:no_profile, scope: 'search') %>
    </p>
  <% end %>

<% end %>
