<% if profiles.load.any? %>

  <% if profiles.size > 1 || result_from_filter? %>
    <%= t(:filter, scope: 'search') %>

    <div class="row">
      <%# countries filter %>
      <div class="col-sm-12 col-md-4">

        <ul id="facet_countries" class="search-aggregation list-unstyled">
          <b><%= t(:countries_agg, scope: 'search' ).html_safe%></b>
          <% aggs_countries[0..9].each do |term| %>
            <li class='pl-1 <%= 'selected' if params[:filter_countries] == term['key'] %>'>
              <%= link_to ISO3166::Country.find_country_by_alpha2("#{term['key']}").translation(I18n.locale), {search: params[:search], filter_countries: term['key']},
              class: "#{'bg-dark text-light' if params[:filter_countries] == term['key'] }" %>
              <small class="pl-1"><%= term['doc_count'] %></small>
            </li>
          <% end %>
          <% if aggs_countries.length > 10 %>
            <li>
              <a class="pl-1 expander_countries"><%= t(:show_more, scope: 'profiles.index') %></a>
            </li>
            <% display_value = aggs_countries[10..999] == [] ? "block" : "none" %>
            <% aggs_countries[10..999].each do |term| %>
              <li class='pl-1 rest_facet_countries <%= 'selected' if params[:filter_countries] == term['key'] %>' style='display: <%= display_value %>;'>
                <%= link_to ISO3166::Country.find_country_by_alpha2("#{term['key']}").translation(I18n.locale),
                  {search: params[:search], filter_countries: term['key']},
                  class: "#{'bg-dark text-light' if params[:filter_countries] == term['key'] }" %>
                <small class="pl-1"><%= term['doc_count'] %></small>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <%# cities filter %>
      <div class="col-sm-12 col-md-4">
        <ul id="facet_cities" class="search-aggregation list-unstyled">
        <b><%=t(:cities_agg, scope: 'search' ).html_safe%></b>
          <% aggs_cities[0..9].each do |term| %>
            <li class='pl-1 <%= 'selected' if params[:filter_cities] == term['key'] %>'>
              <%= link_to term['key'], { search: params[:search], filter_cities: term['key']},
              class: "#{'bg-dark text-light' if params[:filter_cities] == term['key'] }"  %>
              <small class="pl-1"><%= term['doc_count'] %></small>
            </li>
          <% end %>
          <% if aggs_cities.length > 10 %>
            <li>
              <a class="pl-1 expander_cities"><%= t(:show_more, scope: 'profiles.index') %></a>
            </li>
            <% display_value = aggs_cities[10..999] == [] ? "block" : "none" %>
            <% aggs_cities[10..999].each do |term| %>
              <li class='pl- rest_facet_cities <%= 'selected' if params[:filter_cities] == term['key'] %>' style='display: <%= display_value %>;'>
                <%= link_to term['key'],{ search: params[:search], filter_cities: term['key'] },
                class: "#{'bg-dark text-light' if params[:filter_cities] == term['key'] }" %>
                <small class="pl-1"><%= term['doc_count'] %></small>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <%# language filter %>
        <div class="col-sm-12 col-md-4">

        <ul id="facet_languages" class="search-aggregation list-unstyled">
        <b><%= t(:languages_agg, scope: 'search' ).html_safe %></b>
          <% aggs_languages[0..9].each do |term| %>
          <li class='pl-1 <%= 'selected' if params[:filter_lang] == term['key'] %>'>
            <%= link_to t("#{term['key']}", scope: 'iso_639_1').capitalize,
            {search: params[:search], filter_lang: term['key']},
            class: "#{'bg-dark text-light' if params[:filter_lang] == term['key'] }" %>
            <small class="pl-1"><%= term['doc_count'] %></small>
          </li>
          <% end %>
          <% if aggs_languages.length > 10 %>
            <li><a class="pl-1 expander_languages"><%= t(:show_more, scope: 'profiles.index') %></a>
            </li>
            <% display_value = aggs_languages[10..999] == [] ? "block" : "none" %>
            <% aggs_languages[10..999].each do |term| %>
              <li class='pl- rest_facet_languages <%= 'selected' if params[:filter_cities] == term['key'] %>' style='display: <%= display_value %>;'>
                <%= link_to t("#{term['key']}", scope: 'iso_639_1').capitalize ,
                {search: params[:search], filter_lang: term['key']},
                class: "#{'bg-dark text-light' if params[:filter_lang] == term['key'] }" %>
                <small class="pl-1"><%= term['doc_count'] %></small>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<% elsif profiles.size < 1 %>

  <% if params[:search].present? && profiles.response.response.suggest.did_you_mean_fullname.first.options.present? %>
    <p class="py-5">
      <%= t(:did_you_mean, scope: 'search', suggestions_fullname: profiles.response.response.suggest.did_you_mean_fullname.first.options.map {|sug| link_to(sug.text.capitalize, "profiles?&search=#{sug.text}")} * ", " ).html_safe %>
    </p>
  <% elsif params[:search].empty? %>
    <p class="py-5">
      <%= t(:empty_search, scope: 'search') %>
    </p>
  <% else %>
    <p class="py-5">
      <%= t(:no_profile, scope: 'search') %>
    </p>
  <% end %>

<% end %>
