<%# Git Inspired %>

<div class="col">
  <div class="card bg--white-trans">
    <% if current_region.nil? %>
      <div class="card-header">
      <h1 class="action_icon"><i class="fa fa-star"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_categories_title, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_categories_text, scope: 'pages.home') %></p>
      </div>
      <div class="card-body bottom">
        <%=link_to t(:sub_menu_categories_link_text, scope: 'pages.home').html_safe, root_path + "#categories_anchor" %>
      </div>
    <% else %>
      <div class="card-header">
      <h1 class="action_icon"><i class="fa fa-star"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_categories_title_vab, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_categories_text_vab, scope: 'pages.home') %></p>
      </div>
      <div class="card-body bottom">
        <%=link_to t(:sub_menu_categories_link_text, scope: 'pages.home').html_safe, root_path + "#categories_anchor" %>
      </div>
    <% end %>
  </div>
</div>

<%# Blog %>

<div class="col">
  <div class="card bg--white-trans">
    <% if current_region.nil? %>
      <div class="card-header">
        <h1 class="action_icon"><i class="fa fa-pencil"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_blog_title, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_blog_text, scope: 'pages.home').html_safe %></p>
      </div>
      <div class="card-body bottom">
        <%= link_to t(:sub_menu_blog_link_text, scope: 'pages.home').html_safe, "https://blog.speakerinnen.org/", target: '_blank' %>
      </div>
    <% else %>
      <div class="card-header">
        <h1 class="action_icon"><i class="fa fa-pencil"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_all_title_vab, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_all_text_vab, scope: 'pages.home').html_safe %></p>
      </div>
      <div class="card-body bottom">
        <%= link_to t(:sub_menu_blog_link_text, scope: 'pages.home').html_safe, profiles_path(:anchor => "speakers_anchor") %>
      </div>
    <% end %>
  </div>
</div>

<%# About Us %>

<div class="col">
  <div class="card bg--white-trans">
    <% if current_region.nil? %>
      <div class="card-header">
        <h1 class="action_icon"><i class="fa fa-comment"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_about_us_title, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_about_us_text, scope: 'pages.home') %></p>
      </div>
      <div class="card-body bottom">
        <%= link_to t(:sub_menu_about_us_link_text, scope: 'pages.home').html_safe, about_path %>
      </div>
    <% else %>
      <div class="card-header">
        <h1 class="action_icon"><i class="fa fa-comment"></i></h1>
        <h1 class="card-title text-left mb-0"><%=t(:sub_menu_about_us_title_vab, scope: 'pages.home')%></h1>
      </div>
      <div class="card-body">
        <p class="h5 card-text"><%= t(:sub_menu_about_us_text_vab, scope: 'pages.home') %></p>
      </div>
      <div class="card-body bottom">
        <%= link_to t(:sub_menu_about_us_link_text, scope: 'pages.home').html_safe, about_vorarlberg_path %>
      </div>
    <% end %>
  </div>
</div>
