<%# Get Inspired %>

<div class="col-md-12 col-lg-4 my-3">
  <div class="card bg--white-trans h-100">
    <div class="card-header">
      <h1 class="action_icon pt-2">
        <%= bootstrap_icon "star", width: 70, height: 70, fill: "#43E89C" %>
      </h1>
      <h1 class="card-title text-left mb-0">
        <%= t(:"sub_menu_left_title#{'_' + current_region.to_s if current_region}", scope: 'pages.home')%>
      </h1>
    </div>
    <div class="card-body">
      <p class="h5 card-text"><%= t(:"sub_menu_left_text#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></p>
    </div>
    <div class="card-body bottom">
      <%= t(:"sub_menu_left_link#{'_' + current_region.to_s if current_region}", scope: 'pages.home').html_safe %>
    </div>
  </div>
</div>

<%# Blog %>

<div class="col-md-12 col-lg-4 my-3">
  <div class="card bg--white-transhite-trans h-100">
    <div class="card-header">
      <h1 class="action_icon pt-2">
        <%= bootstrap_icon "pencil", width: 70, height: 70, fill: "#43E89C" %>
      </h1>
      <h1 class="card-title text-left mb-0">
        <%= t(:"sub_menu_middle_title#{'_' + current_region.to_s if current_region}", scope: 'pages.home').html_safe %>
      </h1>
    </div>
    <div class="card-body">
      <p class="h5 card-text"><%= t(:"sub_menu_middle_text#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></p>
    </div>
    <div class="card-body bottom">
      <%= t(:"sub_menu_middle_link#{'_' + current_region.to_s if current_region}", scope: 'pages.home').html_safe %>
    </div>
  </div>
</div>

<%# Fifty Percent %>

<div class="col-md-12 col-lg-4 my-3">
  <div class="card bg--white-trans h-100">
    <div class="card-header">
      <h1 class="action_icon pt-2">
        <%= bootstrap_icon "chat", width: 70, height: 70, fill: "#43E89C" %>
      </h1>
      <h1 class="card-title text-left mb-0">
        <%= t(:"sub_menu_right_title#{'_' + current_region.to_s if current_region}", scope: 'pages.home')%>
      </h1>
    </div>
    <div class="card-body">
      <p class="h5 card-text"><%= t(:"sub_menu_right_text#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></p>
    </div>
    <div class="card-body bottom">
      <%= t(:"sub_menu_right_link#{'_' + current_region.to_s if current_region}", scope: 'pages.home').html_safe %>
    </div>
  </div>
</div>
