<%= form_tag(categorization_admin_tags_path, method: :get, class: 'form form-vertical tag-filter') do %>

  <div class="filter">
      <%= check_box_tag 'uncategorized', params[:uncategorized], params[:uncategorized] %>
      <%= label_tag 'uncategorized', t(:tags_filter_option, scope: 'admin.dashboard.tags'),
      class: 'checkbox-and-label' %>
      <hr>
      <%= t(:tags_search, scope: 'admin.dashboard.tags') %>
      <%= text_field_tag 'q', params[:q], class: 'form-control search-query' %>
  </div>

  <div class="filter">
      <%= 'Filter:' %>
      <% @categories.each do |category| %>
        <div class="category-option">
          <%= label_tag 'category_id_#{category.id}', class: 'radio' do %>
            <%= radio_button_tag( 'category_id', category.id, params[:category_id] == category.id.to_s ) %>
            <%= category.name %>
          <% end %>
        </div>
      <% end %>
      <div class="category-option">
        <%= label_tag 'category_id_', class: 'radio' do %>
          <%= radio_button_tag( 'category_id', '', params[:category_id].blank? ) %>
          <%= t(:tags_filter_default, scope: 'admin.dashboard.tags') %>
        <% end %>
      </div>
  </div>

  <%= submit_tag (t(:filter, scope:'general')), class: 'btn btn-primary' %>

<% end %>
