<div class="container profiles">
  <h1 class="title-profiles">Administration::<%= t(:tags, scope: "admin.dashboard.tags")%></h1>
  <%= form_tag(categorization_admin_tags_path, method: :get, class: 'form-inline') do %>
    <div class="row">
      <div class="span12">
        <%= t(:tags_search, scope: "admin.dashboard.tags") %>
        <%= text_field_tag 'q', params[:q], class: 'input-medium search-query' %>
        <br>
        <%= check_box_tag 'uncategorized', params[:uncategorized], params[:uncategorized] %>
        <%= label_tag 'uncategorized', t(:tags_filter_option, scope: "admin.dashboard.tags"), class: 'checkbox inline' %><br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= "Kategorien:" %>
      </div>
    </div>
    <div class="row">
      <% @categories.in_groups_of(3, false) do |row_categories| %>
        <div class="span3">
        <% row_categories.each do |category| %>
          <%= label_tag "category_id_#{category.id}", class: 'radio' do %>
            <%= radio_button_tag( "category_id", category.id, params[:category_id] == category.id.to_s ) %>
            <%= category.name %>
            <br>
          <% end %>
          <br>
        <% end %>
        </div>
      <% end %>
      </div>
      <br>
    <div class="row">
      <div class="span12">
        <%= label_tag "category_id_", class: 'radio' do %>
          <%= radio_button_tag( "category_id", '', params[:category_id].blank? ) %>
          Mir doch egal!
        <% end %>
        <br>
      <%= submit_tag (t(:filter, scope:"general")), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
    <div class="span12 text-center">
      <strong><%= t(:tags_count, scope: "admin.dashboard.tags") + "#{@tags.total_count}" + "."%></strong>
      <%= paginate @tags %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="admin-tags-categorization table">
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]) %>
            </td>
            <% @categories.each do |category| %>
              <td>
                <% if tag.categories.pluck(:id).include?(category.id) %>
                  <%= link_to category.name, remove_category_admin_tag_path(tag, category_id: category.id, page: params[:page], q: params[:q], uncategorized: params[:uncategorized]),
                            method: :post,
                            class: "active"  %>
                <% else %>
                  <%= link_to category.name, set_category_admin_tag_path(tag, category_id: category.id, page: params[:page], q: params[:q], uncategorized: params[:uncategorized]),
                            method: :post %>
                <% end %>
              </td>
            <% end %>
              <td>
                | <%= link_to '<i class="icon-trash"></i>'.html_safe, admin_tag_path(tag.id), :method => :delete,
                  :confirm => "Do you want to delete the tag #{tag.name}?" %>
              </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span12 text-center">
      <%= paginate @tags %>
    </div>
  </div>
</div>

