<div class='container profiles'>
  <h1 class='title-profiles'>Administration::<%= t(:tags, scope: 'admin.dashboard.tags')%></h1>


  <%= render partial: 'filter' %>


  <div class='row'>
    <div class='span12 text-center'>
      <% if @tags_all %>
        <strong>
          <%= t(:tags_here_are, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + t(:tags_of, scope: 'admin.dashboard.tags') + @tags_all.count.to_s + ' tags.'%>
        </strong>
      <% else %>
        <strong>
          <%= t(:tags_count, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + '.'%>
        </strong>
      <% end %>
      <%= paginate @tags %>
    </div>
  </div>

  <div class='row'>
    <div class='span12'>
      <table class='admin-tags-categorization table'>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]) %>
              <%= tag.count %>
            </td>
            <% @categories.each do |category| %>
              <td>
                <% if tag.categories.pluck(:id).include?(category.id) %>
                  <%= link_to category.name, remove_category_admin_tag_path(tag,
                  category_id: category.id, page: params[:page], q: params[:q],
                  uncategorized: params[:uncategorized]), method: :post, class: 'active'  %>
                <% else %>
                  <%= link_to category.name, set_category_admin_tag_path(tag,
                  category_id: category.id, page: params[:page], q: params[:q],
                  uncategorized: params[:uncategorized]), method: :post %>
                <% end %>
              </td>
            <% end %>
              <td>
                <%= link_to "<i class='icon-trash'></i>".html_safe, admin_tag_path(tag.id),
                method: :delete, confirm: 'Do you want to delete the tag #{tag.name}?' %>
              </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class='row'>
    <div class='span12 text-center'>
      <%= paginate @tags %>
    </div>
  </div>

</div>
