<div class="container profiles">
  <h1 class="title-profiles">Admin interface für Tags:</h1>
  <div class="row">
    <div class="span4">
      <%= form_tag(categorization_admin_tags_path, method: :get, class: 'form-inline') do %>
        <%= label_tag 'Suche nach einem bestimmtem Tag' %>
        <%= text_field_tag 'q', params[:q], class: 'input-medium search-query' %>
        <br>
        <br>
        <%= check_box_tag 'uncategorized', params[:uncategorized], params[:uncategorized] %>
        <%= label_tag 'uncategorized', 'Alle Tags ohne Kategorien anzeigen', class: 'checkbox inline' %><br>
        <br>
        <%= submit_tag 'Filter', class: "btn" %>
      <% end %>
    <br>
    </div>
    <div class="span8 text-center">
      <strong><%= "Die Anzahl der Tags ist #{@tags.total_count}." %></strong>
      <%= paginate @tags %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="admin-tags-categorization table">
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]) %>
            </td>
            <% @categories.each do |category| %>
              <td>
                <% if tag.categories.map(&:id).include?(category.id) %>
                  <%= link_to category.name, remove_category_admin_tag_path(tag, category_id: category.id, page: params[:page], q: params[:q], uncategorized: params[:uncategorized]),
                            method: :post,
                            class: "active"  %>
                <% else %>
                  <%= link_to category.name, set_category_admin_tag_path(tag, category_id: category.id, page: params[:page], q: params[:q], uncategorized: params[:uncategorized]),
                            method: :post %>
                <% end %>
              </td>
            <% end %>
              <td>
                | <%= link_to '<i class="icon-trash"></i>'.html_safe, admin_tag_path(tag.id), :method => :delete,
                  :confirm => "Do you want to delete the tag #{tag.name}?" %>
              </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="span12 text-center">
      <%= paginate @tags %>
    </div>
  </div>
</div>

