<section class="content--bg-white">
  <div class="layout-wrapper">

    <h1>Administration::<%= t(:tags, scope: 'admin.dashboard.tags')%></h1>

    <%= render partial: 'filter' %>

    <strong>
      <% if @tags_count %>
          <%= t(:tags_here_are, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + t(:tags_of, scope: 'admin.dashboard.tags') + @tags_count.to_s + ' tags.' %>
      <% else %>
          <%= t(:tags_count, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + '.' %>
      <% end %>
    </strong>

    <%= paginate @tags %>

    <table class='table table--compact table--rows mv+'>
      <% @tags.each do |tag| %>
        <tr class="vertical-top">
          <td>
            <b><%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]), data: { toggle: 'tooltip', placement: 'left' }, title: 'Edit' %></b>
            <%= tag.taggings_count %>
          </td>
          <% @categories.each do |category| %>
            <td>
              <% if tag.categories.pluck(:id).include?(category.id) %>
                <%= link_to category.name, remove_category_admin_tag_path(tag,
                category_id: category.id, page: params[:page], q: params[:q],
                uncategorized: params[:uncategorized]), method: :post, class: 'category--assigned_to_tag'  %>
              <% else %>
                <%= link_to category.name, set_category_admin_tag_path(tag,
                category_id: category.id, page: params[:page], q: params[:q],
                uncategorized: params[:uncategorized]), method: :post %>
              <% end %>
            </td>
          <% end %>
            <td>
             <%= link_to ('<i class="fa fa-trash-o">&nbsp;</i>').html_safe, admin_tag_path(tag.id), method: :delete, data: { confirm: 'Are you sure?',toggle: 'tooltip', placement: 'left' }, class: 'btn btn--small', title: 'Delete'%>
            </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @tags %>

  </div>
</section>
