<div class="full-width-container">
  <div class="full-width-row administration">

    <div class="breadcrumb-navigation">Administration::<%= t(:tags, scope: 'admin.dashboard.tags')%></div>

    <%= render partial: 'filter' %>
    <div class="text-center">
      <% if @tags_count %>
        <strong>
          <%= t(:tags_here_are, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + t(:tags_of, scope: 'admin.dashboard.tags') + @tags_count.to_s + ' tags.' %>
        </strong>
      <% else %>
        <strong>
          <%= t(:tags_count, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + '.' %>
        </strong>
      <% end %>
    </div>

    <div class="text-center">
      <%= paginate @tags %>
    </div>

    <table class='admin-tags-categorization table'>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]) %>
              (<%= tag.taggings_count %>)
            </td>
            <td>
              <% @categories.each do |category| %>
                <% if tag.categories.pluck(:id).include?(category.id) %>
                  <%= link_to category.name, remove_category_admin_tag_path(tag,
                  category_id: category.id, page: params[:page], q: params[:q],
                  uncategorized: params[:uncategorized]), method: :post, class: 'active'  %>
                <% else %>
                  <%= link_to category.name, set_category_admin_tag_path(tag,
                  category_id: category.id, page: params[:page], q: params[:q],
                  uncategorized: params[:uncategorized]), method: :post %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, admin_tag_path(tag.id),
              method: :delete, confirm: "Do you want to delete the tag #{tag.name}?" %>
            </td>
          </tr>
        <% end %>
      </table>

    <div class="text-center">
      <%= paginate @tags %>
    </div>

</div>
