<div class="container py-5">

  <h1>Administration::<%= t(:tags, scope: "admin.tags")%>::<%= t(:edit, scope: "general")%></h1>

  <div class="my-3 py-3 border-vertical">
    <%= link_to t(:show_all_tags, scope: 'admin.tags'), admin_tags_path, class: 'btn btn-primary btn-sm' %>
  </div>

  <h2 class="mb-3"><%= @tag.name %></h2>
  <%= form_tag(admin_tag_path(@tag.id, page: params[:page]), method: "put") do %>

    <div class="row">
      <div class="col-4">
        <h5><%= t(:new_tagname, scope: "admin.tags")%>:</h5>
        <div class="input-group">
          <%= text_field(:tag, :name, value: @tag.name, class: "form-control") %>
        </div>
      </div>
      <div class="col-4">
        <h5><%= t(:select_languages, scope: "admin.tags.edit")%></h5>
        <% LocaleLanguage.all.each do |language| %>
          <div id=<%="#{language.iso_code}_#{@tag.id}"%> >
            <%= check_box_tag 'tag[languages][]',
                language.iso_code,
                @tag.locale_languages.map(&:iso_code).include?(language.iso_code),
                id: "#{@tag.id}_#{language.iso_code}" %>
            <%= label_tag "#{@tag.id}_#{language.iso_code}",
                t(language.iso_code, scope: 'i18n.language') %>
          </div>
        <% end %>
      </div>
      <div class="col-4">
        <h5><%= t(:select_categories, scope: "admin.tags.edit")%></h5>
        <% @categories.each do |category| %>
          <div id=<%="#{category.id}_#{@tag.id}"%> >
            <%= check_box_tag 'tag[categories][]',
                category.id,
                @tag.categories.pluck(:id).include?(category.id),
                id: "#{@tag.id}_#{category.id}" %>
            <%= label_tag "#{@tag.id}_#{category.id}",
                category.name %>
          </div>
        <% end %>
      </div>
    </div>

    <%= submit_tag t(:save, scope: "general"), class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
