<div class="container py-5">

  <h1>Administration::<%= t(:tags, scope: "admin.dashboard.tags")%>::<%= t(:edit, scope: "general")%></h1>

  <div class="my-3 py-3 border-vertical">
    <%= link_to t(:show_all_tags, scope: 'admin.dashboard.tags'), admin_tags_path, class:'btn btn-blue btn-sm' %>
  </div>

  <%= form_tag(admin_tag_path(@tag.id, page: params[:page]), method: "put") do %>

    <p class="mt-5"><%= t(:new_tagname, scope: "admin.dashboard.tags")%></br>
    <%= text_field(:tag, :name, value: @tag.name) %>

    <p class="mt-5"><%= t(:select_languages, scope: "admin.dashboard.tags.edit")%>
      <% LocaleLanguage.all.each do |language| %>
        <div id=<%="#{language.iso_code}_#{@tag.id}"%> >
          <%= check_box_tag 'tag[languages][]',
              language.iso_code,
              @tag.locale_languages.map(&:iso_code).include?(language.iso_code),
              id: "#{@tag.id}_#{language.iso_code}" %>
          <%= label_tag "#{@tag.id}_#{language.iso_code}",
              t(language.iso_code, scope: 'i18n.language') %>
        </div>
      <% end %>
    </p>

    <p class="mt-5"><%= t(:select_categories, scope: "admin.dashboard.tags.edit")%>
      <% @categories.each do |category| %>
        <div id=<%="#{category.id}_#{@tag.id}"%> >
          <%= check_box_tag 'categories[]',
              category.id,
              @tag.categories.pluck(:id).include?(category.id),
              id: "#{@tag.id}_#{category.id}" %>
          <%= label_tag "#{@tag.id}_#{category.id}",
              category.name %>
        </div>
      <% end %>
    </p>

    <%= submit_tag t(:save, scope: "general"), class: "btn btn-blue btn-sm" %>
  <% end %>
</div>
