<h1>Edit tag "<%= @tag.name %>":</h1>
<%= form_tag(admin_tag_path(@tag.id), :method => "put") do %>
  <%= label_tag("tag_name", "Enter the new Name:") %>
  <%= text_field(:tag, :name, value: @tag.name) %>
  <%= submit_tag("Update") %>
<% end %>