<div class="container pt-5">
  <h1 class="text-center mb-3">Administration::<%= t(:tags, scope: 'admin.tags')%></h1>

  <div class="font-weight-bold text-center border-top pt-3">
    <% if @tags_count %>
    <%= t(:tags_here_are, scope: 'admin.tags') + @pagy.count.to_s + t(:tags_of, scope: 'admin.tags') + @tags_count.to_s + ' tags.' %>
    <% else %>
    <%= t(:tags_count, scope: 'admin.tags') + @pagy.count.to_s + '.' %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center py-3">
    <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= render partial: 'filter_categories' %>
    </div>

    <div class="col-sm-9">
      <table class="table">
        <thead class="bg--lightgrey">
          <tr>
            <th><%= sortable "tags.name", "Name", @filter_params %></th>
            <th><%= t(:categories, scope: 'admin.tags') %></th>
            <th><%= t(:languages, scope: 'admin.tags') %></th>
            <th>Profiles</th>
            <th><%= sortable 'taggings.created_at', t(:created_at, scope: 'admin.tags'), @filter_params %></th>
            <th><%= t(:delete, scope: 'admin.tags') %></th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |tag| %>
          <tr>
            <td>
              <b><%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]), id: "tag_#{tag.id}",
              data: { toggle: 'tooltip', placement: 'left' }, title: 'Edit' %></b></b>
              <%= link_to '<i class="fa fa-pencil">&nbsp;</i>'.html_safe, edit_admin_tag_path(tag.id, page: params[:page]),
              data: { toggle: 'tooltip', placement: 'left' }, title: 'Edit' %>
            </td>
            <td>
              <% tag.categories.pluck(:name).each do |name| %>
              <%= name %> <br/>
              <% end %>
            </td>
            <td>
              <% tag.locale_languages.pluck(:iso_code).each do |lang| %>
              <%= t(lang, scope: 'i18n.language') %><br/>
              <% end %>
            </td>
            <td>
              <% tag.taggings.each do |tagging| %>
              <%= link_to tagging.taggable.name_or_email, admin_profile_path(tagging.taggable),
              html_options = { title: t(:show, scope: 'admin.profiles.edit') } %><br/>
              <% end %>
            </td>
            <td>
              <% if !tag.taggings.empty? %>
              <%= tag.taggings.sort_by{|t| t.created_at }.first.created_at.strftime('%d.%m.%Y') %>
              <% end %>
            </td>
            <td>
              <%= link_to ('<i class="fa fa-trash-o">&nbsp;</i>').html_safe, admin_tag_path(tag.id),
              method: :delete, data: { confirm: 'Are you sure?',toggle: 'tooltip', placement: 'left' },
              class: 'btn btn-danger btn-sm', title: 'Delete'%>
            </td>
          </tr>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center py-3">
    <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
  </div>
</div>
