<div class="container profiles">
  <h1 class="title-profiles">Admin interface für Tags:</h1>
    <div class="row">
      <div class="span12">
        <table class="table table-bordered table-hovered table-condensed">
          <tr>
            <th>Name vom Tag</th>
            <th>Anzahl der Taggings</th>
            <th>Anzahl der Profile</th>
            <th>Katagorien</th>
            <th></th>
            <th></th>
          </tr>

          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.taggings.count %></td>
              <td><%= Profile.tagged_with(tag.name).count %></td>
              <td>
              <% @categories.each do |category| %>
                <%= form_for category,{ url: set_category_admin_tag_path(category.id) , method: "post" } do |f| %>
                  <%= f.check_box :name %>
                  <%= f.label(:name, category.name) %>
                  <%= f.submit :submit %>
                <% end %>
              <% end %>
              </td>
              <td><%= link_to "edit", edit_admin_tag_path(tag.id) %></td>
              <td>
                <%= link_to 'delete', admin_tag_path(tag.id), :method => :delete,
                  :confirm => "Do you want to delete the tag #{tag.name}?" %>
              </td>
            </tr>
          <% end %>
        </table>
        <br />
      </div>
      <hr/>
  </div>
</div>
