<div class="container pt-5">
  <h1 class="text-center mb-5">Administration::<%= t(:tags, scope: 'admin.dashboard.tags')%></h1>

  <%= render partial: 'filter_categories' %>

  <div class="my-3 font-weight-bold text-center border-top pt-3">
    <% if @tags_count %>
        <%= t(:tags_here_are, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + t(:tags_of, scope: 'admin.dashboard.tags') + @tags_count.to_s + ' tags.' %>
    <% else %>
        <%= t(:tags_count, scope: 'admin.dashboard.tags') + @tags.total_count.to_s + '.' %>
    <% end %>
  </div>

</div>

<div class="mx-5">
  <%= paginate @tags %>

  <table class='table'>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <b><%= link_to tag.name, edit_admin_tag_path(tag.id, page: params[:page]),
          data: { toggle: 'tooltip', placement: 'left' }, title: 'Edit' %></b>
          <%= tag.taggings_count %>
        </td>
        <td>
          <%= simple_form_for tag, url: admin_tag_path(tag, @filter_params), html: { class: "locale_language #{tag.name}" } do |f| %>
            <% LocaleLanguage.all.each do |language| %>
              <div id=<%="#{language.iso_code}_#{tag.id}"%> >
                <%= check_box_tag 'languages[]', language.iso_code,
                  tag.locale_languages.map(&:iso_code).include?("#{language.iso_code}"),
                  id: tag.name + "_" + language.iso_code %>
                <%= label_tag t(language.iso_code, scope: 'i18n.language') %>
              </div>
            <% end %>
            <%= f.button :submit, t(:save, scope: 'general'), class:'btn btn-blue btn-sm' %>
          <% end %>
        </td>
        <% @categories.each do |category| %>
          <td>
            <% if tag.categories.pluck(:id).include?(category.id) %>
              <%= link_to category.name, remove_category_admin_tag_path(tag,
              category_id: category.id, page: params[:page], q: params[:q],
              uncategorized: params[:uncategorized]), method: :post, class: 'color-white bg-primary px-1'  %>
            <% else %>
              <%= link_to category.name, set_category_admin_tag_path(tag,
              category_id: category.id, page: params[:page], q: params[:q],
              uncategorized: params[:uncategorized]), method: :post %>
            <% end %>
          </td>
        <% end %>
          <td>
           <%= link_to ('<i class="fa fa-trash-o">&nbsp;</i>').html_safe, admin_tag_path(tag.id),
           method: :delete, data: { confirm: 'Are you sure?',toggle: 'tooltip', placement: 'left' },
            class: 'btn btn-danger btn-sm', title: 'Delete'%>
          </td>
      </tr>
    <% end %>
  </table>

  <%= paginate @tags %>

</div>
