<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">About us</h1>

  <h4>Our aim:</h4>
  <p>
    People are often frustrated by the fact that it's usually men who are interviewed by the media or asked to present at conferences and not women.
  </p>
  <p>
    There isn't a biological explanation for this. Men are not cleverer than women. Anyone who points out this discrepancy is usually told that there wasn't a suitable woman* available.
  </p>
  <p>
    We are convinced  that there are a lot more competent women around than just those who speak in public. Girls need female role models, women need the assurance that another view on the topic, ie theirs, is equally relevant.
  </p>
  <p>
    Events need more diversity. The main aim of speakerinnen.org is to increase the visibility of women in the field of public speaking. With the help of our list it will be easier for organisers to find female experts to speak at their events. We also want to actively invite women to speak more often and in public about their area of expertise.
  </p>
  <a id="team_anchor"></a>
  <h4 class="mt-5 mb-3">Our Team:</h4>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('maren.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Maren Heltsche</b>
      <p>Maren Heltsche is a cofounder, the project manager and one of the developers of <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>. She works as a software developer, loves DIY, digital media and art. As a volunteer in the nationwide <a href="https://www.digitalmediawomen.de" target="_blank">Digital Media Women</a> network and as Special Representative on Digitalisation for the Board of the <a href="https://www.frauenrat.de/shortinfo/">National Council of German Women‘s Organizations</a> she campaigns for greater gender equality in technology, politics, business and society.
      </p>
      <a href="https://twitter.com/zaziemo" target="_blank">Maren on Twitter: @zaziemo</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('anja.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Anja</b>
      <p>Anja is trained communication designerin and for years she was employed as photo editor at a newspaper.2012 she started with the <a href="http://railsgirlsberlin.de" target="_blank"> RailsGirls </a> to program. Since then she works on <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>, <a href="http://50prozent.speakerinnen.org/" target="_blank">50Prozent Seite</a> and <a href="http://www.frauenstudien-muenchen.de/" target="_blank">Frauenstudien München</a>. 2015 she made her hobby into a profession and works now as a programer.</p>
      <a href="https://twitter.com/_tyranja_" target="_blank">Anja on Twitter: @_tyranja_</a><br>
      <a href="https://github.com/tyranja" target="_blank">Anja on Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('christiane.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Christiane Weihe</b>
      <p>Journalist, podcaster, editor. Writer by profession and passion.</p>
      <p>
        Always on the lookout for a new travel destination, an undiscovered restaurant and the best croissant in town.
        She helps with questions from the women speakers, takes care of administrative tasks and our social media channels.
      </p>
      <a href="https://www.christiane-weihe.de" target="_blank">Christiane Weihe writes - Website</a><br>
      <a href="https://open.spotify.com/show/5HWhRvM4Q9CBg5nCCZA8RV?si=kWTsvFY_SS21d9i5G6I97g" target="_blank">Podcast HEISS HEISS, BABY!</a>
      </ul>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('Mandy_Schossig_by_Delia_Woehlert.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Mandy Schossig</b>
      <p>Mandy Schossig exerts her love for communication fulltime at the <a href="http://www.oeko.de/" target="_blank">Oeko-Institut</a> and for the good cause. Besides that she writes as <a href="http://www.madnyread.tumblr.com/" target="_blank">Dr. Madny Read </a> about their enthusiasm for books and reading in general. She wholeheartedly supports Speakerinnen in communicating.</p>
      <a href="https://madnyread.tumblr.com/" target="_blank">Mandy's Website</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('neta.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Neta Gonen</b>
      <p>Neta Gonen is one of the developers of <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a> and works as a Java software developer. She loves coding, swing dancing, music, history and her cat and dog.</p>
      <a href="https://github.com/netagonen" target="_blank">Neta on Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('sabrina.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Sabrina Ulbrich</b>
      <p>Sabrina Ulbrich is one of the developers of speakerinnen.org. She studies philosophy and programs in Ruby.</p>
      <a href="https://twitter.com/sabrna" target="_blank">Sabrina on Twitter: @sabrna</a><br>
      <a href="https://github.com/sabrina-ulbrich" target="_blank">Sabrina on Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('salit_krac.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Salit Krac</b>
      <p>
  Salit is a product designer with a broad background in visual design. She joined Speakerinnen in 2018 to give a hand with the platform's navigation, and is refusing to leave since!
When she is not at work she is most likely at her desk drawing something spooky.
      <p>
      <a href="https://www.salitkrac.com" target="_blank">Salit's Website</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_johanna_lang.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Johanna Lang</b>
      <p>
        Johanna was always a fan of Speakerinnen and in 2019 decided to join the team as a developer.
        She works as a software developer and in her free time enjoys bike rides and taking photographs (e.g. of lakes with sunlight breaking through the clouds :) ).
      </p>
      <a href="https://github.com/langjoh" target="_blank">Johanna on Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_astrid.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Astrid</b>
      <p>
        Astrid is a software engineer with a focus on frontend. She joined Speakerinnen in 2020 to help develop the websites' UI.
        At her engineering day-job, she works in cloud computing, and spends her free time at team handball, choir practice, and occasionally chopping wood.
      </p>
      <a href="https://www.linkedin.com/in/astrid-t-9647ba99/" target="_blank">Astrid on LinkedIn</a>
    </div>
  </div>
  <h4 class="mt-5">Background:</h4>
  <p>
    Speakerinnen.org was created by 8 women with the support of 4 coaches as part of "Rails Girls Berlin" learning project.
  </p>
  <p>
    The project was initiated by <a href="https://twitter.com/annalist" target="_blank">Anne Roth</a>. The idea of having a database of women speakers originated during numerous discussions both online and offline about the dominance of men in the public domain. There are lots of reasons for this and speakerinnen.org isn't a solution for all of them. But it is a step towards making it easier for organisers to achieve a balanced male to female ratio at their events.
  </p>
  <p>
    In addition we want to support women in finding the right platform. We hope they will be encouraged by the experiences of other women and see that they too have a contribution to  make.
  </p>

  <h4 class="mt-5">Railsgirls / Rubymonstas:</h4>
  <p>
    <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> is an international non-profit organisation that motivates women to learn computer programming. They facilitate this through interesting workshops, study groups, grants and by creating a positive  learning community. The <a href="https://twitter.com/RubyMonstas" target="_blank">Rubymonsters</a> are a study group which emerged during one of the Rails Girls Berlin workshops.
  </p>

  <h4 class="mt-5">How can you support us:</h4>
  There are lots of ways in which you can support the speakerinnen.org project:
  <ul style="list-style-type:  '*'; padding: 10px;">
    <li>tell other women about it</li>
    <li><%= link_to "create your own profile", sign_up_path %></li>
    <li>send us an
      <% if cookies[:cookie_consent].blank? %>
        <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#contactHint">
          <%= "email" %>
        </button>
      <% else %>
        <%= link_to "email", contact_path, class: "" %>
      <% end %>
      with a link to networks and communities that deal with specific topics
    </li>
    <li>build with us! If you're good at web design or programming, help us  complete the ongoing issues. There's a list <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">here.</a></li>
    <li><a href="faq#donate_anker">donate to support our work!</a></li>
  </ul>
</div>
