<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">
      <%= t(:about_title, scope: "pages.home.footer") %>:
    </h1>

    <h3 class="pt">Nosso objetivo:</h3>
    <p>
      As pessoas frequentemente estão frustradas pelo fato de que geralmente são os homens que são entrevistados pela mídia ou convidados para apresentar em conferências e quase nunca as mulheres*.
    </p>
    <p>
      Não existe uma explicação biologica para isso. Os  homens não são mais inteligentes do que as mulheres*. Porém qualquer que chame atenção para essa discrepância recebe como desculpa de que não havia nenhuma mulher* adequada disponível.
    </p>
    <p>
      Nós estamos convencidas de que existe muitas mulheres competentes ao redor dos que apresentam em público. As garotas precisam de modelos do gênero feminino, mulheres*  precisam de uma outra visão sobre o tópico.
    </p>
    <p>
      Os eventos precisam de mais diversidade. O principal objetivo do "Speakerinnen-List" é aumentar a visibilidade das mulheres* nesses eventos. Com a ajuda da nossa lista isso será muito mais fácil para os organizadores na hora de encontrar mulheres* com expertise para aprensentar nos seus eventos. Nós também queremos convidar mulheres* para falar com mais frequência sobre o campo em que elas tem mais habilidade.
    </p>
    <a id="team_anchor"></a>
    <h3 class="pt">Nosso Time:</h3>
    <h4 class="pt">Anne Roth</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Cientista política, blogueira e ativista dos direitos digitais. Seus tópicos: Vigilância, política interna, mídia e feminismo. Ela atualmente é consultora Sênior do inquerito parlamentar sobre a vigilância em massa no Parlamento Federal Alemão, também conhecido como "Inquérito NSA". Em Abril de 2013 ela começou <a href="http://50prozent.noblogs.org/post/2013/04/20/sie-kann-sprechen"> a contar eventos e falar sobre isso </a> que mais tarde levou a criação do projeto Speakerinnen.
        <ul>
          <li>
            <a href="https://twitter.com/Anne_Roth" target="_blank" class="content__link--bg">@Anne_Roth</a>
          </li>
          <li>
            <a href="https://annalist.noblogs.org/en" target="_blank" class="content__link--bg">Blog</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('anne.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Maren Heltsche</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Maren Heltsche é a gestora do projeto e uma das desenvolvedoras do <a href="http://speakerinnen.org">speakerinnen.org</a>. Suas paixões são DIY, mídias digitais e programação com Ruby on Rails com o Railsgirls Berlin. Ela também é a co-fundadora e editora da revista digital Rosegarden e chefe local do capítulo Berlin do Digital Media Women*. Maren trabalha como uma analista de dados freelancer e gestão de projetos.
        </p>
        <ul>
          <li>
            <a href="https://twitter.com/zaziemo" target="_blank class="content__link--bg"">@zaziemo</a>
          </li>
          <li>
            <a href="http://www.rosegarden-mag.de" target="_blank class="content__link--bg"">rosegarden-mag</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('maren.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Anja</h4>
    <div class="layout">
      <div class="layout__item 3/4">
      <p>Anja é um designer de comunicação graduada e por anos ela trabalhou como editora de imagem em um jornal . 2012 ela começou a programar com o  <a href="http://railsgirlsberlin.de"> RailsGirls</a>. Desde então ela trabalha no <a href="http://speakerinnen.org">speakerinnen.org</a>, <a href="http://50prozent.speakerinnen.org/">50Prozent Seite</a> e <a href="http://www.frauenstudien-muenchen.de/">Frauenstudien München</a>. 2015 ela fez seu hobby torna-se uma profissão e trabalha em sua empresa favorita: <a href="https://travis-ci.org/">TravisCI</a>.</p>
      <ul>
        <li>
          <a href="https://twitter.com/_tyranja_" target="_blank" class="content__link--bg">@_tyranja_</a>
        </li>
        <li>
          <a href="https://github.com/tyranja" target="_blank" class="content__link--bg">github</a>
        </li>

      </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('anja.jpg',class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Christiane Weihe</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Escritora por profissão e paixão. Ela trabalha como editora e consultora. No seu tempo livre ela ama viajar o mundo. As cidades mais excitantes ela traz para seu blog-revista Naest. Christiane ajuda com perguntas para o Speakerinnen, também cuida de tarefas administrativas e de marketing.</p>
        <ul>
          <li>
            <a href="http://www.naest.de" target="_blank" class="content__link--bg">Naest</a>
          </li>
          <li>
            <a href="http://www.wortspektrum.de" target="_blank" class="content__link--bg">Wortspektrum</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('christiane.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Mandy Schossig</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Mandy Schossig exerce seu amor por comunicação em tempo integral no <a href="http://www.oeko.de/">Oeko-Institut</a> e pela boa causa. Além disso ela escreve como <a href="http://www.madnyread.tumblr.com/">Dr. Madny Read </a> sobre seu entusiamo por livros e leitura em geral. Ela apoia plenamente Speakerinnen na parte de comunicação.</p>
        <ul>
          <li>
            <a href="http://www.madnyread.tumblr.com" target="_blank" class="content__link--bg">Dr. Madny Read</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('mandy.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h3 class="pt">Background:</h3>
    <p>
      Speakerinnen.org foi criado por 8 mulheres com o apoio de 4 treinadores como parte do "Rails Girls Berlin" projeto de aprendizado.
    </p>
    <p>
      A ideia de ter um banco de dados de mulheres* palestrantes originou numerosas discussões tanto online como offline sobre a dominância dos homens em dominios públicos. Existem muitas razões para isso e speakerinnen.org não é uma solução para todas elas. Mas é um passo no sentido de tornar mais fácil para os organizadores conseguir um equilíbrio entre homens e mulheres* em relação aos seus eventos.
    </p>
    <p>
      Além disso nós queremos apoiar mulheres* na procura da plataforma certa. Nós esperamos que elas serão encorajadas pelas experiências de outras mulheres* e ver que elas também tem uma contribuilção a dar.
    </p>

    <h3 class="pt">Railsgirls / Rubymonsters:</h3>
    <p>
      <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> é uma organização internacional sem fins lucrativos que motiva as mulheres* a aprender programação de computadores. Elas facilitam isso atráves de interessantes oficinas, estudos, grupos, criando uma comunidade de aprendizado positiva. O <a href="http://twitter.com/RubyMonstas" target="_blank">Rubymonsters</a> é um grupo de estudo no qual surgiu durante uma das oficinas do Rails Girls Berlin.
    </p>

    <h3 class="pt">Como você pode nos ajudar:</h3>
    Existe muitas maneiras na qual você pode ajudar o projeto:
    <ul class="mb0">
      <li>
        Falar para outras mulheres* sobre isso
      </li>
      <li>
        Cria o seus próprio perfil na plataforma
      </li>
      <li>
        Enviando um e-mail com um link para redes e comunidades que lidam com temas específicos
      </li>
      <li>
      Construir com a gente! Se você é boa com web design ou programação, nos ajude com as issues em andamento. Tem uma lista <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">aqui.</a>
      </li>
      <li>
        <a href="faq#donate_anker">Doe para ajudar o nosso trabalho!</a>
      </li>
    </ul>
  </div>
</section>
