<div class="container bg--white pb-5 underline_links">
  <h1 class="display-4 py-5">About us</h1>
  <h4>Women have something to say – and they should be heard.</h4>
  <p>
    Speakerinnen.org was born from this simple idea.
  </p>
  <p>
    Speakerinnen.org is a platform that raises the visibility of women as experts, speakers, and discussion partners. Our female speaker database helps event organizers find competent women for conferences, panels, media appearances, and public discussions. At the same time, we encourage women to represent their topics, use their expertise, and speak publicly.
  </p>
  <h4>More women on stages and in panels</h4>
  <p>
    Men still dominate many stages, panels, and talk shows. Not because they are smarter, but because they are asked more often. Too often, the excuse is: “We would have liked to invite a woman, but we couldn't find a suitable one.” We think that's an excuse. The expertise is there – and that's where Speakerinnen.org comes in.
  </p>
  <h4>Anyone can become visible as an expert</h4>
  <p>
    At Speakerinnen.org, women can register themselves as experts in their fields. This allows them to showcase their knowledge, areas of expertise, and experience, making it easier for event organizers, editorial teams, and initiatives to find them. The database thus creates direct access – beyond informal networks and the same old contacts.
  </p>
  <h4>How it all began...</h4>
  <p>
    Speakerinnen.org was initiated by <a href="https://bsky.app/profile/anneroth.bsky.social" target="_blank">Anne Roth</a> and arose from many conversations about the dominance of men on stage. The platform was developed as a learning project by eight women with the support of four coaches in the Rubymonstas learning group, which emerged from Rails Girls Berlin.
  </p>
  <h4>For more diversity, perspectives, and visibility</h4>
  <p>
    Since Women's Day 2014, Speakerinnen.org has been actively inviting women to showcase their expertise. Because one thing is clear: when women are visible, things change. Debates become more diverse, events more relevant, and perspectives more complete. Girls need women who show them that their voices matter. Women need spaces where their views are taken for granted—not requiring explanation.
  </p>
  <p>
    Speakerinnen.org is committed to ensuring that women are not the exception on stage, but part of the norm. For more representation. For more diversity. And for a public sphere that truly includes everyone.
  </p>

  <a id="team_anchor"></a>
  <h4 class="my-3">Our Team:</h4>
  <div class="row mb-5">
    <div class="col-sm-2">
      <%= image_tag('maren.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Maren Heltsche </b>
      <p>Maren Heltsche is co-founder and one of the developers of <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>. For many years, she has been involved in various volunteer positions promoting equality in digital transformation. Professionally, she heads the web development team of a climate protection foundation. In her private life, she enjoys spending time with friends, traveling, DIY, and art.</a>.
      </p>
      <a href="https://bsky.app/profile/zaziemo.bsky.social" target="_blank">Maren on Bluesky</a><br>
      <a href="https://systerserver.town/@zaziemo" target="_blank">Maren's Mastodon profile</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('anja.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Anja</b>
      <p>Anja is a trained communication designer and worked for many years as a photo editor for a newspaper. In 2012, she started programming with Rails Girls Berlin and has been working on <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a> ever since. In 2015, she turned her hobby into a career and has been working as a programmer ever since. In her private life, she is committed to the transport revolution and livable neighborhoods.
      <a href="https://github.com/tyranja" target="_blank">Anja auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('christiane.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Christiane Weihe</b>
      <p>Christiane is an editor, podcaster, and writer by profession and passion. Always on the lookout for a new travel destination, an undiscovered restaurant, and the best croissant in town. She supports female speakers in matters of communication and takes care of administrative tasks and our social media channels.
      </p>
      <a href="https://www.christiane-weihe.de" target="_blank">Christiane Weihe schreibt - Website</a><br>
      <a href="https://open.spotify.com/show/5HWhRvM4Q9CBg5nCCZA8RV?si=kWTsvFY_SS21d9i5G6I97g" target="_blank">Podcast HEISS HEISS, BABY!</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('Mandy_Schossig_by_Delia_Woehlert.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Mandy Scho&szlig;ig</b>
      <p>
        Mandy practices her love of communication full-time at the <a href="https://www.oeko.de/en/">&Ouml;ko-Institut</a> and for good causes. In her private life, she is interested in good books, France, and is currently enjoying trying out new sports. She supports Speakerinnen.org out of conviction in communication and in establishing networks and collaborations.
      </p>
      <a href="https://speakerinnen.org/en/profiles/mandy-schossig" target="_blank">Mandys Profil bei Speakerinnen.org</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('sabrina.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Sabrina Ulbrich</b>
      <p>Sabrina co-founded Speakerinnen.org and works on the continuous development of the platform. She enjoys studying and talking about philosophy, has discovered a passion for gardening in recent years, and enjoys the peace and quiet of the countryside.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('salit_krac.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Salit Krac</b>
      <p>
        Salit is a product designer with a broad background in visual design. She joined Speakerinnen.org in 2018 to help with the platform's navigation and has refused to leave since. When she is not at work, she is most likely at her desk drawing something spooky.
      <p>
    </div>
  </div>
  <h4 class="mt-5">Support Speakerinnen.org</h4>
  <ul style="list-style-type: disc; padding-top: 10px;">
    <li><%= link_to "Create your own profile", sign_up_path %>and become more visible with your topics and expertise.</li>
    <li>Tell other women about Speakerinnen.org and encourage them to register.</li>
    <li>Contact other women's networks and communities and invite them to refer their members to Speakerinnen.org.</li>
    <li>Help us build or support our communication. If you are familiar with programming and web design or communication and marketing, contact us to volunteer with our team.</li>
    <li>•	Support our volunteer work with your <a href=<%=donate_path%>>donation</a>. We use donations for continuous development and new technical features – this way, Speakerinnen.org remains free and open to everyone.</li>
  </ul>
