<div class="container bg--white pb-5 underline_links">
  <h1 class="display-4 py-5">Über uns</h1>
  <h4>Frauen haben etwas zu sagen – und sie sollten gehört werden.</h4>
  <p>
   Aus diesem einfachen Gedanken ist Speakerinnen.org entstanden.
  </p>
  <p>
   Speakerinnen.org ist eine Plattform, die Frauen als Expertinnen, Rednerinnen und Gesprächspartnerinnen sichtbar macht. Unsere Speakerinnen-Datenbank hilft Veranstalter*innen dabei, kompetente Frauen für Konferenzen, Panels, Medien und öffentliche Diskussionen zu finden. Gleichzeitig ermutigen wir Frauen, ihre Themen zu vertreten, ihre Expertise zu nutzen und öffentlich zu sprechen.
  </p>
  <h4>Mehr Frauen auf Bühnen und in Podien</h4>
  <p>
   Denn noch immer dominieren Männer viele Bühnen, Podien und Talkrunden. Nicht, weil sie klüger wären – sondern weil sie häufiger gefragt werden. Zu oft heißt es dann: „Wir hätten ja gern eine Frau eingeladen, aber wir haben keine passende gefunden.“ Wir halten das für eine Ausrede. Kompetenz ist da – genau hier setzt Speakerinnen.org an.
  </p>
  <h4>Jede kann als Expertin sichtbar werden</h4>
  <p>
   Bei Speakerinnen.org können sich Frauen selbst als Expertinnen für ihre Themen registrieren. So machen sie ihr Wissen, ihre Schwerpunkte und ihre Erfahrung sichtbar und werden so leichter von Veranstaltungsorganisator*innen, Redaktionen und Initiativen gefunden. Die Datenbank schafft so einen direkten Zugang – jenseits informeller Netzwerke und immer gleicher Kontakte.
  </p>
  <h4>Wie alles begann…</h4>
  <p>
    Speakerinnen.org wurde von <a href="https://bsky.app/profile/anneroth.bsky.social" target="_blank">Anne Roth</a> initiiert und ist aus vielen Gesprächen über die Dominanz von Männern auf Bühnen entstanden. Entwickelt wurde die Plattform als Lernprojekt von acht Frauen mit Unterstützung von vier Coaches in der Lerngruppe Rubymonstas, die aus den Rails Girls Berlin hervorgegangen ist.
  </p>
  <h4>Für mehr Vielfalt, Perspektiven und Sichtbarkeit</h4>
  <p>
    Seit dem Frauentag 2014 lädt Speakerinnen.org Frauen aktiv dazu ein, sich mit ihrer Expertise zu zeigen. Denn klar ist: Wenn Frauen sichtbar sind, verändert sich etwas. Debatten werden vielfältiger, Veranstaltungen relevanter und Perspektiven vollständiger. Mädchen brauchen Frauen, die zeigen: Deine Stimme zählt. Frauen brauchen Räume, in denen ihre Sichtweisen selbstverständlich sind – nicht erklärungsbedürftig.
  </p>
  <p>
    Speakerinnen.org setzt sich dafür ein, dass Frauen nicht die Ausnahme auf der Bühne sind, sondern Teil der Normalität. Für mehr Repräsentation. Für mehr Vielfalt. Und für eine Öffentlichkeit, die wirklich alle meint.
  </p>

  <a id="team_anchor"></a>
  <h4 class="my-3">Unser Team:</h4>
  <div class="row mb-5">
    <div class="col-sm-2">
      <%= image_tag('maren.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Maren Heltsche </b>
      <p>Maren Heltsche ist Mitgründerin und eine der Entwicklerinnen von <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>. Seit vielen Jahren engagiert sie sich an unterschiedlichen Stellen ehrenamtlich für Gleichberechtigung in der Digitalen Transformation. Beruflich leitet sie das Web-Development-Team einer Klimaschutzstiftung. Privat verbringt sie gerne Zeit mit Freunden, Reisen, DIY und Kunst.</a>.
      </p>
      <a href="https://bsky.app/profile/zaziemo.bsky.social" target="_blank">Maren auf Bluesky</a><br>
      <a href="https://systerserver.town/@zaziemo" target="_blank">Maren auf Mastodon</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('anja.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Anja</b>
      <p>Anja ist gelernte Kommunikationsdesignerin und war lange als Fotoredakteurin bei einer Zeitung angestellt. 2012 hat sie mit den Rails Girls Berlin angefangen zu programmieren und arbeitet seitdem mit an <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>. 2015 hat sie ihr Hobby zum Beruf gemacht und arbeitet seitdem als Programmiererin. Privat engagiert sie sich für die Verkehrswende und lebenswerte Kieze.
      <a href="https://github.com/tyranja" target="_blank">Anja auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('christiane.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Christiane Weihe</b>
      <p>Christiane ist Redakteurin, Podcasterin und Schreibende aus Beruf und Leidenschaft. Immer auf der Suche nach einem neuen Reiseziel, einem unentdeckten Restaurant und dem besten Croissant der Stadt. Sie unterstützt Speakerinnen in Fragen der Kommunikation und kümmert sich um administrative Aufgaben und unsere Social Media-Kanäle.
      </p>
      <a href="https://www.christiane-weihe.de" target="_blank">Christiane Weihe schreibt - Website</a><br>
      <a href="https://open.spotify.com/show/5HWhRvM4Q9CBg5nCCZA8RV?si=kWTsvFY_SS21d9i5G6I97g" target="_blank">Podcast HEISS HEISS, BABY!</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('Mandy_Schossig_by_Delia_Woehlert.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Mandy Scho&szlig;ig</b>
      <p>
        Mandy übt ihre Liebe fürs Kommunizieren hauptberuflich am <a href="http://www.oeko.de/">&Ouml;ko-Institut</a> und für die gute Sache aus. Privat interessiert sie sich für gute Bücher, Frankreich und probiert gerade sehr gern neue Sportarten aus. Sie unterstützt Speakerinnen.org aus Überzeugung bei der Kommunikation sowie bei der Etablierung von Netzwerken und Kooperationen.
      </p>
      <a href="https://speakerinnen.org/de/profiles/mandy-schossig" target="_blank">Mandys Profil bei Speakerinnen.org</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('sabrina.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Sabrina Ulbrich</b>
      <p>Sabrina hat Speakerinnen.org mitgegründet und arbeitet an der kontinuierlichen Weiterentwicklung der Plattform mit. Sie studiert und spricht gerne über Philosophie, hat in den letzten Jahren ihre Leidenschaft fürs Gärtnern entdeckt und genießt die Ruhe auf dem Land.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('salit_krac.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Salit Krac</b>
      <p>
        Salit ist Produktdesignerin mit einem breiten Hintergrund im Bereich visuelles Design. Sie kam 2018 zu Speakerinnen.org, um bei der Navigation der Plattform mitzuhelfen, und will seitdem nicht mehr weg. Wenn sie nicht arbeitet, sitzt sie höchstwahrscheinlich an ihrem Schreibtisch und zeichnet etwas Gruseliges.      <p>
    </div>
  </div>
  <h4 class="mt-5">Speakerinnen.org unterstützen</h4>
  <ul style="list-style-type: disc; padding-top: 10px;">
    <li><%= link_to "lege selbst ein Profil an", sign_up_path %>und werde mit deinen Themen und deiner Expertise sichtbarer.</li>
    <li>Erzähle anderen Frauen von Speakerinnen.org und motiviere sie, sich zu registrieren.</li>
    <li>Kontaktiere andere Frauen-Netzwerke und Communities und lade sie ein, ihre Mitglieder auf Speakerinnen.org hinzuweisen.</li>
    <li>Bau mit oder unterstütze uns bei der Kommunikation. Wenn du dich mit Programmierung und Webdesign oder Kommunikation und Marketing auskennst, kontaktiere uns für eine ehrenamtliche Mitarbeit in unserem Team.</li>
    <li>Unterstütze unsere ehrenamtliche Arbeit mit deiner <a href=<%=donate_path%>>Spende</a>. Wir setzen Spenden für die kontinuierliche Weiterentwicklung und neue technische Funktionen ein – so bleibt Speakerinnen.org kostenfrei und offen für alle.</li>
  </ul>
