<div class="container bg--white pb-5">
  <h1 class="display-4 py-5">Über uns</h1>
  <h4>Unser Ziel:</h4>
  <p>
  Viele Menschen stört, dass Männer viel häufiger als Experten zu Konferenzen eingeladen oder von den Medien befragt werden. Biologisch gibt es dafür keinen Grund: Männer sind nicht klüger als Frauen.
  Wer Organisator*innen auf die Diskrepanz hinweist, bekommt oft die Reaktion, dass keine geeignete Frau zu finden war. Wir sind davon überzeugt, dass es viel mehr kompetente Frauen gibt, als auf den Bühnen sprechen.
  Mädchen brauchen weibliche Vorbilder, Frauen brauchen die Gewissheit, dass eine andere - ihre - Sicht auf ein Thema genauso relevant ist. Veranstaltungen brauchen mehr Diversität.
  </p>
  <p>
  Ziel der Speakerinnen-Liste ist es, die Sichtbarkeit von Frauen überall da zu steigern, wo öffentlich gesprochen wird. Mit Hilfe der Speakerinnen-Liste wird es für Veranstalter*innen leichter, Expertinnen für ihre Events zu finden.
  Gleichzeitig lädt sie Frauen aktiv dazu ein, häufiger und öffentlich über ihre Themen zu sprechen.
  </p>
  <a id="team_anchor"></a>
  <h4 class="my-5">Unser Team:</h4>
  <div class="row mb-5">
    <div class="col-sm-2">
      <%= image_tag('maren.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Maren Heltsche</b>
      <p>Maren Heltsche ist Mitgründerin, Projektmanagerin und eine der Entwicklerinnen der Plattform <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>. Sie arbeitet als Programmiererin, liebt DIY, Digital Media und Kunst.<br>Sie engagiert sich für Gleichberechtigung in der Digitalen Transformation bei den <a href="https://www.digitalmediawomen.de" target="_blank">Digital Media Women</a> und im <a href="https://www.frauenrat.de/" target="_blank">Deutschen Frauenrat</a>.
      </p>
      <a href="https://twitter.com/zaziemo" target="_blank">Maren auf Twitter: @zaziemo</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('anja.jpg',class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Anja</b>
      <p>Anja ist gelernte Kommunikationsdesignerin und war jahrelang als Fotoredakteurin bei einer Zeitung angestellt. 2012 hat sie mit den <a href="http://railsgirlsberlin.de" target="_blank"> RailsGirls </a> angefangen zu programmieren. Seitdem arbeitet sie mit an <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a>, der <a href="http://50prozent.speakerinnen.org/" target="_blank">50Prozent Seite</a> und an den <a href="http://www.frauenstudien-muenchen.de/" target="_blank">Frauenstudien München</a>. 2015 hat sie ihr Hobby zum Beruf gemacht und arbeitet jetzt als Programmierin.</p>
      <a href="https://twitter.com/_tyranja_" target="_blank">Anja auf Twitter: @_tyranja_</a><br>
      <a href="https://github.com/tyranja" target="_blank">Anja auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('christiane.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Christiane Weihe</b>
      <p>Journalistin, Podcasterin, Redakteurin. Schreibende aus Beruf und Leidenschaft.</p>
      <p>Immer auf der Suche nach einem neuen Reiseziel, einem unentdeckten
        Restaurant und dem besten Croissant der Stadt.
        Sie hilft bei Fragen der Speakerinnen weiter, kümmert sich um
        administrative Aufgaben und unsere Social Media-Kanäle.
      </p>
      <a href="https://www.christiane-weihe.de" target="_blank">Christiane Weihe schreibt - Website</a><br>
      <a href="https://open.spotify.com/show/5HWhRvM4Q9CBg5nCCZA8RV?si=kWTsvFY_SS21d9i5G6I97g" target="_blank">Podcast HEISS HEISS, BABY!</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('Mandy_Schossig_by_Delia_Woehlert.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Mandy Scho&szlig;ig</b>
      <p>Mandy Scho&szlig;ig &uuml;bt ihre Liebe f&uuml;rs Kommunizieren hauptberuflich am <a href="http://www.oeko.de/">&Ouml;ko-Institut</a> und f&uuml;r die gute Sache aus. Privat schreibt sie als <a href="http://www.madnyread.tumblr.com/">Dr. Madny Read</a> &uuml;ber ihren Enthusiasmus f&uuml;r B&uuml;cher und das Lesen im Allgemeinen. Speakerinnen unterst&uuml;tzt sie aus &Uuml;berzeugung bei der Kommunikation.</p>
      <a href="https://madnyread.tumblr.com/" target="_blank">Mandy's Webseite</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('neta.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Neta Gonen</b>
      <p>Neta Gonen ist eine der Programmiererinnen von <a href="http://speakerinnen.org" target="_blank">speakerinnen.org</a> und arbeitet als Java Software Entwicklerin. Sie liebt Programmieren, Swing tanzen, Musik, Geschichte und ihre Katze und ihren Hund.</p>
      <a href="https://github.com/netagonen" target="_blank">Neta auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('sabrina.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Sabrina Ulbrich</b>
      <p>Sabrina Ulbrich eine der Entwicklerinnen von speakerinnen.org. Sie studiert Philosophie und programmiert in Ruby.</p>
      <a href="https://twitter.com/sabrna" target="_blank">Sabrina auf Twitter: @sabrna</a><br>
      <a href="https://github.com/sabrina-ulbrich" target="_blank">Sabrina auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('salit_krac.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Salit Krac</b>
      <p>
  Salit is a product designer with a broad background in visual design. She joined Speakerinnen in 2018 to give a hand with the platform's navigation, and is refusing to leave since!
When she is not at work she is most likely at her desk drawing something spooky.
      <p>
      <a href="https://www.salitkrac.com" target="_blank">Salit's Webseite</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_johanna_lang.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Johanna Lang</b>
      <p>
        Johanna war schon lange ein Fan von Speakerinnen, bevor sie sich dann 2019 entschied, Teil des Entwicklerinnen-Teams zu werden.
        Sie arbeitet als Software-Entwicklerin bei einer Stiftung. In ihrer Freizeit radelt sie gerne oder fotografiert.
      </p>
      <a href="https://github.com/langjoh" target="_blank">Johanna auf Github</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-2">
      <%= image_tag('about_astrid.jpg', class: 'photo--grey') %>
    </div>
    <div class="col-sm-10">
      <b>Astrid</b>
      <p>
        Astrid ist Softwareentwicklerin mit einer Vorliebe fürs Visuelle. Seit 2020 unterstützt sie die Speakerinnen und hilft dabei, Design und User Experience in der Webseite umzusetzen.
        Tagsüber arbeitet sie als Entwicklerin im Cloud Computing, spielt Handball, singt im Chor und hackt gelegentlich Holz.
      </p>
      <a href="https://www.linkedin.com/in/astrid-t-9647ba99/" target="_blank">Astrid auf LinkedIn</a>
    </div>
  </div>
  <h4 class="mt-5">Hintergrund:</h4>
  <p>
    Die Speakerinnen-Liste ist die Idee vieler Frauen und wurde von <a href="https://twitter.com/annalist" target="_blank">Anne Roth</a> initiiert. Die Plattform wurde von 8 Frauen mit der Unterstützung von 4 Coaches als Lernprojekt der Rubymonstas,
    einer Lerngruppe der Rails Girls Berlin, gebaut.
  </p>
  <p>
    Die Idee zu einer Datenbank entstand in vielen Gesprächen, online und offline, über die Dominanz von Männern auf Bühnen. Dafür gibt es verschiedene Gründe und nicht für alle davon ist die Speakerinnen-Liste ein Lösung. Aber sie ist ein Schritt dahin, den Veranstaltern und Veranstalterinnen die Suche zu erleichtern, die an einem ausgeglichenen Gender-Verhältnis bei ihren Events interessiert sind.
  <p>
  </p>
    Außerdem wollen wir Frauen dabei unterstützen, die richtige Bühne zu finden. Das wird hoffentlich einfacher, wenn am Beispiel vieler anderer Frauen zu sehen ist, dass ganz unterschiedliche Erfahrungen gefragt sein können.
  </p>

  <h4 class="mt-5">Railsgirls / Rubymonstas:</h4>
  <p>
    Die <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> sind eine internationale Non-Profit-Gruppe, die Frauen motiviert, sich mit dem Programmieren zu beschäftigen. Das Ganze über wunderbare Workshops, Lerngruppen, Stipendien und eine angenehme Lern-Community. Die <a href="https://twitter.com/RubyMonstas" target="_blank">Rubymonstas</a> sind eine Lerngruppe, die aus einem Workshop der Rails Girls hervorgegangen ist.
  </p>

  <h4 class="mt-5">Unterstützen:</h4>
  Es gibt viele Möglichkeiten, das Projekt Speakerinnen-Liste zu unterstützen:
  <ul style="list-style-type:  '*'; padding: 10px;">
    <li>erzählt anderen Frauen davon</li>
    <li><%= link_to "legt selbst ein Profil an", sign_up_path %></li>
    <li>schickt eine
     <% if cookies[:cookie_consent].blank? %>
        <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#contactHint">
          <%= "Mail" %>
        </button>
      <% else %>
        <%= link_to "Mail", contact_path, class: "" %>
      <% end %>
      mit einem Hinweis an Netzwerke und Communities, die sich mit spezifischen Themen beschäftigen</li>
    <li>baut mit! Wenn ihr euch mit Webdesign oder Programmierung auskennt, helft uns bei der Umsetzung der offenen Wünsche. Eine Liste gibt es <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">hier.</a></li>
    <li><a href="faq#donate_anker">spendet an uns, um unsere Arbeit zu unterstützen!</a></li>
  </ul>
</div>
