<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">
      <%= t(:about_title, scope: "pages.home.footer") %>:
    </h1>
    <h3 class="pt">Unser Ziel:</h3>
    <p>
    Viele Menschen stört, dass Männer viel häufiger als Experten zu Konferenzen eingeladen oder von den Medien befragt werden. Biologisch gibt es dafür keinen Grund: Männer sind nicht klüger als Frauen.
    Wer Organisator_innen auf die Diskrepanz hinweist, bekommt oft die Reaktion, dass keine geeignete Frau zu finden war. Wir sind davon überzeugt, dass es viel mehr kompetente Frauen gibt, als auf den Bühnen sprechen.
    Mädchen brauchen weibliche Vorbilder, Frauen brauchen die Gewissheit, dass eine andere - ihre - Sicht auf ein Thema genauso relevant ist. Veranstaltungen brauchen mehr Diversität.
    <p>
    </p>
    Ziel der Speakerinnen-Liste ist es, die Sichtbarkeit von Frauen überall da zu steigern, wo öffentlich gesprochen wird. Mit Hilfe der Speakerinnen-Liste wird es für Veranstalterinnen und Veranstalter leichter, Expertinnen für ihre Events zu finden.
    Gleichzeitig lädt sie Frauen* aktiv dazu ein, häufiger und öffentlich über ihre Themen zu sprechen.
    </p>
    <a id="team_anchor"></a>
    <h3 class="pt">Unser Team:</h3>
    <h4 class="pt">Anne Roth</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Politologin, Netzaktivistin und Bloggerin. Ihre Themen: Überwachung, Innenpolitik, Medien und Feminismus.<br>Sie verdient ihr Geld derzeit als Referentin im NSA-Untersuchungsausschuss des Bundestages. Im April 2013 hat sie begonnen, <a href="http://50prozent.noblogs.org/post/2013/04/20/sie-kann-sprechen">Events zu zählen und darüber zu bloggen</a>, das war der Ausgangspunkt für die Speakerinnen-Liste.</p>
        <ul>
          <li>
            <a href="https://twitter.com/annalist" target="_blank" class="content__link--bg">@annalist</a>
          </li>
          <li>
            <a href="https://annalist.noblogs.org" target="_blank" class="content__link--bg">Blog</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('anne.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Maren Heltsche</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Maren Heltsche ist Projektmanagerin und eine der Entwicklerinnen der Plattform <a href="http://speakerinnen.org">speakerinnen.org</a>. Sie ist leidenschaftliche Ruby on Rails-Entwicklerin in progress, liebt DIY, Digital Media und Kunst.<br>Sie ist Mit-Herausgeberin des Online-Magazins ROSEGARDEN und Quartiersleiterin der Digital Media Women Berlin. Ihr Geld verdient sie als Datenanalystin und Projektmanagerin.
        </p>
        <ul>
          <li>
            <a href="https://twitter.com/zaziemo" target="_blank class="content__link--bg"">@zaziemo</a>
          </li>
          <li>
            <a href="http://www.rosegarden-mag.de" target="_blank class="content__link--bg"">rosegarden-mag</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('maren.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Anja</h4>
    <div class="layout">
      <div class="layout__item 3/4">
      <p>Anja ist gelernte Kommunikationsdesignerin und war jahrelang als Fotoredakteurin bei einer Zeitung angestellt. 2012 hat sie mit den <a href="http://railsgirlsberlin.de"> RailsGirls </a> angefangen zu programmieren. Seitdem arbeitet sie mit an <a href="http://speakerinnen.org">speakerinnen.org</a>, der <a href="http://50prozent.speakerinnen.org/">50Prozent Seite</a> und an den <a href="http://www.frauenstudien-muenchen.de/">Frauenstudien München</a>. 2015 hat sie ihr Hobby zum Beruf gemacht und arbeitet bei ihrer Lieblingsfirma: <a href="https://travis-ci.org/">TravisCI</a>.</p>
      <ul>
        <li>
          <a href="https://twitter.com/_tyranja_" target="_blank" class="content__link--bg">@_tyranja_</a>
        </li>
        <li>
          <a href="https://github.com/tyranja" target="_blank" class="content__link--bg">auf github</a>
        </li>

      </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('anja.jpg',class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Christiane Weihe</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Schreibende aus Beruf und Leidenschaft. Ihr Geld verdient sie als Redakteurin und Wort-Beraterin.<br>Wenn sie nicht arbeitet, reist sie am liebsten dies- und jenseits der Ozeane. Und holt die spannendsten Städte in ihr Blog-Magazin Naest. Sie hilft bei Fragen der Speakerinnen weiter, kümmert sich um administrative und Marketing-Aufgaben.</p>
        <ul>
          <li>
            <a href="http://www.naest.de" target="_blank" class="content__link--bg">Naest</a>
          </li>
          <li>
            <a href="http://www.wortspektrum.de" target="_blank" class="content__link--bg">Wortspektrum</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('christiane.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h4 class="pt">Mandy Scho&szlig;ig</h4>
    <div class="layout">
      <div class="layout__item 3/4">
        <p>Mandy Scho&szlig;ig &uuml;bt ihre Liebe f&uuml;rs Kommunizieren hauptberuflich am <a href="http://www.oeko.de/">&Ouml;ko-Institut</a> und f&uuml;r die gute Sache aus. Privat schreibt sie als <a href="http://www.madnyread.tumblr.com/">Dr. Madny Read</a> &uuml;ber ihren Enthusiasmus f&uuml;r B&uuml;cher und das Lesen im Allgemeinen. Speakerinnen unterst&uuml;tzt sie aus &Uuml;berzeugung bei der Kommunikation.</p>
        <ul>
          <li>
            <a href="http://www.madnyread.tumblr.com" target="_blank" class="content__link--bg">Dr. Madny Read</a>
          </li>
        </ul>
      </div><div class="layout__item 1/4">
        <%= image_tag('mandy.jpg', class: 'photo--grey') %>
      </div>
    </div>
    <h3 class="pt">Hintergrund:</h3>
    <p>
      Die Speakerinnen-Liste ist die Idee vieler Frauen und wurde technisch von 8 Frauen mit der Unterstützung von 4 Coaches als Lernprojekt der Rubymonstas,
      einer Lerngruppe der Rails Girls Berlin, gebaut.
    </p>
    <p>
      Die Idee zu einer Datenbank entstand in vielen Gesprächen, online und offline, über die Dominanz von Männern auf Bühnen. Dafür gibt es verschiedene Gründe und nicht für alle davon ist die Speakerinnen-Liste ein Lösung. Aber sie ist ein Schritt dahin, den Veranstaltern und Veranstalterinnen die Suche zu erleichtern, die an einem ausgeglichenen Gender-Verhältnis bei ihren Events interessiert sind.
    <p>
    </p>
      Außerdem wollen wir Frauen* dabei unterstützen, die richtige Bühne zu finden. Das wird hoffentlich einfacher, wenn am Beispiel vieler anderer Frauen* zu sehen ist, dass ganz unterschiedliche Erfahrungen gefragt sein können.
    </p>

    <h3 class="pt">Railsgirls / Rubymonstas:</h3>
    <p>
      Die <a href="http://www.railsgirlsberlin.de" target="_blank">Rails Girls</a> sind eine internationale Non-Profit-Gruppe, die Frauen motiviert, sich mit dem Programmieren zu beschäftigen. Das Ganze über wunderbare Workshops, Lerngruppen, Stipendien und eine angenehme Lern-Community. Die <a href="http://twitter.com/RubyMonstas" target="_blank">Rubymonsters</a> sind eine Lerngruppe, die aus einem Workshop der Rails Girls hervorgegangen ist.
    </p>

    <h3 class="pt">Unterstützen:</h3>
      Es gibt viele Möglichkeiten, das Projekt Speakerinnen-Liste zu unterstützen:
    <ul class="mb0">
      <li>
        erzählt anderen Frauen* davon
      </li>
      <li>
        legt selbst ein Profil an
      </li>
      <li>
        schickt eine Mail mit einem Hinweis an Netzwerke und Communities, die sich mit spezifischen Themen beschäftigen
      </li>
      <li>
        baut mit! Wenn ihr euch mit Webdesign oder Programmierung auskennt, helft uns bei der Umsetzung der offenen Wünsche. Eine Liste gibt es <a href="https://github.com/rubymonsters/speakerinnen_liste/issues/216" target="_blank">hier.</a>
      </li>
    </ul>
  </div>
</section>
