<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">FAQ/How-to</h1>

    <h3 class="pt">Warum gibt es Thema XYZ noch nicht?</h3>
    <p>
    Weil es noch niemand angelegt hat. Alle Themen, die in der Speakerinnen-Liste zu sehen sind, wurden von mindestens einer Speakerin in ihrem Profil als 'Tags' eingegeben. Daraus entstehen automatisch auf der Seite die für alle sichtbaren Themen.
    </p>

    <h3 class="pt">Können sich alle einfach eintragen?</h3>
    <p>Ja. </p>

    <h3 class="pt">Warum ist mein Profil noch nicht freigeschaltet?</h3>
    <p>
    Wir sind nicht ständig online: wenn das Profil gerade erst fertig eingetragen wurde, kann es einen Moment dauern. 
    </p>
    <p>
    Falls es aber sehr wenig Informationen im Profil stehen, dachten wir möglicherweise, dass es noch nicht fertig ist. Wenn du möchtest, dass es trotzdem freigeschaltet wird, dann schreib uns eine Mail an speakerinnen@lists.riseup.net.
    </p>

    <h3 class="pt">Wonach kann ich suchen?</h3>
    <p>
    Du kannst alle Felder durchsuchen, die die Speakerinnen* ausfüllen können:
    <br> Name - Sprachen - Stadt - Referenzen - Themen - Biografie - Titel
    <br> Mit AND und OR-Verknüpfungen kannst du auch Kombinationen suchen, z.B. Energie Berlin. Wenn du mehrere Begriffe hintereinander eingibst, werden sie automatisch als AND-Verknüpfung erkannt. Groß- und Kleinschreibung spielt keine Rolle.
    </p>

    <h3 class="pt">Wie kann ich Euch Geld spenden?</h3>
    <p class="pb mb++ bb">Aktuell ist das nicht möglich, aber freuen uns sehr über die Bereitschaft! Und versuchen, bald eine Option zum Spenden einzurichten.
    </p>
    <h1 class="mb0">How-to</h1>
    <p class="bb">
      How to become a Speakerin: Guide für ein aussagekräftiges Profil
    </p>
    <h3 class="pt">
      Intro: General information.
    </h3>
    <p>
Die Speakerinnen-Liste ist eine Plattform mit dem Ziel, mehr Frauen  auf Bühnen und Podien, zu Konferenzen, Workshops, Meetings und in die Medien zu bringen. Veranstalter und Veranstalterinnen finden hier Expertinnen aus zahlreichen unterschiedlichen Bereichen – vom Digital Business Development über Meeresschutz bis zur Geschlechterforschung.<br>
Registrieren kann sich jede* – das Speakerinnen-Team prüft jedoch jeden Eintrag vor der Freischaltung auf Vollständigkeit. Dieser Guide zeigt euch, was ihr bei der Registrierung beachten müsst und wie sie reibungslos funktioniert. Dabei haben wir auch Tipps für ein aussagekräftiges Profil zusammengestellt.<br>
Wir freuen uns auf euch bei Speakerinnen.org!
    </p>
    <h3 class="pt">
Vier Schritte für ein aussagekräftiges Speakerinnen-Profil
    </h3>
    <b>
Schritt 1: Als Speakerin registrieren
    </b>
    <p>
    <%= image_tag('faq_login_de.png', class:'faq-image--float') %>
Rechts oben auf der Seite findest du den Button „Als Speakerin registrieren“ – draufklicken und schon geht es los! Zuerst musst du deine E-Mail-Adresse eingeben, dann ein Passwort deiner Wahl. Dieses bitte wiederholen. Dann auf „Registrieren“ klicken.<br>
Du erhältst nun eine E-Mail an die angegebene Adresse. Hier findest du den Link „Bestätige meinen Account“ – draufklicken! Du kommst nun wieder auf die Speakerinnen-Seite, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.<br>
Übrigens: Eine Registrierung funktioniert auch über Twitter. Dafür einfach auf „Über Twitter registrieren“ klicken, dann wirst du zu Twitter weitergeleitet. Hier wirst du gefragt: „Speakerinnenliste berechtigen, Deinen Account zu nutzen?“. Wenn du auf Anmelden klickst, geht es zurück auf die Speakerinnen-Seite. Hier musst du nur noch eine E-Mail-Adresse eingeben. Anschließend erhältst du eine E-Mail, in der du den Satz „Bestätige meinen Account“ findest. Draufklicken, dann wirst du auf die Speakerinnen-Seite zurückgeleitet, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.
    </p>
    <p>
Alternatively you can register using an existing twitter account. In case you prefer this option, follow the link "Über Twitter registrieren", which takes you to the according authorization screen. After confirming your intention to log in with twitter, you find yourself back on Speakerinnen.org. At this point, You still need to provide a valid email address and confirm it. It works just as described in the previous paragraph.
    </p>
    <b>
Step 02: Profil ausfüllen
    </b>
    <p>
Du landest du auf der Begrüßungsseite der Speakerinnen. Um dein Profil zu bearbeiten, klicke rechts oben auf „Mein Profil“.<br>
    <%= image_tag('faq_edit_profile_de.png', class:'faq-image--float') %>
Auf der Seite, die sich nun öffnet, kannst du dein Profil vervollständigen. Einfach auf „Profil bearbeiten“ klicken!<br>
Jetzt öffnet sich die Seite „Aktualisiere dein Profil“. Hier Vorname und Nachname, E-Mail-Adresse und (so weit vorhanden) Twitter-Name eingeben sowie die Stadt, in der du wohnst und tätig bist. Außerdem Sprachen sowie eine Website falls du eine hast. Die Sprachen werden so angezeigt, wie du sie eingibst, du kannst sie mit Leerzeichen, Kommas oder einem Bindestrich trennen. Bitte keine Programmiersprachen eingeben – sie gehören zu deinen Themen.<br>
Rechts findest du unter „Bild“ den Button „Datei auswählen“. Hierüber kannst du ein Profilfoto hochladen. Bitte nutze ein jpg, jpeg oder png und achte darauf, dass du die Rechte an diesem Foto besitzt! Die Größe des Fotos sollte kleiner als 1 MB sein. Dir ist vielleicht aufgefallen, dass die Profilfotos auf unserer Seite in schwarz-weiß angezeigt werden. Wenn man mit der Maus darüber fährt, erscheint das Original. Deshalb wäre es schön, wenn du ein farbiges Bild verwendest, damit dieser Effekt entstehen kann.
    </p>
    <p>
Jetzt kannst du Tags eingeben, also die Themen, mit denen du sich beschäftigst. Das kann Journalismus sein, Biotechnologie oder Netzfeminismus. Bitte prüfe zuerst, ob es bereits Tags gibt, die du nutzen kannst. Du findest sie, in dem du einfach die ersten Buchstaben deines Wunsch-Tags eingibst – dann werden dir Begriffe vorgeschlagen. Oder du schaust dir auf der Speakerinnen-Seite an, welche Themen bereits eingegeben wurden.
    </p>
    <p>
    <%= image_tag('faq_edit_profile_bio_de.png', class:'faq-image--float') %>
Im nächsten Schritt gibst du dein Hauptthema an – nur eins, bitte eindeutig und gut verständlich. Beispiele hierfür sind „Social Media“, „Nachhaltige Landwirtschaft“ oder auch „Human Resources“. Wichtig: in der Übersicht der Profile wird das Hauptthema auf 30 Zeichen begrenzt. Ideal ist es also, wenn dein Hauptthema maximal 30 Zeichen verwendet.<br>
Nun auf jeden Fall das Feld „Biografie“ ausfüllen! Ohne Angaben in diesem Feld können wir das Profil nicht freischalten. Du kannst das alles auf Wunsch auch auf Englisch eingeben, das ist aber keine Pflicht. Diese Angaben werden nur angezeigt, wenn man auf die englische Version der Seite (siehe oben rechts) klickt.
    </p>
    <p>
Abschließend einfach auf „Aktualisiere dein Profil“ klicken und schon siehst du dein Profil, wie andere es nach der Freischaltung sehen werden.
    </p>
    <p>
Bei Bedarf kannst du dein Profil jederzeit nachträglich bearbeiten.
    </p>
    <b>
Schritt 3: Referenzen angeben
    </b>
    <p>
    <%= image_tag('faq_add_profile_references_de.png', class:'faq-image--float') %>
Um Referenzen einzutragen, klicke bitte rechts auf den Button „Referenzen bearbeiten“. Es öffnet sich die Überblicksseite deiner Referenzen.
Klicke dann auf den Link „Referenz hinzufügen“ und gib’ nun eine URL, wo die Referenz zu finden ist, eine Überschrift sowie eine kurze Beschreibung an. Dann auf „Referenz erstellen“ und schon befindet sich die Referenz unter „Meine Vorträge“ in deinem Profil. Du kannst die Reihenfolge der Referenzen jederzeit problemlos verändern, indem du sie einfach nach oben oder unten verschiebst.<br>
Willst du dir dein fertiges Profil anschauen, gehe einfach auf den Link „Eigenes Profil anzeigen“ und schon siehst du, wie dein fertiges Profil nach der Freischaltung aussehen wird.
    <%= image_tag('faq_edit_profile_references_de.png', class:'faq-image--float') %>
    </p>
    <b>
Schritt 4: Freischaltung
    </b>
    <p>
Das Speakerinnen-Team erhält eine Benachrichtigung bei jeder neuen Anmeldung. Wir werden dein Profil – wenn es vollständig ist – so schnell wie möglich freischalten. Solltest du Rückfragen haben oder dich wundern, warum dein Profil noch nicht sichtbar ist, wende dich jederzeit an Christiane vom Speakerinnen-Team unter post@wortspektrum.de!<br>
Sobald dein Profil für alle sichtbar ist, erhältst du eine automatische E-Mail, die dir sagt: Dein Profil wurde jetzt freigeschaltet!
    </p>
    <b>
Tipps für ein aussagekräftiges Speakerinnen-Profil:
    </b>
    <p>
    <ul>
      <li>
        Füge ein gutes Foto von dir ein! Dieses kannst du auf Wunsch jederzeit wieder austauschen. Die Anleitung hierfür findest du im Guide für ein aussagekräftiges Profil.
      </li>
      <li>
        Lass’ die Kategorie „Meine Biografie“ nicht leer! Wird sie nicht ausgefüllt, können wir das Profil in der Regel nicht freischalten.
      </li>
      <li>
        Füge in der Kategorie „Meine Biografie“ keinen allzu langen Fließtext ein – übersichtlich, schnell erfassbar und aussagekräftig soll es sein!
      </li>
      <li>
        Möglichst auch die Kategorie „Meine Vorträge“ ausfüllen. Falls du bisher keine Vorträge gehalten hast, beschreibe in der Biografie deine Erfahrungen, die das wieder ausgleichen! Vielleicht gibt es ja auch eine Website, die deine Erfahrungen veranschaulicht. Auch diese kannst du unter „Meine Vorträge“ eintragen.
      </li>
      <li>
        Die Tags dienen dazu, schnell und eindeutig zu verdeutlichen, wo deine Kompetenzen liegen, damit die Veranstalter möglichst schnell eine passende Speakerin finden. Orientiere dich daher an den bestehenden Tags! Wenn du neue Tags eingibst, nutze möglichst nicht mehr als 1-2 Wörter und beschreibe dein Kompetenzfeld eindeutig und selbsterklärend!
      </li>
      </ul>
    </p>
    <h3 class="pb mb0">
Welcome to Speakerinnen.org!
    </h3>

  </div>
</section>
