<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">FAQ/How-to</h1>
    <%= link_to '>> How-to >> Orientações sobre a construção do perfil de usuária e como se tornar uma speakerin', '#howto_anker', class: 'content__link--bg' %>

    <h3 class="pt">Por que não existe nenhuma  palestrante para o tópico que estou pesquisando?</h3>
    <p>Possivelmente, Ninguém criou uma tag para esse tópico ainda. As soon as a speaker names this topic as one of her tags, this topic becomes visible as a tag within the topic range.
    </p>

    <h3 class="pt">Qualquer um pode participar?</h3>
    <p>Sim.</p>

    <h3 class="pt">Por que meu perfil ainda não foi ativado?</h3>
    <p>Uma das duas razões podem se aplicar:
    <br>a.) Se seu perfil foi criado, isso pode levar algumas horas já que não estamos online 24/7.
    <br>b.) Podemos ter pensado que que seu perfil é um versão preliminar, por ter pouca informação, Se não for o caso nos envia uma mensagem team@speakerinnnen.org e ativaremos.
    </p>

    <!-- Anker for donations -->
    <a id="donate_anker"></a>

    <h3 class="pt">Como posso utilizar a função de pesquisa?</h3>
    <p>Você pode pesquisar os campos, e as palestrantes que se encaixam nesses perfis:
    <br> nome - linguagem - cidade - referências - tópicos - biografia - título
    <br>Você pode pesquisar por combinações com AND e OR, exemplo: Energia Berlim. Se você usar múltiplas palavras juntas, elas serão usadas com operadores AND por padrão.
    </p>

    <a id="howto_anker"></a>
    <h3 class="pt">Como posso fazer uma doação?</h3>

    <p>Obrigada por essa ideia legal e coperativista! Você pode doar atráves da conta da Travis Foundation:</p>
    <ul class="list--style-none pl0 pb mb++ bb">
        <li>Travis Foundation UG haftungsbeschränkt</li>
        <li>Subject: speakerinnen.org</li>
        <li>IBAN DE21160500001000832500</li>
        <li>SWIFT/BIC WELADED1PMB</li>
    </ul>
    </p>

    <h1>How-to</h1>
    <p class="bb">
      Orientações sobre a construção do perfil de usuária e como se tornar uma speakerin:
    </p>
    <h3 class="pt">
      Introdução: Informações gerais.
    </h3>
    <p>
Speakerinnen é uma plataform online que incentiva e apoia mulheres* palestrantes para entrar em coferências e participar dos painéis, liderar oficinas e encontros e aparecer mais frequentemente em público. Os organizadores do evento têm a oportunidade de buscar potenciais oradoras de uma lista em crescimento de profissionais com experiências em uma ampla gama de assuntos, incluindo o desenvolvimento de negócios digitais, conservação de oceanos assim como estudos de gênero.
    </p>
    <p>
O registro é grátis para todas. Embora, o time por trás do Speakerinnen checa cada entrada antes de adcionar ao site por motivos de integridade. Esse documento irá te guiar atráves do processo de registro, indicando alguns detalhes que você deve estar ciente e espera fazer essa experiência ser muiro suave e agradável. Por esse motivo nós adcionamos conselhos específicos para a criação do perfil de usuária. Nós estamos esperando ansiosas pelo seu perfil no Speakerinnen.org!
    </p>
    <h3 class="pt">
Existe 4 passos entre você e seu perfil no Speakerinnen.org
    </h3>
    <h4>
Passo 1: Registro
    </h4>
    <p>
    <%= image_tag('faq_login_en.png', class:'faq__image--float faq__image--small') %>
No canto superior direito do site você encontrará um botão com o texto "Registre-se como uma palestrante" ( sim, ele está esperando você clicar nele). Primeiro nós pedimos pra você digitar um email válido, uma senha forte de sua escolha. Depois de ter digitado a senha é necessário confirmar a senha. Clique em Registro e pronto.
    </p>
    <p>
Após alguns minutos, você receberá um email com um link de confirmação "Confirm my account". Depois de clicar nele, Iremos te redirecionar de volta para o Speakerinnen.org. Agora você está pronta para se logar no site com seu email e sua senha.
    </p>
    <p>
De maneira alternativa você pode se registrar usando uma conta do twitter. No caso de você preferir essa opção. siga o link "Sign up with Twitter", Você será levada para a tela de acordo de autorização. Depois de confirmar sua intenção de se cadastrar com o twitter, você voltará para o Speakerinner.org.<br>
Nesse ponto, você ainda precisa fornercer um email válido e confirmar. Isso foi descrito no paragráfo anterior.
    </p>
    <h4 class="pt">
Passo 2: Perfil
    </h4>
    <p>
    <%= image_tag('faq_edit_profile_en.png', class:'faq__image--float faq__image--medium') %>
Assim que você entrar, você será redirecionada para o seu perfil. Clicando em "Editar perfil" você vai editar seu nome, twitter, localização e endereço de email.<br> Além disso, este é local é onde você pode fornecer um link para sua página inicial, além de indicar quais os idiomas que você fala.
    </p>
    <p>
Quando colocar múltiplos idiomas no formulário, tenha certeza de separar elas com uma vírgula ou um espaço.<b>Atenção: Nenhuma linguagem de programação é permitida aqui, salve isso para depois.</b>
    </p>
    <p>
Para enviar uma foto de perfil clique em „Datei auswählen“, a baixo da seção nomeada como "Foto".jpg, jpeg, ou png são todos os formatos permitidos, assim como o tamanho da imagem deve ser de até 1 MB. Por favor tenha certeza que tem os direitos sobre a imagem que pretende enviar.
<b>Vovê deve ter notado que todas as imagens são mostradas em preto e branco. Quando o ponteiro do mouse é passado por cima da imagem, ele revela as verdadeiras cores. Por favor considere esse efeito na hora de escolher sua fotografia.</b>
    </p>
    <p>
Next up: Tags. With tags we mean references of topics that you are familiar with or interests you would like to share. This could be anything from journalism to bio technology to network policy. Start by finding out which tags already exist. The easiest way to do this is to type the first letters of a word into our search mask and wait for auto-complete magic to kick in. If the suggested term matches what you had in mind, simply click on it and thus add it to your selection. Browsing through existing profiles will also give you a good overview and inspiration for your own tags.

Próximo: Tags. Com tags nós queremos dizer referências para os tópicos que você estar familiar ou que você tem interesses em compartilhar. Isso pode ser qualquer coisa de jornalismo, biologia, tecnologia a política. Comece encontrando as tags que já existem. A maneira mais fácil de fazer isso é digitando as primeiras letras de uma palavra na pesquisa e esperar pela mágica do auto-complete. Se o termo de sugestão casa com o que você tem em mente, simplesmente clique nisso e desta maneira adcione em sua seleção. Navegar atráves de perfis existentes, vai te dar uma boa noção e inspiração para suas próprias tags.
    </p>
    <p>
Agora é hora de escolher sua especialização principal. Só pode haver uma, portanto, mantenha isso compreensível. Bons exemplos são "Media Social", "Agritcultura sustentável" e "Recursos Humanos" entre outros. Essa tag principal é uma das que aparece abaixo da sua foto de perfil quando é rolado atráves da lista do Speakerinnen.<b> Note que o espaço é limitado por apenas 30 caracteres. Sem exceções.</b>
    </p>
    <p>
    <%= image_tag('faq_edit_profile_bio_en.png', class:'faq__image--float faq__image--medium') %>
Movendo para a parte do site que vai conter a sua biografia.<b> Completar esse campo é importante, nós não somos capazes de ativar a sua conta se você deixar esse espaço vazio.</b> Você tem a opção de fornecer sua biografia em duas linguagens(existe uma caixa de entrada adcional).<br>
A segunda versão de sua biografia é mostrada quando mudam para a versão escolhida pelo usuário visitante, que atualmente é English/German/Brazilian Portuguese. O link pode ser encontrado no topo direito da página.
    </p>
    <p>
Novamente, por favor lembre-se de salvar suas entradas clicando em "Atualizar seu perfil". Assim, você será capaz de revisar seu perfil atual e mudar as informações qualquer hora e com a frequência que desejar.
    </p>
    <h4 class="pt">
Passo 3: Referências
    </h4>
    <p>
    <%= image_tag('faq_add_profile_references_en.png', class:'faq__image--float faq__image--medium') %>
Referências são coletadas e exibidas em uma sub-página de Speakerinnen.org. Ao lado direito do site você encontrar um botão "Editar Referências", que te dar a opção de revisar todas as suas referências. "Adcionar Referências" abre uma formulário onde você pode adcionar outros links para a lista, escolha o título e descreva em poucas linhas. Novamente lembre-se de salvar suas entradas, nesse caso "Adcionar Referências" faz o truque. O novo link está disponível abaixo da seção "Exemplos de apresentações anteriores" em seu perfil. Você pode alterar a ordem de suas referências arrastando e soltando, simplesmente mova elas para cima ou para baixo.
    </p>
    <p>
Pronto, você completou sua parte, Resta apenas nós aprovarmos sua conta, até lá, você pode encontrar a configuração, com todos os conteúdos, visitando "Mostrar Próprio Perfil". Isso é exatamente como seu perfil de usuário será visto.
    </p>
    <h4 class="pt">
Passo 4: Ativação de conta
    </h4>
    <p>

Assim que nós recebermos uma notificação sobre um novo registro, e mais importante um perfil completo, nós faremos nosso melhor pra revisar ele. Entrenato, Se você tiver alguma pergunta ou problemas enquanto estiver esperando pela ativação no Speakerinnen.org, porfavor não hesite em falar com Christiane escrevendo um email para post@wortspektrum.de!.<br>
Uma vez que o processo de ativação foi bem sucedido, nós te enviaremos uma email automático.
    </p>
    <h3 class="pb mb0">
Bem vinda ao Speakerinnen.org!
    </h3>

  </div>
</section>
