<section class="bg--grey">
  <div class="layout-wrapper">
    <h1 class="bb">FAQ/How-to</h1>
    <%= link_to '>> How-to >> Guidelines on building a user profile and become a Speakerin', '#howto_anker' %>

    <h3 class="pt">Why is there no speaker for the topic I am looking for?</h3>
    <p>Possibly, nobody has created a tag for this topic yet. As soon as a speaker names this topic as one of her tags, this topic becomes visible as a tag within the topic range.
    </p>

    <h3 class="pt">Can anybody join in?</h3>
    <p>Yes, everyone who defines herself as a woman.</p>

    <h3 class="pt">Why has my profile not been activated yet?</h3>
    <p>One of two reasons may apply:
    <br>a.) If your profile has just been created, it might take a bit since we're not online 24/7.
    <br>b.) We might have thought that your profile is a draft version because we might have had the impression that there is too little information so far. In case you mean to have it activtated as is, please drop us a line: team@speakerinnen.org
    </p>

    <!-- Anker for donations -->
    <a id="donate_anker"></a>

    <a id="howto_anker"></a>
    <h3 class="pt">How can I donate any money?</h3>

    <p>Thank you for such a nice and cooperative idea! You can donate money through the account of Travis Foundation:
    </p>
    <ul class="list--style-none pl0 pb mb++ bb">
        <li>Travis Foundation UG haftungsbeschränkt</li>
        <li>Subject: speakerinnen.org</li>
        <li>IBAN DE21160500001000832500</li>
        <li>SWIFT/BIC WELADED1PMB</li>
    </ul>
    </p>

    <h1>How-to</h1>
    <p class="bb">
      Guidelines on building a user profile and become a Speakerin:
    </p>
    <h3 class="pt">
      Intro: General information.
    </h3>
    <p>
Speakerinnen is a free online platform that encourages and supports women* speakers to take conference stages and join panels, lead workshops or meetings and appear more frequently in public. Event organizers have the opportunity to seek out potential speakers from a growing pool of professionals with expertise in a broad range of topics, including digital business development, ocean conservation as well as gender studies.
    </p>
    <p>
Registration is free to all. Albeit, the team behind Speakerinnen checks each entry for completeness before adding it to the website. The document at hand guides you through the registration process, indicates a few details you should be aware of and hopes to make this experience as smooth and enjoyable as possible. In this regard we added specific advice for the creation of a user profile. We are looking forward to finding your application at Speakerinnen.org!
    </p>
    <h3 class="pt">
There are four steps between you and your profile on Speakerinnen.org
    </h3>
    <h4>
Step 1: Registration
    </h4>
    <p>
    <%= image_tag('faq_login_en.jpg', class:'faq__image--float faq__image--small') %>
At the right upper corner of the website you find a button that reads "Register as a speaker" (yes it's waiting for you to click it). At first we ask you to enter a valid email address and password of choice. The latter you will have to enter twice. Press "Register" and off you go.
    </p>
    <p>
Only a short moment later, you find an email in your inbox with the following confirmation link "Confirm my account". After you click it, we redirect you back to Speakerinnen.org. Now you area already able to sign in with your email and password.
    </p>
    <p>
Alternatively you can register using an existing twitter account. In case you prefer this option, follow the link "Or Sign up with Twitter", which takes you to the according authorization screen. After confirming your intention to log in with twitter, you find yourself back on Speakerinnen.org.<br>
At this point, you still need to provide a valid email address and confirm it. It works just as described in the previous paragraph.
    </p>
    <h4 class="pt">
Step 2: Profile
    </h4>
    <p>
    <%= image_tag('faq_edit_profile_en.jpg', class:'faq__image--float faq__image--medium') %>
After you have signed in, you are redirected to your profile. Clicking on "Edit profile" lets you edit your name, twitter handle, location and email address.<br> Furthermore, this is where you can provide a link to your homepage, plus indicate which languages you speak.
    </p>
    <p>
When entering multiple languages into the form make sure to separate them by comma or a space character.<b>Attention: No programming languages allowed here, save them for later.</b>
    </p>
    <p>
Uploading a profile picture works best by clicking „Datei auswählen“, just below the section titled "Picture".
jpg, jpeg or png are all supported formats, as long as you keep the size of the image under 1 MB. Please make sure you own the copyright for the image you intend to upload.
<b>You may have noticed that all images are displayed in black and white. Snap. When the mouse pointer moves over a picture, it reveals its true colors. Please consider this effect when choosing your own portrait.</b>
    </p>
    <p>
Next up: Tags. With tags we mean references of topics that you are familiar with or interests you would like to share. This could be anything from journalism to bio technology to network policy. Start by finding out which tags already exist. The easiest way to do this is to type the first letters of a word into our search mask and wait for auto-complete magic to kick in. If the suggested term matches what you had in mind, simply click on it and thus add it to your selection. Browsing through existing profiles will also give you a good overview and inspiration for your own tags.
    </p>
    <p>
Now it is time to pick your main expertise. There can only be one, therefore keep it crisp, keep it comprehensible. Good examples are "social media", "sustainable agriculture" and "human resources" amongst others. This main tag is the one that appears under your profile picture when scrolling through the list of Speakerinnen.<b> Note that space is limited to 30 characters only. No exceptions.</b>
    </p>
    <p>
    <%= image_tag('faq_edit_profile_bio_en.jpg', class:'faq__image--float faq__image--medium') %>
Moving on to the part of the website that will contain your biography.<b> Filling out this field is mandatory, we are not able to activate your account if you leave it empty.</b> You have the option to provide your biography in two languages (there is an additional input box), however, that is entirely up to you.<br>
The second version of your biography is displayed when switching to the English/German version of Speakerinnen.org. The according link can be found at the top right corner of the page.
    </p>
    <p>
Again, please remember to save your input by clicking on „Update your profile“. Thus, you are able to review your current profile and change information anytime and as often as you like.
    </p>
    <h4 class="pt">
Step 3: References
    </h4>
    <p>
    <%= image_tag('faq_add_profile_references_en.jpg', class:'faq__image--float faq__image--medium') %>
References are collected and displayed on a subpage of Speakerinnen.org. On the right handside of the website you find a button „Edit references“, which takes you to a page with an overview of all your references. "Add reference" opens a form where you can add another link to the list, choose a title and describe it with a few lines. Again, remember to save your input, in this case "Add reference" does the trick. The new link is now available under the section "Examples of previous talks" in your profile. You can alter the order of your references by drag and drop, simply move them up or down.
    </p>
    <p>
Well done, you have completed your part. It is now upon us to activate your account. Until then, you can find the prospective setup with all contents by visiting "Show own Profile". That is exactly how your user profile is going to look.
    </p>
    <h4 class="pt">
Step 4: Account activation
    </h4>
    <p>
As soon as we get a notification about a new registration, and more importantly a completed profile, we do our best to review it in due course. However, if you have any questions or concerns while you are waiting for your profile to pop up on Speakerinnen.org, please don't hesitate to get in touch with Christiane by writing an email to christiane[at]speakerinnen.org!<br>
Once the activation process was successful we will send you an automated email.
    </p>
    <h3 class="pb mb0">
Welcome to Speakerinnen.org!
    </h3>

  </div>
</section>
