<div class="container bg--white">
  <h1 class="display-4 pt-5">FAQ/How-to</h1>
  <%= link_to '>> How-to >> ... become a Speakerin: Guide für ein aussagekräftiges Profil ', '#howto_anker' %>

  <h4 class="pt-4">Warum gibt es Thema XYZ noch nicht?</h4>
  <p>Weil es noch niemand angelegt hat. Alle Themen, die in der Speakerinnen-Liste zu sehen sind, wurden von mindestens einer Speakerin in ihrem Profil als 'Tags' eingegeben. Daraus entstehen automatisch auf der Seite die für alle sichtbaren Themen.</p>

  <h4 class="pt-4">Können sich alle einfach eintragen?</h4>
  <p>Ja, alle, die sich selbst als Frau verstehen. </p>

  <h4 class="pt-4">Warum ist mein Profil noch nicht freigeschaltet?</h4>
  <p>Wir sind nicht ständig online: wenn das Profil gerade erst fertig eingetragen wurde, kann es einen Moment dauern. </p>
  <p> Falls es aber sehr wenig Informationen im Profil stehen, dachten wir möglicherweise, dass es noch nicht fertig ist. Wenn du möchtest, dass es trotzdem freigeschaltet wird, dann schreib uns eine Mail an team@speakerinnen.org </p>

  <!-- Anker for donations -->
  <a id="donate_anker"></a>

  <!-- Anker for Howto -->
  <a id="howto_anker"></a>

  <h4 class="pt-4">Wie kann ich Euch Geld spenden?</h4>
  <p>Yay, das ist eine super Idee! Bald wird es eine Möglichkeit zu spenden geben.</p>

  <h1 class="display-4">How-to</h1>
  <p class="font-weight-bold"> ... become a Speakerin: Guide für ein aussagekräftiges Profil </p>
  <h4 class="pt-4">Allgemeine Information:</h4>
  <p>Die Speakerinnen-Liste ist eine Plattform mit dem Ziel, mehr Frauen  auf Bühnen und Podien, zu Konferenzen, Workshops, Meetings und in die Medien zu bringen.
    <br>Veranstalter und Veranstalterinnen finden hier Expertinnen aus zahlreichen unterschiedlichen Bereichen – vom Digital Business Development über Meeresschutz bis zur Geschlechterforschung.
  <p><b>Registrieren kann sich jede* </b>– das Speakerinnen-Team prüft jedoch jeden Eintrag vor der Freischaltung auf Vollständigkeit.</p>
  <p>Dieser Guide zeigt euch, was ihr bei der Registrierung beachten müsst und wie sie reibungslos funktioniert. Dabei haben wir auch Tipps für ein aussagekräftiges Profil zusammengestellt.</p>
  <p>Wir freuen uns auf euch bei Speakerinnen.org!</p>
  <p class="py-4 font-weight-bold">Vier Schritte für ein aussagekräftiges Speakerinnen-Profil</p>

  <h4>Schritt 1: Als Speakerin registrieren</h4>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <p>Rechts oben auf der Seite findest du den Button „Als Speakerin registrieren“ – draufklicken und schon geht es los!
        <br>Zuerst musst du deine <b>E-Mail-Adresse</b> eingeben, dann ein <b>Passwort</b> deiner Wahl. Dieses bitte wiederholen. Dann auf „Registrieren“ klicken.</p>
      <p>Du erhältst nun eine E-Mail an die angegebene Adresse. Hier findest du den Link „Bestätige meinen Account“ – draufklicken!
        <br>Du kommst nun wieder auf die Speakerinnen-Seite, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.</p>
      <p>Übrigens: Eine Registrierung funktioniert auch über Twitter. Dafür einfach auf <b>„Über Twitter registrieren“ </b>klicken, dann wirst du zu Twitter weitergeleitet.
        <br>Hier wirst du gefragt: „Speakerinnenliste berechtigen, Deinen Account zu nutzen?“. Wenn du auf Anmelden klickst, geht es zurück auf die Speakerinnen-Seite. Hier musst du nur noch eine E-Mail-Adresse eingeben.
        <br>Anschließend erhältst du eine E-Mail, in der du den Satz „Bestätige meinen Account“ findest. Draufklicken, dann wirst du auf die Speakerinnen-Seite zurückgeleitet, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag('faq_login_de.png', class:'border img-fluid') %>
    </div>
  </div>

  <h4 class="pt-4">Schritt 2: Profil ausfüllen</h4>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <p>Sobald du eingeloggt bist, kommst du auf deine Profilseite. Klicke rechts auf den <b>Button "Profil bearbeiten"</b>. Auf der Seite, die sich nun öffnet, kannst du dein Profil vervollständigen.
        <br>Jetzt öffnet sich die Seite „Aktualisiere dein Profil“. Hier Vorname und Nachname, E-Mail-Adresse und (so weit vorhanden) Twitter-Name eingeben sowie die Stadt, in der du wohnst und tätig bist. Außerdem Sprachen, die Du sprichst, sowie Deine Webseiten.
        <br><b>Bitte keine Programmiersprachen eingeben – sie gehören zu deinen Themen.</b></p>
      <p>Rechts findest du unter <b>„Bild“</b> den Button „Datei auswählen“. Hierüber kannst du ein Profilfoto hochladen. Bitte nutze ein jpg, jpeg oder png und achte darauf, dass du die Rechte an diesem Foto besitzt! Die Größe des Fotos sollte kleiner als 1 MB sein.
        <br><b>Dir ist vielleicht aufgefallen, dass die Profilfotos auf unserer Seite in schwarz-weiß angezeigt werden. Wenn man mit der Maus darüber fährt, erscheint das Original. Deshalb wäre es schön, wenn du ein farbiges Bild verwendest, damit dieser Effekt entstehen kann.</b></p>
      <p>Jetzt kannst du <b>Tags</b> eingeben, also die Themen, mit denen du dich beschäftigst. Das kann Journalismus sein, Biotechnologie oder Netzfeminismus. Bitte prüfe zuerst, ob es bereits Tags gibt, die du nutzen kannst.
        <br>Du findest sie, in dem du einfach die ersten Buchstaben deines Wunsch-Tags eingibst – dann werden dir Begriffe vorgeschlagen. Oder du schaust dir auf der Speakerinnen-Seite an, welche Themen bereits eingegeben wurden.<p>
      <p>Im nächsten Schritt gibst du dein <b>Hauptthema</b> an – nur eins, bitte eindeutig und gut verständlich. Beispiele hierfür sind „Social Media“, „Nachhaltige Landwirtschaft“ oder auch „Human Resources“.
        <br>Das Hauptheme erscheint als Bildunyterschrift unter Deinem Profil Foto.<b>Wichtig: in der Übersicht der Profile wird das Hauptthema auf 31 Zeichen begrenzt.</b></p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag('faq_edit_profile_de.png', class:'border img-fluid') %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <p>Nun auf jeden Fall das Feld <b>„Biografie“</b> ausfüllen!
        <br><b>Ohne Angaben in diesem Feld können wir das Profil nicht freischalten.</b> Du kannst das alles auf Wunsch auch auf Englisch eingeben, das ist aber keine Pflicht. Diese Angaben werden nur angezeigt, wenn man auf die englische Version der Seite (siehe oben rechts) klickt. </p>
      <p>Abschließend einfach auf „Aktualisiere dein Profil“ klicken und schon siehst du dein Profil, wie andere es nach der Freischaltung sehen werden.
        <br>Bei Bedarf kannst du dein Profil jederzeit nachträglich bearbeiten.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag('faq_edit_profile_bio_de.png', class:'border img-fluid') %>
    </div>
  </div>

  <h4 class="pt-4">Schritt 3: Referenzen angeben</h4>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <p>Um <b>Referenzen</b> einzutragen, klicke bitte rechts auf den Button „Referenzen bearbeiten“. Es öffnet sich die Überblicksseite deiner Referenzen.
        <br>Klicke dann auf den Link „Referenz hinzufügen“ und gib’ nun eine URL, wo die Referenz zu finden ist, eine Überschrift sowie eine kurze Beschreibung an. Dann auf „Referenz erstellen“ und schon befindet sich die Referenz unter „Meine Vorträge“ in deinem Profil.
        <br>Du kannst die Reihenfolge der Referenzen jederzeit problemlos verändern, indem du sie einfach nach oben oder unten verschiebst.</p>
      <p>Willst du dir dein fertiges Profil anschauen, gehe einfach auf den Link „Eigenes Profil anzeigen“ und schon siehst du, wie dein fertiges Profil nach der Freischaltung aussehen wird.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag('faq_add_profile_references_de.png', class:'border img-fluid') %>
    </div>
  </div>

  <h4 class="pt-4">Schritt 4: Freischaltung</h4>
  <div class="row">
    <div class="col">
      <p>Das Speakerinnen-Team erhält eine Benachrichtigung bei jeder neuen Anmeldung. Wir werden dein Profil – wenn es vollständig ist – so schnell wie möglich freischalten.
        <br>Solltest du Rückfragen haben oder dich wundern, warum dein Profil noch nicht sichtbar ist, wende dich jederzeit an Christiane vom Speakerinnen-Team unter christiane[at]speakerinnen.org!<br>
        <br>Sobald dein Profil für alle sichtbar ist, erhältst du eine automatische E-Mail, die dir sagt: Dein Profil wurde jetzt freigeschaltet! </p>
      <b>Tipps für ein aussagekräftiges Speakerinnen-Profil:</b>
      <p>
        <ul>
          <li> Füge ein gutes Foto von dir ein! Dieses kannst du auf Wunsch jederzeit wieder austauschen. </li>
          <li> Lass’ die Kategorie „Meine Biografie“ nicht leer! Wird sie nicht ausgefüllt, können wir das Profil in der Regel nicht freischalten. </li>
          <li> Füge in der Kategorie „Meine Biografie“ keinen allzu langen Fließtext ein – übersichtlich, schnell erfassbar und aussagekräftig soll es sein! </li>
          <li> Möglichst auch die Kategorie „Meine Vorträge“ ausfüllen. Falls du bisher keine Vorträge gehalten hast, beschreibe in der Biografie deine Erfahrungen, die das wieder ausgleichen! Vielleicht gibt es ja auch eine Website, die deine Erfahrungen veranschaulicht. Auch diese kannst du unter „Meine Vorträge“ eintragen. </li>
          <li> Die Tags dienen dazu, schnell und eindeutig zu verdeutlichen, wo deine Kompetenzen liegen, damit die Veranstalter möglichst schnell eine passende Speakerin finden. Orientiere dich daher an den bestehenden Tags! Wenn du neue Tags eingibst, nutze möglichst nicht mehr als 1-2 Wörter und beschreibe dein Kompetenzfeld eindeutig und selbsterklärend! </li>
        </ul>
      </p>
    </div>
  </div>

  <h1 class="py-5 mb-0"> Willkommen bei Speakerinnen.org! </h1>

</div>
