<section class="bg--grey">
  <div class="container bg--white">
    <h1 class="display-4 pt-5">FAQ/How-to</h1>
    <%= link_to '>> How-to >> ... become a Speakerin: Guide für ein aussagekräftiges Profil ', '#howto_anker' %>

    <h4 class="pt-4">Warum gibt es Thema XYZ noch nicht?</h4>
    <p>Weil es noch niemand angelegt hat. Alle Themen, die in der Speakerinnen-Liste zu sehen sind, wurden von mindestens einer Speakerin in ihrem Profil als 'Tags' eingegeben. Daraus entstehen automatisch auf der Seite die für alle sichtbaren Themen.</p>

    <h4 class="pt-4">Können sich alle einfach eintragen?</h4>
    <p>Ja, alle, die sich selbst als Frau verstehen. </p>

    <h4 class="pt-4">Warum ist mein Profil noch nicht freigeschaltet?</h4>
    <p>Wir sind nicht ständig online: wenn das Profil gerade erst fertig eingetragen wurde, kann es einen Moment dauern. </p>
    <p> Falls es aber sehr wenig Informationen im Profil stehen, dachten wir möglicherweise, dass es noch nicht fertig ist. Wenn du möchtest, dass es trotzdem freigeschaltet wird, dann schreib uns eine Mail an team@speakerinnen.org </p>

    <!-- Anker for donations -->
    <a id="donate_anker"></a>

    <!-- Anker for Howto -->
    <a id="howto_anker"></a>

    <h4 class="pt-4">Wie kann ich Euch Geld spenden?</h4>
    <p>Yay, das ist eine super Idee! Du kannst uns über die Travis Foundation Geld überweisen. Den Spendenbetrag kannst du von der Steuer absetzen, ab 200 Euro erhältst du eine Spendenquittung.</p>
    <ul class="list-unstyled pl-0 pb-5 mb-5 border-bottom font-weight-bold">
      <li>Travis Foundation UG haftungsbeschränkt</li>
      <li>Betreff: speakerinnen.org</li>
      <li>IBAN DE21160500001000832500</li>
      <li>SWIFT/BIC WELADED1PMB</li>
    </ul>

    <h1 class="display-4">How-to</h1>
    <p class="font-weight-bold"> ... become a Speakerin: Guide für ein aussagekräftiges Profil </p>
    <h4 class="pt-4">Allgemeine Information:</h4>
    <p>Die Speakerinnen-Liste ist eine Plattform mit dem Ziel, mehr Frauen  auf Bühnen und Podien, zu Konferenzen, Workshops, Meetings und in die Medien zu bringen.
      <br>Veranstalter und Veranstalterinnen finden hier Expertinnen aus zahlreichen unterschiedlichen Bereichen – vom Digital Business Development über Meeresschutz bis zur Geschlechterforschung.
    <p><b>Registrieren kann sich jede* </b>– das Speakerinnen-Team prüft jedoch jeden Eintrag vor der Freischaltung auf Vollständigkeit.</p>
    <p>Dieser Guide zeigt euch, was ihr bei der Registrierung beachten müsst und wie sie reibungslos funktioniert. Dabei haben wir auch Tipps für ein aussagekräftiges Profil zusammengestellt.</p>
    <p>Wir freuen uns auf euch bei Speakerinnen.org!</p>

    <p class="py-4 font-weight-bold">Vier Schritte für ein aussagekräftiges Speakerinnen-Profil</p>

    <h4>Schritt 1: Als Speakerin registrieren</h4>
    <p>
    <%= image_tag('faq_login_de.png', class:'faq__image--float faq__image--small') %>
Rechts oben auf der Seite findest du den Button „Als Speakerin registrieren“ – draufklicken und schon geht es los!<br>
Zuerst musst du deine E-Mail-Adresse eingeben, dann ein Passwort deiner Wahl. Dieses bitte wiederholen. Dann auf „Registrieren“ klicken.<br>
Du erhältst nun eine E-Mail an die angegebene Adresse. Hier findest du den Link „Bestätige meinen Account“ – draufklicken! Du kommst nun wieder auf die Speakerinnen-Seite, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.<br>
    </p>
    <p>
Übrigens: Eine Registrierung funktioniert auch über Twitter. Dafür einfach auf „Über Twitter registrieren“ klicken, dann wirst du zu Twitter weitergeleitet. Hier wirst du gefragt: „Speakerinnenliste berechtigen, Deinen Account zu nutzen?“. Wenn du auf Anmelden klickst, geht es zurück auf die Speakerinnen-Seite. Hier musst du nur noch eine E-Mail-Adresse eingeben.
    </p>
    <p>
Anschließend erhältst du eine E-Mail, in der du den Satz „Bestätige meinen Account“ findest. Draufklicken, dann wirst du auf die Speakerinnen-Seite zurückgeleitet, wo du dich mit E-Mail-Adresse und Passwort anmelden kannst.
    </p>
    <h4 class="pt">
Schritt 2: Profil ausfüllen
    </h4>
    <p>
    <%= image_tag('faq_edit_profile_de.png', class:'faq__image--float faq__image--medium') %>
Sobald du eingeloggt bist, kommst du auf deine Profilseite. Klicke rechts auf den Button "Profil bearbeiten". Auf der Seite, die sich nun öffnet, kannst du dein Profil vervollständigen. Einfach auf „Profil bearbeiten“ klicken!<br>
Jetzt öffnet sich die Seite „Aktualisiere dein Profil“. Hier Vorname und Nachname, E-Mail-Adresse und (so weit vorhanden) Twitter-Name eingeben sowie die Stadt, in der du wohnst und tätig bist. Außerdem Sprachen sowie eine Website falls du eine hast.<br>
Die Sprachen werden so angezeigt, wie du sie eingibst, du kannst sie mit Leerzeichen oder Kommas trennen. <b>Bitte keine Programmiersprachen eingeben – sie gehören zu deinen Themen.</b><br>
    </p>
    <p>
Rechts findest du unter „Bild“ den Button „Datei auswählen“. Hierüber kannst du ein Profilfoto hochladen. Bitte nutze ein jpg, jpeg oder png und achte darauf, dass du die Rechte an diesem Foto besitzt! Die Größe des Fotos sollte kleiner als 1 MB sein. <b>Dir ist vielleicht aufgefallen, dass die Profilfotos auf unserer Seite in schwarz-weiß angezeigt werden. Wenn man mit der Maus darüber fährt, erscheint das Original. Deshalb wäre es schön, wenn du ein farbiges Bild verwendest, damit dieser Effekt entstehen kann.</b>
    </p>
    <p>
Jetzt kannst du Tags eingeben, also die Themen, mit denen du sich beschäftigst. Das kann Journalismus sein, Biotechnologie oder Netzfeminismus. Bitte prüfe zuerst, ob es bereits Tags gibt, die du nutzen kannst. Du findest sie, in dem du einfach die ersten Buchstaben deines Wunsch-Tags eingibst – dann werden dir Begriffe vorgeschlagen. Oder du schaust dir auf der Speakerinnen-Seite an, welche Themen bereits eingegeben wurden.
    </p>
    <p>
    <%= image_tag('faq_edit_profile_bio_de.png', class:'faq__image--float faq__image--medium') %>
Im nächsten Schritt gibst du dein Hauptthema an – nur eins, bitte eindeutig und gut verständlich. Beispiele hierfür sind „Social Media“, „Nachhaltige Landwirtschaft“ oder auch „Human Resources“. <b>Wichtig: in der Übersicht der Profile wird das Hauptthema auf 30 Zeichen begrenzt. Ideal ist es also, wenn dein Hauptthema maximal 30 Zeichen verwendet.</b><br>
    </p>
    <p>
Nun auf jeden Fall das Feld „Biografie“ ausfüllen! <b>Ohne Angaben in diesem Feld können wir das Profil nicht freischalten.</b> Du kannst das alles auf Wunsch auch auf Englisch eingeben, das ist aber keine Pflicht. Diese Angaben werden nur angezeigt, wenn man auf die englische Version der Seite (siehe oben rechts) klickt.
    </p>
    <p>
Abschließend einfach auf „Aktualisiere dein Profil“ klicken und schon siehst du dein Profil, wie andere es nach der Freischaltung sehen werden.
    </p>
    <p>
Bei Bedarf kannst du dein Profil jederzeit nachträglich bearbeiten.
    </p>
    <h4 class="pt">
Schritt 3: Referenzen angeben
    </h4>
    <p>
    <%= image_tag('faq_add_profile_references_de.png', class:'faq__image--float faq__image--medium') %>
Um Referenzen einzutragen, klicke bitte rechts auf den Button „Referenzen bearbeiten“. Es öffnet sich die Überblicksseite deiner Referenzen.
Klicke dann auf den Link „Referenz hinzufügen“ und gib’ nun eine URL, wo die Referenz zu finden ist, eine Überschrift sowie eine kurze Beschreibung an. Dann auf „Referenz erstellen“ und schon befindet sich die Referenz unter „Meine Vorträge“ in deinem Profil. Du kannst die Reihenfolge der Referenzen jederzeit problemlos verändern, indem du sie einfach nach oben oder unten verschiebst.
    </p>
    <p>
Willst du dir dein fertiges Profil anschauen, gehe einfach auf den Link „Eigenes Profil anzeigen“ und schon siehst du, wie dein fertiges Profil nach der Freischaltung aussehen wird.
    </p>
    <h4 class="pt">
Schritt 4: Freischaltung
    </h4>
    <p>
Das Speakerinnen-Team erhält eine Benachrichtigung bei jeder neuen Anmeldung. Wir werden dein Profil – wenn es vollständig ist – so schnell wie möglich freischalten.
    </p>
    <p>
Solltest du Rückfragen haben oder dich wundern, warum dein Profil noch nicht sichtbar ist, wende dich jederzeit an Christiane vom Speakerinnen-Team unter christiane[at]speakerinnen.org!<br>
Sobald dein Profil für alle sichtbar ist, erhältst du eine automatische E-Mail, die dir sagt: Dein Profil wurde jetzt freigeschaltet!
    </p>
    <b>
Tipps für ein aussagekräftiges Speakerinnen-Profil:
    </b>
    <p>
    <ul>
      <li>
        Füge ein gutes Foto von dir ein! Dieses kannst du auf Wunsch jederzeit wieder austauschen.
      </li>
      <li>
        Lass’ die Kategorie „Meine Biografie“ nicht leer! Wird sie nicht ausgefüllt, können wir das Profil in der Regel nicht freischalten.
      </li>
      <li>
        Füge in der Kategorie „Meine Biografie“ keinen allzu langen Fließtext ein – übersichtlich, schnell erfassbar und aussagekräftig soll es sein!
      </li>
      <li>
        Möglichst auch die Kategorie „Meine Vorträge“ ausfüllen. Falls du bisher keine Vorträge gehalten hast, beschreibe in der Biografie deine Erfahrungen, die das wieder ausgleichen! Vielleicht gibt es ja auch eine Website, die deine Erfahrungen veranschaulicht. Auch diese kannst du unter „Meine Vorträge“ eintragen.
      </li>
      <li>
        Die Tags dienen dazu, schnell und eindeutig zu verdeutlichen, wo deine Kompetenzen liegen, damit die Veranstalter möglichst schnell eine passende Speakerin finden. Orientiere dich daher an den bestehenden Tags! Wenn du neue Tags eingibst, nutze möglichst nicht mehr als 1-2 Wörter und beschreibe dein Kompetenzfeld eindeutig und selbsterklärend!
      </li>
      </ul>
    </p>
    <h4 class="pb mb0">
Welcome to Speakerinnen.org!
    </h4>

  </div>
</section>
