<section class="content--bg-grey">
  <div class="layout-wrapper">
    <h1 class="bb">Perguntas Frequentes/Como fazer</h1>
    <%= link_to '>> Como fazer >> Orientações para a criação do perfil de usuária e como se tornar uma Speakerin', '#howto_anker', class: 'content__link--bg' %>

    <h3 class="pt">Por que não existe nenhuma palestrante para o assunto que estou pesquisando?</h3>
    <p>Possivelmente, ninguém criou uma tag para esse tópico ainda. Assim que uma palestrante inserir um tema em sua lista de tags, este tópico fica visível como uma tag dentro da lista extensa.
    </p>

    <h3 class="pt">Qualquer uma pode participar?</h3>
    <p>Sim.</p>

    <h3 class="pt">Por que meu perfil ainda não foi ativado?</h3>
    <p>Uma das duas razões podem se aplicar:
    <br>a.) Se seu perfil foi criado, isso pode levar algumas horas já que não estamos online 24/7.
    <br>b.) Podemos ter pensar que seu perfil é um versão em rascunho por ter pouca informação. Se não for o seu caso, nos envie uma mensagem para team@speakerinnnen.org e o ativaremos.
    </p>

    <!-- Anker for donations -->
    <a id="donate_anker"></a>

    <h3 class="pt">Como posso utilizar a função de pesquisa?</h3>
    <p>Você pode pesquisar os campos, e as palestrantes que se encaixam nesses perfis:
    <br> nome - idioma - cidade - referências - tópicos (assuntos) - biografia - título
    <br>Você pode pesquisar por combinações com "E" e "OU", exemplo: Energia Berlim. Se você usar múltiplas palavras juntas, elas serão usadas com operadores "E" por padrão.
    </p>

    <a id="howto_anker"></a>
    <h3 class="pt">Como posso fazer uma doação?</h3>

    <p>Obrigada por querer contibuir! Você pode doar atráves da conta da Travis Foundation:</p>
    <ul class="list--style-none pl0 pb mb++ bb">
        <li>Travis Foundation UG haftungsbeschränkt</li>
        <li>Subject: speakerinnen.org</li>
        <li>IBAN DE21160500001000832500</li>
        <li>SWIFT/BIC WELADED1PMB</li>
    </ul>
    </p>

    <h1>How-to</h1>
    <p class="bb">
      Orientações sobre a construção do perfil de usuária e como se tornar uma Speakerin:
    </p>
    <h3 class="pt">
      Introdução: Informações gerais.
    </h3>
    <p>
Speakerinnen é uma plataforma online que incentiva e apóia mulheres* palestrantes para entrar em conferências e participar dos painéis, liderar oficinas e encontros e aparecer mais frequentemente em público. Os organizadores do evento têm a oportunidade de buscar potenciais palestrantes de uma lista em crescimento de profissionais com experiências em uma ampla gama de assuntos, incluindo o desenvolvimento de negócios digitais, conservação de oceanos assim como estudos de gênero.
    </p>
    <p>
O registro é grátis para todas. Embora, o time por trás do Speakerinnen verifique cada perfil criado antes de adicionar ao site por motivos de integridade. Esse documento irá te guiar atráves do processo de registro, indicando alguns detalhes que você deve estar ciente e espera fazer essa experiência ser muito suave e agradável. Por esse motivo nós adicionamos conselhos específicos para a criação do perfil de usuária. Nós esperamos ansiosas pelo seu perfil no Speakerinnen.org!
    </p>
    <h3 class="pt">
Existem 4 passos entre você e seu perfil no Speakerinnen.org
    </h3>
    <h4>
Passo 1: Registro
    </h4>
    <p>
    <%= image_tag('faq_login_en.png', class:'faq__image--float faq__image--small') %>
No canto superior direito do site você encontrará um botão com o texto "Registre-se como uma palestrante" (sim, ele está esperando você clicar nele). Primeiro, nós pedimos para você digitar um e-mail válido, uma senha forte de sua escolha. Depois de ter digitado a senha é necessário confirmá-la. Clique em 'Registrar' e pronto.
    </p>
    <p>
Após alguns minutos, você receberá um e-mail com um link de confirmação "Confirmar meu cadastro". Depois de clicar nele, iremos te redirecionar de volta para o site Speakerinnen.org. Agora você está pronta para se logar no site com seu email e sua senha.
    </p>
    <p>
De maneira alternativa você pode se registrar usando uma conta do Twitter. No caso de você preferir essa opção, siga o link "Cadastrar com o Twitter". Você será levada para a tela de acordo de autorização. Depois de confirmar sua intenção de se cadastrar com a conta do Twitter, você voltará para o site do Speakerinner.org.<br>
Nesse ponto, você ainda precisa fornecer um e-mail válido e confirmá-lo. Isso foi descrito no paragráfo anterior.
    </p>
    <h4 class="pt">
Passo 2: Perfil
    </h4>
    <p>
    <%= image_tag('faq_edit_profile_en.png', class:'faq__image--float faq__image--medium') %>
Assim que você entrar, você será redirecionada para o seu perfil. Clicando em "Editar perfil" você vai editar seu nome, Twitter, localização e endereço de e-mail.<br> Além disso, este local é onde você pode fornecer um link para seu site (ou outro que deseje), além de indicar quais os idiomas que você fala.
    </p>
    <p>
Quando colocar múltiplos idiomas no formulário, tenha certeza de separá-los por vírgula ou espaço.<b>Atenção: Nenhuma linguagem de programação é permitida aqui, salve isso para depois.</b>
    </p>
    <p>
Para enviar uma foto de perfil clique em 'Selecione o arquivo', abaixo da seção nomeada como "Foto".jpg, jpeg, ou png são todos os formatos permitidos, assim como o tamanho da imagem deve ser de até 1 MB. Por favor, tenha certeza que tem os direitos sobre a imagem que pretende enviar.
<b>Vovê deve ter notado que todas as imagens são mostradas em preto e branco. Quando o ponteiro do mouse é passado por cima da imagem, ele revela as verdadeiras cores. Por favor, considere esse efeito na hora de escolher sua fotografia.</b>
    </p>
    <p>
Próximo: Tags. Com tags nós queremos dizer referências para os tópicos que lhes são familiar ou que você tem interesses em compartilhar. Isso pode ser qualquer coisa desde jornalismo, biologia, tecnologia a política. Comece encontrando as tags que já existem. A maneira mais fácil de fazer isso é digitando as primeiras letras de uma palavra na pesquisa e esperar pela mágica do auto-completar. Se o termo de sugestão casa com o que você tem em mente, basta clicar nisso e desta maneira adicione-o em sua seleção. Navegar atráves de perfis existentes vai te dar uma boa noção e inspiração para suas próprias tags.
    </p>
    <p>
Agora é hora de escolher sua especialização principal. Só pode haver uma, portanto, mantenha isso compreensível. Bons exemplos são "Mídia Social", "Agricultura Sustentável" e "Recursos Humanos" entre outros. Essa tag principal é uma das que aparece abaixo da sua foto de perfil quando é rolado atráves da lista do Speakerinnen.<b> Note que o espaço é limitado por apenas 30 caracteres. Sem exceções.</b>
    </p>
    <p>
    <%= image_tag('faq_edit_profile_bio_en.png', class:'faq__image--float faq__image--medium') %>
Movendo para a parte do site que vai conter a sua biografia.<b> Completar esse campo é importante, nós não somos capazes de ativar a sua conta se você deixar esse espaço vazio.</b> Você tem a opção de fornecer sua biografia em dois idiomas(existe uma caixa de entrada adicional).<br>
A segunda versão de sua biografia é mostrada quando mudam para a versão escolhida pelo usuário visitante, que atualmente é Inglês/Alemão/Português-Brasil. O link pode ser encontrado no topo direito da página.
    </p>
    <p>
Novamente, por favor lembre-se de salvar suas alterações clicando em "Atualizar seu perfil". Assim, você será capaz de revisar seu perfil atual e mudar as informações a qualquer hora e com a frequência que desejar.
    </p>
    <h4 class="pt">
Passo 3: Referências
    </h4>
    <p>
    <%= image_tag('faq_add_profile_references_en.png', class:'faq__image--float faq__image--medium') %>
Referências são coletadas e exibidas em uma sub-página do site Speakerinnen.org. Ao lado direito do site você encontrará um botão "Editar Referências", que te dará a opção de revisar todas as suas referências. "Adicionar Referências" abre um formulário onde você pode adicionar outros links para a lista, escolha o título e descreva em poucas linhas. Novamente lembre-se de salvar as alterações, nesse caso "Adicionar Referências" faz o truque. O novo link está disponível abaixo da seção "Exemplos de apresentações anteriores" em seu perfil. Você pode alterar a ordem de suas referências arrastando e soltando, simplesmente mova-as para cima ou para baixo.
    </p>
    <p>
Pronto, você completou sua parte, Resta apenas nós aprovarmos sua conta, até lá, você pode encontrar a configuração, com todos os conteúdos, visitando "Mostrar Perfil Próprio". Isso é exatamente como seu perfil de usuário será visto.
    </p>
    <h4 class="pt">
Passo 4: Ativação de conta
    </h4>
    <p>

Assim que nós recebermos uma notificação sobre um novo registro, e mais importante um perfil completo, nós faremos nosso melhor para revisá-lo. Entretanto, se você tiver alguma pergunta ou dúvidas enquanto estiver esperando pela ativação do seu cadastro no Speakerinnen.org, por favor não hesite em falar com a Christiane escrevendo um email para post@wortspektrum.de!.<br>
Uma vez que o processo de ativação foi bem sucedido, nós te enviaremos um email automático confirmando.
    </p>
    <h3 class="pb mb0">
Bem-vinda ao Speakerinnen.org!
    </h3>

  </div>
</section>
