<section id="startpage__start-teaser" class="startpage__photo-bar">
  <div class="layout-wrapper">
    <h1 class="bg--white"><%= t(:heading, scope: 'pages.home.search') %></h1>
    <h1 class="alpha--halve bg--white"><%= t(:tagline, scope: 'pages.home.search') %></h1>

    <%= form_tag(profiles_search_path, method: 'get', class: 'page-box') do %>
      <div class="box__bg--light pv ph- border-radius">
        <%= text_field_tag('search', nil, class: 'profile__search', placeholder: t(:search_text, scope: 'pages.home.search')) %>
        <%= button_tag((t(:search, scope: 'pages.home.search')), class: "btn btn--small input-btn") %>
        <!-- <div>
          <%= link_to t(:detailed_search, scope: 'general'), profiles_search_path(search: {detailed_search_link_from_startpage: true}), class: 'mh0 content__link--bg' %>
         </div>-->
      </div>
      <div class="mh0 mt- font-size-24">
        <%= link_to t(:categories, scope: 'pages.home.speakers'), '#categories_anker', class: 'content__link--bg' %>
      </div>
      <div class="mh0 font-size-24">
        <%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path, class: 'content__link--bg' %>
      </div>

    <% end %>

  </div>
</section>

<section class="layout-wrapper">
  <h1 class="bg--white"><%= t(:new_speaker_heading, scope: 'pages.home.speakers') %></h1>
  <h1 class="alpha--halve bv ph0 ml display--block bg--white">
    <%= t(:speaker_text, scope: 'pages.home.speakers') %><BR>
    <%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path, class: 'content__link--bg' %>
  </h1>
  <% if @profiles.any? %>
      <%= render partial: "profiles/profile", object: @profiles[0], locals: { is_first: true } %>
      <%= render partial: "profiles/profile", collection: @profiles[1..-2] %>
      <%= render partial: "profiles/profile", object: @profiles[-1], locals: { is_last: true } %>
  <% end %>
</section>

<section id="startpage__teaser-bg-01" class="startpage__photo-bar mt++">
  <div class="layout-wrapper">
    <h1 class="bg--white"><%= t(:quote, scope: 'pages.home') %></h1>
    <h1 class="alpha--halve bg--white"><%= t(:quote_text, scope: 'pages.home') %></h1>
  </div>
</section>

<!-- Anker für Kategorien -->
<a id="categories_anker"></a>

<section class="layout-wrapper">
  <h1 class="bg--white"><%= t(:description, scope: 'pages.home') %></h1>
  <h1 class="alpha--halve bv ph0 mh display--block bg--white">
    <%= t(:description_text, scope: 'pages.home') %>
  </h1>

  <%= render partial: "shared/categories", object: @categories %>
</section>

<section id="startpage__teaser-bg-02" class="startpage__photo-bar mt++">
  <div class="layout-wrapper">
    <h1 class="bg--white"><%= t(:speaker_shoutout, scope: 'pages.home').html_safe %></h1>
    <h1 class="alpha--halve bg--white"><%=link_to t(:speaker_text, scope: 'pages.home').html_safe, new_profile_registration_path, class: 'content__link--bg' %></h1>
  </div>
</section>

<section class="layout-wrapper">
  <h1 class="display--block bg--white">Speakerinnen*</h1>
  <div class="layout__item 1/3 palm-1/1">
    <h1 class="alpha--halve bv ph0 display--block">
      <%= link_to t(:about_title, scope: 'pages.home.footer'), about_path, class: 'content__link--bg' %>
    </h1>
    <p>
      <%= t(:about, scope: 'pages.home.footer').html_safe %>
      <%= link_to t(:more, scope: 'pages.home.footer').html_safe, about_path, class: 'content__link--bg'  %>
    </p>
  </div><!--divs with the class:layout__item have display:inline-block and renders the empty space between the divs BUG
  --><div class="layout__item 1/3 palm-1/1">
    <h1 class="alpha--halve bv ph0 display--block">
      <%= link_to t(:press, scope: 'pages.home.footer'), press_path, class: 'content__link--bg'  %>
    </h1>
    <p>
      <%= t(:press_short, scope: 'pages.home.footer').html_safe %>
      <%= link_to t(:more, scope: 'pages.home.footer').html_safe, press_path, class: 'content__link--bg'  %>
    </p>
  </div><!--
    --><div class="layout__item 1/3 palm-1/1">
    <h1 class="alpha--halve bv ph0 display--block">
      <%= link_to t(:blog, scope:"pages.home.footer"), 'http://blog.speakerinnen.org/', target: '_blank', class: 'content__link--bg'%>
    </h1>
    <p>
      <% @blog_posts.each do |blogpost| %>
        <strong><%= blogpost.title %></strong><br>
        <%= strip_tags(blogpost.body).truncate(150, separator: ' ') %>
        <%= link_to t(:more, scope: 'pages.home.footer').html_safe, blogpost.url, target: '_blank', class: 'content__link--bg' %>
        <br>
        <br>
      <% end %>
    </p>
  </div>
</section>
