<% @is_global_speakerinnen = current_region.nil? %>
<% @has_hot_topic = @is_global_speakerinnen && @features.present? %>

<%# Hero %>

<section class="home">
  <section id='startpage__start-teaser<%= "_#{[0,2,3,4].sample}" unless (current_region == :ooe) %>' class="start-teaser startpage__photo-bar">
    <div class="container">
      <%# Headline %>
      <div class="row hero-headline" >
        <div class="col-sm-5">
          <h1><%= t(:"heading#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></h1>
        </div>
      </div>
      <%# subtitle %>
      <div class="row">
        <div class="col-sm-5">
          <h2 class="startpage-subtitle pb-3">
            <%= t(:"tagline#{'_' + current_region.to_s if current_region}", scope: 'pages.home').html_safe %>
          </h2>
        </div>
      </div>
      <%# search %>
      <%= render partial: 'shared/search_form' %>
      <%# copyright %>
      <div class="row align-items-end">
        <div class="col align-self-end">
          <% if current_region == :ooe %>
            <p class="copyright-ooe">Copyright: iStock-1395588195_KOMPASS</p>
          <% else %>
            <p class="copyright">Copyright: Malwine - <a href="https://malweene.com/" target="_blank">malweene.com</a></p>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <%# EITHER divider: get inspired OR intro: subdomains %>

  <% if @is_global_speakerinnen %>
    <%= render partial: "shared/get_inspired" %>
  <% elsif current_region == :vorarlberg %>
    <div class="bg--dark container divider-vorarlberg"></div>
  <% else %>
    <div class="intro-subdomain container">
      <div class="row p-3 text-left">
        <h1><%= t(:"intro_title_#{current_region}", scope: 'pages.home') %></h1>
        <%= t(:"intro_text_#{current_region}", scope: 'pages.home').html_safe %>
      </div>
    </div>
  <% end %>

  <%# Hot Topic%>

  <a id="features" class="anchor"></a>
  <% if @has_hot_topic %>
    <% @features.each do |feature| %>
      <div class="container py-5 feature bg--light-grey">
        <h1 class=""><%= feature[:title] %></h1>
        <h3 class=""><%= feature[:description] %></h3>
        <div class="row pt-5">
          <%= render partial: "profiles/profile", collection: feature[:profiles], as: :profile %>
        </div>
      </div>
    <% end %>
  <% end %>


  <%# Hot New Speakers %>

  <a id="newest_speaker_achor" class="anchor"></a>
  <div id="startpage-newest_speaker" class="container py-5 bg--light-grey">
    <h1 class=""><%= t(:"welcome_title#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></h1>
    <h3 class=""><%= t(:"welcome_text#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></h3>
    <div class="row pt-5">
      <%= render partial: "profiles/profile", collection: @newest_profiles %>
      <%= render partial: "profiles/register" %>
    </div>
  </div>

  <% if current_region == :vorarlberg %>
    <div class="intro-subdomain container">
      <div class="row p-3 text-left">
        <h1><%= t(:"intro_title_#{current_region}", scope: 'pages.home') %></h1>
          <%= t(:"intro_text_#{current_region}", scope: 'pages.home').html_safe %>
      </div>
    </div>
  <% end %>

  <%# Categories %>

  <a id="categories_anchor" class="anchor"></a>
  <div class="container bg--light-grey py-5">
    <h1 class=""><%= t(:"category_search_title#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></h1>
    <h3 class=""><%= t(:"category_search_text#{'_' + current_region.to_s if current_region}", scope: 'pages.home') %></h3>
  </div>
  <div id="startpage-categories__list" class="container p-0">
    <%= render partial: "shared/categories", object: @categories %>
  </div>

  <%# Action Cards %>
  <div class="container bg--light-grey">
    <div class="row sub-menu">
      <%= render partial: 'shared/sub_menu' %>
    </div>
  </div>
</section>
