<section id='start-teaser' class='photo-bar'>
  <div class="layout-wrapper">
    <h1><%= t(:heading, scope: 'pages.home.search') %></h1>
    <h1 class="alpha--halve"><%= t(:tagline, scope: 'pages.home.search') %></h1>

    <div class="page-box">
      <%= form_tag(search_path, method: 'get', class:'page-box') do %>
        <%= text_field_tag(:q, nil, class: '', id: '', placeholder: t(:search_text, scope: 'pages.home.search')) %>
        <%= button_tag((t(:search, scope: 'pages.home.search')), class: '') %>
      <% end %>

      <p class="page-overlay-link"><%= link_to t(:categories, scope: 'pages.home.speakers'), '#categories_anker' %></p>
      <p class="page-overlay-link"><%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path %></p>
    </div>
  </div>
</section>

<section>
  <div class="layout-wrapper">
    <h1><%= t(:new_speaker_heading, scope: "pages.home.speakers") %></h1>
    <h1 class="alpha--halve bv ph0 mh display--block">
      <%= t(:speaker_text, scope: "pages.home.speakers") %><BR>
      <%= link_to t(:speaker_index, scope: "pages.home.speakers"), profiles_path %>
    </h1>

    <div class="layout m">
      <div class="layout__item">
        TEST 1
      </div><!--
      --><div class="layout__item 1/2">
        TEST 2
      </div>
    </div>
    <div class="layout m">
      <div class="layout__item">
        TEST 1
      </div><!--
      --><div class="layout__item 1/2">
        TEST 2
      </div>
    </div>
    <div class="layout m">
      <div class="layout__item">
        TEST 1
      </div><!--
      --><div class="layout__item 1/2">
        TEST 2
      </div>
    </div>
  </div>
</section>

<section id='teaser-bg-01' class='photo-bar'>
  <div class="layout-wrapper">
    <h1><%= t(:quote, scope: "pages.home") %></h1>
    <h1 class="alpha--halve"><%= t(:quote_text, scope: "pages.home") %></h1>
  </div>
</section>

<!-- Anker für Kategorien -->
<a id="categories_anker"></a>

<section>
  <div class="layout-wrapper">
    <h1><%= t(:description, scope: "pages.home") %></h1>
    <h1 class="alpha--halve bv ph0 mh display--block">
      <%= t(:description_text, scope: "pages.home") %>
    </h1>
  </div>
</section>

<section id='teaser-bg-02' class='photo-bar'>
  <div class="layout-wrapper">
    <h1><%= t(:speaker_shoutout, scope: "pages.home").html_safe %></h1>
    <h1 class="alpha--halve"><%=link_to(t(:speaker_text, scope: "pages.home").html_safe, new_profile_registration_path) %></h1>
  </div>
</section>

<section>
  <div class="layout-wrapper">
    <h1>Speakerinnen*</h1>

    <h4><%= link_to t(:about_title, scope:"pages.home.footer"), about_path %></h4>
    <span><%= t(:about, scope:"pages.home.footer").html_safe %>
      <%= link_to t(:more, scope: "pages.home.footer").html_safe, about_path %>
    </span>

    <h4><%= link_to t(:faq, scope: "pages.home.footer"), faq_path %></h4>
    <span><%= t(:faq_short, scope:"pages.home.footer").html_safe %>
      <%= link_to t(:more, scope: "pages.home.footer").html_safe, faq_path %>
    </span>

    <h4><%= link_to t(:press, scope:"pages.home.footer"), press_path %></h4>
    <span>
      <strong>Aargauer Zeitung, 26. März: Frauen vor! Meinungsmacher müssen nicht immer Männer sein</strong><br>
      "Nun gibt es in mehreren Ländern Initiativen, um auch Frauen stärker als Meinungsmacherinnen und Fachpersonen zu etablieren."</br>
      <strong>20 minuten, 21. März: Mehr Frauen in Talkshows – dank Internetportal</strong><br>
      "Das ist eine gute Idee, ein solches Portal braucht die Schweiz auch», sagt Regula Zweifel, Vizepräsidentin des Bunds Schweizerischer Frauenorganisationen Allicance F."<br>
      <%= link_to t(:more, scope: "pages.home.footer").html_safe, press_path %>
    </span>
  </div>
</section>
