<section>
  <div id="startpage__start-teaser" class="startpage__photo-bar">
    <div class="container align-self-center">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <span class="btn btn-primary px-4" style="font-size: 2rem"><%= link_to t(:find_speaker, scope: 'pages.home.search'), profiles_path, class: "text-white" %></span>
        <span class="btn btn-light ml-3 px-4" style="font-size: 2rem"><%= link_to "I am a speaker", sign_up_path %></span>
      </div>
    </div>
    </div>
  </div>
  <div class="copyright">
     Copyright: public domain ( modified )
  </div>

  <!-- anchor for features -->
  <a id="features"></a>

  <% if @features.load.any? %>
    <% @features.each do |feature| %>
      <div class="container text-center">
        <h1 class="box__bg"><%= feature.title %></h1>
        <h4 class="border-vertical d-block box__bg mb-4">
          <%= feature.description %>
        </h4>
        <div class="row">
          <%= render partial: "profiles/profile", collection: feature.profiles, as: :profile %>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="container text-center">
      <h1 class="box__bg"><%= t(:speaker_headline, scope: 'pages.home.speakers') %></h1>
      <h4 class="border-vertical d-block box__bg mb-4">
        <%= t(:speaker_text, scope: 'pages.home.speakers') %>
        <%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path %>
      </h4>
      <div class="row">
        <%= render partial: "profiles/profile", collection: @profiles if @profiles %>
      </div>
    </div>
  <% end %>

  <!-- Anker für Kategorien -->
  <a id="categories_anchor"></a>

  <div class="startpage-categories__list py-5 text-center">
    <h1><%= t(:description, scope: 'pages.home') %></h1>
  </div>
  <div class="container-fluid startpage-categories__list p-0">
      <%= render partial: "shared/categories", object: @categories %>
  </div>

  <div class="container">
    <div class="row pt-5">
      <div class="col">
        <h2 class="serif"><%= t(:women, scope: 'pages.home.footer').html_safe %></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md pr-4">
        <h4 class="border-vertical d-block py-2 mb-4 sans-serif">
          <%= link_to t(:about_title, scope: 'pages.home.footer'), about_path %>
        </h4>
        <p>
          <%= t(:about, scope: 'pages.home.footer').html_safe %>
          <%= link_to t(:more, scope: 'pages.home.footer').html_safe, about_path  %>
        </p>
      </div>
      <div class="col-md pl-4">
        <h4 class="border-vertical d-block py-2 mb-4 sans-serif">
          <%= link_to t(:blog, scope:"pages.home.footer"), 'http://blog.speakerinnen.org/', target: '_blank' %>
        </h4>
        <p>
          <% @blog_posts.each do |blogpost| %>
            <strong><%= blogpost.title %></strong><br>
            <%= strip_tags(blogpost.body).truncate(150, separator: ' ') %>
            <%= link_to t(:more, scope: 'pages.home.footer').html_safe, blogpost.url, target: '_blank' %>
            <br>
            <br>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <section id="startpage__teaser-bg-02" class="startpage__photo-bar  align-items-center">
    <div class="container">
      <h1 class="display-4 box__bg bg--white-trans"><%= t(:speaker_shoutout, scope: 'pages.home').html_safe %></h1><br>
      <h4 class="box__bg bg--white-trans"><%=link_to t(:speaker_text, scope: 'pages.home').html_safe, new_profile_registration_path %></h4>
    </div>
  </section>
  <div class="copyright pb-5">
     Copyright by Tilman Vogler
  </div>
</section>
