<% @is_global_speakerinnen = current_region.nil? %>
<% @has_hot_topic = @is_global_speakerinnen && @features.load.any?%>

<%# Hero %>

<section class="home">
  <section id="startpage__start-teaser" class="start-teaser startpage__photo-bar">
    <div class="container">
      <%# Headline %>
      <div class="row hero-headline color-white" >
        <div class="col-7">
          <% if @is_global_speakerinnen %>
            <h1>
              <%= t(:heading, scope: 'pages.home') %>
            </h1>
          <% else %>
            <h1><%= t(:heading_vab, scope: 'pages.home') %></h1>
            <p class="startpage-subtitle"><%= t(:tagline_vab, scope: 'pages.home') %></p>
          <% end %>
        </div>
      </div>
      <%# search %>
      <%= render partial: 'shared/search_form' %>
      <%# subtitle %>
      <div class="row">
        <div class="col-7">
          <h2 class="startpage-subtitle pb-3">
            <%= t(:tagline, scope: 'pages.home').html_safe %>
          </h2>
        </div>
      </div>
    </div>
  </section>

  <div class="container bg--light-grey">
    <% if @is_global_speakerinnen %>
      <div class="copyright">Copyright: public domain ( modified )</div>
    <% end %>
  </div>

  <%# Hot Topic%>

  <a id="features"></a>
  <a id="newest_speaker_achor"></a>
  <% if @has_hot_topic %>
    <% @features.each do |feature| %>
      <div class="container py-5 feature bg--light-grey">
        <h1 class=""><%= feature.title %></h1>
        <h3 class=""><%= feature.description %></h3>
        <div class="row pt-5">
          <%= render partial: "profiles/profile", collection: feature.profiles, as: :profile %>
        </div>
      </div>
    <% end %>
    <%= render partial: "shared/get_inspired" %>
  <% end %>

  <%# Hot New Speakers %>

  <div id="startpage-newest_speaker" class="container py-5 bg--light-grey">
    <% if @is_global_speakerinnen %>
      <h1 class=""><%= t(:welcome_title, scope: 'pages.home') %></h1>
      <h3 class=""><%= t(:welcome_text, scope: 'pages.home') %></h3>
    <% else %>
      <h1 class=""><%= t(:welcome_title_vab, scope: 'pages.home') %></h1>
      <h3 class=""><%= t(:welcome_text_vab, scope: 'pages.home') %></h3>
    <% end %>
    <div class="row pt-5">
      <%= render partial: "profiles/profile", collection: @newest_profiles %>
      <%= render partial: "profiles/register" %>
    </div>
  </div>
  <% if !@has_hot_topic %>
    <%= render partial: "shared/get_inspired" %>
  <% end %>

  <%# Intro Voralberg %>

  <% if !@is_global_speakerinnen %>
    <div class="intro-text container">
      <div class="row p-5 text-left">
        <h1><%= t(:intro_title_vab, scope: 'pages.home') %></h1>
        <%= t(:intro_text_vab, scope: 'pages.home').html_safe %>
      </div>
    </div>
  <% end %>

  <%# Categories %>

  <a id="categories_anchor"></a>
  <div class="container bg--light-grey py-5">
    <h1 class=""><%= t(:category_search_title, scope: 'pages.home') %></h1>
    <h3 class=""><%= t(:category_search_text, scope: 'pages.home') %></h3>
  </div>
  <div id="startpage-categories__list" class="container p-0">
    <%= render partial: "shared/categories", object: @categories %>
  </div>

  <%# Action Cards %>
  <div class="container bg--light-grey">
    <div class="row sub-menu">
      <%= render partial: 'shared/sub_menu' %>
    </div>
  </div>
</section>
