<section class="bg--white">
  <section id="startpage__start-teaser" class="startpage__photo-bar">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4 pt-5" style="text-shadow:0px 0px 9px rgba(255, 255, 255, 1);"><%= t(:heading, scope: 'pages.home.search') %></h1>
          <h3 class="startpage-subtitle pb-3" style="text-shadow:0px 0px 9px rgba(255, 255, 255, 1);"><%= t(:tagline, scope: 'pages.home.search').html_safe %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-12 ml-2">
          <%= render partial: 'shared/search_form' %>
        </div>
      </div>
      <div class="row top-space">
        <%= render partial: 'shared/sub_menu' %>
      </div>
    </div>
  </section>
  <div class="copyright">
     Copyright: public domain ( modified )
  </div>
  <!-- anchor for features -->
  <a id="features"></a>

  <% if @features.load.any? %>
    <% @features.each do |feature| %>
      <div class="container py-5 text-center feature">
        <h1 class=""><%= feature.title %></h1>
        <h3 class="">
          <%= feature.description %>
        </h3>
        <div class="row pt-5">
          <%= render partial: "profiles/profile", collection: feature.profiles, as: :profile %>
        </div>
      </div>
    <% end %>
  <% end %>

<a id="newest_speaker_achor"></a>
  <div id="startpage-newest_speaker" class="container py-5 text-center">
    <h1 class="">Speakerinnen* - get inspired</h1>
    <h3 class="">
      <%= t(:newest_speaker, scope: 'pages.home') %>
    </h3>
    <div class="row pt-5">
      <%= render partial: "profiles/profile", collection: @newest_profiles %>
    </div>
  </div>

  <!-- Anker für Kategorien -->
  <a id="categories_anchor"></a>

  <div class="container-fluid my-5 text-center">
  <!-- <div class="startpage-categories__list py-5 text-center"> -->
    <div class="row">
      <div class="col">
    <h1><%= t(:description, scope: 'pages.home') %></h1>
    <h3 class="pb-5">
      <%= t(:categories_list, scope: 'pages.home') %>
  </div>
  <div id="startpage-categories__list" class="container-fluid p-0">
    <%= render partial: "shared/categories", object: @categories %>
  </div>

</section>
