<section id='start-teaser' class='photo-bar'>

  <%= t(:heading, scope: 'pages.home.search') %>
  <%= t(:tagline, scope: 'pages.home.search') %>

  <%= form_tag(search_path, method: 'get', class:'') do %>
    <%= text_field_tag(:q, nil, class: '', id: '', placeholder: t(:search_text, scope: 'pages.home.search')) %>
    <%= button_tag((t(:search, scope: 'pages.home.search')), class: '') %>
  <% end %>
  <%= link_to t(:categories, scope: 'pages.home.speakers'), '#categories_anker' %>
  <%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path %>
</section>
<div class="grid">
  <div class="grid__item 1/2">
    TEST 1
  </div>
  <div class="grid__item 1/2">
    TEST 2
  </div>
</div>
