<section class="bg--white">
  <section id="startpage__start-teaser" class="startpage__photo-bar">
    <div class="container">
      <h1 class="display-4 box__bg bg--white mt-5"><%= t(:heading, scope: 'pages.home.search') %></h1>
      <h4 class="startpage-subtitle box__bg bg--white"><%= t(:tagline_html, scope: 'pages.home.search', root_path: root_path) %></h4><BR>
      <div class="box__bg bg--white">
        <%= form_tag(profiles_path, method: 'get') do %>
          <%= render partial: 'shared/search_form' %>
          <h5><%= link_to(t(:all_categories, scope: 'pages.home'), root_path + "#categories_anchor" )%></h5>
          <h5><%= link_to(t(:all_profiles, scope: 'search'), profiles_path ) %></h5>
        <% end %>
      </div>
    </div>
  </section>
  <div class="copyright">
     Copyright: public domain ( modified )
  </div>

  <div class="container">
    <h1 class="box__bg"><%= t(:speaker_headline, scope: 'pages.home.speakers') %></h4>
    <h4 class="border-vertical d-block box__bg mb-4">
      <%= t(:speaker_text, scope: 'pages.home.speakers') %>
      <%= link_to t(:speaker_index, scope: 'pages.home.speakers'), profiles_path %>
    </h1>
    <div class="row">
      <%= render partial: "profiles/profile", collection: @profiles if @profiles.any? %>
    </div>
  </div>

  <section id="startpage__teaser-bg-01" class="startpage__photo-bar">
    <div class="container">
      <h1 class="display-4 box__bg bg--white mt-5"><%= t(:quote, scope: 'pages.home') %></h1>
      <h4 class="startpage-subtitle box__bg bg--white"><%= t(:quote_text, scope: 'pages.home') %></h4>
    </div>
  </section>
  <!-- Anker für Kategorien -->
  <a id="categories_anchor"></a>
  <div class="copyright">
    Copyright by Ute Mayer
  </div>


  <div class="container">
    <div class="row">
      <div class="col-3">
        <h5>Choose a category</h5>
        <%= render partial: "shared/categories", object: @categories %>
        <% if params[:category_id] %>
          <%= link_to "Search in category", profiles_path(category_id: params[:category_id]), class:"btn btn-primary" %>
        <% else %>
          <button class="btn btn-primary" disabled>Search in category</button>
        <% end %>
      </div>
      <div class="col-9">
        <% if params[:category_id] %>
          <h5>Search in tags for category <b><%= Category.find(params[:category_id]).name %></b></h5>
        <% else %>
          <h5>Search in 200 most used Tags</h5>
        <% end %>
        <div id="tag-box" class="mb-3" >
          <%= render partial: "shared/tag_box", locals: {tags: @tags} %>
        </div>
        <div class="form-group">
          <%= form_tag(profiles_path, method: "get") do %>
            <%= text_area_tag :tag_search, params[:tag_search], id: "taginput", class: "form-control mb-3", rows: 3 %>
            <%= submit_tag "Search in topics", class: "btn btn-primary" %>
            <span class="btn btn-primary" id="clear"><i class="fa fa-times pr-1"></i>Clear</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
    $( ".select-tag" ).click(function() {
      $(this).addClass( "disabled" );
      var oldtags = $( "#taginput" ).val();
      var newtag = $( this ).text();
      var connector = ", "
      if(oldtags.length === 0) { var connector = ""};
      var all_tags = oldtags + connector + newtag;
      $( "#taginput" ).val( all_tags );
    });
    $( "#clear" ).click(function() {
      $( "#taginput" ).val('');
      $(".select-tag").removeClass( "disabled" );
    });
  </script>
  <section id="startpage__teaser-bg-02" class="startpage__photo-bar">
    <div class="container">
      <h1 class="display-4 box__bg bg--white mt-5"><%= t(:speaker_shoutout, scope: 'pages.home').html_safe %></h1>
      <h4 class="box__bg bg--white"><%=link_to t(:speaker_text, scope: 'pages.home').html_safe, new_profile_registration_path %></h4>
    </div>
  </section>
  <div class="copyright">
     Copyright by Tilman Vogler
  </div>

  <div class="container">
    <h1 class="box__bg">Speakerinnen*</h1>
    <div class="row pl-4">
      <div class="col-md">
        <h4 class="border-vertical d-block py-2 mb-4 ">
          <%= link_to t(:about_title, scope: 'pages.home.footer'), about_path %>
        </h4>
        <p>
          <%= t(:about, scope: 'pages.home.footer').html_safe %>
          <%= link_to t(:more, scope: 'pages.home.footer').html_safe, about_path  %>
        </p>
      </div>
      <div class="col-md">
        <h4 class="border-vertical d-block py-2 mb-4">
          <%= link_to t(:press, scope: 'pages.home.footer'), press_path %>
        </h4>
        <p>
          <%= t(:press_short, scope: 'pages.home.footer').html_safe %>
          <%= link_to t(:more, scope: 'pages.home.footer').html_safe, press_path  %>
        </p>
      </div>
      <div class="col-md">
        <h4 class="border-vertical d-block py-2 mb-4 ">
          <%= link_to t(:blog, scope:"pages.home.footer"), 'http://blog.speakerinnen.org/', target: '_blank' %>
        </h4>
        <p>
          <% @blog_posts.each do |blogpost| %>
            <strong><%= blogpost.title %></strong><br>
            <%= strip_tags(blogpost.body).truncate(150, separator: ' ') %>
            <%= link_to t(:more, scope: 'pages.home.footer').html_safe, blogpost.url, target: '_blank' %>
            <br>
            <br>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
