<section class="content--bg-white">
  <div class="layout-wrapper">
    <div class="o-layout">
      <div class="o-layout__item 2/3">
        <h1>Admin::Medialinks</h1>
      </div>

      <div class="o-layout__item 1/3 text--right">

        <%= link_to t(:show, scope: 'admin.dashboard.profiles.edit'), admin_profile_path(@profile), class:'btn btn--small' %>
        <%= link_to t(:show_all, scope: 'admin.dashboard.profiles.edit'), admin_profiles_path, class:'btn btn--small' %><br>

        <%= link_to t(:new, scope: 'medialinks'),
                  new_admin_profile_medialink_path(@profile), class: 'btn btn--small btn--danger mv' %>

      </div>
    </div>

    <div class="o-layout mb+">
      <div class="o-layout__item 1/1">
        <h2 class="delta sans-serif mb- bb pb">
          <%= t(:name_of_profile, scope: 'admin.dashboard.profiles') %> <strong><%= @profile.fullname %></strong>.
        </h2>

        <p class="help"><%= t(:help, scope: 'medialinks').html_safe %></p>

        <p id="medialinks__list--sort-message"></p>

        <ul id="medialinks__list" data-update-url="<%= sort_admin_profile_medialinks_url%>" class="<%= t(:language, scope: 'medialinks')%>">
          <% @medialinks.each do |medialink| %>
            <%= content_tag_for(:li, medialink, nil, {'title' => t(:tooltip, scope: 'medialinks')}) do %>
              <b>
                <%= medialink.title %>
              </b>
              <%= medialink.url_html if medialink.url != 'http://' %>
              <%= medialink.description %>

              <hr>

              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe + t(:edit_link, scope: 'medialinks'), edit_admin_profile_medialink_path(@profile, medialink) %>
              <%= link_to '<i class="fa fa-minus-circle"></i>'.html_safe + t(:delete_link, scope: 'medialinks'), admin_profile_medialink_path(@profile, medialink),
                method: :delete, data: { confirm: 'Are you sure?'}, title: t(:delete, scope: 'medialinks') %>
            <% end %>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
</section>

