<div class="container py-5">
  <h1>Admin::Medialinks</h1>

  <div class="my-3 py-3 border-vertical">
    <%= link_to t(:show_all, scope: 'admin.profiles.edit'), admin_profiles_path, class: 'btn btn-primary btn-sm' %>
    <%= link_to t(:show, scope: 'admin.profiles.edit'), admin_profile_path(@profile), class: 'btn btn-primary btn-sm' %>
    <% if @profile.published %>
      <%= link_to t(:make_invisible, scope: 'admin.profiles'), unpublish_admin_profile_path(@profile.id),
      method: :post, class:'btn btn-sm btn-danger', title: 'Hier kannst Du das Profile wieder unsichtbar machen.' %>
    <% else %>
      <%= link_to t(:make_public, scope: 'admin.profiles'), publish_admin_profile_path(@profile.id),
      method: :post, class:'btn btn-sm btn-danger', title: 'Eine Bestätigungsmail wird verschickt.' %>
    <% end %>
    <%= t(:profile_status, scope: 'admin.profiles') + t(:public, scope: 'admin.profiles') + '.' if @profile.published? %>
  </div>

  <%= link_to t(:new, scope: 'medialinks'),
            new_admin_profile_medialink_path(@profile), class: 'btn btn-small btn-danger my-3' %>

  <%= t(:name_of_profile, scope: 'admin.profiles') %> <strong><%= @profile.fullname %></strong>.
  <h1 class="mb-5"><%= t(:index, scope: 'medialinks')%></h1>

  <p class="border-bottom mb-5 pb-5"><%= t(:medialink_description, scope: 'medialinks').html_safe %></p>

  <p class="mt-5"><%= t(:help, scope: 'medialinks').html_safe %></p>

  <p id="medialinks__list--sort-message"></p>

  <ul id="medialinks__list" data-update-url="<%= sort_admin_profile_medialinks_url%>" class="<%= t(:language_short, scope: 'medialinks')%>">
    <%= render partial: 'medialinks/medialink', collection: @medialinks %>
  </ul>
</div>
