<section class="content--bg-white">
  <div class="layout-wrapper">
    <div class="layout">
      <div class="layout__item 2/3">
        <h1>Admin::Medialinks</h1>
      </div><!--

      --><div class="layout__item 1/3 text--right">

        <%= link_to(t(:show, scope: "admin.dashboard.profiles.edit"), admin_profile_path(@profile), class:"btn btn--small") %>
        <%= link_to(t(:show_all, scope: "admin.dashboard.profiles.edit"), admin_profiles_path, class:"btn btn--small") %><br>

        <%= link_to t(:new, scope: "medialinks"),
                  new_admin_profile_medialink_path(@profile), class: "btn btn--small btn--danger mv" %>

      </div>
    </div>

    <div class="layout mb+">
      <div class="layout__item 1/1">
        <p>
          <%= t(:profile_status, scope: "admin.dashboard.profiles") %>: <strong><%= @profile.fullname %></strong>
        </p>

        <table class="table table--rows">
          <thead class="bg--lightgrey">
            <tr>
              <td><%= t(:url, scope: "admin.dashboard.medialink" ) %></td>
              <td><%= t(:title, scope: "admin.dashboard.medialink" ) %></td>
              <td><%= t(:description, scope: "admin.dashboard.medialink" ) %></td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <% @medialinks.each do |medialink| %>
            <tr>
              <td><%= link_to medialink.url, medialink.url %></td>
              <td><%= medialink.title %></td>
              <td><%= medialink.description %></td>
              <td><%= link_to '<i class="fa fa-pencil">&nbsp;</i>'.html_safe,
                              edit_admin_profile_medialink_path(@profile, medialink), title: t(:edit, scope: "medialinks") %></td>
              <td>
                <%= link_to ('<i class="fa fa-trash-o"></i>').html_safe, admin_profile_medialink_path(@profile, medialink), method: :delete, data: { confirm: 'Are you sure?'}, title: t(:delete, scope: "medialinks") %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
