<section class="content--bg-white mb+">
  <div class="layout-wrapper">
    <%= render 'shared/error_messages' %>

    <h1>Admin::Medialink::New</h1>

    <h2 class="delta sans-serif mb- bt pv mt text--color-red">
      <%= t(:new_medialink_for, scope: 'admin.dashboard.medialink') %> <strong><%= @profile.fullname %></strong>
    </h2>

    <%= simple_form_for [:admin, @profile, @medialink], html: {class: ''} do |f| %>
      <%= f.input :url, as: :string, input_html: { class: 'mb input--width' }  %>
      <%= f.input :title, as: :string, input_html: { class: 'mb input--width' }  %>
      <%= f.input :description, as: :text, input_html: { rows: 10, class: 'mb input--width' }  %>
      <%= f.submit class: 'btn btn--small' %>
    <% end %>

  </div>
</section>
