<section class="content--bg-white mb+">
  <div class="layout-wrapper">
    <%= render 'shared/error_messages' %>

    <h1>Admin::Medialink::New</h1>

    <%= link_to t(:show, scope: 'admin.dashboard.profiles.edit'), admin_profile_path(@profile), class:'btn btn-blue btn--small' %>
    <%= link_to t(:show, scope: 'medialinks'), admin_profile_medialinks_path(@profile), class:'btn btn-blue btn--small', title: t(:edit, scope: 'medialinks') %>

    <h2 class="delta sans-serif mb- bt pv mt">
      <%= t(:new_medialink_for, scope: 'admin.dashboard.medialink') %> <strong><%= @profile.fullname %></strong>
    </h2>

    <%= simple_form_for [:admin, @profile, @medialink], html: {class: ''} do |f| %>
      <%= f.input :url, as: :string, input_html: { class: 'mb input--width' }  %>
      <%= f.input :title, as: :string, input_html: { class: 'mb input--width' }  %>
      <%= f.input :description, as: :text, input_html: { rows: 10, class: 'mb input--width' }  %>
      <%= f.input :language, label: t(:select_language, scope: 'medialinks'), label_html: { class: "mr" } do %>
        <%= f.select :language, options_for_select(IsoLanguage.all_languagenames_with_iso, @medialink.language), include_blank: "..." %>
      <% end %>
      <%= f.submit class: 'mt btn btn-blue btn--small mb' %>
    <% end %>

  </div>
</section>
