<div class="container profiles">
  <div class="row">
    <div class="span12">
      <h1 class="title-profiles">Admin::New Medialinks</h1>
      <p>You are about to create a new medialink for <strong><%= @profile.fullname %></strong>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= form_for [:admin, @profile, @medialink], html: {class: 'form-horizontal'} do |f| %>
      <div class="control-group">
        <%= f.label :url, {class:"control-label"} %>
        <div class="controls">
          <%= f.text_field :url, class: "input-xxlarge" %>
        </div>
      </div>
      <!-- TODO translation -->
      <div class="control-group">
        <%= f.label :title, {class:"control-label"} %>
        <div class="controls">
          <%= f.text_field :title, class: "input-xxlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, {class:"control-label"} %>
        <div class="controls">
          <%= f.text_area :description, class:"input-xlarge", rows: 10 %>
        </div>
      </div>
      <div class="controls span3">
        <%= f.submit class:"btn btn-info" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
