<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal well"}) do |f| %>

  <fieldset>
    <legend>Login</legend>

  <div class="control-group">
    <%= f.label :email, class:"control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true, class:"input-xlarge", id:"input01" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password, class:"control-label" %>
      <div class="controls">
      <%= f.password_field :password, class:"input-xlarge", id:"input01" %>
    </div>
  </div>

  <div class="control-group">
    <% if devise_mapping.rememberable? -%>
      <%= f.label :remember_me, class:"control-label" %>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :remember_me , id:"optionsCheckbox"%> 
        </label>
      </div>
    <% end -%>
  </div>


  <div class="form-actions">
    <%= f.submit(t(".login"), class:"btn btn-success")%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </fieldset>
</form>
