<div class="m-5 underline_links">

  <h2>Blockierte Emails</h2>
  <i>Es gibt 3 Gründe warum Emails blockiert werden:</i>
  <h3>1. Grund: Spam Email Adressen</h3>
  <p>
  Die Emails sind blockiert, weil die Absenderin eine <b>Spam Email Adresse</b> verwendet hat. </BR>
  Eingetrageen werden die Spam Email per Hand in der Umgebungsvariable <b>FISHY_EMAILS</b> auf Heroku vom Admin. </BR>
  <h3>2. Grund: Verdächtiger Inhalt</h3>
  <p>
  Die Emails sind blockiert, weil sie <b>verdächtige Inhalte</b> enthalten haben, die auf Spam hindeuten. </BR>
  Zum beispiel nur ein Wort im Body oder der Text ist ohne Umlaute.
  <h3>3. Grund: Beleidigende Begriffe</h3>
  <p>
  Die Emails sind blockiert, weil sie im <b>Subjekt</b> oder im <b>Body</b> beleidigende Begriffe enthalten haben. </BR>
  Hier ist die Liste der Begriffe: <%= link_to 'Beleidigende Begriffe', admin_offensive_terms_path %>


Wenn du die Email trotzdem senden möchtest, klicke auf die jeweilige Email und dann <b>"Sende die Email trotzdem".</b> <br>
Die Email wird dann an die angegebene Adresse gesendet. <br>
  </p>
  <table class="table blocked-emails">
    <thead class="bg--white">
      <tr>
        <th>Email Empfängerin</th>
        <th>Email Senderin</th>
        <th>Betreff</th>
        <th>Erstellt am</th>
        <th>Gesendet am</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @blocked_emails.each do |email| %>
        <tr>
          <td><%= email.contacted_profile_email %></td>
          <td><%= email.email %></td>
          <td><%= truncate(email.subject, length: 60) %></td>
          <td><%= email.created_at.strftime("%d.%m.%Y %H:%M") %></td>
          <td><%= email.sent_at&.strftime("%d.%m.%Y %H:%M") %></td>
          <td><%= link_to 'Ansehen', admin_blocked_email_path(email) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
