<div class = "m-5">

<h1>Blocked Email</h1>

<p><strong>From:</strong> <%= @blocked_email.email %></p>
<p><strong>Subject:</strong> <%= @blocked_email.subject %></p>
<p><strong>Body:</strong></p>
<pre><%= @blocked_email.body %></pre>
<p><strong>Blocked Reason:</strong> <%= @blocked_email.reason %></p>
<p><strong>Created at:</strong> <%= @blocked_email.created_at.strftime("%Y-%m-%d %H:%M") %></p>


<%= button_to 'Send Email', send_email_admin_blocked_email_path(@blocked_email), method: :post, data: { confirm: "Are you sure you want to send this email?" } %>
<%= link_to 'Back to list', admin_blocked_emails_path %>
</div>
