<div class="container">

  <h1>Administration::<%= t(:categories, scope: "admin.categories")%>::<%= t(:edit, scope: "general")%></h1>

  <%= simple_form_for [:admin, @category] do |f| %>
    <%= f.fields_for :translations, @category.translations.sort_by(&:locale) do |translation| %>

      <%= translation.hidden_field :locale %>

      <p class="mt-5">
        <%= translation.label :category, t(:new_name,
          scope: 'admin.categories',
          language:  t(translation.object.locale, scope: 'i18n.language')).html_safe %>
      </p>

      <%= translation.text_field :name, class: 'form-control' %>

    <% end %>

    <%= f.input :position, as: :integer, label: "Position:", label_html: { class: "mt-5"}, input_html: { class: 'form-control mb-3' }  %>

    <%= f.button :submit, t(:save, scope: 'general'), class: 'btn btn-primary btn-sm my-3' %>

  <% end %>

</div>
