<section class="content--bg-white">
  <div class="layout-wrapper">

    <h1>Administration::<%= t(:categories, scope: "admin.dashboard.categories")%>::<%= t(:edit, scope: "general")%></h1>

    <%= simple_form_for [:admin, @category], html: {class: ''} do |f| %>

      <p><%= t(:current_name, scope: "admin.dashboard.categories") %><b><%= @category.name %></b></p>

      <%= f.input :name, label: t(:new_name, scope: "admin.dashboard.categories"), input_html: { class: "mv" }, required: false %>

      <%= f.submit t(:save, scope: "general"), class:"btn btn--small" %>
    <% end %>

  </div>
</section>
