<div class="container profiles">
  <h1 class="title-profiles">Administration::<%= t(:categories, scope: "admin.dashboard.categories")%></h1>
  <div class="row">
    <div class="span2">
      <%= link_to ('<i class="icon-plus icon-white"></i>'+t(:add, scope: "general")).html_safe,
      new_admin_category_path, class: "btn btn-info" %>
      <br>
      <br>
    </div>
    <div class="span10">
    </div>
  </div>
    <div class="row">
      <div class="span12">
        <table id="category-table" class="table table-bordered table-hovered table-condensed">
          <thead>
          <tr>
             <th><%= t(:category_language_de, scope: "admin.dashboard.categories")%></th>
            <th><%= t(:category_language_en, scope: "admin.dashboard.categories")%></th>
            <th></th>
          </tr>
          </thead>
          <% @categories.each do |category| %>
            <tr>
            <% Globalize.with_locale(:de) do %>
              <td>
                <%= category.name %>
                <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                    edit_admin_category_path(category.id) %>
              </td>
            <% end %>
            <% Globalize.with_locale(:en) do %>
              <td>
                <%= category.name %>
                <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                    edit_admin_category_path(category.id) %>
              </td>
            <% end %>
              <td>
                <%= link_to 'delete', admin_category_path(category.id), :method => :delete,
                  :confirm => "Do you want to delete the category #{category.name}?" %>
              </td>
            </tr>
          <% end %>
        </table>
        <br />
      </div>
      <hr/>
  </div>
</div>
