<div class="m-5">

  <h1>Administration::<%= t(:categories, scope: "admin.categories")%></h1>

  <%= link_to ('<i class="fa fa-plus-circle">&nbsp;</i>' + t(:add, scope: "general")).html_safe,
  new_admin_category_path, class: "btn btn-primary btn-sm my-5" %>

  <table class="table categories">
    <thead class="bg--lightgrey">
      <tr>
        <th><%= t(:category_language_de, scope: "admin.categories")%></th>
        <th><%= t(:category_language_en, scope: "admin.categories")%></th>
        <th><%= t(:amount_of_tags, scope: "admin.categories")%></th>
        <th>Position:</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% @categories.each do |category| %>
      <tr>
      <% Globalize.with_locale(:de) do %>
        <td>
          <%= category.name %>
        </td>
      <% end %>
      <% Globalize.with_locale(:en) do %>
        <td>
          <%= category.name %>
        </td>
      <% end %>
        <td>
          <%= category.tags.count %>
        </td>
        <td>
          <%= category.position %>
        </td>
        <td>
          <%= link_to ('<i class="fa fa-pencil">&nbsp;</i>' + t(:edit, scope: "general")).html_safe,
              edit_admin_category_path(category.id) %>
        </td>
        <td>
          <%= link_to ('<i class="fa fa-trash-o">&nbsp;</i>' + t(:delete, scope: "general")).html_safe,
            admin_category_path(category.id), method: :delete,
            confirm: "Do you want to delete the category #{category.name}?" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
