<div class="container profiles">
  <h1 class="title-profiles">Admin interface für Kategorien:</h1>
  <div class="row">
    <div class="span2">
      <%= link_to '<i class="icon-plus icon-white"></i> Hinzufügen'.html_safe,
                new_admin_category_path(@category), class: "btn btn-info" %>
      <br>
      <br>
    </div>
    <div class="span10">
    </div>
  </div>
    <div class="row">
      <div class="span12">
        <table class="table table-bordered table-hovered table-condensed">
          <tr>
            <th>Name der Kategorie</th>
            <th>Englischer Name der Kategorie </th>
            <th></th>
          </tr>

          <% @categories.each do |category| %>
            <tr>
            <% Globalize.with_locale(:de) do %>
              <td>
                <%= category.translation.name %>
                <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                    edit_admin_category_path(category.id) %>
              </td>
            <% end %>
            <% Globalize.with_locale(:en) do %>
              <td>
                <%= category.translation.name %>
                <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                    edit_admin_category_path(category.id) %>
              </td>
            <% end %>
              <td>
                <%= link_to 'delete', admin_category_path(category.id), :method => :delete,
                  :confirm => "Do you want to delete the category #{category.name}?" %>
              </td>
            </tr>
          <% end %>
        </table>
        <br />
      </div>
      <hr/>
  </div>
</div>
