<div class="full-width-container">
    <div class="full-width-row administration">

        <div class="breadcrumb-navigation">Administration::<%= t(:categories, scope: "admin.dashboard.categories")%></div>

        <%= link_to ('<i class="icon-plus icon-white"></i>'+t(:add, scope: "general")).html_safe,
        new_admin_category_path, class: "btn btn-primary" %>

        <table class="table table-bordered table-hovered table-condensed">
          <thead>
          <tr>
             <th><%= t(:category_language_de, scope: "admin.dashboard.categories")%></th>
            <th><%= t(:category_language_en, scope: "admin.dashboard.categories")%></th>
            <th></th>
          </tr>
          </thead>
          <% @categories.each do |category| %>
            <tr>
            <% Globalize.with_locale(:de) do %>
              <td>
                <%= category.name %>
              </td>
            <% end %>
            <% Globalize.with_locale(:en) do %>
              <td>
                <%= category.name %>
              </td>
            <% end %>
              <td>
                <%= link_to t(:edit, scope: "general"),
                    edit_admin_category_path(category.id) %>
                <%= link_to t(:delete, scope: "general"), admin_category_path(category.id), :method => :delete,
                  :confirm => "Do you want to delete the category #{category.name}?" %>
              </td>
            </tr>
          <% end %>
        </table>

  </div>
</div>
