<section class="content--bg-white">
  <div class="layout-wrapper">

    <h1>Administration::<%= t(:categories, scope: "admin.dashboard.categories")%>::<%= t(:add, scope: "general")%></h1>

    <%= simple_form_for [:admin, @category], html: {class: ''} do |f| %>
      <%= t(:category_name, scope: "admin.dashboard.categories") %>

      <%= f.input :name, input_html: { class: "mv" }, label: false %>

      <%= submit_tag t(:add, scope: "general"), class:"btn btn--small" %>
    <% end %>
  </div>
</section>
