<section class="content--bg-white">
  <div class="layout-wrapper">

    <h1>Administration::<%= t(:categories, scope: "admin.dashboard.categories")%>::<%= t(:add, scope: "general")%></h1>

    <%= simple_form_for [:admin, @category] do |f| %>

      <%= f.fields_for :translations, @category.translations.sort_by(&:locale) do |translation| %>

        <%= translation.hidden_field :locale %>

        <p>
        <%= translation.label :category, t(:new_name,
          scope: 'admin.dashboard.categories',
          language:  t(translation.object.locale, scope: 'i18n.language')).html_safe %>
        </p>

        <%= translation.text_field :name, class: 'input--width-100' %>

      <% end %>

      <%= f.submit t(:add, scope: "general"), class:"btn btn--small mt" %>
    <% end %>
  </div>
</section>
