<div class="container">

  <h1>Administration::<%= t(:categories, scope: "admin.categories") %>::<%= t(:add, scope: "general") %></h1>

  <%= simple_form_for [:admin, @category] do |f| %>

    <% I18n.available_locales.each do |locale| %>
      <div class="mt-5">
        <%= f.label "name_#{locale}", t(:new_name,
          scope: 'admin.categories',
          language: t(locale, scope: 'i18n.language')).html_safe %>
        <%= f.text_field "name_#{locale}", value: Mobility.with_locale(locale) { @category.name }, class: 'form-control' %>
      </div>
    <% end %>

    <%= f.input :position, as: :integer, label: "Position:", label_html: { class: "mt-5"}, input_html: { class: 'form-control mb-3' }  %>

    <%= f.submit t(:add, scope: "general"), class: "btn btn-primary btn-sm my-3" %>

  <% end %>

</div>