<div class="full-width-container">
  <div class="full-width-row administration">

      <div class="breadcrumb-navigation">Administration::<%= t(:categories, scope: "admin.dashboard.categories")%>::<%= t(:add, scope: "general")%></div>
      <%= form_for [:admin, @category], html: {class: 'form-vertical form'} do |f| %>
      <div class="control-group">
        <%= t(:category_name, scope: "admin.dashboard.categories") %>
        <div class="controls">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit t(:add, scope: "general"), class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>

  </div>
</div>
