<%= simple_form_for @message, url: url, html: {id: ""} do |f| %>
  <%= f.input :name, as: :string, required: false, label: t(".name"), input_html: { class: 'form-control mb-3' }, error_html: { style: 'float:right'} %>
  <%= f.input :email, label: t(".email"), required: false, input_html: { class: 'form-control mb-3' }, error_html: { style: 'float:right'} %>
  <%= invisible_captcha %>
  <%= f.input :subject, label: t(".subject"), required: false, input_html: { class: 'form-control mb-3' }, error_html: { style: 'float:right'} %>
  <%= f.input :body, as: :text, label: t(".body"), required: false, input_html: { class: 'form-control mb-3' }, error_html: { style: 'float:right'} %>
  <div class="code_of_conduct_box">
    <span><%= t(".read_code_of_conduct_prefix")%></span>
    <%=link_to t(".read_code_of_conduct_link"), code_of_conduct_path, target: "_blank"
    %><span><%= t(".read_code_of_conduct_suffix") %></span>
  </div>

  <div class="modal-footer contact">
    <%= f.submit t(".send"), class: "btn btn-primary"%>
  </div>
<% end %>
