<section class="content--bg-grey">
  <% unless @profile.present? %>
    <div class="layout-wrapper">
      <h1>
        <%= t(:title, scope: "contact.form") %>
      </h1>
    <% end %>

    <h1>
    </h1>
    <%= simple_form_for @message, url: url, html: {id: ""} do |f| %>
      <%= f.input :name, as: :string, required: false, label: t(".name"), input_html: { class: 'mb modal__input--width' }  %>
      <%= f.input :email, label: t(".email"), wrapper_html: { id: 'message_email' }   %>
      <%= f.input HONEYPOT_EMAIL_ATTR_NAME, label: t(".email"), required: false, input_html: { class: 'mb modal__input--width' }   %>
      <%= f.input :subject, label: t(".subject"), required: false, input_html: { class: 'mb modal__input--width' }   %>
      <%= f.input :body, as: :text, label: t(".body"), required: false, input_html: { class: 'mb modal__input--width' }   %>

      <%= f.submit t(".send"), class:"btn  btn--small mb+"%>
    <% end %>
  </div>
</section>
