<footer id="main-page-footer" class="pb">
  <div class="layout-wrapper">
    <nav class="ph0 pv bv">
      Speakerinnen:
      <%= t(:address, scope: 'pages.home.footer') .html_safe %> |
      <%= link_to t(:contact_link, scope: 'pages.home.footer'), contact_path, class:"footer__link" %> |
      <%= t(:github, scope: 'pages.home.footer').html_safe %> |
      <%= link_to t(:title, scope: 'pages.imprint'), impressum_path, class:"footer__link" %>
    </nav>
    <p class="mb++ mt">
      <%= t(:women, scope: 'pages.home.footer').html_safe %>
    </p>
  </div>
</footer>
