<div class="full-width-container footer">
  <div class="full-width-row">
    <h1><%= t(:contact, scope: "pages.home.footer") %></h1>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="footer-links bordered-text-block">
            <%= t(:address, scope: "pages.home.footer").html_safe %> |
            <a data-toggle="modal" href="#contact">
              <%= t(:contact_link, scope: "pages.home.footer") %>
            </a> |
            <%= t(:github, scope: "pages.home.footer").html_safe %> |
            <%= link_to t(:title, scope: "pages.imprint"), impressum_path %> |
            <%= t(:devblog, scope: "pages.home.footer").html_safe %>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= t(:women, scope: "pages.home.footer").html_safe %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'contact/modalform', locals: { url: contact_path(locale: I18n.locale), recipient: t(:default_recipient, scope: "contact.form") } %>
