<footer id="main-page__footer">
  <div class="layout-wrapper">
    <h1><%= t(:contact, scope: 'pages.home.footer') %></h1>
    <nav class="page-footer--link ph0 bv mh">
      <%= t(:address, scope: 'pages.home.footer').html_safe %> |
      <%= link_to t(:contact_link, scope: 'pages.home.footer'), contact_path %> |
      <%= t(:github, scope: 'pages.home.footer').html_safe %> |
      <%= link_to t(:title, scope: 'pages.imprint'), impressum_path %>
    </nav>
    <p class="mv">
      <%= t(:women, scope: 'pages.home.footer').html_safe %>
    </p>
  </div>
</footer>
