<footer id="footer" class="pt-5">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12 col-md-1">
        <%= link_to(image_tag('logo_ooe_stark.jpg', class:'logo-2'), "https://www.frauenreferat-ooe.at", class: "noHover", target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-2">
        <%= link_to(image_tag('logo_ooe_frauen.jpg', class:'logo-1'), "https://www.frauenreferat-ooe.at", class: "noHover", target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-2">
        <%= link_to(image_tag('logo_ooe_wirtschaft.jpg', class:'logo-wko'), "https://www.wko.at/site/fiw-oberoesterreich", class: "noHover", target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-2">
        <%= link_to(image_tag('logo_ooe_kompass.jpg', class:'logo-kompass'), "https://www.kompass-ooe.at", class: "noHover", target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-1">
        <%= link_to(image_tag('logo_ooe_upper.png', class:'logo-2'), "https://www.biz-up.at/", class: "noHover", target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-2">
        <ul class="list-unstyled">
          <li class="d-flex">
            <%= link_to t(:about, scope: 'pages.home'), about_ooe_path %>
          </li>
          <li class="d-flex">
            <%= link_to t(:faq, scope: 'pages.home'), faq_path %>
          </li>
          <li class="d-flex">
            <%= link_to t(:code_of_conduct, scope: 'pages.home'), code_of_conduct_path %>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <ul class="list-unstyled">
          <li class="d-flex">
            <% if cookies[:cookie_consent].blank? %>
              <button type="button" class="btn btn-link px-2 pt-0" data-toggle="modal" data-target="#contactHint">
                <%= t(:contact, scope: 'pages.footer') %>
              </button>
            <% else %>
              <%= link_to t(:contact, scope: 'pages.footer'), contact_path %>
            <% end %>
          </li>
          <li class="d-flex">
            <%= link_to t(:imprint, scope: 'pages.footer'), impressum_path %>
          </li>
          <li class="d-flex">
            <%= link_to t(:privacy, scope: 'pages.footer'), privacy_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
