<footer id="footer" class="border-upper mt-5 pt-5">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12 col-md-6 pb-3">
        <span class="">Supported by:</span>
        <%= link_to(image_tag('inspired_logo_klein.jpg', class:'pl-sm-4', style: "width: 150px"), "https://www.inspired-socialmedia.com/", class: "",target: 'blank' ) %>
        <%= link_to(image_tag('kombuese_logo.jpg', class:'pl-sm-3', style: "width: 150px"), "https://www.kombuese.org/", class: "",target: 'blank' ) %>
      </div>
      <div class="col-12 col-md-2">
        <ul class="list-unstyled">
          <li class="d-flex">
            <%= link_to t(:about_title, scope: 'pages.home.footer'), about_path, class: "" %>
          </li>
          <li class="d-flex">
            <%= link_to t(:faq, scope: 'pages.home.footer'), faq_path, class: ""  %>
          </li>
          <li class="d-flex">
            <%= link_to t(:code_of_conduct, scope: 'pages.home.footer'), code_of_conduct_path, class: ""  %>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <ul class="list-unstyled">
          <li class="d-flex">
            <%= t(:twitter, scope: 'pages.home.footer').html_safe %>
          </li>
          <li class="d-flex">
            <%= t(:instagram, scope: 'pages.home.footer').html_safe %>
          </li>
          <li class="d-flex">
            <%= t(:facebook, scope: 'pages.home.footer').html_safe %>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2">
        <ul class="list-unstyled">
          <li class="d-flex">
        <!-- Make sure cookie consent is given -->
            <% if cookies[:cookie_consent].blank? %>
              <button type="button" class="btn btn-link px-2 pt-0" data-toggle="modal" data-target="#contactHint">
                <%= t(:contact, scope: 'pages.home.footer') %>
              </button>
            <% else %>
              <%= link_to t(:contact, scope: 'pages.home.footer'), contact_path, class: "" %>
            <% end %>
          </li>
          <li class="d-flex">
            <%= link_to t(:title, scope: 'pages.imprint'), impressum_path, class: ""%>
          </li>
          <li class="d-flex">
            <%= link_to t(:privacy, scope: 'pages.imprint'), privacy_path, class: "" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
