<footer class= "border-top bg--white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5><b><%= t(:women, scope: 'pages.home.footer').html_safe %></b></h5>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-5">
        <span class="align-top">Supported by:</span>
        <%= image_tag('BMBF_RGB_Gef_M.jpg', class: 'pl-3 logo') %>
        <%= image_tag('travisfoundation-1.png', class: 'pl-3 logo') %>
      </div>
      <div class="col-7">
        <nav class="py-2 nav justify-content-end">
        <%= t(:twitter, scope: 'pages.home.footer').html_safe %>
        <!-- Make sure cookie consent is given -->
        <% if cookies[:cookie_consent].blank? %>
          <button type="button" class="btn btn-link px-2" data-toggle="modal" data-target="#contactHint">
            <%= t(:contact, scope: 'pages.home.footer') %>
          </button>
        <% else %>
          <%= link_to t(:contact, scope: 'pages.home.footer'), contact_path, class: "btn btn-link px-3" %>
        <% end %>
        <%= link_to t(:about_title, scope: 'pages.home.footer'), about_path, class: "btn btn-link px-3" %>
        <%= link_to t(:faq, scope: 'pages.home.footer'), faq_path, class: "btn btn-link px-3"  %>
        <%= t(:github, scope: 'pages.home.footer').html_safe %>
        <%= link_to t(:title, scope: 'pages.imprint'), impressum_path, class: "btn btn-link px-3"%>
        <%= link_to t(:privacy, scope: 'pages.imprint'), privacy_path, class: "btn btn-link px-3" %>
      </nav>
    </div>
  </div>
</footer>
