<div class="gray-bg">
  <div class="container">
    <h1><%= t(:contact, scope: "pages.home.footer") %></h1>
    <div class="row">
      <div class="span12">
        <h4><span class="italic"><%= t(:address, scope: "pages.home.footer").html_safe %> |
            <%= link_to t(:contact_link, scope: "pages.home.footer"), contact_path %> |
            <%= t(:github, scope: "pages.home.footer").html_safe %> |
            <%= link_to t(:title, scope: "pages.imprint"), impressum_path %> |
            <%= t(:devblog, scope: "pages.home.footer").html_safe %></span></h4>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="span12">
        <%= t(:women, scope: "pages.home.footer").html_safe %>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
