<div id="nav__palm">

  <span class="ml+">
    <%= link_to '<i class="fa fa-home"></i>'.html_safe, root_path %>
  </span>

  <i id="nav__palm-menu-trigger" class="fa fa-bars pl"></i>

  <span class="mh sans-serif">
    <%= link_to_unless I18n.locale == :en, 'EN', {locale: :en} %> |
    <%= link_to_unless I18n.locale == :de, 'DE', {locale: :de} %>
  </span>

  <div id="nav__palm-menu" style="display: none">
    <ul class="pl0 m0">
    <% if profile_signed_in? %>
      <li><%= link_to(t(:my_profile, scope: 'layouts.application'), profile_path(current_profile), class: "nav__palm-menu-link bb")%></li>
      <li><%= link_to(t(:account, scope: 'layouts.application'), edit_profile_registration_path, class: "nav__palm-menu-link bb") %></li>
      <li><%= link_to(t(:logout, scope: 'layouts.application'), destroy_profile_session_path, method: :delete, class: "nav__palm-menu-link bb") %></li>
    <% else %>
      <li><%= link_to(t(:signup, scope: 'layouts.application'), sign_up_path, class: "nav__palm-menu-link bb") %></li>
      <li><%= link_to(t(:login, scope: 'layouts.application'), new_profile_session_path, class: "nav__palm-menu-link bb") %></li>
    <% end %>
    <% if admin?(current_profile) %>
      <li><%= link_to 'Admin', admin_root_path, class: "nav__palm-menu-link bb" %></li>
    <% end %>
      <li><%= link_to "Speakerinnen Blog", "https://blog.speakerinnen.org/", class: "nav__palm-menu-link bb" %></li>
      <li><%= link_to "Fiftypercent", "https://50prozent.speakerinnen.org/", target: '_blank', class: "nav__palm-menu-link bb" %></li>
    <li><%= link_to t(:contact, scope: 'pages.home.footer'), contact_path, class: "nav__palm-menu-link bb" %></li>
    <li><%= link_to t(:about_title, scope: 'pages.home.footer'), about_path, class: "nav__palm-menu-link bb" %></li>
    <li><%= link_to t(:faq, scope: 'pages.home.footer'), faq_path, class: "nav__palm-menu-link bb" %></li>
    <ul>
  </div>

</div>
