<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible', content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="og:image" content="https://speakerinnen.org/assets/curie-98b360602abd80292d1a664d16ae60fb.jpg"/>
    <meta property="og:title" content="Speakerinnen*Liste" />
    <meta property="og:url" content="http://speakerinnen.org" />
    <meta property="og:description" content="Die Speakerinnen-Liste hat das Ziel, die Sichtbarkeit von Frauen* bei Konferenzen, Panels, Talkshows und überall da zu erhöhen, wo öffentlich gesprochen wird." />
    <title><%= t '.title' %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="content">
      <% if notice %>
        <div class='notice'>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class='alert'>
          <%= Array(alert).join('<br>').html_safe %>
        </div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' if render_footer? %>
    </div>
      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//tyranja.cassiopeia.uberspace.de/piwik/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 1]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//tyranja.cassiopeia.uberspace.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->
  </body>
</html>
