<!DOCTYPE html>
<html>
<head>
  <title><%= t ".title" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <header id="top">
  <%= link_to t(".title"), root_path, :id => "logo" %>
    <div class="right">
      <div class="row">
        <div class="span2">
     <p> <a href="profiles/sign_up" class="header-btn">Are you a speaker?</a></p>
        </div>
        <div class="span4">
     <p> <% if profile_signed_in? %>
          <%= link_to(t(".my_profile"), profile_path(current_profile), :class => 'header-btn')%> |
          <%= link_to(t(".account"), edit_profile_registration_path, :class => 'header-btn') %> |
          <%= link_to(t(".logout"), destroy_profile_session_path, method: :delete, :class => 'header-btn') %>
        <% else %>
          <%= link_to(t(".signup"), new_profile_registration_path, :class => 'header-btn') %> |
          <%= link_to(t(".login"), new_profile_session_path, :class => 'header-btn') %>
        <% end %>
      </p>
    </div>
      <div class="span1">
      <p class="header-btn, language">
        <%= link_to_unless I18n.locale == :en, "EN", locale: :en %> |
        <%= link_to_unless I18n.locale == :de, "DE", locale: :de %>
      </p>
    </div>
    </div>
    </div>
  </header>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
