<!DOCTYPE html>
<html>
<head>
  <title><%= t ".title" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- NAVBAR STARTS HERE-->  
 <header id="top">
  <%= link_to t(".title"), root_path, :id => "logo" %>
    <div class="right">
     <p> <a href="#" class="header-btn">Are you speaker?</a>&nbsp;&nbsp;:&nbsp;&nbsp; </a></p>
     <p> <% if profile_signed_in? %>
          <%= link_to(t(".my_profile"), profile_path(current_profile), :class => 'header-btn')%> |
          <%= link_to(t(".account"), edit_profile_registration_path, :class => 'header-btn') %> |
          <%= link_to(t(".logout"), destroy_profile_session_path, method: :delete, :class => 'header-btn') %>
        <% else %>
          <%= link_to(t(".signup"), new_profile_registration_path, :class => 'header-btn') %> |
          <%= link_to(t(".login"), new_profile_session_path, :class => 'header-btn') %> |
         <!--  <%= link_to("Twitter", profile_omniauth_authorize_path(:twitter), :class => 'header-btn') %> -->
        <% end %>
      </p>
      <p class="navbar-text pull-left"> Language:
        <%= link_to_unless I18n.locale == :en, "EN", locale: :en %> | 
        <%= link_to_unless I18n.locale == :de, "DE", locale: :de %>
      </p> 
    </div>
  </header>


<!-- <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t(".title"), root_path, :class => "brand" %>

      <ul class="nav" id="main-menu-left">
        <li><%= link_to t(".list"), profiles_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
      </ul>

      <%= form_tag(search_path, :method => "get", :class =>"navbar-form pull-left") do %>
        <%= text_field_tag(:q, nil, :class => "span2") %>
        <%= label_tag(:q) do %> 
          <%= button_tag(t(".search"), :class => "btn") %>
        <% end %>
      <% end %>

      <p class="navbar-text pull-left">
        <%= link_to_unless I18n.locale == :en, "E", locale: :en %> | 
        <%= link_to_unless I18n.locale == :de, "D", locale: :de %>
      </p>

      <p class="navbar-text pull-right">
        <% if profile_signed_in? %>
          <%= link_to(t(".my_profile"), profile_path(current_profile), :class => 'navbar-link')%> |
          <%= link_to(t(".account"), edit_profile_registration_path, :class => 'navbar-link') %> |
          <%= link_to(t(".logout"), destroy_profile_session_path, method: :delete, :class => 'navbar-link') %>
        <% else %>
          <%= link_to(t(".signup"), new_profile_registration_path, :class => 'navbar-link') %> |
          <%= link_to(t(".login"), new_profile_session_path, :class => 'navbar-link') %> |
          <%= link_to("Twitter", profile_omniauth_authorize_path(:twitter), :class => 'navbar-link') %>
        <% end %>
      </p>
  admin link if admin 
     <p class="navbar-text pull-right">
        <% if admin?(current_profile) %>
          <%= link_to "admin", admin_root_path %>
        <% end %>
      </p>
    </div>
  </div>
</div>
</div>
</div>
 --> 
<!-- CONTENT STARTS HERE-->  
<!-- <div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div> --> 
  <%= yield %>


<!-- FOOTER STARTS HERE-->  
<!-- <hr>
<footer id="footer">
  <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to t(".contact"), contact_path %> </li>
        <li style="padding-top: 5px;"> | </li>
        <li><%= link_to t(".impressum"), impressum_path %></li>
      </ul>
  </div>
</footer>
<hr>-->
</body>
</html>
