<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible', content='IE=edge'>
    <meta name="google-site-verification" content="paCa9oDcPMpy2EWdgQVVAPu1ipGyjb74_-ha1ZyffpQ" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="og:image" content ="<%= asset_url 'header_0.png' %>"/>
    <meta property="og:image" content="<%= asset_url 'header_2.png' %>"/>
    <meta property="og:image" content="<%= asset_url 'header_3.png' %>"/>
    <meta property="og:image" content="<%= asset_url 'header_4.png' %>"/>
    <meta property="og:title" content="SpeakerinnenListe" />
    <meta property="og:url" content="http://speakerinnen.org" />
    <meta property="og:description" content="Die Speakerinnen-Liste hat das Ziel, die Sichtbarkeit von Frauen bei Konferenzen, Panels, Talkshows und überall da zu erhöhen, wo öffentlich gesprochen wird." />
    <title><%= t '.title' %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="<%= current_region %>">
    <a id="top" style="display: none;"></a>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash', flash: flash %>
    <%= render 'shared/cookie_consent' %>
    <%= render 'shared/contact_hint_modal' %>
    <%= render 'shared/auth_hint_modal' %>
    <%= yield %>
    <%= render "layouts/footer#{'_' + current_region.to_s if current_region}" if render_footer? %>

    <script>
      window.setTimeout(function() {
        $(".alert-dismissible").slideUp(900, function(){
            $(this).remove();
        });
      }, 8000);
    </script>
  </body>
</html>
