<!DOCTYPE html>
<html>
<head>
  <title><%= t ".title" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= t ".title" %></a>
      <ul class="nav" id="main-menu-left">
        <li><a href="/profiles"><%= t ".list" %></a></li>
        <li><a href="/profiles"><%= t ".contact" %></a></li>
        <li><a href="/profiles"><%= t ".impressum" %></a></li>
      </ul>
        <%= form_tag("/search", :method => "get", :class =>"navbar-form pull-left") do %>
          <%= text_field_tag(:q, nil, :class => "span2") %>
          <%= label_tag(:q) do %> 
           <%= button_tag("Search", :class => "btn") %>
          <% end %>
        <% end %>

      <p class="navbar-text pull-right">
        <% if profile_signed_in? %>
          <%= t ".logged_as" %> <strong><%= current_profile.firstname %></strong>.|
          <%= link_to(t(".my_profile"), profile_path(current_profile), :class => 'navbar-link')%> |
          <%= link_to(t(".account"), edit_profile_registration_path, :class => 'navbar-link') %> |
          <%= link_to(t(".logout"), destroy_profile_session_path, method: :delete, :class => 'navbar-link') %>
        <% else %>
          <%= link_to(t(".signup"), new_profile_registration_path, :class => 'navbar-link') %> |
          <%= link_to(t(".login"), new_profile_session_path, :class => 'navbar-link') %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
  <%= yield %>
</div>

</body>
</html>
