<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= t ".title" %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

    <%= render "layouts/header" %>
    <div id="start-page">
      <%= yield %>
      <%= render "layouts/footer" if render_footer? %>
    </div>

  </body>
</html>
