<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible', content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta property="og:image" content="https://speakerinnen.org/assets/curie-98b360602abd80292d1a664d16ae60fb.jpg"/>
    <meta property="og:title" content="Speakerinnen*Liste" />
    <meta property="og:url" content="http://speakerinnen.org" />
    <meta property="og:description" content="Die Speakerinnen-Liste hat das Ziel, die Sichtbarkeit von Frauen* bei Konferenzen, Panels, Talkshows und überall da zu erhöhen, wo öffentlich gesprochen wird." />
    <title><%= t '.title' %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="content">
      <%= yield %>
      <%= render 'layouts/footer' if render_footer? %>
    </div>
  </body>
</html>
